<!DOCTYPE html>
<html>
<head>
	<title>Gushou</title>
	{{ template "linksScripts.html" . }}
</head>
<body>

	{{ template "headerAfterLogin.html" . }}

	<div id="wrapper">
		<div class="page-header">
			<div class="container">
				<section class="header-title">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1 class="inverted">Paddlers</h1>
							<h5>Search for paddlers here</h5>
						</div>
					</div>
				</section>
			</div>
		</div>

		<div class="container">
			<section class="advanced-search">
			<form id="paddler_adv_search" method="POST">
				<div class="row">
					<div class="col-md-12">
						<div class="search-listing">
							<div class="input-group">
								<span class="input-group-addon"><i class="ti-search"></i></span>
								<input type="text" class="form-control" id="search_paddlers_name" name="search_paddlers_name" value="{{.FormItems.PaddlerName}}" placeholder="Search by paddlers name">
							</div>
							<button type="submit" id="findPaddlers" class="btn btn-primary">Search</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<a class="advanced-search-toggle">Advanced Search <i class="ti-angle-down"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="advanced-search-options" style="{{ if .AdvSearch | not }}display: none;{{ end }}">
							<div class="col-md-12">

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" id="email" name="email" value="{{.FormItems.Email}}" placeholder="Enter email ID here">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<label>Show paddlers in</label>
											<!-- ((> inputAutocomplete settings=usersLocation id="location" class="form-control advanced-search-input" placeholder="City")) -->
											<input type="text" id="location" name="location" value="{{.FormItems.Location}}" class="form-control advanced-search-input" placeholder="City">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label>Who are eligible in</label>
											<select id="class" class="select-custom form-control" name="classes">
												<option value="">Select classes</option>
												<!-- ((each classesNames)) -->
												<!-- <option value="((value))">((label))</option> -->
												<option {{ if compare .FormItems.Classes "M" }} selected {{ end }} value="M">Men's</option>
												<option {{ if compare .FormItems.Classes "W" }} selected {{ end }} value="W">Women's</option>
												<option {{ if compare .FormItems.Classes "MX" }} selected {{ end }} value="MX">Mixed</option>
												<!-- ((/each)) -->
											</select>
										</div>
									</div>

									<div class="col-md-3">
										<div class="form-group">
											<label>With a skill level of</label>
											<select id="skill" class="select-custom form-control advanced-search-input" name="skill">
												<option value="">Select Skill Level</option>
												<!-- ((each skillLevels)) -->
												<!-- <option value="((value))">((label))</option> -->
												<option {{ if compare .FormItems.Skill "novice(0-1 yrs)" }} selected {{ end }} value="novice(0-1 yrs)">Novice(0-1 yr)</option>
												<option {{ if compare .FormItems.Skill "intermediate(2-3 yrs)" }} selected {{ end }} value="intermediate(2-3 yrs)">Intermediate (2-3 yrs)</option>
												<option {{ if compare .FormItems.Skill "expert(4+ yrs)" }} selected {{ end }} value="expert(4+ yrs)">Experienced (4+ yrs)</option>
												<!-- ((/each)) -->
											</select>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label>Paddle side</label>
											<select id="paddling_side" name="paddling_side" class="select-custom form-control advanced-search-input">
												<option value="">Select Paddlers Side</option>
												<option {{ if compare .FormItems.PaddlingSide "both" }} selected {{ end }} value="both">Both</option>
												<option {{ if compare .FormItems.PaddlingSide "left" }} selected {{ end }} value="left">Left</option>
												<option {{ if compare .FormItems.PaddlingSide "right" }} selected {{ end }} value="right">Right</option>
											</select>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-6">
										<div class="md-checkbox">
											<input value="1" id="for_team" name="for_team" class="md-check" type="checkbox" {{ if compare .FormItems.ForTeam "1" }} checked {{ end }}>
											<label for="for_team">
												<span class="check"></span>
												<span class="box"></span>
												Show only paddlers looking for a team
											</label>
										</div>
									</div>
								</div>
							</div>

							<input id="paddler_search_limit" name="paddler_search_limit" value="{{ if .NewLimit }}{{.NewLimit}}{{ else }}10{{ end }}" type="hidden">
							<input id="paddler_search_offset" name="paddler_search_offset" value="{{ if .NewOffset }}{{.NewOffset}}{{ else }}0{{ end }}" type="hidden">
							<input id="paddler_search_type" name="paddler_search_type" value="{{ .Type }}" type="hidden">
							<input id="paddler_search_total" name="paddler_search_total" value="{{.TotalPaddlers}}" type="hidden">

						</form>
					</div>
				</div>
			</section>
			
			<section class="listing-list">
				<!-- ((if Template.subscriptionsReady)) -->
				{{ if .Paddlers }}
				<!-- ((> reactiveTable collection=paddlers class="table listing-list responsive-table paddler-list-table listing-margin-border" settings=paddlerSettings id="paddlerSId")) -->
				<!-- Example table as reactiveTable is commented -->
				<table id="paddlerSId" class="table listing-list responsive-table paddler-list-table listing-margin-border reactive-table table-small">
					<thead>
						<tr>
							<th class="" fieldid="0"></th>
							<th class="col-md-1" fieldid="1"></th>
							<th class="sortable col-md-3" fieldid="2">
								NAME&nbsp;&nbsp;
								<i class="fa fa-sort-asc"></i>
							</th>
							<th class="col-md-2" fieldid="3">EMAIL</th>
							<th class="col-md-2" fieldid="4">EXPERIENCE</th>
							<th class="col-md-2" fieldid="5">SIDE</th>
							<th class="col-md-2" fieldid="6">LOCATION</th>
							<th class="" fieldid="7"></th>
						</tr>
					</thead>
					<tbody>
						{{ range $paddler := .AllPaddlers }}
						<tr class="">
							<td class=""></td>
							<td class="">
								{{ if $paddler.files }}
								<img src="{{ $paddler.files }}" class="img-circle">
								{{ else }}
								<img src="/static/images/user-default.png" class="img-circle">
								{{ end }}
							</td>
							
							<td class="_id">
								<a href="/profile-setting/{{$paddler.fk_user_id}}" class="listing-title paddler-name">{{ $paddler.name }}</a>
								<p>
									<span>{{ $paddler.classes }}</span>
									
								</p>
								<p style="margin-top: -13px;">
									{{ if compare $paddler.status "available" }} 
									<span class="label-orange">Recruit me</span>
									{{ end }}
								</p>
								

								<button id="{{ $paddler.fk_user_id }}" type="button" class="listing-delete delete_user">Delete User</button>
							</td>
							<td class="email">{{ $paddler.email_address }}</td>
							<td class="experiance"><span>{{ $paddler.skill_level }}</span></td>
							<td class="side"><span>{{ $paddler.paddling_side }}</span></td>
							<td class="location"><span>{{ $paddler.location }}</span></td>
							<td class=""></td>
						</tr>
						{{ end }}
					</tbody>
				</table>
				{{  else }}
				<table class="table listing-list responsive-table paddler-list-table table-small">
					<thead>
						<tr>
							<th></th>
							<th class="col-md-3">NAME</th>
							<th class="col-md-2">EMAIL</th>
							<th class="col-md-2" >EXPERIENCE</th>
							<th class="col-md-2">SIDE</th>
							<th class="col-md-3">LOCATION</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="2"></td>
							<td colspan="5">No paddler found</td>
							<td></td>
						</tr>
					</tbody>
				</table>
				{{ end }}
				<!-- ((/if)) -->
				<!-- ((else)) -->
	
				<!-- ((/if)) -->
			</section>
			<section class="listing-pagination">
				{{ if .Paddlers }}
				<div class="row">
					<div class="col-md-6">
						<select id="rows_per_page_paddler" name="" class="form-control">
							<option value=10>10 rows per page</option>
							<option {{ if compare .NewLimit "20"}} selected {{ end }} value=20>20 rows per page</option>
							<option {{ if compare .NewLimit "30"}} selected {{ end }} value=30>30 rows per page</option>
						</select>
					</div>
					<div class="col-md-6">
						<nav>
							<ul class="pagination">
								<!-- (({paddlersNav))} -->
								<!-- Add pagination package here to get the page no. -->
								{{ if compare (len .FivePages) 1 | not }}
								<li><a aria-label="First" class="first-paddler-page"><span aria-hidden="true">&laquo;</span></a></li>
								<li><a aria-label="Previous" class="prev-paddler-page"><span aria-hidden="true">&lsaquo;</span></a></li> 

								{{ $currentPage := .CurrPage }}
								{{ range $index, $pg := .FivePages }}
								
								<li class="{{ if compare $currentPage $index }} active {{ end }}"><a id="{{ $pg }}" class="page_num_paddler">{{ $index }}</a></li>
								
								{{ end }}
								
								{{ if .FivePages }}
								{{ if compare (len .FivePages) 1 | not }}
								<li><a aria-label="Next" class="next-paddler-page"><span aria-hidden="true">&rsaquo;</span></a></li>
								{{ end }}
								{{ end }}

								<li><a aria-label="Last" class="last-paddler-page"><span aria-hidden="true">&raquo;</span></a></li>

								{{ end }}
							</ul>
						</nav>
					</div>
				</div>
				{{ end }}
			</section>
		</div>
	</div>
	<div class="modal fade" id="deleteUserModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<div class="row">
						<div class="col-sm-12">
							<h3>Remove Paddler</h3>
							<!-- <p>((deleteUsername)) will no longer be a team member. Do you want to proceed?</p> -->
							<p><span class="deleteUsername"></span> will no longer be a team member. Do you want to proceed?</p>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<button id="deleteUserBtn" type="submit" class="btn btn-primary btn-fullwidth">Delete</button>
						</div>
						<div class="col-sm-6">
							<button type="reset" class="btn btn-primary btn-fullwidth" data-dismiss="modal" aria-label="Close">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="deleteConfirmationModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<h3>Remove Paddler</h3>
					<!-- <p>Cannot delete ((deleteUsername)). Check if the paddler is a captain or event organizer.</p> -->
					<p>Cannot delete <span class="deleteUsername"></span>. Check if the paddler is a captain or event organizer.</p>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-primary btn-fullwidth" data-dismiss="modal" aria-label="Close">Ok</button>
				</div>
			</div>
		</div>
	</div>

	
	{{ template "footer.html" . }}

</body>
</html>