<!DOCTYPE html>
<html>
<head>
	<title>Create Team | Gushou</title>
	{{ template "linksScripts.html" . }}
	{{ template "team/autoCompleteScriptsTeam.html" . }}
</head>
<body>
	{{ template "headerAfterLogin.html" . }}


	<div id="wrapper">
		<div class="page-header"> 
			<div class="container">
				<section class="header-title">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1 class="inverted">Create a Team</h1>
						</div>
					</div>
				</section>
			</div>
		</div>
	{{ if .userActivity  }}
		<form role="form" id="createTeamForm" method="POST">
			<div id="create-team-1" class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
						<div class="panel create-body-fullwidth panel-default create-box">
							<div class="panel-head">
								<h2>Step 1 of 3</h2>
								<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="padding-left: 30px;">
									<span class="md-checkbox">
										<input class="md-check" type="checkbox">
										<label>
											<span class="circle-checked"></span>
										</label>
									</span>
									<span class="md-checkbox" style="margin-left: -19px;">
										<label>
											<span class="green-line"></span>
										</label>
									</span>
									<span class="md-checkbox">
										<input class="md-check" type="checkbox">
										<label>
											<span class="circle"></span>
										</label>
									</span>
									<span class="md-checkbox" style="margin-left: -19px;">
										<label>
											<span class="green-line"></span>
										</label>
									</span>
									<span class="md-checkbox">
										<input class="md-check" type="checkbox">
										<label>
											<span class="circle"></span>
										</label>
									</span>
								</div>
							</div>

							<div class="panel-body">
								<div class="create-box-section">
									<div class="row">
										<div class="col-md-12">
											<p>By creating a team profile, you will be the <strong>Team Captain</strong> and will have the ablity to edit and manage your team. You can also assign others as captains.</p>
											<div class="form-group">
												<label>What is your team name? 
													<!-- <span class="password-info-tooltip">
														<a href="">
															<i class="ti-info-alt"></i>
															<div class="password-info-class-tooltip small">
																add content
															</div>
														</a>
													</span> -->
													<a class="tooltips" href="#"><i class="ti-info-alt"></i>
														<div class="tooltip-1">No need to create a new team each year. Instead keep all that hard work and update previous team page.</div>
													</a>
												</label>
												<span id="team_name_err" class="error-message hide"></span>
												<input type="text" class="form-control required"  placeholder="Team name" id="teamname" name="teamname" autofocus>
											</div>
											<div class="form-group">
												<input type="text" class="form-control"  placeholder="Sponsor / Organization's name" id="teamsponsor" name="teamsponsor">
											</div>
										  <div class="form-check">
												<input type="checkbox" class="form-check-input" name="teammakepublic" id="made-Public">
												<label class="form-check-label no-margin-buttom" for="made-Public">Make Team List Public 
													<!-- <a class="tooltips" href="#"><i class="ti-info-alt"></i>
													<div class="tooltip-1">Empty</div>
													</a> -->
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="create-box-section">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group" id="create-teamlocation">
												<label>Where is your team located? 
													<a class="tooltips" href="#"><i class="ti-info-alt"></i>
														<div class="tooltip-1">This will allow for paddlers to find you by location.</div>
													</a>
												</label>
												<!-- ((> inputAutocomplete class="form-control required" settings=cities id="teamlocation"  placeholder="Location (city)")) -->
												<input placeholder="Location (city)" id="teamlocation" name="teamlocation" class="form-control required" type="text">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group" id="create-teamprovince">
												<!-- ((> inputAutocomplete class="form-control required" settings=province id="teamprovince"  placeholder="Province")) -->
												<input placeholder="Province" id="teamprovince" name="teamprovince" class="form-control required" type="text">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group" id="create-teamcountry">
												<!-- ((> inputAutocomplete class="form-control required" settings=country id="teamcountry"  placeholder="Country")) -->
												<input placeholder="Country" id="teamcountry" name="teamcountry" class="form-control required" type="text">
											</div>
										</div>
									</div>
								</div>
								<div class="create-box-section-footer">
									<div class="row">
										<div class="col-md-12">
											<input type="button" value="Continue" id="submit_step1" class="btn btn-phantom-green btn-fullwidth">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- <div id="create-team-2" class="container hide"> -->
			<div id="create-team-2" class="{{if .create_team_2 }} container {{ else }} container hide {{ end }}">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
						<div class="panel create-body-fullwidth panel-default create-box">
							<div class="panel-head">
								<a href="" id="backto_step1"><i class="ti-arrow-left back"></i></a>
								<h2>Step 2 of 3</h2>
								<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="padding-left: 30px;">
									<span class="md-checkbox">
										<label>
											<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
										</label>
									</span>
									<span class="md-checkbox" style="margin-left: -19px;">
										<label>
											<span class="green-line"></span>
										</label>
									</span>
									<span class="md-checkbox">
										<input class="md-check" type="checkbox">
										<label>
											<span class="circle-checked"></span>
										</label>
									</span>
									<span class="md-checkbox" style="margin-left: -19px;">
										<label>
											<span class="green-line"></span>
										</label>
									</span>
									<span class="md-checkbox">
										<input class="md-check" type="checkbox">
										<label>
											<span class="circle"></span>
										</label>
									</span>
								</div>
							</div>

							<div class="panel-body">
								<div class="create-box-section">
									<span id="class_div_err" class="error-message hide"></span>
									<label>What classes are represented on your team? 
										<a class="tooltips" href="#"><i class="ti-info-alt"></i>
											<div class="tooltip-2">Used for recruiting and validation during event registration.</div>
										</a>
									</label>
									<div class="table-fullwidth">
										<!-- <table class="table class-listing-list table-striped responsive-table class-listing-table">
											<thead class="mixed-padding-r">
												<tr>
													<th class="col-md-7"></th>
													((each teamClasses))
													<th class="col-md-2 text-center">((name))</th>
													((/each))
												</tr>
											</thead>
											<tbody>
												((each divisionOption))
												<tr>
													<td>((div_name))</td>
													((each teamClasses))
													<td>
														<div class="md-checkbox all-divisions">
															<input id="((value))_((../value))"  name="((value))_team_divisions[]" value="((../value))" class="md-check all-divisions" type="checkbox">
															<label for="((value))_((../value))">
																<span class="check"></span>
																<span class="box"></span>
															</label>
														</div>
													</td>
													((/each))
												</tr>
												((/each))
										
											</tbody>
										</table> -->

										<table class="table class-listing-list table-striped responsive-table class-listing-table">
											<thead class="mixed-padding-r">
												<tr>
													<th class="col-md-7"></th>
													<th class="col-md-2 text-center">Men</th>
													<th class="col-md-2 text-center">Women</th>
													<th class="col-md-2 text-center">Mixed</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Community</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Com" class="md-check all-divisions" name="M_team_divisions[]" id="M_Com" type="checkbox">
															<label for="M_Com"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Com" class="md-check all-divisions" name="W_team_divisions[]" id="W_Com" type="checkbox">
															<label for="W_Com"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Com" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_Com" type="checkbox">
															<label for="MX_Com"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>Corporate</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Cp" class="md-check all-divisions" name="M_team_divisions[]" id="M_Cp" type="checkbox">
															<label for="M_Cp"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Cp" class="md-check all-divisions" name="W_team_divisions[]" id="W_Cp" type="checkbox">
															<label for="W_Cp"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Cp" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_Cp" type="checkbox">
															<label for="MX_Cp"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>Sport</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Sp" class="md-check all-divisions" name="M_team_divisions[]" id="M_Sp" type="checkbox">
															<label for="M_Sp"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Sp" class="md-check all-divisions" name="W_team_divisions[]" id="W_Sp" type="checkbox">
															<label for="W_Sp"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Sp" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_Sp" type="checkbox">
															<label for="MX_Sp"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>University</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Un" class="md-check all-divisions" name="M_team_divisions[]" id="M_Un" type="checkbox">
															<label for="M_Un"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Un" class="md-check all-divisions" name="W_team_divisions[]" id="W_Un" type="checkbox">
															<label for="W_Un"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Un" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_Un" type="checkbox">
															<label for="MX_Un"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>BCS</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="BCS" class="md-check all-divisions" name="M_team_divisions[]" id="M_BCS" type="checkbox">
															<label for="M_BCS"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="BCS" class="md-check all-divisions" name="W_team_divisions[]" id="W_BCS" type="checkbox">
															<label for="W_BCS"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="BCS" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_BCS" type="checkbox">
															<label for="MX_BCS"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>Premiere</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="P" class="md-check all-divisions" name="M_team_divisions[]" id="M_P" type="checkbox">
															<label for="M_P"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="P" class="md-check all-divisions" name="W_team_divisions[]" id="W_P" type="checkbox">
															<label for="W_P"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="P" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_P" type="checkbox">
															<label for="MX_P"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>Under 23</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="23" class="md-check all-divisions" name="M_team_divisions[]" id="M_23" type="checkbox">
															<label for="M_23"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="23" class="md-check all-divisions" name="W_team_divisions[]" id="W_23" type="checkbox">
															<label for="W_23"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="23" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_23" type="checkbox">
															<label for="MX_23"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>Junior(15-18)</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="JR" class="md-check all-divisions" name="M_team_divisions[]" id="M_JR" type="checkbox">
															<label for="M_JR"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="JR" class="md-check all-divisions" name="W_team_divisions[]" id="W_JR" type="checkbox">
															<label for="W_JR"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="JR" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_JR" type="checkbox">
															<label for="MX_JR"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>Youth</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Y" class="md-check all-divisions" name="M_team_divisions[]" id="M_Y" type="checkbox">
															<label for="M_Y"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Y" class="md-check all-divisions" name="W_team_divisions[]" id="W_Y" type="checkbox">
															<label for="W_Y"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Y" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_Y" type="checkbox">
															<label for="MX_Y"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>Senior</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="SR" class="md-check all-divisions" name="M_team_divisions[]" id="M_SR" type="checkbox">
															<label for="M_SR"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="SR" class="md-check all-divisions" name="W_team_divisions[]" id="W_SR" type="checkbox">
															<label for="W_SR"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="SR" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_SR" type="checkbox">
															<label for="MX_SR"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>Senior A</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="SrA" class="md-check all-divisions" name="M_team_divisions[]" id="M_SrA" type="checkbox">
															<label for="M_SrA"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="SrA" class="md-check all-divisions" name="W_team_divisions[]" id="W_SrA" type="checkbox">
															<label for="W_SrA"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="SrA" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_SrA" type="checkbox">
															<label for="MX_SrA"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>Senior B</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="SrB" class="md-check all-divisions" name="M_team_divisions[]" id="M_SrB" type="checkbox">
															<label for="M_SrB"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="SrB" class="md-check all-divisions" name="W_team_divisions[]" id="W_SrB" type="checkbox">
															<label for="W_SrB"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="SrB" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_SrB" type="checkbox">
															<label for="MX_SrB"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>Senior C</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="SrC" class="md-check all-divisions" name="M_team_divisions[]" id="M_SrC" type="checkbox">
															<label for="M_SrC"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="SrC" class="md-check all-divisions" name="W_team_divisions[]" id="W_SrC" type="checkbox">
															<label for="W_SrC"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="SrC" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_SrC" type="checkbox">
															<label for="MX_SrC"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>Master(40+)</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="M40" class="md-check all-divisions" name="M_team_divisions[]" id="M_M40" type="checkbox">
															<label for="M_M40"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="M40" class="md-check all-divisions" name="W_team_divisions[]" id="W_M40" type="checkbox">
															<label for="W_M40"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="M40" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_M40" type="checkbox">
															<label for="MX_M40"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>Master(50+)</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="M50" class="md-check all-divisions" name="M_team_divisions[]" id="M_M50" type="checkbox">
															<label for="M_M50"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="M50" class="md-check all-divisions" name="W_team_divisions[]" id="W_M50" type="checkbox">
															<label for="W_M50"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="M50" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_M50" type="checkbox">
															<label for="MX_M50"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>Out-of-town</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="OT" class="md-check all-divisions" name="M_team_divisions[]" id="M_OT" type="checkbox">
															<label for="M_OT"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="OT" class="md-check all-divisions" name="W_team_divisions[]" id="W_OT" type="checkbox">
															<label for="W_OT"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="OT" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_OT" type="checkbox">
															<label for="MX_OT"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>International</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Int" class="md-check all-divisions" name="M_team_divisions[]" id="M_Int" type="checkbox">
															<label for="M_Int"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Int" class="md-check all-divisions" name="W_team_divisions[]" id="W_Int" type="checkbox">
															<label for="W_Int"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Int" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_Int" type="checkbox">
															<label for="MX_Int"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>Other</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Or" class="md-check all-divisions" name="M_team_divisions[]" id="M_Or" type="checkbox">
															<label for="M_Or"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Or" class="md-check all-divisions" name="W_team_divisions[]" id="W_Or" type="checkbox">
															<label for="W_Or"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
													<td>
														<div class="md-checkbox all-divisions">
															<input value="Or" class="md-check all-divisions" name="MX_team_divisions[]" id="MX_Or" type="checkbox">
															<label for="MX_Or"><span class="check"></span><span class="box"></span></label>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

								<div class="create-box-section-footer">
									<div class="row">
										<div class="col-md-12">
											<input type="button" value="Continue" id="submit_team_step2" class="btn btn-phantom-green btn-fullwidth">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div id="create-team-3" class="container hide"> -->
			<div id="create-team-3" class="{{if .create_team_3 }} container {{ else }} container hide {{ end }}">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
						<div class="panel create-body-fullwidth panel-default create-box">
							<div class="panel-head">
								<a href="" id="backto_step2"><i class="ti-arrow-left back"></i></a>
								<p class="small">Optional</p>
								<h2>Step 3 of 3</h2>
								<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="padding-left: 30px;">
									<span class="md-checkbox">
										<label>
											<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
										</label>
									</span>
									<span class="md-checkbox" style="margin-left: -19px;">
										<label>
											<span class="green-line"></span>
										</label>
									</span>
									<span class="md-checkbox">
										<label>
											<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
										</label>
									</span>
									<span class="md-checkbox" style="margin-left: -19px;">
										<label>
											<span class="green-line"></span>
										</label>
									</span>
									<span class="md-checkbox">
										<input class="md-check" type="checkbox">
										<label>
											<span class="circle-checked"></span>
										</label>
									</span>
								</div>
							</div>

							<div class="panel-body">
								<span id="team_err" class="error-message hide"></span>
								<div class="create-team-box-section">
									<div class="row">
										<div class="col-md-12">
											<label>Provide contact information for your participants
												<a class="tooltips" href="#"><i class="ti-info-alt"></i>
													<div class="tooltip-3">
														Your participants can easily contact you when you provide them your contact info
													</div>
												</a>
											</label>
											
											<div class="row equal">
												<div class="col-xs-2 col-md-1 vertical-center">
													<i class="ti-twitter-alt"></i>
												</div>
												<div class="col-xs-10 col-md-11">
													<span id="twitter_err" class="error-message hide"></span>
													<div class="input-group">
														<span class="input-group-addon">@</span>
														<input type="text" id="team_twitter" name="team_twitter" class="form-control" placeholder="username">
													</div>
												</div>
											</div>
											<div class="row equal">
												<div class="col-xs-2 col-md-1 vertical-center">
													<i class="ti-facebook"></i>
												</div>
												<div class="col-xs-10 col-md-11">
													<span id="fb_err" class="error-message hide"></span>
													<div class="input-group">
														<span class="input-group-addon">facebook.com/</span>
														<input type="text" id="team_facebook" name="team_facebook" class="form-control" placeholder="username">
													</div>
												</div>
											</div>
											<div class="row equal">
												<div class="col-xs-2 col-md-1 vertical-center">
													<i class="ti-youtube"></i>
												</div>
												<div class="col-xs-10 col-md-11">
													<span id="youtube_err" class="error-message hide"></span>
													<div class="input-group">
														<span class="input-group-addon">youtube.com/</span>
														<input type="text" id="team_youtube" name="team_youtube" class="form-control" placeholder="username">
													</div>
												</div>
											</div>
											<div class="row equal">
												<div class="col-xs-2 col-md-1 vertical-center">
													<i class="fa fa-phone"></i>
												</div>
												<div class="col-xs-10 col-md-11">
													<span id="phone_err" class="error-message hide"></span>
													<input type="tel" id="team_phone_number" name="team_phone_number" class="form-control" placeholder="123-456-7890">
												</div> 
											</div>

											<div class="row equal">
												<div class="col-xs-2 col-md-1 vertical-center">
													<i class="ti-email"></i>
												</div>
												<div class="col-xs-10 col-md-11">
													<span id="email_err" class="error-message hide"></span>
													<input id="team_email" name="team_email" class="form-control" placeholder="example@example.com">
												</div> 
											</div>
											<div class="row equal">
												<div class="col-xs-2 col-md-1 vertical-center">
													<img src="../static/images/web.png">
												</div>
												<div class="col-xs-10 col-md-11">
													<span id="website_err" class="error-message hide"></span>
													<input type="text" id="team_website" name="team_website" class="form-control" placeholder="www.example.com" autofocus>
												</div>
											</div>

										</div>
									</div>
									
								</div>

								<div class="create-box-section-footer">
									<div class="row">
										<div class="col-md-12">
											<input type="button" id="submitCreateTeam" value="Create team" class="btn btn-primary btn-fullwidth">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	{{ else }}
		<div id="create-team-1" class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
					<div class="panel panel-default create-box">
						<div class="panel-head">
							<label class="create-permissions error">You do not have permission to create a team yet. You will need to select your profile settings in the top right corner and include 'Team Captain' under Activities.</label>
							<a href="/profile-setting" class="btn btn-primary">Go to Profile Settings</a>
						</div>

						<div class="panel-body">
						</div>
					</div>
				</div>
			</div>
		</div>
	{{ end }}
		<!-- ((/if)) -->
	</div>
	

	{{ template "footer.html" . }}


</body>
</html>