
<div class="col-md-12 dashboard-content member-dashboard" id="viewLineupHide">
  {{ template "team/teamLineupView.html" . }}
</div>

<div class="col-md-12 dashboard-content member-dashboard" id="createLineupHide">
  {{ template "team/teamCreateLineups.html" . }}
</div>