<div class="dragDropProfiles">
  <h3 id="createlineup">Create Lineup</h3>
  <span id="lineup_msg_err_msgs" class="error-message"></span>
	<span id="lineup_msg_succ_msgs" class="success-message"></span>
  <div class="lineup-back">
  <a id="backlineuplist" href="#" class="small"><i class="ti-arrow-left"></i> back to line-ups</a>
  </div>
  </br>
  <div id="dragdropcontainer">
    <div class="row">
      <div class="col-sm-12">
        <p>
          <b class="text-color-green">Drag and drop</b> your team members to the boat.
        </p>
      </br>
      </div>
    </div>
    <form id="saverosterdetail" method="POST" class="form-horizontal">
      <input type="hidden" value="{{.TeamView.team_0.id}}" name="current_teamid">
      <div class="row">
        <div class="col-sm-12">
          <!--Left side paddlers section-->
          <div class="form-group">
              <label for="inputEmail3" class="col-sm-12">Roster</label>
              <div class="col-xs-12 col-sm-5 col-md-6">
                <select class="form-control" id="lineup_id" name="roster_id">
                  <option value="">Roster name</option>
                  {{ range $ue := .TeamRoaster}}
                  <option value="{{ $ue.rosterid }}">{{ $ue.name }}</option>
                  {{ end }}
                </select>
              </div>
              <label id="norosterinteam" class="col-sm-12 red-star">No roster yet? No problem. <a href="#/" id="new_lineup_roster">Create one here.</a></label>
            </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-12">Lineup name <span class="red-star">*</span></label>
            <div class="col-xs-12 col-sm-5 col-md-6">
              <input type="text" class="form-control" id="lineupname" name="lineupname" placeholder="Lineup name">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-5 col-md-7 dragCol">
          <!--Left side paddlers section-->
          <div id="dragArea">
            <div class="panel panel-primary" id="leftSidePaddlersHide">
              <div class="panel-heading">
                <h3 class="panel-title">Left Side Paddlers</h3>
              </div>
              <div class="panel-body">
                <div class="drag-profle-img leftSidePaddlers" id="leftSidePaddlers">
                  <div class="dragBox dragDrop" data-position="leftside">
                    <span class="dropDefaultTxt">SK</span>
                    <div class="dragItem">
                      <img src="https://gushou-image.s3-us-west-2.amazonaws.com/images/20160601070257_Screen%20Shot%202016-06-01%20at%202.23.04%20AM.png"
                        class="dragImg">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Right side paddlers section-->
            <div class="panel panel-primary" id="rightidePaddlersHide">
              <div class="panel-heading">
                <h3 class="panel-title">Right Side Paddlers</h3>
              </div>
              <div class="panel-body">
                <div class="drag-profle-img rightSidePaddlers" id="rightSidePaddlers">
                  <div class="dragBox dragDrop" data-position="rightside">
                    <span class="dropDefaultTxt">SK</span>
                    <div class="dragItem">
                      <img src="https://gushou-image.s3-us-west-2.amazonaws.com/images/20160601070257_Screen%20Shot%202016-06-01%20at%202.23.04%20AM.png"
                        class="dragImg">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Both side paddlers section-->
            <div class="panel panel-primary" id="bothsidePaddlersHide" >
                <div class="panel-heading">
                  <h3 class="panel-title">Both Sides Members</h3>
                </div>
                <div class="panel-body">
                  <div class="drag-profle-img bothsidePaddlers" id="bothsidePaddlers">
                    <div class="dragBox dragDrop" data-position="bothside">
                      <span class="dropDefaultTxt">SK</span>
                      <div class="dragItem">
                        <img src="https://gushou-image.s3-us-west-2.amazonaws.com/images/20160601070257_Screen%20Shot%202016-06-01%20at%202.23.04%20AM.png"
                          class="dragImg">
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <!--Others side paddlers section-->
            <div class="panel panel-primary" id="othersidePaddlersHide" >
              <div class="panel-heading">
                <h3 class="panel-title">Spares & Other Members</h3>
              </div>
              <div class="panel-body">
                <div class="drag-profle-img othersidePaddlers" id="othersidePaddlers">
                  <div class="dragBox dragDrop" data-position="otherside">
                    <span class="dropDefaultTxt">SK</span>
                    <div class="dragItem">
                      <img src="https://gushou-image.s3-us-west-2.amazonaws.com/images/20160601070257_Screen%20Shot%202016-06-01%20at%202.23.04%20AM.png"
                        class="dragImg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="team_save_draft_lineup_hide" >
              <div class="col-md-12">
                <div class="md-checkbox">
                  <input id="team_save_draft_lineup" name="team_save_draft_lineup" class="md-check" type="checkbox">
                  <label for="team_save_draft_lineup">
                    <span class="check"></span>
                    <span class="box"></span>
                    Share With team
                  </label>
                </div>
              </div>
          </div>
          <div class="form-group dragdropBtn" id="rostersavehide">
            <div class="col-sm-10">
              <input type=hidden id="left_padller_membersValue" name="left_padller_members[]" value="">
              <input type=hidden id="right_padller_membersValue" name="right_padller_members[]" value="">
              <input type=hidden id="other_padller_membersValue" name="other_members[]" value="">

              <input type=hidden id="selectedleft_padller_membersValue" name="selected_left_paddlers[]" value="">
              <input type=hidden id="selectedright_padller_membersValue" name="selected_right_paddlers[]" value="">
              <input type=hidden id="selecteddrummer_padller_membersValue" name="selected_drummers[]" value="">
              <input type=hidden id="selectedspare_padller_membersValue" name="selected_spares[]" value="">
              <input type=hidden id="lineupUpdateId" name="lineupUpdateId" value="">
              
              <input type=hidden id="leftsideweightValue"  value="">
              <input type=hidden id="rightsideweightValue" value="">
              <input type=hidden id="frontsideweightValue" value="">
              <input type=hidden id="rearsideweightValue"  value="">
              <input type=hidden id="lineupmencountValue"  value="">
              <input type=hidden id="lineupwomencountValue" value="">
              <input type=hidden id="slotFilledCountValue" value="">
              <button id="submitCreateRoster" type="button" class="btn">Save Lineup</button>
              <button id="editCreateRoster" type="button" class="btn">Edit Lineup</button>
            </div>
          </div>
        </div>
        <!--Left side Drag container end-->
        <!--RIght side Drop container-->
        <div class="col-xs-8 col-sm-7 col-md-5 dropCol">
          <div class="dropWarpper" id="dropArea">
            <p class="dropTitle">Front</p>
            <div class="dropContainer">
              <div class="dragDropAlign">
                <div class="topDropBox">
                  <div class="dropBox">
                    <div class="dragDrop">
                      <span class="dropDefaultTxt">D</span>
                    </div>
                  </div>
                </div>
                <div class="middleDropWrap">
                  <div class="leftDropBox">
                    <div class="dropBox">
                      <span class="dropDefaultTxt">P</span>
                      <div class="dragDrop">

                      </div>
                    </div>
                    <div class="dropBox">
                      <span class="dropDefaultTxt">P</span>
                      <div class="dragDrop">

                      </div>
                    </div>
                    <div class="dropBox">
                      <div class="dragDrop">
                        <span class="dropDefaultTxt">P</span>
                      </div>
                    </div>
                    <div class="dropBox">
                      <div class="dragDrop">
                        <span class="dropDefaultTxt">P</span>
                      </div>
                    </div>
                    <div class="dropBox">
                      <div class="dragDrop">
                        <span class="dropDefaultTxt">P</span>
                      </div>
                    </div>
                    <div class="dropBox">
                      <div class="dragDrop">
                        <span class="dropDefaultTxt">P</span>
                      </div>
                    </div>
                    <div class="dropBox">
                      <div class="dragDrop">
                        <span class="dropDefaultTxt">P</span>
                      </div>
                    </div>
                    <div class="dropBox">
                      <div class="dragDrop">
                        <span class="dropDefaultTxt">P</span>
                      </div>
                    </div>
                    <div class="dropBox">
                      <div class="dragDrop">
                        <span class="dropDefaultTxt">P</span>
                      </div>
                    </div>
                    <div class="dropBox">
                      <div class="dragDrop">
                        <span class="dropDefaultTxt">P</span>
                      </div>
                    </div>
                  </div>

                  <div class="rightDropBox">
                    <div class="dropBox">
                      <span class="dropDefaultTxt">P</span>
                      <div class="dragDrop">

                      </div>
                    </div>
                    <div class="dropBox">
                      <span class="dropDefaultTxt">P</span>
                      <div class="dragDrop">

                      </div>
                    </div>
                    <div class="dropBox">
                      <div class="dragDrop">
                        <span class="dropDefaultTxt">P</span>
                      </div>
                    </div>
                    <div class="dropBox">
                      <div class="dragDrop">
                        <span class="dropDefaultTxt">P</span>
                      </div>
                    </div>
                    <div class="dropBox">
                      <div class="dragDrop">
                        <span class="dropDefaultTxt">P</span>
                      </div>
                    </div>
                    <div class="dropBox">
                      <div class="dragDrop">
                        <span class="dropDefaultTxt">P</span>
                      </div>
                    </div>
                    <div class="dropBox">
                      <div class="dragDrop">
                        <span class="dropDefaultTxt">P</span>
                      </div>
                    </div>
                    <div class="dropBox">
                      <div class="dragDrop">
                        <span class="dropDefaultTxt">P</span>
                      </div>
                    </div>
                    <div class="dropBox">
                      <div class="dragDrop">
                        <span class="dropDefaultTxt">P</span>
                      </div>
                    </div>
                    <div class="dropBox">
                      <div class="dragDrop">
                        <span class="dropDefaultTxt">P</span>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="bottomDropBox">
                  <div class="dropBox">
                    <div class="dragDrop">
                        <span class="dropDefaultTxt">S</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="dropInfo">
              <ul>
                <li>
                  <span class="dropInfo-label">Left side weight</span>
                  <span class="dropInfo-subTxt" id="leftsideweight">0 lbs</span>
                </li>
                <li>
                  <span class="dropInfo-label">Right side weight</span>
                  <span class="dropInfo-subTxt" id="rightsideweight">0 lbs</span>
                </li>
                <li>
                  <span class="dropInfo-label">Front weight</span>
                  <span class="dropInfo-subTxt" id="frontsideweight">0 lbs</span>
                </li>
                <li>
                  <span class="dropInfo-label">Rear weight</span>
                  <span class="dropInfo-subTxt" id="rearsideweight">0 lbs</span>
                </li>
                <li>
                  <span class="dropInfo-label">Men</span>
                  <span class="dropInfo-subTxt" id="lineupmencount">0</span>
                </li>
                <li>
                  <span class="dropInfo-label">Women</span>
                  <span class="dropInfo-subTxt"id="lineupwomencount" >0</span>
                </li>

                <li>
                  <span class="dropInfo-label">Slots filled</span>
                  <span class="dropInfo-subTxt" id="slotFilledCount" >2 of 22</span>
                </li>

              </ul>
            </div>
          </div>
          <section id="lineup-alert" class="white-section">
              <div class="">
                <div class="row">
                  <div class="">
                    <div class="col-md-12">
                      <div class="faq-item">
                        <p class="lineup-drag-alert">"Paddlers cannot be moved within the boat for now. To switch positions of paddlers already in the boat, paddlers must be moved back to a box on the left and can then be moved back to the boat, to a new position."</p>
                      </div>
                     </div>
                  </div>
                </div>
              </div>
            </section>
        </div>
        <!--RIght side Drop container end-->
      </div>
    </form>
  </div>
</div>