
 {{ $userId := .UserId }}
 {{ $teamCaptainId := .TeamCaptainId }}
 {{ $isLoggedIn := .IsLoggedIn }}
 {{ $superAdmin := .SuperAdmin }}
 {{ $coCaptains := .CoCaptains }}
 
<div class="col-md-12 dashboard-content member-dashboard">
  <div class="team-members-section tab-content" style="display: block;">
    <div class="tab-pane fade in active">
      <section class="row dashboard-members">
        <div class="col-md-12">
          <div class="content-padding">
            <div class="active-members">
              <div class="row">
                 {{ if .IsLoggedIn }} 
                  {{ if in_array (convertToString .UserId) .CoCaptains | or .SuperAdmin | or (compare (convertToString $userId) $teamCaptainId) }}
                  <div class="col-md-12">
                    <div class="dashboard-schedule-nav no-margin text-right active-member-option">
                      <a href="#/" id="newroster" class="btn btn-thin btn-phantom-green">
                        <span class="ti-plus"></span>
                        <span>Add Roster</span>
                      </a>
                    </div>
                  </div>
                  {{ end }} 
                {{ end }}
              </div>
              {{ if $isLoggedIn }}
              <input type="hidden" value="{{(len .TeamRoaster)}}" id="rosterCount">
              <input type="hidden" value="{{.TeamCaptainId}}" id="rosterTeamCaptainId">
              <input type="hidden" value="{{.CoCaptainsScript}}" id="rosterCoCaptains">
              <input type="hidden" value="{{$userId }}" id="rosterUserId">
              <input type="hidden" value="{{$superAdmin}}" id="rosterSuperAdmin">
              <div class="row">
                <div class="col-md-12">
                  {{if .TeamRoaster |or (compare .Active_User_Status "false")}}
                  <div class="dasboard-team-table-container">
                      <p class='fnt_wei_500' style='float: right;margin-top: 11px;'>To submit your rosters to an event, go to your Event Registration Tab -> Edit Order -> Submit Rosters</p>
                  <table id="roasterTable" class="table dashboard-table dasboard-team-table responsive-table">
                      <thead>
                        <tr>
                          <th class="col-md-3">NAME</th>
                          <th class="col-md-1">MEMBERS</th>
                          <th class="col-md-1">TYPE</th>
                          <th class="col-md-3"></th>
                          <th class="col-md-1"></th>
                        </tr>
                      </thead>
                      <tbody id="appendrooster">
                        {{ $isLoggedIn := .IsLoggedIn }}
                        {{ $superAdmin := .SuperAdmin}}
                        {{ $userId := .UserId }} 
                        {{ $teamCaptainId := .TeamCaptainId}}
                        {{ $coCaptains := .CoCaptains }}
                        {{ $teamEventRegistrationDetails := .TeamEventRegistrationDetails }}
                        {{ $active_User_Status := .Active_User_Status }}
                        
                        {{ range $index, $element := .TeamRoaster }}
                          <tr class="temprostercount">
                            {{if compare $element.rostertype "Practice"}}
                              {{if compare $element.activestatus "1" | or $element.fk_practice_id "0" }}
                                {{if compare $element.save_draft "1" | or  (in_array (convertToString $userId) $coCaptains) |or (compare (convertToString $userId) $teamCaptainId) |or $superAdmin}}
                                  <td>
                                    <div class="dasboard-team-member-content">
                                      <div class="team-member-name">
                                        <a href="#" onclick="editOrViewOrDuplicateRooster({{$element.rosterid}},'view',event)" class="list-title tm-list-title-overwrite">
                                          {{$element.name}}
                                          {{if compare $element.save_draft "1" | and (compare $active_User_Status "false")}}
                                          <span class="savedraftteam">  (Shared w/ team)</span>
                                          {{end}}
                                        </a>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="dasboard-team-member-content">
                                      <div class="team-member-name">
                                        <span class="list-title list-title-overwrite">
                                          {{if $element.memberlength}}
                                          {{$element.memberlength}}
                                          {{ end }}
                                        </span>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="dasboard-team-member-content">
                                      <div class="team-member-name">
                                        <span class="list-title list-title-overwrite">{{$element.rostertype}}</span>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="dasboard-team-member-content">
                                    <div class="team-member-name">
                                          {{ if ne $element.fk_practice_id "0" }}
                                            <span class="list-title list-title-overwrite">{{$element.formatedpracticedate}} | {{$element.practice_time}} | {{$element.practice_location}}</span>
                                          {{ end }}
                                        </div>
                                    </div>
                                  </td>
                                  {{ if $isLoggedIn }} 
                                    {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin | or (compare (convertToString $userId) $teamCaptainId) }}
                                    <td>
                                      <a tabindex="0" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover"
                                        data-placement="left"  data-trigger='focus' data-content="<ul class='popover-waiver'><li><a onclick=editOrViewOrDuplicateRooster({{$element.rosterid}},'edit',event) href=# >Edit</a></li><li><a onclick=editOrViewOrDuplicateRooster({{$element.rosterid}},'duplicate',event) href=# >Duplicate</a></li> <li><a id=deleteRoster value={{$element.rosterid}} href=# >Delete</a></li></ul>">
                                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                      </a>
                                    </td>
                                    {{ end }} 
                                  {{ end }}
                                {{ end }}
                              {{ end }}
                            {{else if compare $element.rostertype "Event" }}
                              {{if compare $element.eventactivestatus "1"  | or $element.fk_event_id "0" }}
                              {{if compare $element.save_draft "1" | or  (in_array (convertToString $userId) $coCaptains) |or (compare (convertToString $userId) $teamCaptainId) |or $superAdmin}}
                              {{$checkEventRosterInRegisterList  := in_arrayCheckEventRosterInRegisterList $element.fk_event_id $teamEventRegistrationDetails $element.rosterid }}
                                <td>
                                    <div class="dasboard-team-member-content">
                                      <div class="team-member-name">
                                        <a href="#" onclick="editOrViewOrDuplicateRooster({{$element.rosterid}},'view',event)" class="list-title tm-list-title-overwrite">
                                          {{$element.name}}
                                          {{if compare $element.save_draft "1" | and (compare $active_User_Status "false")}}
                                          <span class="savedraftteam"> (Shared w/ team)</span>
                                          {{end}}
                                        </a>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="dasboard-team-member-content">
                                      <div class="team-member-name">
                                        <span class="list-title list-title-overwrite">
                                          {{if $element.memberlength}}
                                          {{$element.memberlength}}
                                          {{ end }}
                                        </span>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="dasboard-team-member-content">
                                      <div class="team-member-name">
                                        <span class="list-title list-title-overwrite">{{$element.rostertype}}</span>
                                      </div>
                                    </div>
                                  </td>
                                  {{ if $isLoggedIn }} 
                                  <td>
                                    <div class="dasboard-team-member-content">
                                    <div class="team-member-name">
                                     {{ if ne $element.fk_event_id "0" }}
                                     {{$checkEventRosterInRegisterList  := in_arrayCheckEventRosterInRegisterList $element.fk_event_id $teamEventRegistrationDetails $element.rosterid }}
                                       <span class="list-title list-title-overwrite">{{$element.event_name}}</span>
                                       {{if $checkEventRosterInRegisterList}}<h6>Submitted</h6> {{end}}
                                     {{ end }}
                                    </div>
                                    </div>
                                  </td>
                                  {{else}}
                                  <td>
                                      <div class="dasboard-team-member-content">
                                      <div class="team-member-name">
                                       {{ if ne $element.fk_event_id "0" }}
                                         <span class="list-title list-title-overwrite">{{$element.event_name}}</span>
                                       {{ end }}
                                      </div>
                                      </div>
                                    </td>
                                  {{end}}
                                  
                                  {{ if $isLoggedIn }} 
                                    {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin | or (compare (convertToString $userId) $teamCaptainId) }}
                                    {{$eventCheckStatus := in_arrayCheckRosterRegisterInEvent $element.rosterid $teamEventRegistrationDetails }}
                                    
                                    <td>
                                      <a tabindex="0" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover"
                                        data-placement="left" data-trigger='focus'  data-content="<ul class='popover-waiver'>{{if compare $element.rostersubmitstatus true | or $superAdmin }}{{if not $checkEventRosterInRegisterList}}<li><a onclick=editOrViewOrDuplicateRooster({{$element.rosterid}},'edit',event) href=# >Edit</a></li>{{else}}<li><a onclick=editSubmittedRooster({{$element.rosterid}},'edit',event) href=# >Edit</a></li>{{end}}{{end}}<li><a onclick=editOrViewOrDuplicateRooster({{$element.rosterid}},'duplicate',event) href=# style='color: #333;'>Duplicate</a></li>{{if compare $element.rostersubmitstatus true | or $superAdmin}}<li>{{if $eventCheckStatus}}<a id=deleteRegisterRoster value={{$element.rosterid}} href=# >Delete</a>{{else}}<a id=deleteRoster value={{$element.rosterid}} href=# >Delete</a>{{end}}</li>{{end}}</ul>">
                                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                      </a>
                                    </td>
                                    {{ end }} 
                                  {{ end }}
                              {{ end }}
                              {{ end }}
                            {{else}}
                            {{if compare $element.save_draft "1" | or  (in_array (convertToString $userId) $coCaptains) |or (compare (convertToString $userId) $teamCaptainId) |or $superAdmin}}
                              <td>
                                <div class="dasboard-team-member-content">
                                  <div class="team-member-name">
                                    <a href="#" onclick="editOrViewOrDuplicateRooster({{$element.rosterid}},'view',event)" class="list-title tm-list-title-overwrite">
                                      {{$element.name}}
                                      {{if compare $element.save_draft "1" | and (compare $active_User_Status "false")}}
                                        <span class="savedraftteam">  (Shared w/ team)</span>
                                      {{end}}
                                    </a>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="dasboard-team-member-content">
                                  <div class="team-member-name">
                                    <span class="list-title list-title-overwrite">
                                      {{if $element.memberlength}}
                                      {{$element.memberlength}}
                                      {{ end }}
                                    </span>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="dasboard-team-member-content">
                                  <div class="team-member-name">
                                    <span class="list-title list-title-overwrite">{{$element.rostertype}}</span>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="dasboard-team-member-content">
                                  <div class="team-member-name">
                                      <span class="list-title list-title-overwrite"></span>
                                  </div>
                                </div>
                              </td>
                              {{ if $isLoggedIn }} 
                                {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin | or (compare (convertToString $userId) $teamCaptainId) }}
                                <td>
                                  <a tabindex="0" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover"
                                    data-placement="left"  data-trigger='focus' data-content="<ul class='popover-waiver'><li><a onclick=editOrViewOrDuplicateRooster({{$element.rosterid}},'edit',event) href=# >Edit</a></li><li><a onclick=editOrViewOrDuplicateRooster({{$element.rosterid}},'duplicate',event) href=# >Duplicate</a></li> <li><a id=deleteRoster value={{$element.rosterid}} href=# >Delete</a></li></ul>">
                                    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                  </a>
                                </td>
                                {{ end }} 
                              {{ end }}
                            {{ end }}
                            {{ end }}
                          </tr>
                        {{ end }}
                      </tbody>
                  </table>
                  </div>
                  {{else}}
                  <div class="dasboard-team-member-content" style="text-align: center;">
                      <div class="team-member-name">
                          No Roster in this team
                      </div>
                  </div>
                  {{end}}
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>