<!DOCTYPE html>
<html>
<head>
	<title>Team Edit | Gushou</title>
	{{ template "linksScripts.html" . }}
	{{ template "team/autoCompleteScriptsTeam.html" . }}
</head>
<body>
	{{ if .IsLoggedIn }}
	{{ template "headerAfterLogin.html" . }}
	{{ else }}
	{{ template "headerBeforeLogin.html" . }}
	{{ end }}

	{{ if .UpdateSuccess }}
	<div class="success-message ">
		<p><i class="ti-check"></i><span> You have successfully updated your team.</span></p>
		<a href=""><i class="ti-close close-message"></i></a>
	</div>
	{{ end }}

	<div id="team_errors" class="error-message hide">
		<p><i class="ti-alert"></i><span> You have errors in - Fiery Lizard</span></p>
		<a href=""><i class="ti-close close-message"></i></a>
	</div>

 <div id="main-content">
	<div class="container">
		<form id="editTeamForm" method="POST">
			<div class="row">
				<div class="main-content-header">
					<div class="col-md-2 custom-header-col-left">
						<div class="header-profile">
							<div class="team-image">
								{{ if .TeamLogo  }}
								<img class="img-circle teamLogoModalChange" src="{{ .TeamLogo }}">
								{{ else }}
								<img src="/static/images/Default-Team-Images.png" class="img-circle teamLogoModalChange">
								{{ end }}
								<button type="button" id="uploadLogo" data-toggle="modal" data-target="#teamLogoModal" >Change</button>
							</div>
						</div>
					</div>
					<div class="col-md-10 custom-header-col-right header-profile-edit">
						<div class="row">
							<div class="col-md-8">
								<!-- <h2>((team_name)) <span class="edit-header-text">EDIT</span></h2> -->
								<h2>{{ .TeamView.team_0.team_name }}<span class="edit-header-text">EDIT</span></h2>
								
							</div>
							<div class="col-md-4 text-right">
								<!-- <a href="/team-view/((slug))" class="cancel-profile-edit">Back</a> -->
								<a href="/team-view/{{.TeamView.team_0.slug}}" class="cancel-profile-edit">Back</a>
								<button id="edit_team_submit" type="button" class="btn btn-phantom-green">Save changes</button>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-7">
								<div class="form-group">
									<label>Team name <span class="red-star">*</span></label>
									<span id="team_name_err" class="error-message hide"></span>
									<!-- <input type="text" class="form-control required" placeholder="Team Name" id="team_name" value="((team_name))"> -->
									<input type="text" class="form-control required" name="teamname" placeholder="Team Name" id="team_name" value="{{ .TeamView.team_0.team_name }}">
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-group team-recruiting no-padding-top">
									<label class="label-bold">
										<a class="tooltips" href="#">
											<i class="ti-info-alt"></i>
											<div class="tooltip-1">Setting this button to yes will share team members' profile pics, names, paddling sides and skill levels on your public team page. (Team members can choose not to share their last name by setting this option in their profile settings.)</div>
										</a>Make Team List Public
									</label>
									<div class="onoffswitch">
							
										<input type="checkbox" class="onoffswitch-checkbox" id="Teammakepublic" name="teammakepublic" {{ if compare .TeamView.team_0.team_make_public "true"}} checked {{ end }}>
										<label class="onoffswitch-label " for="Teammakepublic">
											<span class="onoffswitch-inner"></span>
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-10">
								<div class="form-group">
									<label>Team description</label>
									<div class="focus-tooltip">
										<!-- <textarea rows="3" id="team_description" class="editable form-control" placeholder="Description" >(({team_description))}</textarea> -->
										<input type="hidden" id="hidden_desc" value="{{ .TeamView.team_0.team_description }}">
										<textarea rows="3" id="team_description" name="team_description" class="editable editable_team_description form-control" placeholder="Description" style="resize: vertical;"></textarea>
										<p class="small-format">Formatting options available by selecting text</p>
									</div>	
								</div>
							</div>

							<div class="col-md-2">
								<div class="form-group team-recruiting">
									<label class="label-bold">Recruiting</label>
									<div class="onoffswitch">
										<!-- <input type="checkbox" name="" class="onoffswitch-checkbox" id="availableRecruit" ((recruitCheck recruit))> -->
										<input type="checkbox" class="onoffswitch-checkbox" id="availableRecruit" name="availableRecruit" 
										{{ if compare .TeamView.team_0.recruit "1"}} checked {{ end }}>
										<label class="onoffswitch-label" for="availableRecruit">
											<span class="onoffswitch-inner"></span>
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 dashboard-content" >
					<section class="row dashboard-location-section-edit">
						<div class="col-md-12">
							<div class="row">
								<div class="content-padding">
									<div class="col-md-4">
										<div id="map" class="dashboard-location">
											{{ if .TeamView.team_0.latitude | and  .TeamView.team_0.longitude }}
											{{ $latitude := convertToFloat .TeamView.team_0.latitude }}
											{{ $longitude := convertToFloat .TeamView.team_0.longitude }}
											<script type="text/javascript"> initMap( {{ $latitude }}, {{ $longitude }} ) </script>
											{{ else }}
											<img src="../static/images/location-img.jpg" />
											{{ end }}
										</div>
									</div>
									<div class="col-md-8">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group" >
													<label>Location <span class="red-star">*</span></label>
													<!-- ((> inputAutocomplete settings=cities id="teamlocation" class="form-control required" placeholder="City" value=team_from)) -->
													<input class="form-control required" placeholder="Location (city)" id="teamlocation" type="text" value="{{ .TeamView.team_0.team_from }}" name="teamlocation" >
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-6">
												<div class="form-group" id="edit-eventprovince">
													<label>Province <span class="red-star">*</span></label>
													<!-- ((> inputAutocomplete settings=province id="teamprovince" class="form-control required" placeholder="Province" value=team_province)) -->
													<input class="form-control required" placeholder="Province" id="teamprovince" type="text" value="{{ .TeamView.team_0.team_province }}" name="teamprovince">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group" id="edit-eventcountry">
													<label>Country <span class="red-star">*</span></label>
													<!-- ((> inputAutocomplete settings=country id="teamcountry" class="form-control required" placeholder="Country" value=team_country)) -->
													<input class="form-control required" placeholder="Country" id="teamcountry" type="text"
													value="{{ .TeamView.team_0.team_country }}" name="teamcountry">
												</div>
											</div>
										</div>

										
									</div>
								</div>
							</div>

							{{ $Classes := .Classes }}
							{{ $Divisions := .Divisions }}

							<div class="row">
								<div class="content-padding">
									<div class="col-md-12">
										<h3>CLASS <span class="red-star">*</span></h3> <a id="changeClassDivsTeam" href="" class="green-text label-bold">Change</a>
									</div>
								</div>
							</div>
							
							
							<div class="row">
								{{ if .MDivisions }}
								<div class="col-md-4 mdivision">
									<div class="content-padding">
										<div class="row">
											<div class="col-md-3">
												<!-- <p class="label-bold">((fullClasses class))</p> -->
												<p class="label-bold">Men</p>
											</div>
											<div class="col-md-9">
												{{  range $e2 := .MDivisions}}
												<!-- <span class="list-class">((this)) -->
													<!-- <div class="class-tooltip">((fullDivisionName this))</div> -->
												<span class="list-class">{{ $e2 }}
													<div class="class-tooltip">{{ $e2 | GetFullDivName }}</div>
												</span>
												{{ end }}
											</div>
										</div>
									</div>
								</div>
								{{ end }}

								{{ if .WDivisions }}
								<div class="col-md-4 wdivision">
									<div class="content-padding">
										<div class="row">
											<div class="col-md-3">
												<!-- <p class="label-bold">((fullClasses class))</p> -->
												<p class="label-bold">Women</p>
											</div>
											<div class="col-md-9">
												{{  range $e2 := .WDivisions}}
												<!-- <span class="list-class">((this)) -->
													<!-- <div class="class-tooltip">((fullDivisionName this))</div> -->
												<span class="list-class">{{ $e2 }}
													<div class="class-tooltip">{{ $e2 | GetFullDivName }}</div>
												</span>
												{{ end }}
											</div>
										</div>
									</div>
								</div>
								{{ end }}

								{{ if .MXDivisions }}
								<div class="col-md-4 mxdivision">
									<div class="content-padding">
										<div class="row">
											<div class="col-md-3">
												<!-- <p class="label-bold">((fullClasses class))</p> -->
												<p class="label-bold">Mixed</p>
											</div>
											<div class="col-md-9">
												{{  range $e2 := .MXDivisions}}
												<!-- <span class="list-class">((this)) -->
													<!-- <div class="class-tooltip">((fullDivisionName this))</div> -->
												<span class="list-class">{{ $e2 }}
													<div class="class-tooltip">{{ $e2 | GetFullDivName }}</div>
												</span>
												{{ end }}
											</div>
										</div>
									</div>
								</div>
								{{ end }}
							</div>

						</div>
					</section>

					
					<section class="row dashboard-sponsors-edit">
						<div class="col-md-12">
							<div class="content-padding">
								<div class="row ">
									<div class="col-md-6">
										<h3>SPONSORS</h3>
									</div>
									{{ if or (compare .TeamView.team_0.free_trial "true") (compare .TeamView.team_0.subscription_on_off "true") .SuperAdmin }}
									<div class="col-md-6 text-right edit-team-sponsors">
										<a id="addSponsor" href="" class="btn btn-phantom-green">Add sponsor</a>
										{{ if .TeamSponsor }}
										<a id="removeSponsors" href="" class="btn btn-phantom-orange">Remove</a>
										{{ end }}
									</div>
									{{else}}
									<div class="col-md-6 text-right edit-team-sponsors">
											<a  href="#" class="subscriptionteamClass btn btn-phantom-green">Add sponsor</a>
											{{ if .TeamSponsor }}
											<a  href="#" class="subscriptionteamClass btn btn-phantom-orange">Remove</a>
											{{ end }}
										</div>
									{{end}}
								</div>
								{{ if .TeamSponsor }}
								<div class="row ">
									<div class="col-md-12">
										<div class="row sponsor-select-all-edit">
											<div class="col-xs-2 col-md-1">
												<div class="md-checkbox">
													<input id="select_all_sponsors" class="md-check" type="checkbox">
													<label for="select_all_sponsors">
														<span class="check"></span>
														<span class="box"></span>
													</label>
												</div>
											</div>
											<div class="col-xs-10 col-md-11">
												<p style="font-weight: 400;">SELECT ALL</p>
											</div>
										</div>
										<form id="remove_sponsors" method="POST" >
										<div class="sponsors-list">
											<div class="row sponsor-list-row">
												<!-- ((each src3)) -->
												{{ range $sp := .TeamSponsor}}
												<div class="col-md-6">
													<div class="row equal">
														<div class="col-xs-2">
															<div class="md-checkbox">
																<!-- <input id="((_id))" class="md-check" name="sponsors_id[]" value="((_id))" type="checkbox"> -->
																<!-- <label for="((_id))"> -->
																<input id="sp_{{ $sp.fk_team_sponser_id }}" class="md-check" name="sponsors_id[]" value="{{ $sp.fk_team_sponser_id }}" type="checkbox">
																<label for="sp_{{ $sp.fk_team_sponser_id }}">
																	<span class="check"></span>
																	<span class="box"></span>
																</label>
															</div>
														</div>
														<div class="col-xs-10">
															<!-- <img src="((sponsors))"> -->
															<img src="{{ $sp.path }}">
														</div>
													</div>
												</div>
												<!-- ((/each)) -->
												{{ end }}
											</div>
										</div>
										</form>
									</div>
								</div>
								{{ end }}
							</div>
						</div>
					</section>
					
					<section class="row dashboard-members-footer">
						<div class="col-md-4 dashboard-members-notes-border">
							<div class="dashboard-members-notes-section">
								<div class="content-padding">
									<div class="row">
										<div class="dashboard-members-notes">
											<div class="col-md-6 team-doc-header vertical-center">
												<h3>Documents</h3>
												<a class="tooltips" href="#"><i class="ti-info-alt"></i>
													<div>Share team documents with team members in one location for easy access at any time.</div>
												</a>
											</div>
											<div class="col-md-6 custom-width text-right team-doc-class">
												{{ if .TeamNote }}
												<a id="delete_file" href="" class="btn btn-phantom-orange">Remove notes</a> 
												{{ end }}
												<a id="uploadTeamFiles" href="" class="btn btn-phantom-green"><i class="ti-plus"></i></a>
											</div>
										</div>
									</div>
									{{ range $note := .TeamNote }}
									<!-- ((each teamFiles)) -->
									<div class="row equal dashboard-notes-edit">
										<div class="col-md-12">
											<div class="md-checkbox">
												<!-- <input id="((_id))" name="team_files[]" value="((_id))" class="md-check" type="checkbox"> -->
												<!-- <label for="((_id))"> -->
												<input id="doc_{{ $note.id }}" name="team_files[]" value="{{ $note.id }}" class="md-check" type="checkbox">
												<label for="doc_{{ $note.id }}">
													<span class="check"></span>
													<span class="box"></span>
												</label>
											</div>
											
											<!-- <img src="((fileType file_name))" class="dashboard-notes-icon" /> -->
											<!-- <p><a id="download" href="">((halfFilename file_name))</a></p> -->
											<!-- <p class="small">((uploaded_by_name))</p> -->
											<div class="col-md-1">
												<img src="{{ FileTypeImg $note.file_name }}" class="dashboard-notes-icon" />
											</div>

											<div class="col-md-9">
												<div class="col-md-12 note-name note-name-edit">
													<p><a id="download" href="{{ $note.file_url }}" download> {{ $note.file_name }}</a></p>
												</div>
												<div class="col-md-12 note-by">
													<p class="small">{{ $note.uploaded_by_name }}</p>
												</div>
											</div>

										</div>
									</div>
									<!-- ((/each)) -->
									{{ end }}
								</div>
							</div>
						</div>

						<div class="col-md-4 dashboard-members-notes-border">
							<div class="dashboard-links">
								<div class="content-padding">
									<div class="row">
										<div class="dashboard-members-notes">
											<div class="col-md-4 vertical-center">
												<h3>LINKS</h3>
												<a class="tooltips" href="#"><i class="ti-info-alt"></i>
													<div>Share team links (ex. Google documents) with team members in one location for easy access at any time.</div>
												</a>
											</div>
											<div class="col-md-8 text-right team-link-class">
												{{ if .TeamLink }}
												<a id="delete_link" href="" class="btn btn-phantom-orange">Remove links</a> 
												{{ end }}
												<a id="uploadTeamLinks" href="" class="btn btn-phantom-green"><i class="ti-pencil"></i></a>
											</div>
										</div>
									</div>
									{{ range $link := .TeamLink }}
									<!-- ((each teamFiles)) -->
									<div class="row equal dashboard-links-edit">
										<div class="col-xs-12 col-md-12">
											<div class="md-checkbox">
												
												<input id="link_{{ $link.id }}" name="team_links[]" value="{{ $link.id }}" class="md-check" type="checkbox">
												<label for="link_{{ $link.id }}">
													<span class="check"></span>
													<span class="box"></span>
												</label>
											</div>
											
											

											<div class="col-xs-10 col-md-10 vertical-center team-link">
												{{ $isValidUrlLink := IsValidUrlLink $link.link}}
												{{ if eq $isValidUrlLink true }}
												<p><a target="_blank" href="{{$link.link}}">{{ $link.title }}</a></p>
												{{else}}
												<p><a target="_blank" href="//{{$link.link}}">{{ $link.title }}</a></p>
												{{end}}
											</div>
											
										</div>
									</div>
									<!-- ((/each)) -->
									{{ end }}
								</div>
							</div>
						</div>

						<div class="col-md-4 dashboard-contact">
							<div class="content-padding">
								<div class="row">
									<div class="col-xs-12 vertical-center">
										<h3>Contact</h3>
										<a class="tooltips" href="#"><i class="ti-info-alt"></i>
											<div>Share your team contact information easily.</div>
										</a>
									</div>
								</div>
								<div class="row equal">
									<div class="col-xs-2 col-md-1 vertical-center">
										<i class="ti-twitter-alt"></i>
									</div>
									<div class="col-xs-10 col-md-11">
										<span id="twitter_err" class="error-message hide"></span>
										<div class="input-group">
											<span class="input-group-addon">@</span>
											<!-- <input type="text" id="team_twitter" class="form-control" value="((editUrl twitter_handle))" placeholder="username"> -->
											<input type="text" id="team_twitter" name="team_twitter" class="form-control" value="{{ if .TeamView.team_0.twitter_handle }} {{ linkWithoutDomain .TeamView.team_0.twitter_handle }} {{ end }}" placeholder="username">
										</div>
									</div>
								</div>
								<div class="row equal">
									<div class="col-xs-2 col-md-1 vertical-center">
										<i class="ti-facebook"></i>
									</div>
									<div class="col-xs-10 col-md-11">
										<span id="fb_err" class="error-message hide"></span>
										<div class="input-group">
											<span class="input-group-addon">facebook.com/</span>
											<!-- <input type="text" id="team_facebook" class="form-control" value="((editUrl facebook_page_url))" placeholder="username"> -->
											<input type="text" id="team_facebook" name="team_facebook" class="form-control" value="{{ if .TeamView.team_0.facebook_page_url }} {{ linkWithoutDomain .TeamView.team_0.facebook_page_url }} {{ end }}" placeholder="username">
										</div>
									</div>
								</div>
								<div class="row equal">
									<div class="col-xs-2 col-md-1 vertical-center">
										<i class="ti-youtube"></i>
									</div>
									<div class="col-xs-10 col-md-11">
										<span id="youtube_err" class="error-message hide"></span>
										<div class="input-group">
											<span class="input-group-addon">youtube.com/</span>
											<!-- <input type="text" id="team_youtube" class="form-control" value="((editUrl youtube_link))" placeholder="username"> -->
											<input type="text" id="team_youtube" name="team_youtube" class="form-control" value="{{ if .TeamView.team_0.youtube_link }} {{ linkWithoutDomain .TeamView.team_0.youtube_link }} {{ end }}" placeholder="username">
										</div>
									</div>
								</div>
								<div class="row equal">
									<div class="col-xs-2 col-md-1 vertical-center">
										<i class="fa fa-phone"></i>
									</div>
									<div class="col-xs-10 col-md-11">
										<span id="phone_err" class="error-message hide"></span>
										<!-- <input type="text" id="team_phone_number" class="form-control" value="((phone_number))" placeholder="123-456-7890"> -->
										<input type="text" id="team_phone_number"  name="team_phone_number" class="form-control" value="{{ .TeamView.team_0.phone_number }}" placeholder="123-456-7890">
									</div>
								</div>
								<div class="row equal">
									<div class="col-xs-2 col-md-1 vertical-center">
										<i class="ti-email"></i>
									</div>										
									<div class="col-xs-10 col-md-11">
										<span id="email_err" class="error-message hide"></span>
										<!-- <input type="text" id="team_email" class="form-control" value="((email))" placeholder="example@example.com"> -->
										<input type="text" id="team_email" name="team_email" class="form-control" value="{{ .TeamView.team_0.email }}" placeholder="example@example.com">
									</div>
								</div>
								<div class="row equal">
									<div class="col-xs-2 col-md-1 vertical-center">
										<img src="/static/images/web.png">
									</div>
									<div class="col-xs-10 col-md-11">
										<span id="website_err" class="error-message hide"></span>
										<!-- <input type="text" id="team_website" class="form-control" value="((website_url))" placeholder="www.example.com"> -->
										<input type="text" id="team_website" name="team_website" class="form-control" value="{{ if .TeamView.team_0.website_url }} {{ linkWithoutPrefix .TeamView.team_0.website_url }} {{ end }}" placeholder="www.example.com">
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</form>
	</div>
</div>

	<div class="modal fade" id="messageTeamModal" >
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-body manage-team">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>


					<div class="row">
						<div class="col-md-12">
							<span id="msg_err_msgs" class=""></span>
							<span id="msg_succ_msgs" class=""></span>
							<h3>Send a message</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<form id="messageForm">
								<div class="row">	
									<div class="col-md-12">
										<div class="form-group">
											<label for="teamName">To</label>
											<!-- <p class="resend-invite-name">((messageLabel))</p> -->
											<p class="resend-invite-name">messageLabel</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="teamMessage">Message</label>
											<textarea name="teamMessage" id="teamMessage" class="form-control" rows="3"></textarea>
											<p>This message will be sent immediately</p> 
											<!-- <input type="hidden" value="((teamMessage))" id="to_members_arr"> -->
											<input type="hidden" value="teamMessage" id="to_members_arr">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<button type="submit" tabindex="0" class="btn btn-primary btn-fullwidth">Send message</button>

									</div>
								</div>

							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<form id="team_image_upload" enctype="multipart/form-data">
		<div class="modal fade" id="teamLogoModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
						<h3>Upload a picture</h3>
						<div class="row">
							<div class="col-lg-12">
								<span id="lerr_msg" ></span>
								<span id="lsucc_msg" ></span>
								<!-- <span class="image-size">((uploadImageSizeText))</span>  -->
								<span class="image-size">Please upload a jpg or jpeg or png image of maximum 10MB, 100x100</span> 
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
										<span class="sr-only"></span>
									</div>
								</div>
								<div class="fileupload fileupload-new" data-provides="fileupload">
								<!-- <span class="btn btn-primary btn-fullwidth btn-file">
									<span class="fileupload-new">Select file</span>
									<input id="teamLogoUpload" type="file"/>
								</span>   -->

								<div>
									<label for="teamLogoUpload" class="btn btn-primary btn-fullwidth btn-file fileupload-new"> Select file </label>
									<input id="teamLogoUpload" style="visibility:hidden;" name="file" type="file" />
								</div>     

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<form id="team_sponsor_upload" enctype="multipart/form-data">
	<div class="modal fade" id="uploadSponsorModalT">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<h3>Add Sponsor Logo</h3>
					<div class="row">
						<div class="col-lg-12">
							<span id="ts_err_msg" ></span>
							<span id="ts_succ_msg" ></span>
							<!-- <p class="image-size">((uploadImageSizeText))</p>    -->
							<p class="image-size">Please upload a .jpg or .png image of maximum 10MB, in the dimensions 100x100</p>   
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
									<span class="sr-only"></span>
								</div>
							</div>
							<div class="fileupload fileupload-new" data-provides="fileupload">
								<!-- <span class="btn btn-primary btn-file">
									<span class="fileupload-new">Select file</span>
									<input id="teamSponsorUpload" type="file"/>
								</span>   -->

								<div>
									<label for="teamSponsorUpload" class="btn btn-primary btn-fullwidth btn-file fileupload-new"> Select file </label>
									<input id="teamSponsorUpload" style="visibility:hidden;" name="file" type="file" />
								</div>     

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

	<div class="modal fade" id="confirmDeleteModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<h3>Delete User</h3>

					<span id="rem_err_msgs" class=""></span>
					<span id="rem_succ_msgs" class=""></span>
					<div class="row">
						<div class="col-md-12">
							<p>Do you really want to remove this member from team?</p>
							<p>Once removed, member will be removed from all rosters.</p>
						</div>
					</div>

					
					<div class="row delete-team-user-row">
						<div class="col-xs-6">
							<button id="deleteMember" type="button" class="btn btn-primary btn-fullwidth">Delete</button>
						</div>
						<div class="col-xs-6">
							<button type="reset" class="btn btn-secondary btn-fullwidth" data-dismiss="modal" aria-label="Close">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<form id="updateClasses" method="POST">
		<div class="modal fade" id="classDivisionsModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<span id="cls_div_err" class="error-message hide"></span>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
						<h3>Change classes</h3>
             
						<div class="change-classes-team">
							<table class="table class-listing-list table-striped responsive-table class-listing-table">
								<thead>
									<tr>
										<th class="col-md-7"></th>
										<th class="col-md-2">Men</th>
										<th class="col-md-2">Women</th>
										<th class="col-md-2">Mixed</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Community</td>
										<td>
											<div class="md-checkbox">
												<input value="Com" class="md-check" name="M_event_divisions[]" id="M_Com" type="checkbox">
												<label for="M_Com"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="Com" class="md-check" name="W_event_divisions[]" id="W_Com" type="checkbox">
												<label for="W_Com"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="Com" class="md-check" name="MX_event_divisions[]" id="MX_Com" type="checkbox">
												<label for="MX_Com"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Corporate</td>
										<td>
											<div class="md-checkbox">
												<input value="Cp" class="md-check" name="M_event_divisions[]" id="M_Cp" type="checkbox">
												<label for="M_Cp"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="Cp" class="md-check" name="W_event_divisions[]" id="W_Cp" type="checkbox">
												<label for="W_Cp"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="Cp" class="md-check" name="MX_event_divisions[]" id="MX_Cp" type="checkbox">
												<label for="MX_Cp"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Sport</td>
										<td>
											<div class="md-checkbox">
												<input value="Sp" class="md-check" name="M_event_divisions[]" id="M_Sp" type="checkbox">
												<label for="M_Sp"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="Sp" class="md-check" name="W_event_divisions[]" id="W_Sp" type="checkbox">
												<label for="W_Sp"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="Sp" class="md-check" name="MX_event_divisions[]" id="MX_Sp" type="checkbox">
												<label for="MX_Sp"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>University</td>
										<td>
											<div class="md-checkbox">
												<input value="Un" class="md-check" name="M_event_divisions[]" id="M_Un" type="checkbox">
												<label for="M_Un"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="Un" class="md-check" name="W_event_divisions[]" id="W_Un" type="checkbox">
												<label for="W_Un"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="Un" class="md-check" name="MX_event_divisions[]" id="MX_Un" type="checkbox">
												<label for="MX_Un"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>BCS</td>
										<td>
											<div class="md-checkbox">
												<input value="BCS" class="md-check" name="M_event_divisions[]" id="M_BCS" type="checkbox">
												<label for="M_BCS"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="BCS" class="md-check" name="W_event_divisions[]" id="W_BCS" type="checkbox">
												<label for="W_BCS"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="BCS" class="md-check" name="MX_event_divisions[]" id="MX_BCS" type="checkbox">
												<label for="MX_BCS"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Premiere</td>
										<td>
											<div class="md-checkbox">
												<input value="P" class="md-check" name="M_event_divisions[]" id="M_P" type="checkbox">
												<label for="M_P"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="P" class="md-check" name="W_event_divisions[]" id="W_P" type="checkbox">
												<label for="W_P"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="P" class="md-check" name="MX_event_divisions[]" id="MX_P" type="checkbox">
												<label for="MX_P"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Under 23</td>
										<td>
											<div class="md-checkbox">
												<input value="23" class="md-check" name="M_event_divisions[]" id="M_23" type="checkbox">
												<label for="M_23"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="23" class="md-check" name="W_event_divisions[]" id="W_23" type="checkbox">
												<label for="W_23"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="23" class="md-check" name="MX_event_divisions[]" id="MX_23" type="checkbox">
												<label for="MX_23"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Junior(15-18)</td>
										<td>
											<div class="md-checkbox">
												<input value="JR" class="md-check" name="M_event_divisions[]" id="M_JR" type="checkbox">
												<label for="M_JR"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="JR" class="md-check" name="W_event_divisions[]" id="W_JR" type="checkbox">
												<label for="W_JR"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="JR" class="md-check" name="MX_event_divisions[]" id="MX_JR" type="checkbox">
												<label for="MX_JR"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Youth</td>
										<td>
											<div class="md-checkbox">
												<input value="Y" class="md-check" name="M_event_divisions[]" id="M_Y" type="checkbox">
												<label for="M_Y"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="Y" class="md-check" name="W_event_divisions[]" id="W_Y" type="checkbox">
												<label for="W_Y"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="Y" class="md-check" name="MX_event_divisions[]" id="MX_Y" type="checkbox">
												<label for="MX_Y"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Senior</td>
										<td>
											<div class="md-checkbox all-divisions">
												<input value="SR" class="md-check all-divisions" name="M_event_divisions[]" id="M_SR" type="checkbox">
												<label for="M_SR"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox all-divisions">
												<input value="SR" class="md-check all-divisions" name="W_event_divisions[]" id="W_SR" type="checkbox">
												<label for="W_SR"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox all-divisions">
												<input value="SR" class="md-check all-divisions" name="MX_event_divisions[]" id="MX_SR" type="checkbox">
												<label for="MX_SR"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Senior A</td>
										<td>
											<div class="md-checkbox">
												<input value="SrA" class="md-check" name="M_event_divisions[]" id="M_SrA" type="checkbox">
												<label for="M_SrA"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="SrA" class="md-check" name="W_event_divisions[]" id="W_SrA" type="checkbox">
												<label for="W_SrA"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="SrA" class="md-check" name="MX_event_divisions[]" id="MX_SrA" type="checkbox">
												<label for="MX_SrA"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Senior B</td>
										<td>
											<div class="md-checkbox">
												<input value="SrB" class="md-check" name="M_event_divisions[]" id="M_SrB" type="checkbox">
												<label for="M_SrB"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="SrB" class="md-check" name="W_event_divisions[]" id="W_SrB" type="checkbox">
												<label for="W_SrB"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="SrB" class="md-check" name="MX_event_divisions[]" id="MX_SrB" type="checkbox">
												<label for="MX_SrB"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Senior C</td>
										<td>
											<div class="md-checkbox">
												<input value="SrC" class="md-check" name="M_event_divisions[]" id="M_SrC" type="checkbox">
												<label for="M_SrC"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="SrC" class="md-check" name="W_event_divisions[]" id="W_SrC" type="checkbox">
												<label for="W_SrC"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="SrC" class="md-check" name="MX_event_divisions[]" id="MX_SrC" type="checkbox">
												<label for="MX_SrC"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Master(40+)</td>
										<td>
											<div class="md-checkbox all-divisions">
												<input value="M40" class="md-check all-divisions" name="M_event_divisions[]" id="M_M40" type="checkbox">
												<label for="M_M40"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox all-divisions">
												<input value="M40" class="md-check all-divisions" name="W_event_divisions[]" id="W_M40" type="checkbox">
												<label for="W_M40"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox all-divisions">
												<input value="M40" class="md-check all-divisions" name="MX_event_divisions[]" id="MX_M40" type="checkbox">
												<label for="MX_M40"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Master(50+)</td>
										<td>
											<div class="md-checkbox all-divisions">
												<input value="M50" class="md-check all-divisions" name="M_event_divisions[]" id="M_M50" type="checkbox">
												<label for="M_M50"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox all-divisions">
												<input value="M50" class="md-check all-divisions" name="W_event_divisions[]" id="W_M50" type="checkbox">
												<label for="W_M50"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox all-divisions">
												<input value="M50" class="md-check all-divisions" name="MX_event_divisions[]" id="MX_M50" type="checkbox">
												<label for="MX_M50"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Out-of-town</td>
										<td>
											<div class="md-checkbox">
												<input value="OT" class="md-check" name="M_event_divisions[]" id="M_OT" type="checkbox">
												<label for="M_OT"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="OT" class="md-check" name="W_event_divisions[]" id="W_OT" type="checkbox">
												<label for="W_OT"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="OT" class="md-check" name="MX_event_divisions[]" id="MX_OT" type="checkbox">
												<label for="MX_OT"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>International</td>
										<td>
											<div class="md-checkbox">
												<input value="Int" class="md-check" name="M_event_divisions[]" id="M_Int" type="checkbox">
												<label for="M_Int"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="Int" class="md-check" name="W_event_divisions[]" id="W_Int" type="checkbox">
												<label for="W_Int"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="Int" class="md-check" name="MX_event_divisions[]" id="MX_Int" type="checkbox">
												<label for="MX_Int"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Other</td>
										<td>
											<div class="md-checkbox">
												<input value="Or" class="md-check" name="M_event_divisions[]" id="M_Or" type="checkbox">
												<label for="M_Or"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="Or" class="md-check" name="W_event_divisions[]" id="W_Or" type="checkbox">
												<label for="W_Or"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
										<td>
											<div class="md-checkbox">
												<input value="Or" class="md-check" name="MX_event_divisions[]" id="MX_Or" type="checkbox">
												<label for="MX_Or"><span class="check"></span><span class="box"></span></label>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<button id="saveClassesTeam" type="button" class="btn btn-primary btn-fullwidth">Save</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<form id="team_waiver_upload" method="POST">
	<div class="modal fade" id="uploadWaiverFilesModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<h3>Upload waiver</h3>
					<div class="row">
						<div class="col-lg-12">
							<span id="waiver_err_msg" ></span>
							<span id="waiver_succ_msg" ></span>
						</div>
						<div class="col-lg-6">
							<select class="select-custom form-control" id="event_name" name="event_name" type="text">
								<option value="">Event name</option>
								{{ range $ue := .UpcomingEvent}}
								<!-- ((each all_upcoming_events)) -->
								<!-- <option value="((_id))">((event_name))</option> -->
								<option value="{{ $ue.id }}">{{ $ue.event_name }}</option>
								<!-- ((/each)) -->
								{{ end }}
							</select>
						</div>
						<div class="col-lg-6">
							<input placeholder="Waiver name" class="form-control" id="waiver_name" name="waiver_name" type="text">
						</div>
						<div class="col-lg-12">
							<p class="image-size">Upload a file of maximum 10MB </p>
						</div>
						<div class="col-lg-8">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
									<span class="sr-only"></span>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="fileupload fileupload-new" data-provides="fileupload">
								<!-- <span class="btn btn-phantom-green btn-file">
									<span class="fileupload-new">Select</span>
									<input id="waiverUpload" type="file"/>
								</span> -->
								<div>
									<label for="waiverUpload" class="btn btn-phantom-green btn-file fileupload-new"> Select </label>
									<input id="waiverUpload" style="visibility:hidden;" name="file" type="file" />
								</div>    
							</div>

						</div>
						<div class="col-lg-12">
							<input id="saveWaiver" type="submit" class="btn btn-primary btn-fullwidth" value="Upload waiver" type="button">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<form id="team_signed_waiver_upload" method="POST">
		<div class="modal fade" id="uploadSignedWaiverFilesModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
							<h3>Upload Signed waiver</h3>
							<div class="row">
								<div class="col-lg-12">
									<span id="waiver_err_msg_upload" ></span>
									<span id="waiver_succ_msg_upload" ></span>
								</div>
								
									
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label>Emergency Contact Name:</label>
												<!-- <input type="text" name="contact_name" id="contact_name" class="form-control" style="width:100%" placeholder="Contact name" value="((waiverDetails.contact_name))" ((waiverDetails.disabled_all))> -->
												<input type="text" name="contact_name" id="contact_name" class="form-control" style="width:100%" placeholder="Contact name" value="{{ .TeamWaiver.contact_name }}" {{ if .Signed }} disabled {{ end }}>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label>Emergency Contact Telephone:</label>
												<span id="contact_number_err" class="error-message hide"></span>
												<!-- <input type="text" name="contact_number" id="contact_number" class="form-control" style="width:100%" placeholder="Contact telephone number"  value="((waiverDetails.contact_number))" ((waiverDetails.disabled_all))> -->
												<input type="text" name="contact_number" id="contact_number" class="form-control" style="width:100%" placeholder="Contact telephone number"  value="{{ .TeamWaiver.contact_number }}" {{ if .Signed }} disabled {{ end }}>
											</div>
										</div>
									</div>
									<div class="medical-condition-box" id="medical-condition-box" >
											<div class="row">
												<div class="col-md-12">
													<label>Please provide us with the details of your medical condition:</label>
													<!-- <textarea class="form-control" name="medical_condition_desc" id="medical_condition_desc" rows="3" value="((waiverDetails.medical_condition_desc))" ((waiverDetails.disabled_all))></textarea> -->
													<textarea class="form-control" name="medical_condition_desc" id="medical_condition_desc" rows="3" value="" {{ if .Signed }} disabled {{ end }}>{{ .TeamWaiver.medical_condition_desc }}</textarea>
													<input  class="form-control"  type="hidden" id="waiver_id_for_upload" name="waiver_id_upload" value="">
													<input  class="form-control"  type="hidden"   id="waiver_member_id_for_upload" name="waiver_member_id_upload" value="">
													<input  class="form-control"  type="hidden" id="waiver_team_id_for_upload" name="team_id_upload" value="">
													<input  class="form-control"  type="hidden"   id="waiver_event_id_for_upload" name="event_id_upload" value="">
													<input  class="form-control"  type="hidden"   id="waiver_event_reg_id_for_upload" name="event_reg_id_upload" value="">

												</div>
											</div>
										</div>

								<div class="col-lg-12">
									
									<p class="image-size">Upload a file of maximum 10MB </p>
								</div>
								<div class="col-lg-8">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
											<span class="sr-only"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="fileupload fileupload-new" data-provides="fileupload">
										<!-- <span class="btn btn-phantom-green btn-file">
											<span class="fileupload-new">Select</span>
											<input id="waiverUpload" type="file"/>
										</span> -->
										<div>
											<label for="waiverIndividualUpload" class="btn btn-phantom-green btn-file fileupload-new"> Select </label>
											<input id="waiverIndividualUpload" style="visibility:hidden;" name="file" type="file" />
										</div>    
									</div>
		
								</div>
								<div>
									<p style="font-size: 13px;">Please note that once you upload your waiver, you will not be able to make changes. If you require assistance, please contact <a href="mailto:dragonboat@gogushou.com">dragonboat@gogushou.com</a>.</p>
								</div>
								<div class="col-lg-12">
									<input id="saveSignedWaiver" type="submit" class="btn btn-primary btn-fullwidth" value="Upload waiver" type="button">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			</form>

<form id="team_notes_upload" enctype="multipart/form-data">
	<div class="modal fade" id="uploadTeamFilesModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<h3>Upload file</h3>
					<div class="row">
						<div class="col-lg-12">
							<span id="up_err_msg" ></span>
							<span id="up_succ_msg" ></span>
							<p class="image-size">Upload a file of maximum 10MB </p>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
									<span class="sr-only"></span>
								</div>
							</div>
							<div class="fileupload fileupload-new" data-provides="fileupload">
								<!-- <span class="btn btn-primary btn-file">
									<span class="fileupload-new">Select file</span>
									<input id="teamUpload" type="file"/>
								</span>    -->
								<div>
									<label for="teamUpload" class="btn btn-primary btn-file fileupload-new"> Select </label>
									<input id="teamUpload" style="visibility:hidden;" name="file" type="file" />
								</div>    
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<form id="team_links_upload" enctype="multipart/form-data">
	<div class="modal fade" id="uploadTeamLinksModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<span id="link_succ" class="success"></span>
					<h3>Add links</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control required" placeholder="Title" name="link_title" id="link_title">
								<span id="" class="error-message hide"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control required" placeholder="https://link" name="link" id="link">
								<span id="" class="error-message hide"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button type="submit" id="add_links_submit" class="btn btn-primary btn-fullwidth">Add link</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>


	<div class="modal fade" id="sendWaiverModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<div class="row">
						<div class="col-md-12">
							
							<h3>Send waiver</h3>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<span id="waiver_sent_err" ></span>
							<span id="waiver_sent_succ" ></span>
							<span id="waiver_reminder_succ" ></span>
							<p>The selected paddler(s) will receive an email request to sign their waiver.</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<button id="sendWaiverBtn" type="button" class="btn btn-primary btn-fullwidth">Send</button>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="makeCocaptainModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<div class="row">
						<div class="col-md-12">
							<h3>Remove Captain</h3>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<p>Cannot remove captain. Assign captain before removing.</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<button type="reset" class="btn btn-primary btn-fullwidth" data-dismiss="modal" aria-label="Close">Ok</button>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="subscriptionteammodel">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
						<div class="row" id="subcribeteammodelheaderParthide">
							<div class="col-md-12">
							<h3 id="subcribeteammodelheaderParttext">Option to Upgrade</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">
										<span id="waiver_removed_err" ></span>
										<span id="waiver_removed_succ" ></span>
										<p id="subcribeteammodelheading" >{{.Free_Subcription_Text}}</p>
									</div>
								</div>
								<div class="row delete-team-user-row" id="clicktosubscriptionhide">
									<div class="col-xs-6">
										<a  href="/stripe/subscription-view" id="hidefreetrialpopup" class="btn btn-primary xs-button btn-fullwidth">Upgrade Now</a>
									</div>
									<div class="col-xs-6">
										<!-- <button type="reset" class="btn btn-secondary btn-fullwidth" data-dismiss="modal" aria-label="Close">Skip</button> -->
										<a  href="#/" class="btn btn-secondary btn-fullwidth xs-button" data-dismiss="modal" aria-label="Close" >Skip</a>
									</div>
									<div class="col-xs-12" style="margin-top: 12px;" >
										<p>For more information on Gushou's plans, please refer to our <a href="/pricing.html" target="_blank"><u>plan details</u></a>.</p>
										
									</div>
								</div>
								<div class="row subcription-popup" id="clickfreeTrialPopuphide" >
								<div class="col-md-12">
									<div class=" form-check">
											<label class="form-check-label">
												<input type="checkbox" class="form-check-input" id="clickfreeTrialPopup_checkbox" name=""> Don't show again
											</label>
									</div>
								</div>
								</div>
							</div>
						</div>
					 </div>
				</div>
			</div>
	</div>
	{{ template "footer.html" . }}

</body>
</html>