<!DOCTYPE html>
<html>
<head>
	<title>Teams | Gushou</title>
	{{ template "linksScripts.html" . }}
</head>
<body>
	{{ if .IsLoggedIn }}
	{{ template "headerAfterLogin.html" . }}
	{{ else }}
	{{ template "headerBeforeLogin.html" . }}
	{{ end }}

	<div id="wrapper">
		<div class="page-header team-page-header">
			<div class="container">
				<section class="header-title">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1 class="inverted">Teams</h1>
							<!-- <h5>Search for a team ((if currentUser)), or <a href="((pathFor 'createTeam'))" class="btn btn-phantom-orange">create a new one</a> ((else)), or <a href="/register" class="btn btn-phantom-orange">create a new one</a>((/if))</h5> -->
							<h5>Search for a team, or 
								{{ if .IsLoggedIn }}
								<a href="/create-team" class="btn btn-phantom-orange">create a new one</a> 
								{{ else }}
								<a href="/register" class="btn btn-phantom-orange">create a new one</a>
								{{ end }}
							</h5>
						</div>
					</div>
				</section>
			</div>
		</div>

		<div class="container">
			<section class="advanced-search">
				<form id="team_adv_search" method="POST">
				<div class="row">
					<div class="col-md-12">
						<div class="search-listing">
							<div class="input-group">
								<span class="input-group-addon"><i class="ti-search"></i></span>
								<input type="text" class="form-control" id="search_team_name" name="search_team_name" placeholder="Search all teams" value="{{.FormItems.TeamName}}">
							</div>
							<button type="submit" id="find_teams" class="btn btn-primary">Search</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<a class="advanced-search-toggle">Advanced Search<i class="ti-angle-down"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="advanced-search-options" style="{{ if .AdvSearch | not }}display: none;{{ end }}">
						<!-- <form id="team_adv_search" action=""> -->
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Show me teams in</label>
											<!-- ((> inputAutocomplete settings=city id="city" class="form-control input-xlarge" placeholder="City")) -->
											<input type="text" id="city" name="city" placeholder="City" value="{{.FormItems.City}}" class="form-control input-xlarge">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Show me teams for</label>
											<select id="classes" class="select-custom form-control" name="classes">
												<option {{ if compare .FormItems.Classes "any" }} selected {{ end }} value="any">Any Class</option>
												<option {{ if compare .FormItems.Classes "all" }} selected {{ end }} value="all">All Classes</option>
												<!-- ((each classesNames)) -->
												<!-- <option value="((value))">((label))</option> -->
												<option {{ if compare .FormItems.Classes "M" }} selected {{ end }} value="M">Men</option>
												<option {{ if compare .FormItems.Classes "W" }} selected {{ end }} value="W">Women</option>
												<option {{ if compare .FormItems.Classes "MX" }} selected {{ end }}value="MX">Mixed</option>
												<!-- ((/each)) -->
											</select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Show me teams by captain</label>
											<input type="text" class="form-control" id="captain" name="captain" value="{{.FormItems.Captain}}" placeholder="Captain's name">
										</div>
									</div>
									<div class="col-md-6">
										<div class="md-checkbox">
											<input  value="recruit" id="recruit" name="recruit" class="md-check" type="checkbox" {{ if compare .FormItems.Recruit "recruit" }} checked {{ end }}>
											<label for="recruit"  class="label-bold recruiting-team-checkbox">
												<span class="check"></span>
												<span class="box"></span>
												Show me only teams <br> currently recruiting paddlers
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-12">
										<div class="md-checkbox all-divisions">
											<input  value="all" id="all_divisions" name="check" class="md-check" type="checkbox">
											<label for="all_divisions"  class="label-bold">
												<span class="check"></span>
												<span class="box"></span>
												All divisions
											</label>
										</div>
									</div>
								</div>


								<div class="row">
									<ul class="advanced-search-division-rows">
										{{ if .FormItems.Divisions }}
										{{ $Divisions := .FormItems.Divisions }}
										{{ range $index, $element := .AllDivs }}
										<li class="md-checkbox all-divisions">
											<!-- <input id="((value))" name="divisions[]" value="((value))" class="md-check" type="checkbox"> -->
											<!-- <label for="((value))"> -->
											<input id="{{ $element.value }}" name="divisions[]" value="{{ $element.value }}" class="md-check" type="checkbox"
											{{ if in_array  $element.value $Divisions }} checked {{ end }}>
											<label for="{{ $element.value }}">
												<span class="check"></span>
												<span class="box"></span>
												{{ $element.div_name }}
											</label>
										</li>
										{{ end }}

										{{ else }}

										{{ range $index, $element := .AllDivs }}
										<li class="md-checkbox all-divisions">
											<!-- <input id="((value))" name="divisions[]" value="((value))" class="md-check" type="checkbox"> -->
											<!-- <label for="((value))"> -->
											<input id="{{ $element.value }}" name="divisions[]" value="{{ $element.value }}" class="md-check" type="checkbox"
											>
											<label for="{{ $element.value }}">
												<span class="check"></span>
												<span class="box"></span>
												{{ $element.div_name }}
											</label>
										</li>
										{{ end }}

										{{ end }}
									</ul>

								</div>
							</div>
						<!-- </form> -->
					</div>
				</div>
				<input id="limit" name="limit" value="{{ if .NewLimit }}{{.NewLimit}}{{ else }}10{{ end }}" type="hidden">
				<input id="offset" name="offset" value="{{ if .NewOffset }}{{.NewOffset}}{{ else }}0{{ end }}" type="hidden">
				<input id="type" name="type" value="{{ .Type }}" type="hidden">
				<input id="total" name="total" value="{{.TotalTeams}}" type="hidden">
			</form>
			</section>

			<section class="listing-list">
				<!-- ((if Template.subscriptionsReady)) -->
				{{ if .TeamList }}
				<!-- ((> reactiveTable collection=teamList class="table listing-list responsive-table team-listing-table listing-margin-border" settings=teamsSettings id="teamsSettingsId")) -->
				{{ $superAdmin := .SuperAdmin }}

				<table class="table listing-list responsive-table team-listing-table listing-margin-border reactive-table table-small" id="teamsSettingsId">
					<thead>
						<tr>
							<th fieldid="0" class=""></th>
							<th fieldid="1" class="col-md-1"></th>
							<th fieldid="2" class="col-md-3">NAME</th>
							<th fieldid="3" class="col-md-3">LOCATION</th>
							<th fieldid="4" class="col-md-5">DIVISION</th>
							<th fieldid="5" class=""></th>
						</tr>
					</thead>
					<tbody>
						{{ range $team := .AllTeams }}
						<tr class="">
							<td class=""></td>
							<td class=""><a href="/team-view/{{ $team.slug }}"><img src="../static/images/Default-Team-Images.png" class="img-circle"></a></td>
							<td class="_id"><a href="/team-view/{{ $team.slug }}" class="listing-title">{{ $team.team_name }}</a>
								{{ if compare $team.recruit "1" }}
								<p><span class="label-orange">WE'RE RECRUITING</span></p>
								{{ end }}

								{{ if $superAdmin }}
								<button id="delete_team" type="button" class="listing-delete team-delete" value="{{$team.id}}" >Delete Team</button>
								{{ end }}
							</td>
							<td class="location">{{ $team.team_from }}, {{ $team.team_country }} </td>
							<td class="category">
								<ul class="list-classes">

									{{ $Divisions := $team.id | GetTeamDivision }}
									{{ range $index, $div := $Divisions}}
									<li>
										<span class="list-class">{{ $div }}<div class="class-tooltip">{{ $div | GetFullDivName }}</div>
										</span>
									</li>
									{{ end }}

									<!-- <li>
										<span class="list-class" data-toggle="tooltip" title="">OT
											<div class="class-tooltip">Out-of-town</div>
										</span>
									</li>
									<li>
										<span class="list-class" data-toggle="tooltip" title="">Or
											<div class="class-tooltip">Other</div>
										</span>
									</li> -->
								</ul>
							</td>
							<td class=""></td>
						</tr>
						{{ end }}
						<!-- <tr class="">
							<td class=""></td>
							<td class=""><img src="../static/images/Default-Team-Images.png" class="img-circle"></td>
							<td class="_id"><a href="/team-view/dragonflies" class="listing-title">Dragonflies</a><p><span class="label-orange">WE'RE RECRUITING</span></p><button id="delete_team" type="button" class="listing-delete">Delete Team</button></td>
							<td class="location">Toronto, Ontario</td>
							<td class="category"><ul class="list-classes"><li><span class="list-class" data-toggle="tooltip" title="">Com<div class="class-tooltip">Community</div></span></li></ul></td>
							<td class=""></td>
						</tr> -->
					</tbody>
				</table>

				{{ else }}
				<table class="table listing-list responsive-table team-listing-table table-not-found table-not-found-list table-small">
					<thead>
						<tr>
							<th class="col-md-1"></th>
							<th class="col-md-1"></th>
							<th class="col-md-3">NAME</th>
							<th class="col-md-3">LOCATION</th>
							<th class="col-md-5">DIVISION</th>
							<th class="col-md-5"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td colspan="3">No team found</td>
							<td></td>
						</tr>
					</tbody>
				</table>
				{{ end }}
				<!-- ((else)) -->
				{{ if .loading }}
				<table class="table listing-list responsive-table team-listing-table table-not-found table-not-found-list table-small">
					<thead>
						<tr>
							<th class="col-md-1"></th>
							<th class="col-md-1"></th>
							<th class="col-md-3">NAME</th>
							<th class="col-md-3">LOCATION</th>
							<th class="col-md-5">DIVISION</th>
							<th class="col-md-5"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td colspan="3">Loading...</td>
							<td></td>
						</tr>
					</tbody>
				</table>
				{{ end }}
			</section>
			<section class="listing-pagination">
				{{ if .TeamList }}
				<div class="row">
					<div class="col-md-6">
						<select id="rows_per_page" name="" class="form-control">
							<option value=10>10 rows per page</option>
							<option {{ if compare .NewLimit "20"}} selected {{ end }} value=20>20 rows per page</option>
							<option {{ if compare .NewLimit "30"}} selected {{ end }} value=30>30 rows per page</option>
						</select>
					</div>
					<div class="col-md-6">
						<nav>
							<ul class="pagination">
								{{ if compare (len .FivePages) 1 | not }}
								<!-- (({teamsNav))} -->
								<!-- Put pagination here -->
								<li><a aria-label="First" class="first-team-page"><span aria-hidden="true">&laquo;</span></a></li>
								<li><a aria-label="Previous" class="prev-team-page"><span aria-hidden="true">&lsaquo;</span></a></li> 

								{{ $currentPage := .CurrPage }}
								{{ range $index, $pg := .FivePages }}
								
								<li class="{{ if compare $currentPage $index }} active {{ end }}"><a id="{{ $pg }}" class="page_num">{{ $index }}</a></li>
								
								{{ end }}
								
								{{ if .FivePages }}
								{{ if compare (len .FivePages) 1 | not }}
								<li><a aria-label="Next" class="next-team-page"><span aria-hidden="true">&rsaquo;</span></a></li>
								{{ end }}
								{{ end }}

								<li><a aria-label="Last" class="last-team-page"><span aria-hidden="true">&raquo;</span></a></li>

								{{ end }}
							</ul>
						</nav>
					</div>
				</div>
				{{ end }}
			</section>
			<div class="modal fade" id="deleteTeamModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
							<h3>Delete Team</h3>
							Are you sure you want to delete this team?<br>
							Once deleted, team will be removed from all events and rosters.
						</div>
						<div class="modal-footer">
							<div class="row">
								<div class="col-md-6">
									<button id="deleteTeamBtn" type="submit" class="btn btn-primary btn-fullwidth">Delete</button>
								</div>
								<div class="col-md-6">
									<button type="reset" class="btn btn-secondary btn-fullwidth" data-dismiss="modal" aria-label="Close">Cancel</button>
								</div>
							</div>		                    
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	{{ template "footer.html" . }}

</body>
</html>