
{{ $isLoggedIn := .IsLoggedIn }}
{{ $superAdmin := .SuperAdmin}}
{{ $userId := .UserId }}
{{ $teamCaptainId := .TeamCaptainId }}
{{ $coCaptains := .CoCaptains }}
{{ $active_User_Status := .Active_User_Status }}
<div class="team-members-section tab-content" style="display: block;">
  <div id="activeMembers" class="tab-pane fade in active">
    <section class="row dashboard-members">
      <div class="col-md-12">
        <div class="content-padding">
          <div class="active-members">
            <div class="row">
              <div class="col-md-12">
              {{ if .IsLoggedIn }} {{ if in_array (convertToString .UserId) .CoCaptains | or .SuperAdmin | or (compare (convertToString $userId) $teamCaptainId) }}
                  <div class="dashboard-schedule-nav no-margin text-right active-member-option"> 
                    <a href="/team/create-lineup" id="createLineup" class="btn btn-thin btn-phantom-green">
                      <span class="ti-plus"></span>
                      <span>Add Lineup</span>
                    </a>
                  </div>
                </div>
              {{ end }} {{ end }}
            </div>

            <div class="row">
              <div class="col-md-12">
                {{if .TeamLineUp  |or (compare $active_User_Status "false")}}
                <div class="dasboard-team-table-container">
                  <table id="team_members" class="table dashboard-table dasboard-team-table responsive-table">
                    <thead>
                      <tr>
                        <th class="col-md-3">NAME</th>
                        <th class="col-md-3">EVENT/PRACTICE</th>
                        <th class="col-md-2">ROSTER</th>
                        <th class="col-md-1">MEMBERS</th>
                        <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                      {{ range $index, $element := .TeamLineUp }}
                        {{if compare $element.rostertype "Practice"}}
                          {{if compare $element.activestatus "1" | or $element.fk_practice_id "0" }}
                            {{if compare $element.save_draft_lineup "1" | or  (in_array (convertToString $userId) $coCaptains) |or (compare (convertToString $userId) $teamCaptainId) |or $superAdmin}}
                            <tr class="templineupcount">
                                <td>
                                  <div class="dasboard-team-table-th">NAME</div>
                                  <div class="dasboard-team-member-content">
                                    <div class="team-member-name">
                                      <a href="#" id="view" name="{{$element.rosterid}}" value="{{$element.lineupid}}" class="list-title vieweditLineup">
                                        {{ $element.lineup_name }} 
                                        {{if compare $element.save_draft_lineup "1" | and (compare $active_User_Status "false")}}
                                        <span class="savedraftteam"> (Shared w/ team)</span>
                                        {{end}}
                                      </a> 
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="dasboard-team-table-th">EVENT/PRACTICE</div>
                                    {{ if ne $element.fk_practice_id "0" }}
                                    <p class="team-table-side text-capitalize ">{{$element.formatedpracticedate}} | {{$element.practice_time}} | {{$element.practice_location}}</p>
                                    {{ end }}
                                </td>
                                <td>
                                  <div class="dasboard-team-table-th">ROSTER</div>
                                  <p class="team-table-side text-capitalize levelAppend_{{ $element.fk_user_id }}">{{ $element.name }}</p>
                                </td>
                                <td>
                                <div class="dasboard-team-table-th">MEMBERS</div>
                                <p class="team-table-side weightAppend_{{ $element.fk_user_id }}">{{ $element.memberlength }}</p>
                                </td>
                                {{ if $isLoggedIn }} {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin | or (compare (convertToString $userId) $teamCaptainId)}}
                                  <td>
                                    <a tabindex="0" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover"
                                    data-trigger='focus' data-placement="left"  data-content="<ul class='popover-waiver'><li><a class=vieweditLineup id='edit' name={{$element.rosterid}} value={{$element.lineupid}} href=# >Edit</a></li><li><a href=# class=vieweditLineup id='duplicate' name={{$element.rosterid}} value={{$element.lineupid}} href=# >Duplicate</a></li> <li><a id=deleteLineup value={{$element.lineupid}} href=# >Delete</a></li></ul>">
                                      <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                   </a>
                                  </td>
                                  {{ end }} {{ end }}
                            </tr>
                            {{end}}
                          {{ end }}
                        {{else if compare $element.rostertype "Event" }}
                          {{if compare $element.eventactivestatus "1"  | or $element.fk_event_id "0" }}
                            {{if compare $element.save_draft_lineup "1" | or  (in_array (convertToString $userId) $coCaptains) |or (compare (convertToString $userId) $teamCaptainId) |or $superAdmin}}
                              <tr class="templineupcount">
                                  <td>
                                    <div class="dasboard-team-table-th">NAME</div>
                                    <div class="dasboard-team-member-content">
                                      <div class="team-member-name">
                                        <a href="#" id="view" name="{{$element.rosterid}}" value="{{$element.lineupid}}" class="list-title vieweditLineup">
                                          {{ $element.lineup_name }}
                                          {{if compare $element.save_draft_lineup "1" | and (compare $active_User_Status "false")}}
                                          <span class="savedraftteam"> (Shared w/ team)</span>
                                          {{end}}
                                        </a> 
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="dasboard-team-table-th">EVENT/PRACTICE</div>
                                      {{ if ne $element.fk_event_id "0" }}
                                      <p class="team-table-side text-capitalize ">{{$element.eventname}}</p>
                                      {{ end }}
                                  </td>
                                  <td>
                                    <div class="dasboard-team-table-th">ROSTER</div>
                                    <p class="team-table-side text-capitalize levelAppend_{{ $element.fk_user_id }}">{{ $element.name }}</p>
                                  </td>
                                  <td>
                                  <div class="dasboard-team-table-th">MEMBERS</div>
                                  <p class="team-table-side weightAppend_{{ $element.fk_user_id }}">{{ $element.memberlength }}</p>
                                  </td>
                                  {{ if $isLoggedIn }} {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin | or (compare (convertToString $userId) $teamCaptainId) }}
                                    <td>
                                      <a tabindex="0" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover"
                                      data-trigger='focus' data-placement="left"  data-content="<ul class='popover-waiver'><li><a class=vieweditLineup id='edit' name={{$element.rosterid}} value={{$element.lineupid}} href=# >Edit</a></li><li><a href=# class=vieweditLineup id='duplicate' name={{$element.rosterid}} value={{$element.lineupid}} href=# >Duplicate</a></li> <li><a id=deleteLineup value={{$element.lineupid}} href=# >Delete</a></li></ul>">
                                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                      </a>
                                    </td>
                                    {{ end }} {{ end }}
                              </tr>
                            {{ end }}
                          {{ end }}
                        {{ else }}
                          {{if compare $element.save_draft_lineup "1" | or  (in_array (convertToString $userId) $coCaptains) |or (compare (convertToString $userId) $teamCaptainId) |or $superAdmin}}
                            <tr class="templineupcount">
                                <td>
                                  <div class="dasboard-team-table-th">NAME</div>
                                  <div class="dasboard-team-member-content">
                                    <div class="team-member-name">
                                      <a href="#" id="view" name="{{$element.rosterid}}" value="{{$element.lineupid}}" class="list-title vieweditLineup">
                                        {{ $element.lineup_name }}
                                        {{if compare $element.save_draft_lineup "1" | and (compare $active_User_Status "false")}}
                                        <span class="savedraftteam"> (Shared w/ team)</span>
                                        {{end}}
                                      </a> 
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="dasboard-team-table-th">EVENT/PRACTICE</div>
                                  <p class="team-table-side text-capitalize "></p>
                                </td>
                                <td>
                                  <div class="dasboard-team-table-th">ROSTER</div>
                                  <p class="team-table-side text-capitalize levelAppend_{{ $element.fk_user_id }}">{{ $element.name }}</p>
                                </td>
                                <td>
                                <div class="dasboard-team-table-th">MEMBERS</div>
                                <p class="team-table-side weightAppend_{{ $element.fk_user_id }}">{{ $element.memberlength }}</p>
                                </td>
                                {{ if $isLoggedIn }} {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin | or (compare (convertToString $userId) $teamCaptainId)}}
                                  <td>
                                    <a tabindex="0" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover"
                                    data-trigger='focus' data-placement="left"  data-content="<ul class='popover-waiver'><li><a class=vieweditLineup id='edit' name={{$element.rosterid}} value={{$element.lineupid}} href=# >Edit</a></li><li><a href=# class=vieweditLineup id='duplicate' name={{$element.rosterid}} value={{$element.lineupid}} href=# >Duplicate</a></li> <li><a id=deleteLineup value={{$element.lineupid}} href=# >Delete</a></li></ul>">
                                      <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                    </a>
                                  </td>
                                  {{ end }} {{ end }}
                            </tr>
                          {{end}}
                        {{end}}
                      {{ end }}
                    </tbody>
                  </table>
                </div>
                {{else}}
                <div class="dasboard-team-member-content" style="text-align: center;">
                    <div class="team-member-name">
                        No Lineup in this team
                    </div>
                </div>
                {{end}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>