<!DOCTYPE html>
<html>
<head>
	<title> Order Event | Gushou</title>
  {{ template "linksScripts.html" . }}
</head>
<body>
  {{ template "headerAfterLogin.html" . }}
</body>
{{$paymentCurrencySymbol := .PaymentCurrencySymbol}}
<div id="main-content">
  <div class="container" style="background: #fff;margin-bottom: 70px;">
    
    <div class="row">
      {{if .RegisterTeamDetail}}
      {{ range $e2 := .RegisterTeamDetail}} 
      <div class="main-content-header">
        <div class="col-md-2 custom-header-col-left">
          <div class="header-profile">
            {{if $e2.path }}
            <img src="{{$e2.path}}" class="img-circle">
            {{else}}
            <img src="/static/images/Default-Team-Images.png " class="img-circle">
            {{end}}
          </div>
        </div>

        <div class="col-md-8 custom-header-col-right">
          <div class="row">
            <div class="col-md-12">
              <h2>{{ $e2.team_name}}</h2>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="event-header-details" style='margin-left: 13px;'>
                  <li class="label-bold">
                    <i class="ti-location-pin"></i>
                    {{ $e2.team_country}}, {{ $e2.team_from}}, {{ $e2.team_province}}
                  </li>
                </ul>
              </div>
            </div>
           </div>
        </div>
      </div>
      {{end}}
      {{end}}
      <section class="create-box-section" style=" margin-bottom: 0px;">

          <nav class="breadcrumb" style="padding-top:21px;background-color: #fff;margin-bottom: 12px;padding-left: 43px;">
                                   
            <a class="breadcrumb-item logheader" style='color :#3a4642' id="" value=""  href="/team-view/{{.teamSlug}}/team_event_payment">Event Registrations</a>

            <span class="breadcrumb-item active logteamname">Payment Log</span>
          </nav>
          {{if .PaymentTrackingDetails}}
          <div class="">
            <div class="col-md-12 dashboard-content heading_style" style="margin-bottom: 0px !important;margin-bottom: 20px; padding-top:0px ">
              <table id="team_members" style="width:96%;margin: auto;" class="table dashboard-table event-view-table-overwrite dasboard-team-table responsive-table">
                <thead>
                  <tr>
                   
                    <th class="col-md-2 col-sm-2 col-xs-2 tex_align_c">ORDER DETAILS</th>
                    <th class="col-md-1 col-sm-2 col-xs-2 tex_align_c">INVOICE</th>
                    <th class="col-md-3 col-sm-2 col-xs-2 tex_align_c">TRANSACTION DATE</th>
                    <th class="col-md-3 col-sm-3 col-xs-3 tex_align_c">STATUS</th>
                    <th class="col-md-2 col-sm-2 col-xs-2 tex_align_c">PAID</th>
                    <th class="col-md-2 col-sm-2 col-xs-2 tex_align_c">BALANCE</th>
                    <th class="col-md-2 col-sm-2 col-xs-2 tex_align_c">TRANSACTION NOTES</th>
                   
                  </tr>
                </thead>
                <tbody>
              
                  {{  range $e2 := .PaymentTrackingDetails}}
                  <tr class=''>
                   
                    <td>
                      <div class="dasboard-team-table-th">ORDER DETAILS</div>
                      <div class="team-member-name tex_align_c">
                        <a class="event-list-title">
                            {{$e2.fk_event_reg_pay}}
                        </a>
                      </div>
                     </td>
                     <td>
                      <div class="dasboard-team-table-th">INVOICE</div>
                      <div class="team-member-name tex_align_c">
                          {{if $e2.invoicepath}}
                          <a class="event-list-title" href="{{$e2.invoicepath}}" target="_blank">
                            {{$e2.id}}
                            <img src="/static/images/download_icon.png" class="imgdownload">
                          </a>
                          {{else}}
                          <a class="event-list-title" href="/stripe/downloadeventregistrationinvoice/{{$e2.id}}" target="_blank">
                            {{$e2.id}}
                            <img src="/static/images/download_icon.png" class="imgdownload">
                          </a>
                          {{end}}
                      </div>
                     </td>
                    <td>
                      <div class="dasboard-team-table-th">TRANSACTION DATE</div>
                      <div class="team-member-name tex_align_c">
                        <a class="event-list-title1">
                            {{$e2.tempcreatedate}}
                        </a>
                      </div>
                    </td>
                    <td>
                      <div class="dasboard-team-table-th">STATUS</div>
                      <div class="team-member-name tex_align_c">
                        <a class="event-list-title1">
                            {{if compare $e2.transaction_action "owing"}} 
                            Fee Change
                            {{else}}
                            Paid{{if compare $e2.transaction_type "stripe"}} <span class="span_cure_tex"> (online) </span>{{else}} <span class="span_cure_tex">(offline) </span> {{end}}
                            {{end}}
                          </a>
                      </div>
                    </td>
                    <td>
                      <div class="dasboard-team-table-th">PAID</div>
                      <div class="team-member-name tex_align_c">
                        <a class="event-list-title1">
                            {{if compare $e2.transaction_action "owing"}} 
                            {{$paymentCurrencySymbol}} 0.00
                            {{else}}
                            {{$paymentCurrencySymbol}} {{$e2.formatedamount}} 
                            {{end}}
                            
                        </a>
                      </div>
                    </td>
                    <td>
                      <div class="dasboard-team-table-th">BALANCE</div>
                      <div class="team-member-name tex_align_c">
                        <a class="event-list-title1">
                          {{$paymentCurrencySymbol}} {{$e2.formated_balanceamount}}
                        </a>
                      </div>
                    </td>
                    <td>
                      <div class="dasboard-team-table-th">TRANSACTION NOTES</div>
                      <div class="team-member-name tex_align_c">
                          {{if $e2.transaction_note}}
                        <div class='note-tooltip'><i class='ti-notepad'></i><div class='class-tooltip waiver-medicalcondition'>{{$e2.transaction_note}}</div></div>
                     {{end}}
                      </div>
                    </td>
                  </tr>
                  {{end}}
                </tbody>
              </table>
            </div>
          </div>
          {{else}}
          <div class="col-md-12 dashboard-content heading_style" style="margin-bottom: 0px !important;margin-bottom: 20px; padding-top:0px ;text-align: center; padding: 20px;">
            There have been no payments to track yet!
          </div>
          {{end}}
      </section>
    </div>
  </div>
</div>

</html>