
{{ $isLoggedIn := .IsLoggedIn }}
{{ $superAdmin := .SuperAdmin}}
{{ $userId := .UserId }}
{{ $teamCaptainId := .TeamCaptainId }}
{{ $coCaptains := .CoCaptains }}
<div class="col-md-12 dashboard-content member-dashboard">
 <ul class="nav nav-tabs" style="padding-bottom: 0px;">
    <input type="hidden" value="{{len .TeamMembers}}" id="activeTeamMemberCount" >
    {{if .TeamMembers}}
    <li class="active memberstabactive teamMemberActiveId" value="activeMembersClick" ><a id="activeMembersClick"  class="text-center" data-toggle="pill" href="#activeMembers">ACTIVE MEMBERS <span class="badge-header badge badge-light">{{if (len .TeamMembers) gt 0 }} {{len .TeamMembers}} {{else}} 0 {{end}}</span></a></li>
    {{ end }}
    {{ if $isLoggedIn | and .TeamPendingReq  }}
      {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin | or (compare (convertToString $userId) $teamCaptainId) }}
      <li  class="memberstabactive teamMemberActiveId" value="pendingMembersClick"><a id="pendingMembersClick" class="text-center" data-toggle="pill" href="#pendingMembers">PENDING REQUESTS <span class="badge-header badge badge-light">{{if (len .TeamPendingReq) gt 0 }} {{len .TeamPendingReq}} {{else}} 0 {{end}}</span></a></li>
      {{end}}
    {{end}}
  </ul> 
  <div class="team-members-section tab-content" style="display: block;">
    <div id="activeMembers" class="tab-pane fade in active">
      <section class="row dashboard-members">
        <div class="col-md-12">
          <div class="content-padding">
            <div class="active-members">
              <div class="row">
                <div class="col-md-8">
                  <div class="search-members padding-10">
                    <div class="input-group search-members-override">
                      <span class="input-group-addon"><i class="ti-search"></i></span>
                      <input type="text" id="searchByUName" class="form-control" placeholder="Search team members">
                    </div>
                  </div>
                </div>
                {{ if .IsLoggedIn }} {{ if in_array (convertToString .UserId) .CoCaptains | or .SuperAdmin | or (compare (convertToString $userId) $teamCaptainId) }}
                  <div class="col-md-2">
                    <div class="dashboard-schedule-nav no-margin text-right active-member-option message-team padding-10">
                      <a href="" id="messageTeam" class="btn btn-thin btn-phantom-green">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <span>Email</span>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="dashboard-schedule-nav no-margin text-right active-member-option padding-10"> 
                      <a href="" id="sendInvite" class="btn btn-thin btn-phantom-green">
                        <span class="ti-plus"></span>
                        <span>Add Members</span>
                      </a>
                    </div>
                  </div>
                {{ end }} {{ end }}
              </div>
              
              <div class="row">
                <div class="col-md-12">
                  <div class="dasboard-team-table-container">
                    <table id="team_members" class="table dashboard-table dasboard-team-table responsive-table">
                      <thead>
                        <tr>
                          {{ if .IsLoggedIn }}
                           {{ if in_array (convertToString $userId) .CoCaptains | or .SuperAdmin | or (compare (convertToString $userId) $teamCaptainId)}}
                              <th class="col-md-1">
                                <div class="md-checkbox">
                                  <input id="select_all_members" class="md-check" type="checkbox">
                                  <label for="select_all_members">
                                    <span class="check"></span>
                                    <span class="box"></span>
                                  </label>
                                </div>
                              </th>
                            {{ end }}
                          {{ end }}
                          
                              <th class="col-md-4">NAME</th>
                              <th class="col-md-1">SIDE</th>
                              <th class="col-md-2">SKILL</th>
                          {{ if .IsLoggedIn }}
                            {{ if in_array (convertToString .UserId) .CoCaptains | or .SuperAdmin | or (compare (convertToString $userId) $teamCaptainId)}}
                              <th class="col-md-1">WEIGHT</th>
                              <th class="col-md-4">CONTACT</th>
                              <th class="col-md-1"></th>
                            {{end}}
                          {{end}}
                        </tr>
                      </thead>
                      <tbody>
                        {{ range $index, $element := .TeamMembers }}
                          <tr>
                            {{ if $isLoggedIn }}
                              {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin | or (compare (convertToString $userId) $teamCaptainId) }}
                                <td>
                                  <div class="md-checkbox">
                                    <input id="mem_{{ $element.fk_user_id }}" name="team_members[]" value="{{ $element.fk_user_id }}" class="md-check manage-team-checkbox" type="checkbox">
                                    <label for="mem_{{ $element.fk_user_id }}">
                                      <span class="check"></span>
                                      <span class="box"></span>
                                    </label>
                                  </div>
                                </td>
                              {{ end }}
                            {{ end }}
                            <td>
                              <div class="dasboard-team-table-th">NAME</div>
                              <div class="dasboard-team-member-image">
                                {{ if $element.files }}
                                  <img src="{{ $element.files }}" class="img-circle">
                                {{ else }}
                                  <img src="/static/images/user-default.png" class="img-circle">
                                {{ end }}
                              </div>
                              <div class="dasboard-team-member-content">
                                <div class="team-member-name">
                                  <a class="list-title">
                                    {{ $element.name }} {{ $element.last_name }}
                                  </a> 
                                </div>
                                <p>
                                  {{ if $isLoggedIn }}
                                  {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin | or (compare (convertToString $userId) $teamCaptainId) }}
                                    {{ $element.classes }}, {{ $element.age }}
                                   {{end}}
                                  {{end}}
                                  {{ if in_array $element.fk_user_id $coCaptains  | or $superAdmin | or (compare $element.fk_user_id $teamCaptainId)}}
                                    {{ if compare $element.fk_user_id $teamCaptainId }}
                                      <span class="label-orange">Captain</span>
                                    {{ else if in_array $element.fk_user_id $coCaptains }}
                                      <span class="label-gray">CO-CAPTAIN</span>
                                    {{ end }}
                                  {{ end }}
                                </p>
                              </div>
                            </td>
                            <td>
                              <div class="dasboard-team-table-th">SIDE</div>
                              <p class="team-table-side text-capitalize sideAppend_{{ $element.fk_user_id }}">{{ $element.paddling_side }}</p>
                            </td>
                            <td>
                              <div class="dasboard-team-table-th">SKILL</div>
                              <p class="team-table-side text-capitalize levelAppend_{{ $element.fk_user_id }}">{{ $element.skill_level }}</p>
                            </td>
                            {{ if $isLoggedIn }}
                              {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin | or (compare (convertToString $userId) $teamCaptainId) }}
                                  <td>
                                    <div class="dasboard-team-table-th">WEIGHT</div>
                                    <p class="team-table-side weightAppend_{{ $element.fk_user_id }}">{{if $element.weight }} {{if gt $element.weight "0" }}{{ $element.weight }} lbs {{end}} {{end}}</p>
                                  </td>
                                  <td>
                                    <div class="dasboard-team-table-th">CONTACT</div>
                                    <!-- <p class="team-table-side">{{ $element.accepted_date_format }}</p> -->
                                    <p class="team-table-side tm-display">
                                      <i class="ti-email"></i> {{ $element.email_address }}
                                    </p>
                                    <p class="team-table-side tm-display isPhoneNumValid">
                                      {{if $element.country_dial_code | and $element.phone  }}
                                      <i class="fa fa-phone"></i> {{ $element.country_dial_code }}-{{ $element.phone }}
                                      {{ end }}
                                    </p>
                                  </td>
                                  <td>
                                  {{ if compare $element.fk_user_id $teamCaptainId }}
                                    {{ if $superAdmin }}
                                    <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
                                     data-content="<ul class='popover-waiver'><li><a id={{ $element.fk_user_id }} class=editIndividualUser href=# >Edit</a></li> <li><a style=color:black; id={{ $element.fk_user_id }} class=msgMembers href=#>Email</a></li></ul>">
                                      <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                    </a>
                                    {{ else }}
                                    <a tabindex="0" data-trigger="focus" role="button"class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
                                    data-content="<ul class='popover-waiver'><li><a id={{ $element.fk_user_id }} class=editIndividualUser href=# >Edit</a></li> <li><a style=color:black; id={{ $element.fk_user_id }} class=msgMembers href=#>Email</a></li>{{ if ne (convertToString $userId) $teamCaptainId }} <li><a id={{ $element.fk_user_id }} class=remove_captain href=#>Switch roles w/ captain</a></li>{{end}}</ul>">
                                      <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                    </a>

                                    {{ end }}
                                  {{ else }}
                                    {{ if $superAdmin }}
                                    <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
                                   data-content="<ul class='popover-waiver'><li><a id={{ $element.fk_user_id }} class=editIndividualUser href=# >Edit</a></li><li><a id={{ $element.fk_user_id }} class=add_captain_admin_submit href=#>Appoinment-as-captain</a></li> {{ if in_array $element.fk_user_id $coCaptains }}{{ if compare $element.fk_user_id $teamCaptainId }}<li><a id={{ $element.fk_user_id }} class=remove_cocaptain href=#>Remove co-captain status</a></li>{{ else }}<li><a id={{ $element.fk_user_id }} class=remove_cocaptain href=#>Remove co-captain status</a></li>{{ end }}{{ else }}<li><a id={{ $element.fk_user_id }} class=co_captain href=#>Appoint as co-captain</a></li>{{ end }}<li><a id={{ $element.fk_user_id }} class=msgMembers href=#>Email</a></li><li><a id='removeIndividualMember' href=# value ={{$element.fk_user_id}}>Remove from team</a></li></ul>">
                                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                    </a>

                                    {{else}}
                                    <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
                                    data-content="<ul class='popover-waiver'><li><a id={{ $element.fk_user_id }} class=editIndividualUser href=# >Edit</a></li> {{ if in_array $element.fk_user_id $coCaptains }}{{ if compare $element.fk_user_id $teamCaptainId }}<li><a id={{ $element.fk_user_id }} class=remove_cocaptain href=#>Remove co-captain status</a></li>{{ else }}<li><a id={{ $element.fk_user_id }} class=remove_cocaptain href=#>Remove co-captain status</a></li>{{ end }}{{ else }}<li><a id={{ $element.fk_user_id }} class=co_captain href=#>Appoint as co-captain</a></li>{{ end }}<li><a id={{ $element.fk_user_id }} class=msgMembers href=#>Email</a></li><li><a id='removeIndividualMember' href=# value ={{$element.fk_user_id}}>Remove from team</a></li></ul>">
                                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                    </a>
                                    {{ end }}	
                                  {{ end }}																	
                                </td>
                             {{ end }}
                            {{ end }}
                          </tr>
                        {{ end }}
                       </tbody>
                    </table>
                    <div id="memberusernotfount" class="members-no-users" style="display: none;">
                      <div class="team-member-name">
                          No user found
                       </div>
                     </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div id="pendingMembers" class="tab-pane fade">
      {{ if $isLoggedIn }}
        {{ if .TeamPendingReq }}
          {{ $userId := .UserId }}
          {{ $teamCaptainId := .TeamCaptainId }}
          {{ $isLoggedIn := .IsLoggedIn }}
          {{ $superAdmin := .SuperAdmin }}
          
          {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin | or (compare (convertToString $userId) $teamCaptainId)}}
            <section class="row dashboard-members">
              <div class="col-md-12">
                <div class="content-padding">
                  <div>
                    <div class="row">
                      {{ if $isLoggedIn }}
                        {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin | or (compare (convertToString $userId) $teamCaptainId) }}
                          <div class="col-md-6 pull-right pending-member-option">
                            <div class="text-right">
                              <a id="resendInvite" href="" class="btn btn-thin btn-phantom-green">Resend invite</a>
                              <a id="cancel_invite" href="" class="btn btn-thin btn-phantom-orange">Remove</a>
                            </div>
                          </div>
                        {{ end }}
                      {{ end }}
                    </div>
                    <div class="row pending-members">
                      <div class="col-md-12">
                        <div class=" pending-request-div">
                          <table id="team_pending_members" class="table dashboard-table pending-request-table responsive-table">
                            <thead>
                              <tr>
                                {{ if $isLoggedIn }}
                                  {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin | or (compare (convertToString $userId) $teamCaptainId)}}
                                    <th class="col-md-1">
                                      <div class="md-checkbox">
                                        <input id="select_all_pending" name="select_all" class="md-check" type="checkbox">
                                        <label for="select_all_pending">
                                          <span class="check"></span>
                                          <span class="box"></span>
                                        </label>
                                      </div>
                                    </th>
                                  {{ end }}
                                {{ end }}
                                <th class="col-md-4">NAME</th>
                                <th class="col-md-4">EMAIL</th>
                                <th class="col-md-3">FIRST REQUEST</th>
                                <th class="col-md-1"></th>
                              </tr>
                            </thead>
                            <tbody>
                              {{ range $user := .TeamPendingReq }}
                                <tr>
                                  {{ if $isLoggedIn }}
                                    {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin | or (compare (convertToString $userId) $teamCaptainId)}}
                                      <td>
                                        <div class="md-checkbox">
                                          <input id="{{ if $user.fk_member_id }}pm_{{$user.fk_member_id}}{{ else }}{{$user.email}}{{ end }}" name="pending_members[]" value="{{ if $user.fk_member_id }}{{$user.fk_member_id}}{{ else }}{{$user.email}}{{ end }}" class="md-check" type="checkbox">
                                          <label for="{{ if $user.fk_member_id }}pm_{{$user.fk_member_id}}{{ else }}{{$user.email}}{{ end }}">
                                            <span class="check"></span>
                                            <span class="box"></span>
                                          </label>
                                        </div>
                                      </td>
                                    {{ end }}
                                  {{ end }}
                                  <td>
                                    {{ if $user.files }}
                                      <img src="{{ $user.files }}" class="img-circle"> 
                                    {{ else }}
                                      <img src="/static/images/user-default.png" class="img-circle">
                                    {{ end }}
                                    <a class="list-title">
                                      {{ $user.name }} {{ $user.last_name }}
                                    </a>
                                  </td>
                                  <td>{{ $user.email }}</td>
                                  <td>{{ $user.first_request_date }}</td>
                                  {{ if $isLoggedIn }}
                                    {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin  | or (compare (convertToString $userId) $teamCaptainId)}}
                                      <td>
                                        <a tabindex="0" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
                                      data-trigger='focus' data-content="<ul class='popover-waiver'><li><a id=resendIndividualInvite value={{ if $user.fk_member_id }}{{$user.fk_member_id}}{{ else }}{{$user.email}}{{ end }} href=#>Resend invite</a></li><li><a id=removeIndividualInvite value={{ if $user.fk_member_id }}{{$user.fk_member_id}}{{ else }}{{$user.email}}{{ end }} href='#'>Remove</a></li></ul>">
                                          <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                        </a>
                                      </td>
                                    {{ end }}
                                  {{ end }}
                                </tr>
                              {{ end }}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>



<!-- Commented codes to be used -->

<!-- Active Members count -->
  <!-- <div class="active-member-count text-center">{{ .MemberCount}}</div> -->
<!-- Pending Request count -->
<!--
  <div class="col-md-1 pending-member-count text-center active-member-overwrite">
    <div style="margin-top: -2px;">{{ .TeamPendingReqCount}}</div>
  </div>
-->