<!DOCTYPE html>
<html>
<head>
	<title>Gushou</title>
	{{ template "linksScripts.html" . }}
</head>
<body>
	{{ template "headerAfterLogin.html" . }}


	<div id="main-content">
		<div class="container">
			<div class="row">
				<div class="main-content-header teams-all-header">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<h2>Teams</h2>
								<!-- <p><a href="((pathFor 'dashboard'))" class="small"><i class="ti-arrow-left"></i> Back to Dashboard</a></p> -->
								<p><a href="/dashboard" class="small"><i class="ti-arrow-left"></i> Back to Dashboard</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<section class="listing-status teams-all-content-filter">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="btn-group" role="group">
							<!-- <button type="button" id="my_teams" class="btn btn-phantom-green active">I Manage ((myTeamCount))</button> -->
							<!-- <button type="button" id="other_teams" class="btn btn-phantom-green">I'm On ((userTeamCount))</button> -->
							<button type="button" id="my_teams" class="btn btn-phantom-green ">I Manage [{{ .TeamManageCount }}]</button>
							<button type="button" id="other_teams" class="btn btn-phantom-green">I'm On [{{ .TeamPartOfCount }}]</button>
							<button type="button" id="all_teams" class="btn btn-phantom-green active">All [{{ .AllTeamsCount }}]</button>
						</div>
					</div>
				</div>
			</section>

			<div class="row teams-all-content">
				<div class="content-padding">
					<div class="col-md-12">
						<table class="table dashboard-table responsive-table teams-all-table ">
							<thead>
								<tr>
									<th class="col-md-1"></th>
									<th class="col-md-4">NAME</th>
									<th class="col-md-2">LOCATION</th>
									<th class="col-md-3">DIVISION</th>
								</tr>
							</thead>
							<tbody>
								{{ if .TeamManage }}
								<!-- ((each myTeams)) -->
								{{ range $index, $element := .TeamManage }}
								<tr class="my_teams hide">
									<td>
										{{ if $element.logo_url }}
										<img src="{{ $element.logo_url }}" class="img-circle"/> 
										{{ else }}
										<img src="../static/images/Default-Team-Images.png" class="img-circle">
										{{ end }}
									</td>
									<!-- <td><a href="((pathFor 'teamView'))">((shortend team_name))</a></td> -->
									<!-- <td><a href="teamView.html">((shortend team_name))</a></td> -->
									<!-- <td>((team_province)), ((team_country))</td> -->
									<td><a href="/team-view/{{ $element.slug }}">{{ $element.team_name }}</a></td>
									<td>{{ $element.team_province }}, {{ $element.team_country }}</td>
									<td>
										<ul class="list-classes">

											{{ if $element.divs }}
											{{ range $e2 := $element.divs }}
											<!-- ((each divisions)) -->
											<!-- <li class="list-class">((this)) -->
												<!-- <div class="class-tooltip">((fullDivisionName this))</div> -->
											<li class="list-class">{{ $e2 }}
												<div class="class-tooltip">{{ $e2 | GetFullDivName }}</div>
											</li>
											<!-- ((/each)) -->
											{{ end }}
											{{ end }}
										</ul>
									</td>
								</tr>
								<!-- ((/each)) -->
								{{ end }}
								{{ else }}
								<tr class="my_teams hide">
									<td></td>
									<td><a href="" class="list-title">No teams</a></td>
									<td></td>
									<td></td>
								</tr>
								{{ end }}

								{{ if .TeamPartOf }}
								{{ range $index, $element := .TeamPartOf }}
								<tr class="other_teams hide">
									<td>
										{{ if $element.logo_url }}
										<img src="{{ $element.logo_url }}" class="img-circle"/> 
										{{ else }}
										<img src="../static/images/Default-Team-Images.png" class="img-circle">
										{{ end }}
									</td>
									<!-- <td><a href="((pathFor 'teamView'))">((shortend team_name))</a></td> -->
									<!-- <td><a href="teamView.html">((shortend team_name))</a></td> -->
									<!-- <td>((team_province)), ((team_country))</td> -->
									<td><a href="/team-view/{{ $element.slug }}">{{ $element.team_name }}</a></td>
									<td>{{ $element.team_province }}, {{ $element.team_country }}</td>
									<td>
										<ul class="list-classes">
											{{ range $e2 := $element.divs }}
											<!-- ((each divisions)) -->
											<!-- <li class="list-class">((this)) -->
												<!-- <div class="class-tooltip">((fullDivisionName this))</div> -->
											<li class="list-class">{{ $e2 }}
												<div class="class-tooltip">{{ $e2 | GetFullDivName }}</div>
											</li>
											<!-- ((/each)) -->
											{{ end }}
										</ul>
									</td>
								</tr>
								{{ end }}
								{{ else }}
								<tr class="other_teams hide">
									<td></td>
									<td><a href="" class="list-title">No teams</a></td>
									<td></td>
									<td></td>
								</tr>
								{{ end }}

							</tbody>

							{{ if .AllMyTeams }}
								
								{{ range $index, $element := .AllMyTeams }}
								<tr class="all_teams">
									<td>
										{{ if $element.logo_url }}
										<img src="{{ $element.logo_url }}" class="img-circle"/> 
										{{ else }}
										<img src="../static/images/Default-Team-Images.png" class="img-circle">
										{{ end }}
									</td>
									<td><a href="/team-view/{{ $element.slug }}">{{ $element.team_name }}</a></td>
									<td>{{ $element.team_province }}, {{ $element.team_country }}</td>
									<td>
										<ul class="list-classes">

											{{ if $element.divs }}
											{{ range $e2 := $element.divs }}
											<li class="list-class">{{ $e2 }}
												<div class="class-tooltip">{{ $e2 | GetFullDivName }}</div>
											</li>
											{{ end }}
											{{ end }}
										</ul>
									</td>
								</tr>
								
								{{ end }}


							{{ else }}
								<tr class="all_teams">
									<td></td>
									<td><a href="" class="list-title">No teams</a></td>
									<td></td>
									<td></td>
								</tr>
							{{ end }}
						</table>

						
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ template "footer.html" . }}

</body>
</html>