{{ $isLoggedIn := .IsLoggedIn }}
{{ $superAdmin := .SuperAdmin}}
{{ $userId := .UserId }}
{{ $teamCaptainId := .TeamCaptainId }}
{{ $coCaptains := .CoCaptains }}

<div class="col-md-12">
	<div class="row equal">
		<div class="col-md-6 vertical-center">
			<h3>Schedule & Attendance</h3>
			<a class="tooltips" href="#"><i class="ti-info-alt"></i>
				<div>Add practice dates and details. <br/><br/>Track attendance, update responses and send practice reminders. <br/><br/>Edit calendar in week mode and see overview in month mode.</div>
			</a>			
		</div>
		<div class="col-md-6 text-right team-schedule">
			<a href="" id="show-schedule-grid" class="hide"><i class="ti-calendar"></i></a>
			<a href="" id="show-schedule-list" class="hide"><i class="ti-menu-alt"></i></a>
			<!-- ((if is_coCaptain ../slug currentUser._id)) -->
			{{ if .IsLoggedIn }}
			{{ if in_array (convertToString .UserId) .CoCaptains | or .SuperAdmin | or (compare (convertToString $userId) .TeamCaptainId) }}
			<a id="add_practice" href="" class="btn btn-thin btn-phantom-green"> <span class="ti-plus"></span>
				<span>Add</span></a>
			<!-- ((/if)) -->
			{{ end }}
			{{ end }}
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="dashboard-schedule-nav">
				<ul class="nav nav-pills"> 
					<li role="presentation" class="active" id="whole_schdule"><a href="">All</a></li>
					<li role="presentation" id="only_practices"><a href="">Practices</a></li>
					<li role="presentation" id="only_activity"><a href="">Activity</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<ul class="dashboard-schedule-month">
				<li>
					<a href="" id="prev_week" ><i class="ti-angle-left"></i></a>
				</li>
				<!-- <li id="week_cal" class="">((startDateofWeek)) - ((endDateofWeek))</li> -->
				<!-- <li id="month_cal" class="schedule-month hide">((teamCurrentMonth))</li> -->
				<li id="week_cal" class=""></li>
				<li id="month_cal" class="schedule-month hide"></li>
				<li>
					<a href="" id="next_week" ><i class="ti-angle-right"></i></a>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<div class="dashboard-schedule-view">
				<ul class="nav nav-pills">
					<li role="presentation" id="week_events" class="active"><a href="">Week</a></li>
					<li role="presentation" id="month_events" ><a href="">Month</a></li>
				</ul>										
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{{ if .TeamPractice }}
			<table id="schedule_table" class="table responsive-table dashboard-schedule-table ">
				<tbody>
					{{ range $rtp:= .xyz }}
					<!-- ((each upcomingEvents)) -->
					<tr class="up_events">
						<td class="col-md-2">
							<div class="team-schedule-date">
								<!-- <h5>((getWeekDay start_date))</h5> -->
								<!-- <p>((monthDate start_date))</p> -->
								<!-- <h5>getWeekDay start_date</h5>
								<p>monthDate start_date</p> -->
							</div>
						</td>
						<td class="col-md-1 text-center">
							<!-- ((if event_logo_url _id)) -->
							<!-- <img src="((event_logo_url _id))" class="img-circle"/> -->
							<!-- ((else)) -->
							<img src="/static/images/Default-Event-Images.png" class="img-circle">
							<!-- ((/if)) -->
						</td>
						<td class="col-md-9">
							<!-- <h3>((event_name))</h3> -->
							<!-- <p>((venue_name)), ((venue_street_address)), ((location))</p> -->
							<!-- <h3>event_name</h3>
							<p>venue_name, venue_street_address, location</p> -->
						</td>
					</tr>
					<!-- ((/each)) -->
					{{ end }}

					<!-- ((each recurring_team_practices)) -->
					
					
					{{ range $each := .TeamPractice }}
					<tr class="team_{{$each.team_practices_type}} hide {{ $each.repeats}} week_num_year_{{ CovertToInt $each.tempweek_number }}_{{ $each.year }} month_year_{{ CovertToMonth $each.tempmonth}}_{{ $each.year }}">
						<td class="col-md-1">
							
									<!-- <h5>((getWeekDay practice_date))</h5>
									<p>((monthDate practice_date))</p>
									<p>((practice_time))</p> -->
									<!-- <h5>getWeekDay practice_date</h5>
									<p>monthDate practice_date</p>
									<p>practice_time</p> -->
									{{if compare $each.team_practices_type "Activity" }}
									{{if $each.end_week_day }}
									<div class="schedule-date" style="width: 100px;height: 170px;">
										<h5>{{ $each.week_day }}</h5>
										<p>{{ $each.month_day }} </p>
										<p>{{ $each.practice_time }}</p>
									
										<span>-</span>
										<h5>{{ $each.end_week_day }}</h5>
										<span class="schedule-span">{{ $each.end_month_day }}</span>
										<span class="hide">{{ $each.practice_time }}</span>
									</div>
									{{else}}
									<div class="schedule-date" style="width: 100px;height: 100px;">
										<h5>{{ $each.week_day }}</h5>
										<p>{{ $each.month_day }} </p>
										<p>{{ $each.practice_time }}</p>
									</div>
									{{end}}
									{{else}}
									<div class="schedule-date" style="width: 100px;height: 100px;">
									<h5>{{ $each.week_day }}</h5>
									<p>{{ $each.month_day }}</p>
									<p>{{ $each.practice_time }}</p>
								  </div>
									{{end}}
									
							</td>
							<td class="col-md-1 text-center">
								{{ if $each.logo_url }}
								<img src="{{ $each.logo_url }}" class="img-circle"/>
								{{ else }}
								<img src="/static/images/Default-Team-Images.png" class="img-circle">
								{{ end }}	

							</td>
							<td class="col-md-6">
								<div class="schedule-practice" data-practicetype="{{$each.team_practices_type}}" >
									
									<h3>
										<!-- ((teamName team_id)) -->
										{{ $each.team_name }}
										{{ if $each.note }}

										{{ if gt (len (html2str $each.note) ) 0}}
										<!-- <span class="note-tooltip"><i class="ti-notepad"></i><div class="class-tooltip">((note))</div></span> -->
										
										<span class="note-tooltip">
											<i class="ti-notepad"></i>
											<div class="class-tooltip">
												<div class="note-padding">{{ str2html $each.note }}</div>

											</div>
										</span>
										
										{{ end }}

										{{ end }}
									</h3>

									<div class="li-class">
										<ul>
											<!-- <li>((practice_length)) mins</li> -->
											<!-- <li>((practice_location))</li> -->
											{{if compare $each.practice_length  "1440"}}
											{{if $each.end_week_day }}
											<li>full days </li>
											{{else}}
											<li>full day</li>
											{{end}}
											{{else}}
											<li>{{ $each.practice_length }}mins</li>
											{{end}}
											<li>{{ $each.practice_location }}</li>
										</ul>
									</div>
									<!-- ((if is_coCaptain ../slug currentUser._id)) -->
									
									{{ if $isLoggedIn }}
											{{ if compare $userId $teamCaptainId | or $superAdmin | or (in_array ( convertToString $userId )  $coCaptains) }}
											<div class="li-class">
												<ul class="listing-delete">
													<li><button id="{{ $each.id }}" type="button" class="listing-delete editPractice">{{if compare $each.team_practices_type "Activity" }} Edit Activity {{else}}Edit Practice {{end}}</button></li>
													<li><button id="{{ $each.id }}" type="button" class="listing-delete removePractice">Delete</button></li>
												</ul>
											</div>
											<!-- ((/if)) -->
										{{ end }}
									{{ end }}
								</div>
							</td>
							{{ if $isLoggedIn }}
							{{ if compare $userId $teamCaptainId | or $superAdmin | or (in_array ( convertToString $userId )  $coCaptains) }}

							
							<td class="col-md-1 availability">
								<li class="dropdown">
									<button type="button" class="attendees" id="practice_{{ $each.id }}">
										{{ if compare $each.attendees "1" }}
										<u id="u_practice_{{ $each.id }}" >{{ $each.attendees }} attendee</u>
										{{ else }}
										<u id="u_practice_{{ $each.id }}" >{{ $each.attendees }} attendees</u>
										{{ end }}
									</button>
								</li>
							</td>
							

							{{ end }}
							{{ end }}
						</tr>
						<!-- ((/each)) -->
						{{ end }}
						
					</tbody>
				</table>
				{{ end }}
				<div class="team-schedule-grid hide">
					<!-- ((>fullcalendar calendarOptions)) -->
					<div id="calendar-schedule" ></div>
				</div>
			</div>
		</div>
	</div>
