<div class="col-md-12 dashboard-content" >
    {{ $userId := .UserId }}
    {{ $teamCaptainId := .TeamCaptainId }}
    {{ $isLoggedIn := .IsLoggedIn }}
    {{ $superAdmin := .SuperAdmin }}
    {{ $coCaptains := .CoCaptains }}
    {{ if $isLoggedIn }}
    <input type="hidden" value="{{.TeamCaptainId}}" id="waiverTeamCaptainId">
    <input type="hidden" value="{{.CoCaptainsScript}}" id="waiverCoCaptains">
    

    <!-- ((if is_coCaptain team_details.slug currentUser._id)) -->
    {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin | or (compare (convertToString $userId) $teamCaptainId) }}
    <section class="row dashboard-members team-edit-no-padding">
      <div class="col-md-12">
        <div class="dashboard-members-waiver-section">
          <div class="content-padding">
            <div class="row">
              <div class="dashboard-members-notes">
                <div class="col-md-12">
                  <div class="col-md-3">
                      <h3 id="waiverhed">WAIVERS</h3>
                      <a id="waiverback" href="#" onClick="backWaiverList()" class="small waiver-back"><i class="ti-arrow-left"></i> Back</a>
                  </div>
                  <div class="col-md-9 text-right" style="bottom: 7px;padding-right: 2px;">
                      <!-- <a id="uploadWaiverFiles" href="" class="btn btn-phantom-green upload-waivers pull-right"><span class="ti-plus"></span><span> Add Waiver</span></i></a> -->
                    </div>
                </div>
              </div>
            </div>
            
              <div class="row">
                <div class="col-md-12">
                  <div class="dasboard-team-waiver-table-container">
                    <table id="waivertab" class="table dashboard-table dasboard-team-waiver-table">
                      <thead>
                        <tr>
                          <th class="col-md-4">WAIVER NAME</th>
                          <th class="col-md-4">EVENT NAME</th>
                          <th class="col-md-2"></th>
                          <th class="col-md-2"></th>
                        </tr>
                      </thead>
                      {{ if .TeamWaiver}}
                      <tbody>
                        {{ range $w := .TeamWaiver }}

                        {{ $event_slug :=  $w.fk_event_id | GetEventSlug }}
                        {{ $team_slug :=  $w.fk_team_id | GetTeamSlug }}
                        {{ $isWaiverRequestSentorNot := GetWaiverRequestStatus $w.id }}
                        <tr>
                          <td>
                            <div class="dasboard-team-member-content" style="margin-top: 26px;">
                              {{if $isWaiverRequestSentorNot}}
                              <a  value="/waiver/{{ $event_slug }}/{{ $team_slug }}" name="{{ $team_slug }}" href="#/" class="list-title viewWaiverPage">
                                <!-- ((waiver_name)) -->
                                {{ $w.waiver_name }}
                              </a>
                              {{else}}
                              <a  class="list-title viewWaiverPage">
                                <!-- ((waiver_name)) -->
                                {{ $w.waiver_name }}
                              </a>
                              {{end}}
                              <span></span>
                              {{ if $isLoggedIn }}
                              {{ if in_array (convertToString $userId) $coCaptains | or $superAdmin | or (compare (convertToString $userId) $teamCaptainId) }}
                              <p>
                              <a class="removeWaiver" id="{{ $w.id }}" href="">Remove</a>
                              </p>
                              {{ end }}
                              {{ end }}
                            </div>
                          </td>
                          <td>
                            <!-- ((eventName event_id))  -->
                            {{ $w.event_name }}
                          </td>
                          <td class="text-center">
                            <!-- <a class="advanced-waiver-toggle waiverMembers"><i id="arrow_((_id))" class="ti-angle-down"></i></a> -->
                            <a id="{{$w.id}}" class="advanced-waiver-toggle waiverMembers" onclick="individualWaiver({{$w.id}}, {{$w.fk_team_id}}, {{$w.fk_event_id}}, {{ $w.waiver_name }})" ><u>Send & View Waivers</u></a>
                            <!-- <a id="{{$w.id}}" class="advanced-waiver-toggle waiverMembers"><i id="arrow_{{$w.id}}" class="ti-angle-down arrow"></i></a> -->
                          </td>

                          <td class="text-right">
                            {{if $isWaiverRequestSentorNot}}
                            <a  value="/waiver/{{ $event_slug }}/{{ $team_slug }}" name="{{ $team_slug }}"  href="#/" target="" class="btn btn-thin btn-phantom-green viewWaiverPage">View</a>
                            {{end}}
                          </td>
                        </tr>
                        {{ end }}
                      </tbody>
                      {{ end }}
                    </table>

                    <table id="waiverList" class="table dashboard-table dasboard-team-waiver-table">
                        <tbody>
                          <!-- <tr class="waiver-info-memebers hide" id="waiver_((_id))"> -->
                              <tr class="waiver-info-memebers" id="waivermemberappend">
                              </tr>
                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
          
          </div>
        </div>
      </div>
    </section>
    {{ end }}
    {{ end }}
</div>