<div class="col-md-12 dashboard-content member-dashboard" style='margin-bottom: 20px;' id="viewLineupHide">
    
    <!-- {{ $isLoggedIn := .IsLoggedIn }}
    {{ $superAdmin := .SuperAdmin}}
    {{ $userId := .UserId }}
    {{ $teamCaptainId := .TeamCaptainId }}
    {{ $coCaptains := .CoCaptains }}
    {{ $active_User_Status := .Active_User_Status }} -->
    {{ $superAdmin := .SuperAdmin}}
    <div class="team-members-section tab-content" style="display: block;">
      <div id="activeMembers" class="tab-pane fade in active">
        <section class="row dashboard-members" style='border-bottom:none;'>
          <div class="col-md-12" id="payment">
            <div class="content-padding">
              <div class="active-members">
               <div class="row">
                  <div class="col-md-12">

                    {{if and .Show_TeamPayment_Page .Team_Payment_Detail_List }}
                    <div class="dasboard-team-table-container">
                        
                      <table id="team_members" class="table dashboard-table dasboard-team-table responsive-table">
                        <thead>
                          <tr>
                            <th class="col-md-1"></th>
                            <th class="col-md-5">EVENT NAME</th>
                            <th class="col-md-4">ROSTER STATUS</th>
                            <th class="col-md-3">ORDER NO</th>
                            <th style='text-align: center !important;' class="col-md-5">PAYMENT STATUS | INVOICE</th>
                            <th class="col-md-4">TOTAL PAID</th>
                            <th class="col-md-3">BALANCE</th>
                            <th style='text-align: center !important;' class="col-md-4">TRANSACTION NOTE</th>
                            <th class="col-md-2"></th>
                           
                            </tr>
                        </thead>
                        <tbody>
                          {{  range $e2 := .Team_Payment_Detail_List}}
                          <tr class="teamregisteredpaymentcounts">
                            <td></td>
                            <td>
                              <div class="dasboard-team-table-th">EVENT NAME</div>
                              <div class="dasboard-team-member-content">
                                <div class="team-member-name">
                                  <a href="/event-view/{{$e2.eventslug}}"  class="list-title">
                                    <u style='font-size: 14px;'>{{$e2.event_name}}</u>
                                  </a>
                                </div>
                              </div>
                            </td>
                            <td>
                              <input type="hidden" id="getTeamSlug" value="/team-view/{{$e2.teamslug}}">
                              <div class="dasboard-team-table-th">ROSTER STATUS</div>
                              {{if compare $e2.roster_partial "false"}}
                              <p class="team-table-side text-capitalize marginZero"><a href="" id="submitrosterlatermodel" value="{{$e2.eventid}},{{$e2.evenrregid}}">Incomplete</a></p>
                              {{else if compare $e2.roster_partial "true"}}
                              <p class="team-table-side text-capitalize marginZero "><a  id="" value="{{$e2.eventid}},{{$e2.evenrregid}}" >Complete</a></p>
                              {{end}}
                            </td>
                            <td>
                              <div class="dasboard-team-table-th">ORDER DETAILS </div>
                              <div class="team-member-name"><a id="fromteampayment" href="/event/team-view/{{$e2.eventslug}}/{{$e2.evenrregid}}" value="teampayment" class="list-title"><u style='font-size: 14px;'>{{$e2.orderid}}</u></a></div>
                            </td>
                            <td>
                                <div class="dasboard-team-table-th">PAYMENT STATUS | INVOICE </div>
                                
                                {{if compare $e2.paymentstatus "unpaid"}}
                                <div class="team-member-name team-table-side text-capitalize" style='font-size: 14px;margin-top: 7px;margin-right: 4px;'>{{$e2.paymentstatus}}
                                {{if ne $e2.discountvalue "" }}
                                (N/A)
                                {{end}}   
                                </div>
                                {{if in_array (convertToString $userId) $coCaptains | or (compare (convertToString $userId) $teamCaptainId)}}
                                
                                {{if compare $e2.paymentoption "true"}}
                                {{if compare $e2.zerobalancecheck "false" }}
                                {{if compare $e2.discountvalue "" }}
                                <p id="teamEventPaymentOptionConformation" value="{{$e2.orderid}}" class="team_payment_btn" style="float: left;background: #bf5523;cursor: pointer;"> Pay</p>
                                {{end}}
                                {{end}}
                                <!-- invoice add -->
                                {{if $e2.invoice_no}}
                                {{if $e2.invoicepath}}
                                <a data-toggle="tooltip" title="Download Invoice" class="event-list-title class-tooltip_pay" href="{{$e2.invoicepath}}" target="_blank">
                                <img class="get_invoice_for_team" src="/static/images/download_icon.png"class="imgdownload">
                                </a>
                                {{else}}
                                <a data-toggle="tooltip" title="Download Invoice" class="event-list-title class-tooltip_pay" href="/stripe/downloadeventregistrationinvoice/{{$e2.invoice_no}}" target="_blank">
                                <img class="get_invoice_for_team" src="/static/images/download_icon.png"class="imgdownload">
                                </a>
                                {{end}}
                                {{else}}
                                <a data-toggle="tooltip" title="Download Invoice" class="event-list-title class-tooltip_pay" href="/stripe/downloadorderinvoice/{{$e2.orderid}}" target="_blank">
                                  <img class="get_invoice_for_team" src="/static/images/download_icon.png"class="imgdownload">
                                  </a>
                                {{end}}
                                  <!-- invoice add end -->
                                {{else}}
                                <p id="nonteamEventPaymentOption"  class="team_payment_btn" style="float: left;background: #bf5523;cursor: pointer;" > Pay</p>
                                 <!-- invoice add -->
                                 {{if $e2.invoice_no}}
                                 {{if $e2.invoicepath}}
                                 <a data-toggle="tooltip" title="Download Invoice" class="event-list-title class-tooltip_pay" href="{{$e2.invoicepath}}" target="_blank">
                                 <img class="get_invoice_for_team" src="/static/images/download_icon.png"class="imgdownload">
                                 </a>
                                 {{else}}
                                 <a data-toggle="tooltip" title="Download Invoice" class="event-list-title class-tooltip_pay" href="/stripe/downloadeventregistrationinvoice/{{$e2.invoice_no}}" target="_blank">
                                 <img class="get_invoice_for_team" src="/static/images/download_icon.png"class="imgdownload">
                                 </a>
                                 {{end}}
                                 {{else}}
                                 <a data-toggle="tooltip" title="Download Invoice" class="event-list-title class-tooltip_pay" href="/stripe/downloadorderinvoice/{{$e2.orderid}}" target="_blank">
                                   <img class="get_invoice_for_team" src="/static/images/download_icon.png"class="imgdownload">
                                   </a>
                                 {{end}}
                                   <!-- invoice add end -->
                                {{end}}
                                {{end}}
                                {{else if compare $e2.paymentstatus "partial"}}
                                <div class="team-member-name team-table-side text-capitalize" style='font-size: 14px;margin-top: 7px;margin-right: 4px;'>{{$e2.paymentstatus}}
                                {{if ne $e2.discountvalue "" }}
                                (N/A)
                                {{end}}   
                                </div>
                                {{if in_array (convertToString $userId) $coCaptains | or (compare (convertToString $userId) $teamCaptainId)}}
                                {{if compare $e2.paymentoption "true"}}
                                {{if compare $e2.zerobalancecheck "false" }}
                                {{if compare $e2.discountvalue "" }}
                                <p id="teamEventPaymentOptionConformation"  value="{{$e2.orderid}}" class="team_payment_btn" style="float: left;cursor: pointer;background: #bf5523;"> Pay</p>
                                {{end}}
                                <!-- invoice add -->
                                {{if $e2.invoice_no}}
                                {{if $e2.invoicepath}}
                                <a data-toggle="tooltip" title="Download Invoice" class="event-list-title class-tooltip_pay" href="{{$e2.invoicepath}}" target="_blank">
                                <img class="get_invoice_for_team" src="/static/images/download_icon.png"class="imgdownload">
                                </a>
                                {{else}}
                                <a data-toggle="tooltip" title="Download Invoice" class="event-list-title class-tooltip_pay" href="/stripe/downloadeventregistrationinvoice/{{$e2.invoice_no}}" target="_blank">
                                <img class="get_invoice_for_team" src="/static/images/download_icon.png"class="imgdownload">
                                </a>
                                {{end}}
                                {{else}}
                                <a data-toggle="tooltip" title="Download Invoice" class="event-list-title class-tooltip_pay" href="/stripe/downloadorderinvoice/{{$e2.orderid}}" target="_blank">
                                  <img class="get_invoice_for_team" src="/static/images/download_icon.png"class="imgdownload">
                                  </a>
                                {{end}}
                                  <!-- invoice add end -->                            
                                {{end}}
                                {{else}}
                                <p id="nonteamEventPaymentOption"  class="team_payment_btn" style="float: left;background: #bf5523;cursor: pointer;"> Pay</p>
                                 <!-- invoice add -->
                                 {{if $e2.invoice_no}}
                                 {{if $e2.invoicepath}}
                                <a data-toggle="tooltip" title="Download Invoice" class="event-list-title class-tooltip_pay" href="{{$e2.invoicepath}}" target="_blank">
                                <img class="get_invoice_for_team" src="/static/images/download_icon.png"class="imgdownload">
                                </a>
                                {{else}}
                                 <a data-toggle="tooltip" title="Download Invoice" class="event-list-title class-tooltip_pay" href="/stripe/downloadeventregistrationinvoice/{{$e2.invoice_no}}" target="_blank">
                                 <img class="get_invoice_for_team" src="/static/images/download_icon.png"class="imgdownload">
                                 </a>
                                 {{end}}
                                 {{else}}
                                 <a data-toggle="tooltip" title="Download Invoice" class="event-list-title class-tooltip_pay" href="/stripe/downloadorderinvoice/{{$e2.orderid}}" target="_blank">
                                   <img class="get_invoice_for_team" src="/static/images/download_icon.png"class="imgdownload">
                                   </a>
                                 {{end}}
                                   <!-- invoice add end -->                             
                                {{end}}
                                {{end}}
                                {{else}}
                                <div class="team-member-name text-capitalize" style='font-size: 14px;'>{{$e2.paymentstatus}}</div>
                                {{end}}
                            </td>
                            <td>
                              <div class="dasboard-team-table-th">TOTAL PAID </div>
                              <div class="team-member-name" style='font-size: 14px;'>{{if not ( compare $e2.total_paid "0")}} {{$e2.eventcurrency}}{{$e2.total_paid}} {{else}} - {{end}}</div>
                            </td>
                            <td>
                              <div class="dasboard-team-table-th">BALANCE </div>
                              <div class="team-member-name" style='font-size: 14px;'>{{if not (compare $e2.balance "0")}} {{$e2.eventcurrency}} {{$e2.balance}}{{else}} - {{end}}</div>
                            </td>
                            <td style='text-align: center !important;' >
                              <div class="dasboard-team-table-th">TRANSACTION NOTE </div>
                              {{if $e2.transactionhistory}}
                              <div class='note-tooltip'><i class='ti-notepad'></i><div class='class-tooltip waiver-medicalcondition' style='font-size: 14px;'>{{$e2.transactionhistory}}</div></div>
                              {{end}}
                            </td>
                            <td>  
                                
                              {{if compare $e2.eventenddatefalse "false"}}
                              {{if compare $superAdmin "true"}}
                                <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
                                data-content="<ul class='popover-waiver'><li><a style='color:black;' href='/team/GetEachTeamPaymentTrackingDetail/{{$e2.orderid}}' >Payment Log</a></li><li><a id='fromteampayment'  value='teampayment' style='color:black;'  href='/event/team-view/{{$e2.eventslug}}/{{$e2.evenrregid}}' >Edit Order</a></li></ul>">
                                 <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                               </a>
                               {{else}}
                                <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
                                data-content="<ul class='popover-waiver'><li><a style='color:black;' href='/team/GetEachTeamPaymentTrackingDetail/{{$e2.orderid}}' >Payment Log</a></li></ul>">
                                 <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                               </a>
                               {{end}}
                               {{else}}
                               <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
                               data-content="<ul class='popover-waiver'><li><a style='color:black;' href='/team/GetEachTeamPaymentTrackingDetail/{{$e2.orderid}}' >Payment Log</a></li><li><a id='fromteampayment'  value='teampayment' style='color:black;'  href='/event/team-view/{{$e2.eventslug}}/{{$e2.evenrregid}}' >Edit Order</a></li></ul>">
                                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                              </a>
                              {{end}}
                            </td>
                          </tr>
                          {{end}}
                        </tbody>
                      </table>
                    </div>
                    {{else}}
                    <div class="dasboard-team-member-content" style="text-align: center;">
                        <div class="team-member-name">
                          You have not registered for any events yet!
                        </div>
                    </div>
                    {{end}}
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>
        </section>
        
      </div>
     
    </div>
  
</div>
<div class="col-md-12" style="height: 60px;background: #EAF1EF;">
  <p style='float: right;margin-top: 16px;'>
    <span class="red-star">*</span>
    <a class="" href="https://mailchi.mp/2276d3ffdb25/wireinstructions" target="_blank" style="padding-right: 20px">
        <u style='font-size: 13px;color: #bf5523;'>Instructions to Pay Offline</u>
    </a>
  </p>
</div>
