<div class="col-md-12 dashboard-content member-dashboard" id="viewLineupHide">
    
{{ $isLoggedIn := .IsLoggedIn }}
{{ $superAdmin := .SuperAdmin}}
{{ $userId := .UserId }}
{{ $teamCaptainId := .TeamCaptainId }}
{{ $coCaptains := .CoCaptains }}
{{ $active_User_Status := .Active_User_Status }}
{{ $teamView_team_0_slug := .TeamView.team_0.slug}}
<div class="team-members-section tab-content" style="display: block;">
  <div id="activeMembers" class="tab-pane fade in active">
    <section class="row dashboard-members">
      <div class="col-md-12">
        <div class="content-padding">
          <div class="active-members">
           <div class="row">
              <div class="col-md-12">
                {{if and .Show_Event_Register_Page .Event_Register_Detail_List }}
                <div class="dasboard-team-table-container">
                  <table id="team_members" class="table dashboard-table dasboard-team-table responsive-table">
                    <thead>
                      <tr>
                        <th class="col-md-3">EVENT NAME</th>
                        <th class="col-md-3">REGISTRATION DATE</th>
                        <th class="col-md-3">ROSTER STATUS</th>
                        <th class="col-md-3">PAYMENT STATUS</th>
                        <th class="col-md-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                      {{  range $e2 := .Event_Register_Detail_List}}
                      <tr class="tempregisteredcount">
                        <td>
                          <div class="dasboard-team-table-th">EVENT NAME</div>
                          <div class="dasboard-team-member-content">
                            <div class="team-member-name">
                              <a href="/event-view/{{$e2.registerEvent.slug}}"  class="list-title">
                                {{$e2.registerEvent.event_name}}
                              </a>
                            </div>
                          </div>
                        </td>
                        <td>
                            <div class="dasboard-team-table-th">REGISTRATION DATE</div>
                            <p class="team-table-side text-capitalize marginZero ">{{$e2.registerEvent.registerdate}}</p>
                        </td>
                        <td>
                          <div class="dasboard-team-table-th">ROSTER STATUS</div>
                          {{if compare $e2.roster_partial.case "false"}}
                          <p class="team-table-side text-capitalize marginZero"><a href="" id="submitrosterlatermodel" value="{{$e2.registerEvent.eventid}},{{$e2.registerEvent.eventregisterid}}">Incomplete</a></p>
                          {{else if compare $e2.roster_partial.case "true"}}
                          <p class="team-table-side text-capitalize marginZero "><a  id="" value="{{$e2.registerEvent.eventid}},{{$e2.registerEvent.eventregisterid}}" >Complete</a></p>
                          {{end}}
                        </td>
                        <td>
                          <div class="dasboard-team-table-th">PAYMENT STATUS</div>
                          {{if compare $e2.registerEvent.paymentstatus "unpaid"}}
                                <a id="paymentpageredirectclick" class="team-table-side text-capitalize " style="width:auto;margin-right: 4px;color: #3a4642;cursor: pointer;"><u>{{$e2.registerEvent.paymentstatus}}</u></a>
                                
                                {{else if compare $e2.registerEvent.paymentstatus "partial"}}
                                <a id="paymentpageredirectclick" class="team-table-side text-capitalize " style="width:auto;margin-right: 4px;cursor: pointer;color: #3a4642;"><u>{{$e2.registerEvent.paymentstatus}}</u></a>
                               
                                {{else}}
                                <p class="team-table-side text-capitalize marginZero " >{{$e2.registerEvent.paymentstatus}}</p>
                            {{end}} 
                        </td>
                        <td>
                            <p class="team-table-side text-capitalize marginZero"><a style= "font-size: 14px;" href="/event/team-view/{{$e2.registerEvent.slug}}/{{$e2.registerEvent.eventregisterid}}" value="fromeventRegister" id="fromeventRegister" class="list-title">
                             <u>View Details</u> 
                            </a></p>
                        </td>
                      </tr>
                      {{end}}
                    </tbody>
                  </table>
                </div>
                {{else}}
                <div class="dasboard-team-member-content" style="text-align: center;">
                    <div class="team-member-name">
                        No Event Register yet.
                    </div>
                </div>
                {{end}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
  </div>