<nav class="navbar navbar-default navbar-fixed-top" id="top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="nav-link navbar-brand" href="/">
				<img src="../static/images/gushou-logo.png" alt="Gushou">
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li data-toggle="collapse" data-target=".nav-collapse">
					<a href="dashboard.html" class="nav-link">Dashboard</a>
				</li>
				<li class="dropdown">
					<a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community <span class="ti-angle-down"></span></a>
					<ul class="dropdown-menu">
						<!-- {{#if is_superAdmin}}
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="{{pathFor 'paddlers'}}" class="nav-link">Paddlers</a></li>
						{{/if}} 
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="{{pathFor 'teams'}}" class="nav-link">Teams</a></li>
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="{{pathFor 'events'}}" class="nav-link">Events</a></li> -->
						
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="paddlerList.html" class="nav-link">Paddlers</a></li>
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="teamList.html" class="nav-link">Teams</a></li>
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="eventList.html" class="nav-link">Events</a></li>
					</ul>
				</li>

				<!-- <li data-toggle="collapse" data-target=".nav-collapse" class="nav-link"><a href="{{pathFor 'events'}}">Events</a></li> -->
				<li data-toggle="collapse" data-target=".nav-collapse" class="nav-link"><a href="eventList.html">Events</a></li>

				<li class="dropdown">
					<a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="ti-angle-down"></span></a>
					<ul class="dropdown-menu">
						<!-- <li data-toggle="collapse" data-target=".nav-collapse"><a href="{{pathFor 'features'}}" class="nav-link">Features</a></li> -->
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="" class="nav-link">Features</a></li>
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="https://gogushou.wordpress.com/" target="_blank" class="nav-link">Blog</a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li data-toggle="collapse" data-target=".nav-collapse" class="nav-link"><a href="/dashboard">
					<!-- {{#if currentUser.profile.files}} -->
					<!-- <img src="{{currentUser.profile.files}}" class="img-circle"> -->
					<!-- {{else}} -->
					<img src="../static/images/paddler-default.png" class="img-circle">
					<!-- {{/if}} -->
				</a></li>

				<li class="dropdown">
					<!-- <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">{{currentUser.profile.name}} {{currentUser.profile.last_name}} <span class="ti-angle-down"></span></a> -->
					<a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">firstName lastName<span class="ti-angle-down"></span></a>
					<ul class="dropdown-menu profile-setting-dropdown">
						<!-- <li data-toggle="collapse" data-target=".nav-collapse"><a href="{{pathFor 'profileSettings'}}" class="nav-link">Profile settings</a></li>
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="{{pathFor 'changePassword'}}" class="nav-link">Change password</a></li> -->
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="" class="nav-link">Profile settings</a></li>
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="" class="nav-link">Change password</a></li>

						<li data-toggle="collapse" data-target=".nav-collapse"><a  id="signout">Sign out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>