<nav class="navbar navbar-default navbar-fixed-top" id="top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="nav-link navbar-brand" href="/">
				<img src="../static/images/gushou-logo.png" alt="Gushou">
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<!-- <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community <span class="ti-angle-down"></span></a>
					<ul class="dropdown-menu">
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="{{pathFor 'teams'}}" class="nav-link-outside">Teams</a></li>
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="{{pathFor 'events'}}" class="nav-link-outside">Events</a></li>
					</ul>
				</li>
				<li data-toggle="collapse" data-target=".nav-collapse"><a href="{{pathFor 'events'}}" class="nav-link">Events</a></li>
				<li data-toggle="collapse" data-target=".nav-collapse"><a href="{{pathFor 'features'}}" class="nav-link">Features</a></li> -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community <span class="ti-angle-down"></span></a>
					<ul class="dropdown-menu">
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="" class="nav-link-outside">Teams</a></li>
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="" class="nav-link-outside">Events</a></li>
					</ul>
				</li>
				<li data-toggle="collapse" data-target=".nav-collapse"><a href="" class="nav-link">Events</a></li>
				<li data-toggle="collapse" data-target=".nav-collapse"><a href="" class="nav-link">Features</a></li>
				<li><a  href="https://gogushou.wordpress.com/" target="_blank" class="nav-link">Blog</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<!-- <li data-toggle="collapse" data-target=".nav-collapse"><a href="((pathFor 'login'))" class="nav-link"><span  class="btn btn-nav">Sign in</span></a></li> -->
				<li data-toggle="collapse" data-target=".nav-collapse"><a href="/login" class="nav-link"><span class="btn btn-nav btn-outline-light">Sign in</span></a></li>
				<li data-toggle="collapse" data-target=".nav-collapse"><a href="/register" class="nav-link"><span class="btn btn-nav btn-primary">Create Account</span></a></li>
			</ul>
		</div>
	</div>
</nav>