<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="../static/js/icheck.min.js"></script>
<script src="../static/js/jquery-ui.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/jquery.adaptive-backgrounds.js"></script>
<script src="../static/js/lightslider.js"></script>
<script src="../static/js/mini_custom.js"></script>
<script src="../static/js/primary_color.js"></script>
<script src="../static/js/strength.js"></script>

<link rel="stylesheet" href="../static/styles/bootstrap.css">
<link rel="stylesheet" href="../static/styles/jquery-ui.min.css">
<link rel="stylesheet" href="../static/styles/lightslider.css">
<link rel="stylesheet" href="../static/styles/minimal.css">
<link rel="stylesheet" href="../static/styles/style.css">
<link rel="stylesheet" href="../static/styles/themify-icons.css">