<!DOCTYPE html>
<html>
<head>
	<title>Account Created | Gushou</title>
	{{ template "linksScripts.html" . }}

</head>
<body>
	{{ template "headerAfterLogin.html" . }}

	<section class="features-header spacing-lg vertical-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center sign-up-head ">
					<h1 class="inverted">Account created!</h1>
					<p>Welcome, let's go Gushou.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
					<div class="panel panel-default sign-up">
						<div class="panel-head">
							<h2>Get started</h2>
						</div>

						<div class="panel-body">							
							<!-- <a href="((pathFor 'createTeam'))" class="registered-item"> -->
							<a href="/create-team" class="registered-item">
								<div class="cursorPointer">
									<div class="row" id="create-your-team">
										<div class="col-md-12">
											<h3 class="green-text">Create your team</h3>
											<p>Bring your team to Gushou and invite your team members as well. They'll thank you later.</p>
										</div>
									</div>
								</div>
							</a>
							<!-- <a href="((pathFor 'createEvent'))" class="registered-item"> -->
							<a href="/create-event" class="registered-item">
								<div class="cursorPointer">
									<div class="row" id="create-your-event">
										<div class="col-md-12">
											<h3 class="green-text">Create an event</h3>
											<p>See how easy it is to create an event and set up race schedules and practices.</p>
										</div>
									</div>
								</div>
							</a>
							<!-- <a href="((pathFor 'profileSettings'))" class="registered-item"> -->
							<a href="/profile-setting" class="registered-item">
								<div class="cursorPointer">
									<div class="row" id="complete-profile">
										<div class="col-md-12">
											<h3 class="green-text">Complete your profile</h3>
											<p>Filling out your bio and adding a profile photo make it easier for the community to connect with you.</p>
										</div>
									</div>
								</div>
							</a>
							<a href="/dashboard" >
								<div class="register-item no-margin">
									<div class="row">
										<div class="col-md-12">
											<input type="button" value="No thanks, I'll do this later" class="btn btn-phantom-green btn-fullwidth" id="go-dashboard"/>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{{ template "footer.html" . }}

</body>
</html>