<!DOCTYPE html>
<html>
<head>
	<title>Change Password | Gushou</title>
	{{ template "linksScripts.html" . }}
</head>
<body>
	{{ template "headerAfterLogin.html" . }}

	{{ if .Success }}
	<div class="success-message">
		<p><i class="ti-check"></i><span> You have successfully changed your password.</span></p>
	</div>
	{{ end }}
	<section class="features-header spacing-lg vertical-center text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="inverted">Change Password</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
					<div class="panel panel-default sign-up">
						<div class="panel-body">
							{{ if .Fail }}
							<span id="change_pswd_err2" class="error-message"> Current password is not correct</span>
							{{ end }}
							<span id="change_pswd_err" class="error-message hide"></span>

							<form role="form" id="change-password" method="POST">
								<div class="row">
									<div class="col-md-12">
										<form id="change-password" class="registration change-password">
											<div class="form-group">
												<input id="curr_password" name="curr_password" type="password" class="form-control" placeholder="Current Password" required>
											</div>
											<div class="form-group">
												<div class="input-group" id="pswd">
													<input id="new_password" name="new_password" type="password" class="form-control" placeholder="New Password" required>
													<span class="input-group-addon password-info-tooltip" id="passwordRules">
													<a href="" id="password_info">
														<i class="ti-info-alt"></i>
														<div class="password-info-class-tooltip small">
															Password must contain 8 characters or more. It is recommended to use lowercase letters, uppercase letters and numbers.
														</div>
													</a>
												</span>
												</div>
											</div>
											<div class="form-group">
												<input id="re_password" name="re_password" type="password" class="form-control" placeholder="Re-enter Password" required>
											</div>
											<div class="form-group text-center">
												<button type="button" id="change_password_submit" class="btn btn-primary btn-fullwidth">Save</button>
											</div>
										</form>                     
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	{{ template "footer.html" . }}

</body>
</html>