<!DOCTYPE html>
<html>
<head>
	<title>Complete Register | Gushou</title>
	{{ template "linksScripts.html" . }}
	{{ template "user/autoCompleteScriptsRegister.html" . }}
</head>
<body>
	{{ template "headerBeforeLogin.html" . }}

	{{ if .DbError }}
	<div class="error-message">
		<p><i class="ti-alert"></i><span>Error: {{ .DbError }}</span></p>
	</div>
	{{ end }}

	<section class="features-header spacing-lg vertical-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center sign-up-head ">
					<h1 class="inverted">Create your account</h1>
					<p>Already have an account? <a href="/login">Sign in now</a>.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
					<div class="panel create-body-fullwidth panel-default sign-up">
						<div class="panel-head">
							<h2>Step 2 of 2</h2>
						</div>

						<div class="panel-body">
							<form role="form" id="completeRegisterForm" method="POST">
								<div class="register-status">
									<span id="err_msgs" class="error-message"></span>
									<span id="succ_msgs" class="success-message">
									<!-- ((if verificationEmail))  -->
									
									<!-- ((/if)) -->

									{{ if .completeRegister }}

									Congratulations! You've created a Gushou account. As the final step, please check your email and kindly click on the activation link in your confirmation email to proceed on Gushou. In case you haven't received the link click <a href='#' id='resend_verify'  style='text-decoration: underline'>here</a> to resend the link.

									{{ end }}

									</span>
								</div>
							

								<div class="register-item">
									<div class="row">
										<div class="col-md-12">
											<h3>Tell us about yourself</h3>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<!-- <input type="text" name="firstname" autofocus id="firstname" class="form-control input-md" placeholder="First name" value="((if currentUser.profile.name)) ((currentUser.profile.name)) ((/if))" ((isRegisterationComplete 'all'))> -->

												<!-- If isRegisterationComplete then disable the following input else not -->
												<input type="text" name="firstname"  id="firstname" class="form-control input-md" placeholder="First name" value="{{.FormItems.FirstName}}" {{if .completeRegister }} disabled {{end}}>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<!-- <input type="text" name="lastName" autofocus id="lastName" class="form-control input-md" placeholder="Last name" value="((if currentUser.profile.last_name)) ((currentUser.profile.last_name)) ((/if))" ((isRegisterationComplete 'all'))> -->

												<!-- If isRegisterationComplete then disable the following input else not -->
												<input type="text" name="lastName"  id="lastName" class="form-control input-md" placeholder="Last name" value="{{.FormItems.LastName}}" {{if .completeRegister }} disabled {{end}} >
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<div class="md-checkbox">
						                           	<!-- <input value="None" id="displayname" name="displayname" class="md-check" type="checkbox" ((UserNameCheck currentUser.profile.display_name)) ((isRegisterationComplete 'all'))> -->

												<!-- If isRegisterationComplete then disable the following input else not -->
						                           	<input value="Yes" id="displayname" name="displayname" class="md-check" type="checkbox" {{if .completeRegister }} disabled {{end}} {{ if compare .FormItems.DisplayName "Yes" }} checked {{ end }}>
						                           	<label for="displayname">
						                            	<span class="check"></span>
						                            	<span class="box"></span>
						                            	Show my full name to everyone
						                            </label>
						                        </div>
					                        </div>
										</div>
									</div>

									<div class="row">
										<span id="dob_err" class="error-message hide"></span>
										<div class="col-md-7">
											<div id="datepickerContainer">
												<div class="note-tooltip-dob">
													<div class="input-group date">
														<!-- <input type="text" class="form-control complete-register-dob" placeholder="Date of birth" id="dob" name="dob" value="((if currentUser.profile.dob))((dateFormate3 currentUser.profile.dob)) ((/if))" ((isRegisterationComplete 'all'))/> -->

														<!-- If isRegisterationComplete then disable the following input else not -->
														<input type="text" class="form-control complete-register-dob" placeholder="Date of birth" id="dob" name="dob" value="{{ .FormItems.DOB }}" {{if .completeRegister }} disabled {{end}}/>
														<span class="input-group-addon gray-icons" id="datepicker-icon">
															<i class="ti-calendar"></i>
														</span>
													</div>
												</div>
												<div class="note-tooltip">
													<img src="../static/images/question.png" alt="">
													<div class="class-tooltip" style="padding: 8px;">
														<p style="font-size: 12px;margin-bottom: 15px;">Please select your birth month and year before you select your day</p>
														<p style="font-size: 12px;">Used only for division validation and understanding dragon boat demographics as a whole</p>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-3 form-group">
											<div class="btn-group" role="group" aria-label="...">
												<!-- <button type="button" class="btn btn-default btn-height active ((myClass 'M'))" id="eligible_type_M" ((isRegisterationComplete 'all'))>M</button>
												<button type="button" class="btn btn-default btn-height ((myClass 'M'))" id="eligible_type_W" ((isRegisterationComplete 'all'))>F</button> -->

												<!-- If isRegisterationComplete then disable the following input else not -->
												<button type="button" class="btn btn-default btn-height {{ if compare .FormItems.Classes "M"}} active {{ end }}" id="eligible_type_M" {{if .completeRegister }} disabled style="pointer-events: none;" {{ end }} value="M">M</button>

												<button  type="button" class="btn btn-default btn-height {{ if compare .FormItems.Classes "W"}} active {{ end }}" style="border-radius: 0 8px 8px 0; {{if .completeRegister }} pointer-events: none; {{ end }}" id="eligible_type_W" {{if .completeRegister }} disabled {{ end }} value="W">F</button>
												<input type="text" class="form-control hide" id="classes" name="classes" value="" {{if .completeRegister }} disabled {{end}}/>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-5">
											<div class="form-group country_dial_code">
												<span id="dial_code_err" class="error-message hide"></span>
												<select class="form-control select-custom" name="dial_code" id="dial_code" {{if .completeRegister }} disabled {{end}} >
													<option value="">- Country code -</option>
													<option {{ if compare .FormItems.CountryDialCode "+1"}} selected {{ end }} value="+1">USA +1</option>
													<option {{ if compare .FormItems.CountryDialCode "+1"}} selected {{ end }} value="+1">Canada +1</option>
													<option {{ if compare .FormItems.CountryDialCode "+91"}} selected {{ end }} value="+91">India +91</option>
												</select>
											</div>		
											<input type='hidden' id="dial_code_county_code" name="dial_code_county">									
										</div>										
										<div class="col-md-7" style="display: flex">
											<div class="form-group">
												<span id="phone_err" class="error-message hide"></span>
												<input type="text" name="phone" style="width: 239px;"  autofocus id="phone" class="form-control input-md required" placeholder="Phone Number" value="{{ .FormItems.Phone }}" {{if .completeRegister }} disabled {{end}} >
											</div>
											<div class="note-tooltip" style="padding-left: 8px;background-color: transparent;">
												<img src="../static/images/question.png" alt="" style="width: 30px;margin-top: 11px;">
												<div class="class-tooltip" style="right: -20px;z-index: 2;padding: 8px;">
													<p style="font-size: 12px;">Shared with team captains and organizers only and used for sending messages via text.</p>

													<p style="font-size: 12px;margin-top: 14px;">Optional field. Other countries coming soon.</p>												
												</div>
											</div>

										</div>
										
									</div>

								</div>

								<div class="register-item">
								<!-- ((if isRegisterationComplete 'all')) -->
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<!-- <input type="text" class="form-control input-md" value="((if currentUser.profile.country)) ((currentUser.profile.country)) ((/if))" disabled > -->

												<input type="text" class="form-control input-md hide" value="" disabled >
											</div>
										</div>
									</div>
								<!-- ((else)) -->
									<div class="row">
										<div class="col-md-12 form-group country_required_error">
											<span id="country_err" class="error-message hide"></span>
											<!-- <select class="form-control" name="country" id="country" ((isRegisterationComplete 'all'))>
												<option value="">- Select country -</option>
												((each countries))
												<option value="((country))">((country))</option>
												((/each))
												<option value="other">Other</option>
											</select> -->

											<!-- If isRegisterationComplete then disable the following input else not -->
											<!-- get countries from the database -->
											<select class="form-control select-custom" name="country" id="country" {{if .completeRegister }} disabled {{end}} >
												<option value="">- Select country -</option>									
												<option {{ if compare .FormItems.Country "Canada"}} selected {{ end }} value="Canada">Canada</option>
												<option {{ if compare .FormItems.Country "USA"}} selected {{ end }} value="USA">USA</option>		
												<option {{ if compare .FormItems.Country "Other"}} selected {{ end }} value="Other">Other</option>
											</select>
										</div>
									</div>
									<div id="other_country" class="{{ if compare .FormItems.Country "Other" }} row {{ else }} row hide {{ end }}">
										<div class="col-md-12">
											<div class="form-group">
												<span id="other_country_err" class="error-message hide"></span>
												<!-- <input type="text" name="other_country" id="other_country" class="form-control input-md" placeholder="Country" ((isRegisterationComplete 'all'))> -->

												<!-- If isRegisterationComplete then disable the following input else not -->
												<input type="text" name="other_country" id="other_country" class="form-control input-md" placeholder="Country" value="{{.FormItems.OtherCountry}}" {{if .completeRegister }} disabled {{end}} >
											</div>
										</div>
									</div>
								<!-- ((/if)) -->
									<div class="row">
										<div class="col-md-6">
											<div class="form-group" id="register-province">
												<!-- <input type="text" name="location" id="location" class="form-control input-md" placeholder="City" value="((if currentUser.profile.location)) ((currentUser.profile.location)) ((/if))" ((isRegisterationComplete 'all'))> -->

												<!-- If isRegisterationComplete then disable the following input else not -->
												<input type="text" name="location" id="location" class="form-control input-md" placeholder="City" value="{{.FormItems.Location}}" {{if .completeRegister }} disabled {{end}}>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<!-- ((if isRegisterationComplete 'all')) -->
													<!-- <input type="text" class="form-control input-md" placeholder="Province or state" value="((if currentUser.profile.province)) ((currentUser.profile.province)) ((/if))" disabled> -->
													<!-- <input type="text" class="form-control input-md" id="province" placeholder="Province or state" value=""  {{if .completeRegister }} disabled {{end}}> -->
												<!-- ((else)) -->
													<!-- ((> inputAutocomplete settings=province id="province" class="form-control input-md" placeholder="Province or state" )) -->
													<!-- <input type="text" name="province2" id="province2" class="form-control input-md hide" placeholder="Province or state" ((isRegisterationComplete 'all'))> -->

													<!-- If isRegisterationComplete then disable the following input else not -->
													<input type="text" name="province2" id="province2" class="form-control input-md" placeholder="Province or State" value="{{.FormItems.Province}}" {{if .completeRegister }} disabled {{end}}>
												<!-- ((/if)) -->
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<span id="postal_err" class="error-message hide"></span>
												<!-- <input type="text" name="postal_code" id="postal_code" class="form-control input-md" placeholder="Postal Code" value="((if currentUser.profile.postal_code)) ((currentUser.profile.postal_code)) ((/if))" ((isRegisterationComplete 'all'))> -->

												<!-- If isRegisterationComplete then disable the following input else not -->
												<input type="text" name="postal_code" id="postal_code" class="form-control input-md" placeholder="Postal / Zip Code" value="{{.FormItems.PostalCode}}" {{if .completeRegister }} disabled {{end}}>
											</div>
										</div>
									</div>

								</div>

								<div class="register-item">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<span id="terms_err" class="error-message hide"></span>
												<div class="md-checkbox">
						                           	<!-- <input value="None" id="terms_policy" name="" class="md-check" type="checkbox" ((isRegisterationComplete 'all'))> -->

						                           	<!-- If isRegisterationComplete then disable the following input else not -->
						                           	<input value="None" id="terms_policy" name="" class="md-check" type="checkbox" {{if .completeRegister }} disabled checked {{end}}>
						                           	<label for="terms_policy" class="terms_policy">
						                            	<span class="check"></span>
						                            	<span class="box"></span>
						                            	I have read and agree to the Gushou 
						                            	<a id="termsConditionId" data-toggle="modal" data-target="#termsConditionModal">Terms of use</a> and the <br> 
						                            	<a id="pPolicy" data-toggle="modal" data-target="#privacyPolicyM">Privacy policy</a>.
						                            </label>
						                        </div>
					                        </div>

					                        <div class="form-group">
						                        <div class="md-checkbox register-subscribe">
						                           	<!-- <input value="None" id="resgisterSubscribe" name="" class="md-check" type="checkbox" ((isRegisterationComplete 'all'))> -->

						                           	<!-- If isRegisterationComplete then disable the following input else not -->
						                           	<input value="1" id="resgisterSubscribe" name="resgisterSubscribe" class="md-check" type="checkbox"  {{if .completeRegister }} disabled {{ if compare .FormItems.Newsletters "1" }} checked {{ end }}  {{end}}>
						                           	<label for="resgisterSubscribe">
						                            	<span class="check"></span>
						                            	<span class="box"></span>
						                            	Gushou Newsletters.
						                            </label>
						                        </div>
					                        </div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<!-- <input type="submit" value="Create account" class="btn btn-primary btn-fullwidth" ((isRegisterationComplete 'all'))/> -->

											<!-- If isRegisterationComplete then disable the following input else not -->
											<input type="submit" value="Create account" class="btn btn-primary btn-fullwidth" {{if .completeRegister }} disabled style="pointer-events: none;" {{end}} />
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	{{ template "footer.html" . }}

</body>
</html>