<!DOCTYPE html>
<html>
<head>
	<title>Forgot Password | Gushou</title>
	{{ template "linksScripts.html" . }}
</head>
<body>

	{{ template "headerBeforeLogin.html" . }}

	<section class="features-header spacing-lg vertical-center text-center">
	  	<div class="container">
		    <div class="row">
		      <div class="col-md-12">
		        <h1 class="inverted">Recover Password</h1>
		      </div>
		    </div>

	    	<div class="row">
		      	<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		        	<div class="panel panel-default sign-up">
			            <div class="panel-body">
			            	{{ if .Success }}
			            	<span id="fp_succ_msgs" class="success">A reset password link has been sent to your mailbox.</span>
			            	{{ else if .Fail }}
							<span id="fp_err_msgs" class="error">There is no user account associated with this email.</span>
							{{ end }}
				            <form role="form" id="forgotPasswordForm" method="POST">
				                <div class="row">
				                  <div class="col-xs-12">
				                    <div class="form-group">
				                      <input type="email" name="email" id="email" class="form-control input-md" placeholder="Email address">
				                    </div>

				                    <input type="submit" value="Submit" class="btn btn-primary btn-fullwidth">
				                  </div>
				                </div>
				            </form>

			              <div class="row">
			                <div class="col-md-12 text-center">
			                  <p class="green-text small" style="margin-top: 10px;">
			                  Remember your password? 
			                  <!-- <a href="((pathFor 'login'))" class="a-underline">Sign In</a>. -->
			                  <a href="/login" class="a-underline">Sign In</a>.
			                  </p>
			                </div>
			              </div>
			            </div>
		          	</div>
		        </div>
	      	</div>
	    </div>
	</section>
	
	{{ template "footer.html" . }}

</body>
</html>