<!DOCTYPE html>
<html>
<head>
	<title>Notifications | Gushou</title>
	{{ template "linksScripts.html" . }}
</head>
<body>
	{{ template "headerAfterLogin.html" . }}

<div id="main-content">
	<div class="container">
		<div class="row">
			<div class="main-content-header">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<h2>Notifications</h2>
							<!-- <p><a href="((pathFor 'dashboard'))" class="small"><i class="ti-arrow-left"></i> Back to Dashboard</a></p> -->
							<p><a href="/dashboard" class="small"><i class="ti-arrow-left"></i> Back to Dashboard</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row notifications-all ">
			<div class="col-md-12" >
				<div class="content-padding">
					<table class="table dashboard-table responsive-table notifications-all-table ">
						<tbody>
							{{ if .MyNotification }}
							{{ range $index, $n:= .MyNotification }}
							<!-- ((each notifications)) -->
							{{ if compare $n.type 2 }}
							<!-- ((if notificationType _id 2)) -->
							<tr>
								<!-- <td class="col-md-2"><img src="((displayProfile initiator))" class="img-circle"></td> -->
								<td class="col-md-2">
									{{ $userDetails := GetUserDetails $n.fk_initiator_id }}
									{{ if $userDetails.user.files }}
									<img src="{{ $userDetails.user.files }}" class="img-circle"> 
									{{ else }}
									<img src="/static/images/user-default.png" class="img-circle">
									{{ end }}
								</td>
								<td class="col-md-6">
									<!-- <p>(({notification_desc))}</p> -->
									<p>{{ str2html $n.notification_desc }}</p>
									<!-- <p class="small gray-text">((dateFormate2 date)), ((time date))</p> -->
									<p class="small gray-text local-date-time">{{ $n.date }}</p>
								</td>
								<td class="col-md-4 text-right">
									<a href="" id="eo_accept" value="{{ $n.fk_event_id }};{{ $n.id }}" class="btn btn-primary">Accept</a>
									<a href="" id="eo_decline" value="{{ $n.fk_event_id }};{{ $n.id }}" class="btn btn-phantom-green">Decline</a>
								</td>
							</tr>
							<!-- ((/if)) -->
							{{ end }}

							{{ if compare $n.type 3 }}
							<!-- ((if notificationType _id 3)) -->
							<tr class="captain-bg">
								<!-- <td class="col-md-2"><img src="((displayProfile initiator))" class="img-circle"></td> -->
								<td class="col-md-2">
									{{ $userDetails := GetUserDetails $n.fk_initiator_id }}
									{{ if $userDetails.user.files }}
									<img src="{{ $userDetails.user.files }}" class="img-circle"> 
									{{ else }}
									<img src="/static/images/user-default.png" class="img-circle">
									{{ end }}
								</td>
								<td class="col-md-6">
									<!-- ((if newBuildInNotification _id)) -->
									<!-- (({notification_desc))}  -->
									{{ if $n.new_build_in_msg }}
										{{ str2html $n.notification_desc }} 
									{{ else }}
										{{ str2html $n.notification_desc }} 
									<!-- ((else)) -->
									<!-- <p>((userName initiator)) (({notification_desc))} ((eventName event_id)) for team ((teamName team_id)) </p> -->
									<!-- <p>userName initiator notification_desc eventName event_id for team teamName team_id </p> -->
									<!-- ((if message))<p>((message))</p><br>((/if)) -->
									<!-- ((/if)) -->
									<!-- <p class="small gray-text">((dateFormate2 date)), ((time date))</p> -->
									{{ end }}
									<p class="small gray-text local-date-time">{{ $n.date }}</p>
								</td>
								<td class="col-md-4 text-right">
									<!-- <a id="view_waiver" class="btn btn-primary" href="/waiver/((getEventSlug event_id))/((getTeamSlug team_id))">View Waiver</a> -->
									{{ $event_slug :=  $n.fk_event_id | GetEventSlug }}
									{{ $team_slug :=  $n.fk_team_id | GetTeamSlug }}

									<a id="view_waiver" class="btn btn-primary" href="/waiver/{{ $event_slug }}/{{ $team_slug }}">View Waiver</a>
									<a href="" id="{{ $n.id }}" class="btn btn-phantom-green remove_noti">Dismiss</a>
								</td>
							</tr>
							<!-- ((/if)) -->
							{{ end }}

							{{ if compare $n.type 4 }}
							<!-- ((if notificationType _id 4)) -->
							<tr>
								<!-- <td class="col-md-2"><img src="((displayProfile initiator))" class="img-circle"></td> -->
								<td class="col-md-2">
									{{ $userDetails := GetUserDetails $n.fk_initiator_id }}
									{{ if $userDetails.user.files }}
									<img src="{{ $userDetails.user.files }}" class="img-circle"> 
									{{ else }}
									<img src="/static/images/user-default.png" class="img-circle">
									{{ end }}
								</td>
								<td class="col-md-6">
									<!-- ((if newBuildInNotification _id)) -->
									<!-- (({notification_desc))}  -->
									{{ if $n.new_build_in_msg }}
											{{ str2html $n.notification_desc }} 
									{{ else }}
											{{ str2html $n.notification_desc }} 
									<!-- ((else)) -->
									<!-- <p>((userName initiator)) (({notification_desc))}  ((eventName event_id)) ((teamName team_id))</p> -->
									<!-- <p>((message))</p> -->
									<!-- <p class="small gray-text">((dateFormate2 date)), ((time date))</p> -->
									<!-- <p>userName initiator notification_desc  eventName event_id teamName team_id</p>
									<p>message</p> -->
									{{ end }}
									<p class="small gray-text local-date-time">{{ $n.date }}</p>
									<!-- ((/if)) -->
								</td>
								<td class="col-md-4 text-right">
									<!-- <a href="" id="tj_accept" value="{{ $n.fk_team_id }};{{ $n.id }}" class="btn btn-primary">Accept</a> -->
									<a href="" id="tj_decline" value="{{ $n.fk_team_id }};{{ $n.id }}" class="btn btn-phantom-green">Remove</a>
								</td>
							</tr>
							<!-- ((/if)) -->
							{{ end }}

							{{ if compare $n.type 5 }}
							<!-- ((if notificationType _id 5)) -->
							<tr>
								<!-- <td class="col-md-2"><img src="((displayProfile initiator))" class="img-circle"></td> -->
								<td class="col-md-2">
									{{ $userDetails := GetUserDetails $n.fk_initiator_id }}
									{{ if $userDetails.user.files }}
									<img src="{{ $userDetails.user.files }}" class="img-circle"> 
									{{ else }}
									<img src="/static/images/user-default.png" class="img-circle">
									{{ end }}
								</td>
								<td class="col-md-6">
									<!-- ((if newBuildInNotification _id)) -->
									<!-- (({notification_desc))}  -->
									{{ if $n.new_build_in_msg }}
										{{ str2html $n.notification_desc }} 
									{{ else }}
										{{ str2html $n.notification_desc }} 
									<!-- ((else)) -->
									<!-- <p>((userName initiator)) (({notification_desc))}  ((eventName event_id)) ((teamName team_id))</p>
									<p>((message))</p>
									<p class="small gray-text">((dateFormate2 date)), ((time date))</p> -->
									<!-- <p>userName initiator notification_desc  eventName event_id teamName team_id</p>
									<p>message</p> -->
									{{ end }}
									<p class="small gray-text local-date-time">{{ $n.date }}</p>
									<!-- ((/if)) -->
								</td>
								<td class="col-md-4 text-right">
									<a href="" id="tjr_accept" class="btn btn-primary" value="{{$n.fk_initiator_id}};{{ $n.fk_team_id }};{{ $n.id }}">Accept</a>
									<a href="" id="tjr_decline" class="btn btn-phantom-green" value="{{$n.fk_initiator_id}};{{ $n.fk_team_id }};{{ $n.id }}">Decline</a>
								</td>
							</tr>
							<!-- ((/if)) -->
							{{ end }}

							{{ if compare $n.type 6 }}
							<!-- ((if notificationType _id 6)) -->
							<tr>
								<!-- <td class="col-md-2"><img src="((displayProfile initiator))" class="img-circle"></td> -->
								<td class="col-md-2">
									{{ $userDetails := GetUserDetails $n.fk_initiator_id }}
									{{ if $userDetails.user.files }}
									<img src="{{ $userDetails.user.files }}" class="img-circle"> 
									{{ else }}
									<img src="/static/images/user-default.png" class="img-circle">
									{{ end }}
								</td>
								<td class="col-md-6">
									<!-- <p>(({notification_desc))}</p> -->
									<!-- <p class="small gray-text">((dateFormate2 date)), ((time date))</p> -->
									<p>{{ str2html $n.notification_desc }}</p>
									<p class="small gray-text local-date-time">{{ $n.date }}</p>
								</td>
								<td class="col-md-4 text-right">
									<a href="" id="claim_accept" value="{{ $n.fk_initiator_id }};{{$n.fk_event_id }};{{ $n.id }}" class="btn btn-primary">Accept</a>
									<a href="" id="claim_decline" value="{{ $n.fk_initiator_id }};{{$n.fk_event_id }};{{ $n.id }}" class="btn btn-phantom-green">Decline</a>
								</td>
							</tr>
							<!-- ((/if)) -->
							{{ end }}

							{{ if compare $n.type 9 }}
							<!-- ((if notificationType _id 9)) -->
							<tr>
								<!-- <td class="col-md-2"><img src="((displayProfile initiator))" class="img-circle"></td> -->
								<td class="col-md-2">
									{{ $userDetails := GetUserDetails $n.fk_initiator_id }}
									{{ if $userDetails.user.files }}
									<img src="{{ $userDetails.user.files }}" class="img-circle"> 
									{{ else }}
									<img src="/static/images/user-default.png" class="img-circle">
									{{ end }}
								</td>
								<td class="col-md-6">
									<p>
										<!-- ((if newBuildInNotification _id)) -->
										<!-- (({notification_desc))}  -->
										{{ if $n.new_build_in_msg }}
											{{ str2html $n.notification_desc }} 
										{{ else }}
											{{ str2html $n.notification_desc }} 
										<!-- ((else)) -->
										<!-- ((if getProperNotification notification_desc event_id team_id)) -->
										<!-- ((getProperNotification notification_desc event_id team_id)) -->
									<!-- 	getProperNotification notification_desc event_id team_id -->
										<!-- ((else)) -->
										<!-- ((if eventName event_id)) ((eventName event_id)) ((/if)) -->
										<!-- ((teamName team_id)) (({notification_desc))} -->
										<!-- teamName team_id notification_desc -->
										<!-- ((/if)) -->
										<!-- ((/if)) -->
										{{ end }}
									</p>
										<!-- <p>((message))</p> -->
										<!-- <p>message</p> -->
										<!-- <p class="small gray-text">((dateFormate2 date)), ((time date))</p> -->
										<p class="small gray-text local-date-time">{{ $n.date }}</p>
									</td>
									<td class="col-md-4 text-right">
										<a href="" id="{{ $n.id }}" class="btn btn-phantom-green remove_noti">Dismiss</a>
									</td>
								</tr>
								<!-- ((/if)) -->
								{{ end }}

								<!-- <input type="hidden" id="hdn_event_id_((_id))" value="((event_id))">
								<input type="hidden" id="hdn_team_id_((_id))" value="((team_id))">
								<input type="hidden" id="hdn_rec_id_((_id))" value="((receiver))">
								<input type="hidden" id="hdn_init_id_((_id))" value="((initiator))"> -->
								<input type="hidden" id="hdn_event_id__id" value="event_id">
								<input type="hidden" id="hdn_team_id__id" value="team_id">
								<input type="hidden" id="hdn_rec_id__id" value="receiver">
								<input type="hidden" id="hdn_init_id__id" value="initiator">
								<!-- ((/each)) -->
								<!-- ((else)) -->
								{{ end }}
								{{ else }}
								<tr>
									<td class="col-md-2"></td>
									<td class="col-md-6">
										<p>No Notifications</p>
									</td>
									<td class="col-md-4 text-right"></td>
								</tr>
								<!-- ((/if)) -->
								{{ end }}
								
							</tbody>
						</table>
						
					</div>
				</div>
			</div>
		</div>

		<!-- ((if moreResults)) -->
		<div class="container">
			<div class="row load-more-bg">
				<div class="col-md-12">
					<div class="load-more hide">
						<a id="showMoreResults" href="">Load older notifications </a>
					</div>
				</div>
			</div>
		</div>
		<!-- ((/if)) -->

	</div>

		
	<div class="modal fade" id="removeTeamModel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<h3>Remove From Team</h3>
					<!-- <p>Cannot delete ((deleteUsername)). Check if the paddler is a captain or event organizer.</p> -->
					<p>Cannot delete<span class="deleteUsername"></span>. Check if you are captain.</p>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-primary btn-fullwidth" data-dismiss="modal" aria-label="Close">Ok</button>
				</div>
			</div>
		</div>
	</div>
		{{ template "footer.html" . }}

	</body>
	</html>