<!DOCTYPE html>
<html>
<head>
	<title>Profile Settings | Gushou</title>
	{{ template "linksScripts.html" . }}
	{{ template "user/userStripeScript.html" . }}
	{{ template "user/autoCompleteScriptsUser.html" . }}
</head>
<body>
	{{ template "headerAfterLogin.html" . }}

	{{ if .UpdateSuccess }}
	<div class="success-message">
		<p><i class="ti-check"></i><span> Profile updated successfully </span></p>
	</div>
	{{ end }}
	
	<div id="pf_errors" class="error-message hide">
		<p><i class="ti-alert"></i><span> </span></p>
	</div>

	<div id="main-content">
		<div class="container">
			<div class="row">
				<div class="main-content-header profile-settings-header">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<h2>Settings </h2>
								<!-- <p><a href="((pathFor 'dashboard'))" class="small"><i class="ti-arrow-left"></i> Back to dashboard</a></p> -->
								{{if .IsNotPaddlerUser}}
								<p><a href="/dashboard" class="small"><i class="ti-arrow-left"></i> Back to dashboard</a></p>
								{{end}}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row profile-settings-content profile-settings-content-overwrite">
			<ul class="nav nav-tabs" style="padding-bottom: 0px;">
				<li class="active"><a class="text-center" data-toggle="pill" href="#personalPage">My Profile & Account <span class="badge-header badge badge-light"></span></a></li>
				{{if .User_Subscription_Detail}}
				<li class=""><a id="cardBillingTabClick" value="#billing" class="teamTabClick text-center" data-toggle="pill" href="#cardBillingPage">Team Billing & Plan<span class="badge-header badge badge-light"></span></a></li>
			  {{end}}
			</ul>
	</div>
	{{ $superAdmin := .SuperAdmin }}
	<div class="row profile-settings-content profile-settings-content-overwrite">
		      <div class="tab-content" style="display: block;padding: 0px;border: none;">
	        <div id="personalPage" class="tab-pane fade in active">
							<div class="col-md-12 setting-div">
								<form class="form" id="profileSettingForm" method="POST">
									<section class="row">
										<div class="content-padding">
											<div class="col-md-12">
												<p class="gray-text">Your privacy is very important to us. We only gather personal information that will help personalize your experience and make Gushou more useful. The personal information listed below will not be shared by anyone other than your team captain, coach, or when necessary event organizers, as indicated:</p>
											</div>
										</div>
									</section>
			
									<section class="content-padding">
										<div class="profile-primary-settings">
											<div class="row">
												<div class="col-md-8">
													<div class="row">
														<div class="col-md-12">
															<h5>Public Info</h5>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label>First name <span class="red-star">*</span></label>
																<!-- <input type="text" id="first_name" class="form-control required" value="((currentUser.profile.name))" placeholder="Enter first name"> -->
																<input type="text" id="first_name" name="first_name" class="form-control required" value="{{ .UserInfo.user.name }}" placeholder="Enter first name">
															</div>
															<div class="md-checkbox show-fullname">
																<!-- <input id="showFullName" ((UserNameCheck currentUser.profile.display_name)) class="md-check" type="checkbox"> -->
																<input values="yes" id="showFullName" name="showFullName" class="md-check" type="checkbox" {{ if compare .UserInfo.user.display_name "1" }} checked {{ end }}>
																<label for="showFullName">
																	<span class="check"></span>
																	<span class="box"></span>
																	Show my full name to others
																</label>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label>Last name <span class="red-star">*</span></label>
																<!-- <input type="text" id="last_name" class="form-control required" value="((currentUser.profile.last_name))" placeholder="Enter last name"> -->
																<input type="text" id="last_name" name="last_name" class="form-control required" value="{{ .UserInfo.user.last_name }}" placeholder="Enter last name">
															</div>
														</div>
													</div>
												</div>
			
												<div class="col-md-4">
													<div class="profile-image">
														{{ if .UserInfo.user.files }}
														<img class="img-circle profile-image-upload" src="{{ .UserInfo.user.files }}">
														{{ else }}
														<img class="img-circle profile-image-upload" src="../static/images/paddler-default.png">
														{{ end }}
														<button type="button" id="uploadImg" data-toggle="modal" data-target="#projectImageModal">Change</button>
													</div>
												</div>
											</div>
			
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label>Paddling side {{.UserInfo.user.paddling_side}}</label>
														<select id="paddling_side" name="paddling_side" class="select-custom form-control" style="width: 100%;">
															<option value="">- Select Side -</option>
															<!-- ((each sidePaddlerOption)) -->
															<!-- <option value="((value))" selected="((selected currentUser.profile.paddling_side value))">((label))</option> -->
															<option value="both" {{ if compare .UserInfo.user.paddling_side "both" }} selected {{ end }} >Right and Left side paddler</option>
															<option value="left" {{ if compare .UserInfo.user.paddling_side "left" }} selected {{ end }}>Left side paddler</option>
															<option value="right" {{ if compare .UserInfo.user.paddling_side "right" }} selected {{ end }} >Right side paddler</option>
															<!-- ((/each)) -->
														</select>
													</div>
												</div>
			
												<div class="col-md-4">
													<div class="form-group">
														<label>Skill level</label>
														<select id="skill_level" name="skill_level" class="select-custom form-control" style="width: 100%;">
															<option value="">- Select Skill level -</option>
															<!-- ((each skillLevelOption)) -->
															<!-- <option value="((value))" selected="((selected currentUser.profile.skill_level value))">((label))</option> -->
															<option value="novice(0-1 yrs)" {{ if compare .UserInfo.user.skill_level "novice(0-1 yrs)" }} selected {{ end }}>Novice(0-1 yr)</option>
															<option value="intermediate(2-3 yrs)" {{ if compare .UserInfo.user.skill_level "intermediate(2-3 yrs)" }} selected {{ end }}>Intermediate (2-3 yrs)</option>
															<option value="expert(4+ yrs)" {{ if compare .UserInfo.user.skill_level "expert(4+ yrs)" }} selected {{ end }}>Experienced (4+ yrs)</option>
															<!-- ((/each)) -->
														</select>
													</div>
												</div>
			
												<div class="col-md-4">
													<div class="form-group">
														<label>Available to join a team</label>
														<div class="onoffswitch">
															<!-- <input type="checkbox" name="" class="onoffswitch-checkbox" id="availableRecruit" ((statusCheck))> -->
															<input type="checkbox" value="yes" name="availableRecruit" class="onoffswitch-checkbox" id="availableRecruit" statusCheck {{ if compare .UserInfo.user.status "available" }} checked {{end}}>
															<label class="onoffswitch-label" for="availableRecruit">
																<span class="onoffswitch-inner"></span>
																<span class="onoffswitch-switch"></span>
															</label>
														</div>
													</div>
												</div>
											</div>
			
											<div class="row">
												<div class="col-md-8">
													{{ $Activities := .Activities }}
													<p>Typical Activities<span class="red-star">*</span></p>
													<span id="activities_err" class="error-message hide"></span>
													<ul class="profile-activities-col">
														<!-- ((each newActivitiesOption))  -->
														<li>
															<div class="md-checkbox">
																<!-- <input id="((value))" class="md-check" name="activities[]" ((checkedClasses iUser.profile.activities value)) value="((value))" type="checkbox"> -->
																<input id="Paddling" class="md-check" name="activities[]" value="Paddling" type="checkbox" {{ if in_array "Paddling" $Activities  }} checked {{ end }}>
																<!-- <label for="((value))"> -->
																<label for="Paddling">
																	<span class="check"></span>
																	<span class="box"></span>
																	<!-- ((label)) -->
																	Paddler
																</label>
															</div>
														</li>
														<li>
															<div class="md-checkbox">
																<input id="Coaching" class="md-check" name="activities[]" value="Coaching" type="checkbox" {{ if in_array "Coaching" $Activities  }} checked {{ end }}>
																<label for="Coaching">
																	<span class="check"></span>
																	<span class="box"></span>
																	Coach
																</label>
															</div>
														</li>
														<li>
															<div class="md-checkbox">
																<input id="Team Management" class="md-check" name="activities[]" value="Team Management" type="checkbox" {{ if in_array "Team Management" $Activities  }} checked {{ end }}>
																<label for="Team Management">
																	<span class="check"></span>
																	<span class="box"></span>
																	Team captain
																</label>
															</div>
														</li>
														<li>
															<div class="md-checkbox">
																<input id="Steering" class="md-check" name="activities[]" value="Steering" type="checkbox" {{ if in_array "Steering" $Activities  }} checked {{ end }}>
																<label for="Steering">
																	<span class="check"></span>
																	<span class="box"></span>
																	Steerer
																</label>
															</div>
														</li>
														<li>
															<div class="md-checkbox">
																<input id="Event Organising" class="md-check" name="activities[]" value="Event Organising" type="checkbox" {{ if in_array "Event Organising" $Activities  }} checked {{ end }}>
																<label for="Event Organising">
																	<span class="check"></span>
																	<span class="box"></span>
																	Event organizer
																</label>
															</div>
														</li>
														<li>
															<div class="md-checkbox">
																<input id="Drumming" class="md-check" name="activities[]" value="Drumming" type="checkbox" {{ if in_array "Drumming" $Activities  }} checked {{ end }}>
																<label for="Drumming">
																	<span class="check"></span>
																	<span class="box"></span>
																	Drummer
																</label>
															</div>
														</li>
														<li>
															<div class="md-checkbox">
																<input id="Club Organising" class="md-check" name="activities[]" value="Club Organising" type="checkbox" {{ if in_array "Club Organising" $Activities  }} checked {{ end }}>
																<label for="Club Organising">
																	<span class="check"></span>
																	<span class="box"></span>
																	Club organizer
																</label>
															</div>
														</li>
														<li>
															<div class="md-checkbox">
																<input id="Officiating" class="md-check" name="activities[]" value="Officiating" type="checkbox" {{ if in_array "Officiating" $Activities  }} checked {{ end }}>
																<label for="Officiating">
																	<span class="check"></span>
																	<span class="box"></span>
																	Official
																</label>
															</div>
														</li>
														<!-- ((/each)) -->
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<p>Bio</p>
													<!-- <textarea id="personal_info" class="form-control" rows="4" placeholder="Tell us about yourself in 140 characters">((currentUser.profile.about))</textarea> -->
													<textarea id="personal_info" name="personal_info" class="form-control" rows="4" placeholder="Tell us about yourself in 140 characters">{{ .UserInfo.user.about }}</textarea>
												</div>
											</div>
										</div>
									</section>
			
									<section class="content-padding profile-setting-options">
										<div class="row equal"> 
											<div class="col-md-6">
												<div class="panel panel-default">
													<div class="panel-heading vertical-center">
														<h5>Visible to captain,<br> coach & event organizer</h5>
													</div>
													<div class="panel-body">
														<div class="form-group">
															<label>Paddling Class <span class="red-star">*</span></label>
															<span id="class_err" class="error-message hide"></span>
															<div class="btn-group" role="group">
														<!-- <button type="button" value="M" class="btn btn-default class_type ((myClass 'M'))">M</button>
														<button type="button" value="W" class="btn btn-default class_type ((myClass 'W'))">F</button> -->
														{{ if compare .UserInfo.user.classes "M" }}
														<button type="button" value="M" class="btn btn-default class_type_M active">M</button>
														{{ else }}
														<button type="button" value="M" class="btn btn-default class_type_M">M</button>
														{{ end }}
			
														{{ if compare .UserInfo.user.classes "W" }}
														<button type="button" value="W" style="border-radius: 0 8px 8px 0;" class="btn btn-default class_type_W active">F</button>
														{{ else }}
														<button type="button" value="W" style="border-radius: 0 8px 8px 0;" class="btn btn-default class_type_W">F</button>
														{{ end }}
			
														<input type="text" class="form-control hide" id="classes" name="classes" value="{{ .UserInfo.user.classes }}"/>
			
													</div>
												</div>
			
												<div class="form-group" id="profile-settingscity">
													<label>City <span class="red-star">*</span></label>
													<!-- ((> inputAutocomplete settings=city id="address" class="form-control required" placeholder="Add your city" value=iUser.profile.location)) -->
													<input type="text" id="address" name="address" class="form-control required" placeholder="Add your city" value="{{ .UserInfo.user.location }}">
												</div>
			
												<div class="form-group">
													<label>T- Shirt Size</label>
													<!-- <input type="text" id="tshirt_size" name="tshirt_size" value="((iUser.profile.tshirt_size))" class="form-control" placeholder="Enter Size"> -->
													<input type="text" id="tshirt_size" name="tshirt_size" value="{{ .UserInfo.user.tshirt_size }}" class="form-control" placeholder="Enter Size">
												</div>
			
												<div class="form-group">
													<label>Email </label>
													<!-- <input type="email" class="form-control" value="((currentUser.emails.[0].address))" placeholder="Enter your email" disabled="true"> -->
													<input type="email" class="form-control" value="{{ .UserInfo.user.email_address }}" placeholder="Enter your email" disabled="true">
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="panel panel-default">
											<div class="panel-heading vertical-center">
												<h5>Visible to <br>captain & coach </h5>
											</div>
											<div class="panel-body">
												<div class="form-group">
													<label>Date of Birth <span class="red-star">*</span></label>
													<span id="dob_err" class="error-message hide"></span>
													<div class="input-group">
														<!-- <input type="text" name="dob" id="dob" value="((if currentUser.profile.dob))((dateFormate3 currentUser.profile.dob)) ((/if))" class="form-control required" placeholder="Date"> -->
														<input type="text" name="dob" id="dob" value="{{ .UserInfo.user.dob_format }}" class="form-control required" placeholder="Date">
														<span id="datepicker-icon" class="input-group-addon gray-icons dtpicker"><i class="ti-calendar"></i></span>
													</div>
												</div>
			
												<div class="form-group">
													<label>Weight</label>
													<div class="input-group">
														<span id="weight_err" class="error-message hide"></span>
														<!-- <input type="number" id="weight" name="weight" value="((iUser.profile.weight))" maxlength="3" class="form-control type-number" placeholder="Weight"> -->
														<input type="number" id="weight" name="weight" value="{{ .UserInfo.user.weight }}" maxlength="3" class="form-control type-number" placeholder="Weight">
														<span class="input-group-addon gray-icons dtpicker">lb</span>
													</div>
												</div>
			
												<div class="form-group country_dial_code">
													<label>Country Code</label>
													<span id="dial_code_err" class="error-message hide"></span>
													<select class="form-control select-custom required" name="dial_code" id="dial_code" style="width:100%;" >
														<option value="">- Select Country Code -</option>
														<option {{ if compare .UserInfo.user.dial_county_code "USA"}} selected {{ end }} value="+1">USA +1</option>
														<option {{ if compare .UserInfo.user.dial_county_code "Canada"}} selected {{ end }} value="+1">Canada +1</option>
														<option {{ if compare .UserInfo.user.dial_county_code "India"}} selected {{ end }} value="+91">India +91</option>
													</select>
												</div>
												<input type='hidden' id="dial_code_county_code" name="dial_code_county" value="{{.UserInfo.user.dial_county_code}}">	
			
												<div class="form-group">
													<label>Phone Number</label>
													<span id="phone_err" class="error-message hide"></span>
													<!-- <input type="text" id="phone" name="phone" value="((iUser.profile.phone))" class="form-control" placeholder="Enter number"> -->
													<input type="tel" id="phone" name="phone" value="{{ .UserInfo.user.phone }}" class="form-control" placeholder="Enter number" >
												</div>
											</div>
										</div>
									</div>
								</div>	
							</section>
			
							<section class="content-padding">
								<div class="profile-primary-settings">
									<a id="subscribe"></a>
									<div class="row">
										<div class="col-md-12">
											<h5>Gushou  Subscription</h5>								
										</div>
									</div>
			
									<div class="row">
										<div class="col-md-12">
											<div class="md-checkbox">
												<!-- <input value="1" id="unsubscribe" ((checkedSubscribtion iUser.profile.subscribe)) class="md-check" type="checkbox"> -->
												<input value="1" id="unsubscribe" name="unsubscribe" class="md-check" type="checkbox" {{ if compare .UserInfo.user.subscribe "1" }} checked {{ end }} >
												<label for="unsubscribe">
													<span class="check"></span>
													<span class="box"></span>
													Gushou daily digest emails, a summary of your daily Gushou activities and invitations
												</label>
											</div>
			
											<div class="md-checkbox">
												<!-- <input value="1" id="unsub_instant" ((checkedSubscribtion iUser.profile.instant_emails)) class="md-check" type="checkbox"> -->
												<input value="1" id="unsub_instant" name="unsub_instant" class="md-check" type="checkbox" {{ if compare .UserInfo.user.instant_emails "1" }} checked {{ end }} >
												<label for="unsub_instant">
													<span class="check"></span>
													<span class="box"></span>
													Instant emails
												</label>
											</div>
			
											<div class="md-checkbox">
												<input value="1" id="unsub_sms" name="unsub_sms" class="md-check" type="checkbox" {{ if compare .UserInfo.user.instant_sms "1" }} checked {{ end }} >
												<label for="unsub_sms">
													<span class="check"></span>
													<span class="box"></span>
													Instant SMS
												</label>
											</div>
			
											<div class="md-checkbox">
												<!-- <input value="1" id="unsub_news" ((checkedSubscribtionChimp iUser._id)) class="md-check" type="checkbox"> -->
											
												<input value="1" id="unsub_news" name="unsub_news" class="md-check" type="checkbox" {{ if .Newsletter }} checked {{ end }}>
												<label for="unsub_news">
													<span class="check"></span>
													<span class="box"></span>
													Gushou Newsletters
												</label>
											</div>
											
										</div>
									</div>
								</div>
							</section>
			
							<section class="content-padding">
								<div class="row">
									<div class="col-md-12">
										<button id="profileSave" type="button" class="btn btn-primary">Save</button>
									</div>
								</div>
							</section>
							</form>
							</div>
				  </div>
		      <div id="cardBillingPage" class="tab-pane fade">
						<div class="col-md-12 setting-div">

							<section class="row dashboard-members">
								<div class="col-md-12">
									<div class="content-padding">
										<div class="row">
											<div class="col-md-12 vertical-center">
												<h3>Subscription Information</h3>
											</div>
										</div>
							
										<div class="subscription-list_profile" style="">
											<div class="row">
												<div class="col-md-12">
													<div class="dasboard-team-table-container">
							
														<table id="" class="table dashboard-table dasboard-team-table responsive-table">
															<thead>
																<tr>
																	<th class="col-md-3">Team Name</th>
																	<th class="col-md-2">Subscription Type </th>
																	<th class="col-md-2">Rate</th>
																	<th class="col-md-3">ACTIVATION DETAILS</th>
																	<th class="col-md-2">Paid By</th>
																	<th class="col-md-1"></th>
																</tr>
															</thead>
															<tbody>
																{{$userId := .UserId}}
																{{$userId1 := .UserId}}
																{{  range $e2 := .User_Subscription_Detail}}
																{{if compare $e2.subscription_userid $userId | or (not $e2.subscription_userid)}} 
																<tr>
																	<td>
																		<div class="dasboard-team-table-th">Team Name</div>
																		<p class="team-table-side">
																				<a href="/team-view/{{$e2.team_slug}}" class="">{{$e2.team_name}}</a>
																		</p>
																	</td>
																	{{if ( compare $e2.free_trial "true" )| and (not $e2.trial_period_end_date) }}
																	<td>
																		<div class="dasboard-team-table-th">Subscription Type</div>
																		<p class="team-table-side">
																			Premium (Free Trial)  
																		</p>
																	</td>

																	<td>
																		<div class="dasboard-team-table-th">Rate</div>
																		<p class="team-table-side">
																				Free
																		</p>
																	</td>

																	<td>
																		<div class="dasboard-team-table-th">ACTIVATION DETAILS</div>
																		<p class="team-table-side">
																			Date of First Practice - 21 days after first practice
																		</p>
																</td>
																<td>
																	<div class="dasboard-team-table-th">Paid By</div>
																	<p class="team-table-side">
																		
																	</p>
																</td>
																
																<td>
																	{{if not $superAdmin}}
																	<a tabindex="0" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true"  data-toggle="popover"
																	data-trigger='focus' data-placement="left" data-content="<ul class='popover-waiver'><li><form id=submitSubscriptionform action=/stripe/subscription-view  method=GET><input type=hidden value='profilePage' name=subscription_from_setting_page>
																		<input type=hidden value={{$e2.team_id}} name= subscriptionTeamId><a id=submit_to_subscription_page href=#/ value='{{$e2.team_id}}'> upgrade </a></form></li></ul>">
																		<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
																	</a>
																	{{end}}
																</td>
																	
																	{{else if ( compare $e2.free_trial "true" )| and ($e2.trial_period_end_date)}}

																	<td>
																		<div class="dasboard-team-table-th">Subscription Type</div>
																		<p class="team-table-side">
																			Premium (Free Trial)  
																		</p>
																	</td>

																	<td>
																		<div class="dasboard-team-table-th">Rate</div>
																		<p class="team-table-side">
																				Free
																		</p>
																	</td>

																	<td>
																		<div class="dasboard-team-table-th">ACTIVATION DETAILS</div>
																		<p class="team-table-side">
																		{{$e2.format_trial_period_start_date}} -  {{$e2.format_trial_period_end_date}}
																		</p>
																</td>
																<td>
																	<div class="dasboard-team-table-th">Paid By</div>
																	<p class="team-table-side">
																		
																	</p>
																</td>
																<td>
																		{{if not $superAdmin}}
																	<a tabindex="0" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true"  data-toggle="popover"
																	data-trigger='focus' data-placement="left" data-content="<ul class='popover-waiver'><li><form id=submitSubscriptionform action=/stripe/subscription-view  method=GET><input type=hidden value='profilePage' name=subscription_from_setting_page>
																		<input type=hidden value={{$e2.team_id}} name= subscriptionTeamId><a id=submit_to_subscription_page href=#/ value='{{$e2.team_id}}'> upgrade </a></form></li></ul>">
																		<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
																	</a>
																	{{end}}
																</td>

																	{{else if ( compare $e2.free_trial "false" )| and ( compare $e2.subscription_on_off "false" )}}

																	<td>
																		<div class="dasboard-team-table-th">Subscription Type</div>
																		<p class="team-table-side">
																			Basic
																		</p>
																	</td>

																	<td>
																		<div class="dasboard-team-table-th">Rate</div>
																		<p class="team-table-side">
																				Free
																		</p>
																	</td>

																	<td>
																		<div class="dasboard-team-table-th">ACTIVATION DETAILS</div>
																		<p class="team-table-side">
																			{{$e2.format_basic_plan_start_date}}
																		</p>
																</td>
																<td>
																	<div class="dasboard-team-table-th">Paid By</div>
																	<p class="team-table-side">
																		
																	</p>
																</td>
																<td>
																		{{if not $superAdmin}}
																	<a tabindex="0" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true"  data-toggle="popover"
																	data-trigger='focus' data-placement="left" data-content="<ul class='popover-waiver'><li><form id=submitSubscriptionform action=/stripe/subscription-view  method=GET><input type=hidden value='profilePage' name=subscription_from_setting_page>
																		<input type=hidden value={{$e2.team_id}} name= subscriptionTeamId><a id=submit_to_subscription_page href=#/ value='{{$e2.team_id}}'> upgrade </a></form></li></ul>">
																		<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
																	</a>
																	  {{end}}
																</td>
																

																	{{else if ( compare $e2.free_trial "false" )| and ( compare $e2.subscription_on_off "true" )}}
																	<td>
																		<div class="dasboard-team-table-th">Subscription Type</div>
																		<p class="team-table-side">
																			Premium
																		</p>
																	</td>
							
																	<td>
																		<div class="dasboard-team-table-th">Rate</div>
																		<p class="team-table-side">
																				{{$e2.price}} 
																				{{if compare $e2.name "Premium Yearly" }}
																				/yr
																				{{else if compare $e2.name "Premimum Monthly" }}
																				/mthly
																				{{end}}
																		</p>
																	</td>

																	<td>
																		<div class="dasboard-team-table-th">ACTIVATION DETAILS</div>
																		{{if (compare $e2.status "active") | or  (compare $e2.status "canceled") | and $e2.canceled_date}}
																		<p class="team-table-side" style="padding-top: 28px;">
																			{{$e2.current_start_date}} - {{$e2.current_end_data}}
																					<p class="text-color-orange">Cancelled</p>
																		</p>
																		{{else if compare $e2.status "trialing" }}
																		<p class="team-table-side">
																			{{$e2.current_start_date}} - {{$e2.current_end_data}}
																				<!-- <p class="text-color-orange">{{$e2.status}}</p> -->
																		</p>
																		{{else}}
																		<p class="team-table-side">
																			{{$e2.current_start_date}} - {{$e2.current_end_data}}
																		</p>
																		{{end}}
																	</td>

																	<td>
																			<div class="dasboard-team-table-th">Paid By</div>
																			<p class="team-table-side">
																					{{$e2.paid_by}}
																			</p>
																	</td>
																	
																	<td>
																	{{if not $superAdmin}}
																	  {{if $e2.subscription_end_date }}
																			{{$subscription_end_date := isFutureDate $e2.subscription_end_date}}
																			{{if compare $subscription_end_date "true" | and $e2.canceled_date | and (compare $e2.status "active") | and (compare $e2.subscription_active_inactive "true") }}
																			<a tabindex="0" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
																				data-trigger='focus'  data-content="<ul class='popover-waiver'><li><a id=reactivate_subscription_detail href=#/ value='{{$e2.subscription_id}}' name={{$e2.team_id}}>Reactivate subscription</a></li></ul>">
																						<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
																			</a>
																			{{end}}
																		{{else if not $e2.canceled_date | and (compare $e2.status "active") | and (compare $e2.subscription_active_inactive "true") }}
																		<a tabindex="0" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
																		data-trigger='focus'  data-content="<ul class='popover-waiver'><li><a id=cancel_subscription_detail href=#/ value='{{$e2.subscription_id}}' data-teamname='{{$e2.team_name}}' name={{$e2.team_id}}>Downgrade </a></li></ul>">
																				<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
																		</a>
																		{{else if not $e2.canceled_date | and (compare $e2.status "trialing") | and (compare $e2.subscription_active_inactive "true") }}
																		<a tabindex="0" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
																		data-trigger='focus'  data-content="<ul class='popover-waiver'><li><a id=cancel_trial_subscription_detail href=#/ value='{{$e2.subscription_id}}' data-teamname='{{$e2.team_name}}' name={{$e2.team_id}}>Downgrade </a></li></ul>">
																				<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
																		</a>
																		{{else if not $e2.subscription_active_inactive }}
																		<a tabindex="0" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true"  data-toggle="popover"
																		data-trigger='focus' data-placement="left" data-content="<ul class='popover-waiver'><li><form id=submitSubscriptionform action=/stripe/subscription-view  method=GET><input type=hidden value='profilePage' name=subscription_from_setting_page>
																			<input type=hidden value={{$e2.team_id}} name= subscriptionTeamId><a id=submit_to_subscription_page href=#/ value='{{$e2.team_id}}'> upgrade </a></form></li></ul>">
																			<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
																		</a>
																		{{end}}
																		{{end}}
																	</td>
																	{{end}}
																</tr>
																{{ end }}
																{{ end }}
															</tbody>
														</table>
														{{if not .User_Subscription_Detail}}
														<p class="text-align-center">Subscription Information Empty</p>
														{{end}}
													</div>
												</div>
											</div>
							
										</div>
										<!-- ((if is_coCaptain team_details.slug currentUser._id)) -->
									</div>
								</div>
							</section>

							<section class="row dashboard-members">
								<div class="col-md-12">
									<div class="content-padding">
										<div class="row">
											<div class="col-md-12 vertical-center">
												<h3>Payment Method Details</h3>
											</div>
										</div>
							
										<div class="card-list_profile" style="">
										<div class="row">
												<div class="col-md-6 pull-right pending-member-option">
													<div class="text-right" style="padding: 8px">
														<a id="addBillingCard" href="#" class="btn btn-thin btn-phantom-green"><span class="ti-plus"></span> <span>Add Payment Method</span></a>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="dasboard-team-table-container">
							
														<table id="" class="table dashboard-table dasboard-team-table responsive-table">
															<thead>
																<tr>
																		<th class="col-md-4">BRAND</th>
																		<th class="col-md-3">CARD NUMBER</th>
																		<th class="col-md-3">EXPIRY DATE</th>
																		<th class="col-md-1"></th>
																</tr>
															</thead>
															{{if .User_Card_Detail}}
															{{ range $sp := .User_Card_Detail}}
																{{if $sp.card_id }}
																<tr>
																	<td>
																	<div class="dasboard-team-table-th">Brand</div>
																	<p class="team-table-side">
																			{{$sp.brand}}
																	</p>
																	</td>
																	<td>
																	<div class="dasboard-team-table-th">CARD NUMBER</div>
																	<p class="team-table-side">
																	{{if compare $sp.default_source "true" }}	
																	{{$sp.last4}} <span class="label-orange" style="float:none">Default card</span> 
																	{{else}}
																	{{$sp.last4}}
																	{{end}}
																	</p>
																	</td>
																	<td>
																		<div class="dasboard-team-table-th">EXPIRY DATE</div>
																		<p class="team-table-side">
																				{{$sp.exp_month}}/{{$sp.exp_year}}
																		</p> 
																	</td>
																	<td>
																		{{if not $superAdmin}}
																		<a tabindex="0" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
																			data-trigger='focus' data-content="<ul class='popover-waiver'>{{if compare $sp.default_source false }}	<li><a id={{$sp.card_id}} onclick=editOrDeleteOrDefaultCard('{{$sp.card_id}}','make_default',event)  href='#'>Make Default</a></li>{{end}}{{if compare $sp.default_source true }}<li><a id={{$sp.card_id}} onclick=editOrDeleteOrDefaultCard('{{$sp.card_id}}','notdelete',event)  href='#'>Delete</a></li>{{else}}<li><a id={{$sp.card_id}} onclick=editOrDeleteOrDefaultCard('{{$sp.card_id}}','delete',event)  href='#'>Delete</a></li>{{end}}</ul>">
																					<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
																		</a>
																		{{end}}
																	</td>
																</tr>
																{{end}}
															{{end}}
														{{end}}
													</tbody>
														</table>
														{{if not .User_Card_Detail}}
														<p class="text-align-center">Card Detail Empty</p>
														{{end}}
													</div>
												</div>
											</div>
							
										</div>
										<!-- ((if is_coCaptain team_details.slug currentUser._id)) -->
									</div>
								</div>
							</section>

							<section  class="white-section">
								<div class="container">
									<div class="row">
										<div class="spacing-sm">
											<div class="col-md-12">
												<div class="faq-item">
													<p>
														<strong>Refund Policy:</strong>
													</p>
													<p>Gushou does not issue refunds and customer can cancel at any time. Gushou customers are responsible for any charges
														incurred prior to cancellation.</p>
												</div>
							
												<div class="faq-item">
													<p>
														<strong>Subscription Information: </strong>
													</p>
													<p>Team subscriptions are not billed to individual team members. Team Captains are responsible for paying for their team’s
														subscription. Plans auto-renew after posted end date unless subscription is cancelled in advance. In the event where
														a Team Captain changes within Gushou, payment management responsibilities will be transferred to the new Team Captain.
														The paid period of the subscription will carry forward until expiry, at which point the new Team Captain will be prompted
														to update credit card information for renewal.</p>
												</div>
							
												<div class="faq-item">
													<p>If you have questions about Gushou’s payment policies, please contact us here:
														<a href='mailto:dragonboat@gogushou.com'
														 target='_blank'>dragonboat@gogushou.com</a>.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							
						</div>
					</div>
				  </div>
			</div>
		</div>

  </div>
	
<form id="profile_image_upload" enctype="multipart/form-data">
	<input type="hidden" id="paddleruserid" name="paddleruserid" value="{{.Paddleruserid}}">
	<div class="modal fade" id="projectImageModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<span id="rem_err_msgs" class="error-message"></span>
					<span id="rem_succ_msgs" class="success-message"></span>
					<div class="row">
						<div class="col-md-12">
							<h3>Upload profile image</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<span id="ps_err_msg" class="error-message"></span>
							<span id="ps_succ_msg" class="success-message" ></span>
							<!-- <span class="image-size">((uploadImageSizeText))</span>  -->
							<span class="image-size">Please upload a jpg or jpeg or png image of maximum 10MB, 100x100</span> 
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
									<span class="sr-only"></span>
								</div>
							</div>
							<div class="fileupload fileupload-new" data-provides="fileupload">
								
								<!-- <input id="psUpload" name="file" type="file" class="btn btn-primary btn-fullwidth btn-file fileupload-new" value="Select file" /> -->
								<div>
									<label for="psUpload" class="btn btn-primary btn-fullwidth btn-file fileupload-new"> Select file </label>
									<input id="psUpload" style="visibility:hidden;" name="file" type="file" />
								</div>
									
							</div>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>
</form>

<div class="modal fade" id="cancelSubscriptionModal" tabindex="-1" data-backdrop="static" >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close cancelSmsPracticeReminder" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<h3 id="smsReminderTitle">Cancel Subscription</h3>
					
					<div class="row" id="errorSmsReminder">
						<div class="col-md-12" id="errorTextAppend">Subscription Cancel after the current bill cycle </div>
					</div>
					
					<div class="row delete-team-user-row" id="smsReminderConfirmBtns">
						<div class="col-xs-6">
							<button id="cancel_subscription_detail_submit" type="button" class="btn btn-primary btn-fullwidth">Ok</button>
						</div>
						<div class="col-xs-6">
							<button type="reset" class="btn btn-secondary btn-fullwidth cancelSmsPracticeReminder" data-dismiss="modal" aria-label="Close">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

	{{ template "footer.html" . }}

</body>
</html>