<!DOCTYPE html>
<html>
<head>
	<title>Register | Gushou</title>
	{{ template "linksScripts.html" . }}
</head>
<body>
	{{ template "headerBeforeLogin.html" . }}

	<section class="features-header spacing-lg vertical-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center sign-up-head ">
					<h1 class="inverted">Create your account</h1>
					<p>Already have an account? <a href="/login">Sign in now</a>.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
					<div class="panel create-body-fullwidth panel-default sign-up">
						<div class="panel-head">
							<h2>Step 1 of 2</h2>
						</div>

						<div class="panel-body">
							<form role="form" id="registerForm" method="POST">
								{{ if .EmailExists }}
								<span id="err_msgs2" class="error">Email already exists.</span>
								{{ end }}

								{{ if .Errors.Email }}
								<span id="err_msgs3" class="error">Please enter a valid email address</span>
								{{ end }}
								<span id="password_err" class="error-message hide"></span>

								<span id="succ_msgs2" class=""></span>
								<div class="register-item">
									<div class="row">
										<div class="col-md-12">
											<h3>Account information <span class="red-star">*</span></h3>
										</div>
									</div>

									<div class="row">
										<div class="col-xs-12">
											<div class="form-group">
												<span id="email_err" class="error-message hide"></span>
												<input type="email" name="email" autofocus id="email" class="form-control input-md required" placeholder="Email Address" value="{{ .FormItems.Email }}">
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-12">
											<div class="input-group" id="pswd">
												<!-- <span id="password_err" class="error-message">Invalid password length</span> -->
												<input type="password" class="form-control required" id="password" name="password" placeholder="Password">
												<span class="input-group-addon password-info-tooltip" id="passwordRules">
													<a href="" id="password_info">
														<i class="ti-info-alt"></i>
														<div class="password-info-class-tooltip small">
															Password must contain 8 characters or more. It is recommended to use lowercase letters, uppercase letters and numbers.
														</div>
													</a>
												</span>

												<!-- <span class="password-info-tooltip input-group-addon">
													<i class="ti-info-alt"></i>
													<div class="password-info-class-tooltip">
														Password must contain 8 characters or more. It is recommended to use lowercase letters, uppercase letters and numbers.
													</div>
												</span> -->
											</div>
										</div>
									</div>
								</div><!--/.register-item-->

								<div class="register-item">
									<div class="row">
										<div class="col-md-12">
											<h3>What's your typical role? <span class="red-star">*</span></h3>
											<span id="activity_err" class="error-message hide"></span>
										</div>
									</div>

									<div class="row">
										<!-- ((each newActivitiesOption))
										<div class="col-md-6">
											<div class="md-checkbox">
												<input value="((value))" id="((value))" name="activities[]" class="md-check" type="checkbox">
												<label for="((value))">
													<span class="check"></span>
													<span class="box"></span>
													((label))
												</label>
											</div>
										
										</div>
										((/each)) -->
										<div class="col-md-6">
											<div class="md-checkbox">
												<input value="Paddling" class="md-check" name="activities[]" id="Paddling" type="checkbox">
												<label for="Paddling"><span class="check"></span><span class="box"></span>Paddler
												</label>
											</div>
										</div>

										<div class="col-md-6">
											<div class="md-checkbox">
												<input value="Coaching" class="md-check" name="activities[]" id="Coaching" type="checkbox">
												<label for="Coaching"><span class="check"></span><span class="box"></span>Coach
												</label>
											</div>
										</div>

										<div class="col-md-6">
											<div class="md-checkbox">
												<input value="Team Management" class="md-check" name="activities[]" id="Team Management" type="checkbox">
												<label for="Team Management"><span class="check"></span><span class="box"></span>Team captain
												</label>
											</div>
										</div>

										<div class="col-md-6">
											<div class="md-checkbox">
												<input value="Steering" class="md-check" name="activities[]" id="Steering" type="checkbox">
												<label for="Steering"><span class="check"></span><span class="box"></span>Steerer
												</label>
											</div>
										</div>

										<div class="col-md-6">
											<div class="md-checkbox">
												<input value="Event Organising" class="md-check" name="activities[]" id="Event Organising" type="checkbox">
												<label for="Event Organising"><span class="check"></span><span class="box"></span>Event organizer
												</label>
											</div>
										</div>

										<div class="col-md-6">
											<div class="md-checkbox">
												<input value="Drumming" class="md-check" name="activities[]" id="Drumming" type="checkbox">
												<label for="Drumming"><span class="check"></span><span class="box"></span>Drummer
												</label>
											</div>
										</div>

										<div class="col-md-6">
											<div class="md-checkbox">
												<input value="Club Organising" class="md-check" name="activities[]" id="Club Organising" type="checkbox">
												<label for="Club Organising"><span class="check"></span><span class="box"></span>Club organizer
												</label>
											</div>
										</div>

										<div class="col-md-6">
											<div class="md-checkbox">
												<input value="Officiating" class="md-check" name="activities[]" id="Officiating" type="checkbox">
												<label for="Officiating"><span class="check"></span><span class="box"></span>Official
												</label>
											</div>
										</div>
									</div>
								</div><!--/.register-item-->

								<div class="register-item">
									<div class="row">
										<div class="col-md-12">
											<input type="submit" value="Continue" class="btn btn-phantom-green btn-fullwidth" />
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{{ template "footer.html" . }}

</body>
</html>