<!DOCTYPE html>
<html>
<head>
	<title>Reset Password | Gushou</title>
	{{ template "linksScripts.html" . }}
</head>
<body>
	{{ template "headerBeforeLogin.html" . }}


	<section class="features-header spacing-lg vertical-center text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="inverted">Reset Password</h1>
          </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
              <div class="panel panel-default sign-up">
                  <div class="panel-body">
                    {{ if .Expired }}
                    <span id="rs_err_msgs1" class="error">The reset link has expired</span>
                    {{ end }}

                    {{ if .Invalid }}
                    <span id="rs_err_msgs1" class="error">
                      This link is expired. Please use the link from your most recent email with subject line 'Reset Gushou Password'
                    </span>
                    {{ end }}

                    <span id="rs_err_msgs" class="error"></span>
                    <span id="rs_succ_msgs" class=""></span>
                    <form role="form" id="resetPasswordForm" method="POST">
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="form-group" id="pswd">
                              <input type="password" name="resetPasswordPassword" id="resetPasswordPassword" class="form-control input-md" placeholder="New password">
                              <span class="input-group-addon password-info-tooltip" id="passwordRules" style="position: absolute;top: 9px;right: 30px;background-color: transparent;border: 0px;">
                                <a href="" id="password_info">
                                  <i class="ti-info-alt"></i>
                                  <div class="password-info-class-tooltip small">
                                    Password must contain 8 characters or more. It is recommended to use lowercase letters, uppercase letters and numbers.
                                  </div>
                                </a>
                              </span>
                            </div>

                            <div class="form-group">
                              <input type="password" name="resetPasswordPasswordConfirm" id="resetPasswordPasswordConfirm" class="form-control input-md" placeholder="Confirm password">
                            </div>

                            <input id="reset_password_submit" type="submit" value="Reset Password" class="btn btn-primary btn-fullwidth" {{ if .Expired | or .Invalid }} disabled style="background-color: #9ca2a1 !important;" {{ end }} >
                          </div>
                        </div>
                    </form>

                  </div>
                </div>
            </div>
          </div>
      </div>
  </section>
	

	{{ template "footer.html" . }}
  
</body>
</html>