<script>
  
    $(document).ready(function(){
    editOrDeleteOrDefaultCard = function (cardIdValue, optionType, e) {
      e.preventDefault();
      if(optionType == "notdelete"){
        $('#userstripemodel').modal("show")
        $('#defaultuserstripeheading').text("We cannot delete the default card. Please set another credit card as the default and then try again.")
        return 
      }
      $('#loading-spinner').removeClass('hide');
      $.ajax({
        type: "POST",
        url: "/stripe/delete_or_make_default_card",
        data: { "cardId" : cardIdValue,"optionType" : optionType },
      }).done(function(tempresultDataValue) {
        if (tempresultDataValue != "null" && tempresultDataValue) {
					submitValueDataValue = JSON.parse(tempresultDataValue)
					cardValueData = submitValueDataValue.status
        if (cardValueData == "true") {
          localStorage.setItem('activeTab','#billing')
          location.reload()
          $('#loading-spinner').addClass('hide');
        }else {
          $('#loading-spinner').addClass('hide');
        }
      }else {
        $('#loading-spinner').addClass('hide');
      }
      });
      }
    });
  </script>

<div class="modal fade" id="addCardDetailModal" tabindex="-1" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close canceladdcarderror" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<div class="row">
						<div class="col-md-12" style="padding-left: 0px;">

							<h3>Add Credit Card</h3>
						</div>
					</div>
					<div class="row">
					  <div class="col-md-12">
							<span id="setting_err_msgs"  class="error"></span>
							<span id="setting_succ_msgs" class="success"></span>
						</div>
						<form  method="post" id="payment-form">
						<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<!-- <label class="label-font-wei">Credit card </label> -->
										<div id="card-element">
												<!-- A Stripe Element will be inserted here. -->
										</div>
										<div id="card-errors" class="error" role="alert"></div>
									</div>
								</div>
            </div>
            <div class="create-box-section-footer">
                <div class="row">
                  <div class="col-md-12">
                    <!-- <input type="button" id="submitCreateTeam" value="Create team" class="btn btn-primary btn-fullwidth"> -->
                    <button class="btn btn-primary btn-fullwidth" >Add Credit Card</button>
                  </div>
                </div>
              </div>
					  </form>
					</div>		
				</div>
			</div>
		</div>
</div>
  
  <div class="modal fade" id="userstripemodel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <span id="waiver_removed_err" ></span>
                    <span id="waiver_removed_succ" ></span>
                    <p id="defaultuserstripeheading" ></p>
                  </div>
                </div>
              </div>
            </div>
           </div>
        </div>
      </div>
  </div>
  
  <div class="modal fade" id="registereventteampaymentpopup">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="ti-close"></i>
              </span>
            </button>
            <h3>Pay Now</h3>
            <form id="registereventpayment" method="POST" >
              <input id="eventregistercurrentEventRegisterTeamId"  type="hidden" name="payeventregisterteamid" value="{{.TempEventRegisterTeamID}}">
              <input id="eventregistercurrentEventSlug" type="hidden" name="payeventslug" value="{{.EventView.event_0.slug}}">
              {{if .SelectedEventRegister}}
              <input id="" type="hidden" name="currentEventRegisterId" value="{{.SelectedEventRegister.id}}">
              {{else}}
              <input id="eventregistercurrentEventRegisterId" type="hidden" name="currentEventRegisterId" value="">
              {{end}}
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <span id="event_payment_err" class="hide error-message"></span>
                    <span id="event_payment_succ" class="hide success-message"></span>
                    <div id="teampaymentpopup_Body">
                      {{if .RemainingAmount}}
                      <p style="font-size: 18px;padding-bottom: 15px;">{{.Team_Name}} owes {{.RemainingAmount}} on this fees</p>
                      {{else}}
                      <p style="font-size: 18px;padding-bottom: 15px;" id="paymentreplaceheading">Team owes 1000 on this fees</p>
                      {{end}}
                      <div class="">
                        <p style="padding-top: 5px;">Enter the amount to pay :</p>
                        <div class="input-group">
                        {{if .CurrencySymbol}}
                        <span  class='input-group-addon'>{{.CurrencySymbol}}</span>
                        {{else}}
                        <span id="paymentreplacecurrency" class='input-group-addon'></span>
                        {{end}}
                        <input id="pay_amount" type="number" step="any" min="0" class="event-payment-size form-control" name="event_team_payamount">
                      </div>
                      </div>
    
                      <div class="">
                        <p style="float: left;padding-top: 5px;font-weight: 700;">Transaction Note : </p>
                        <p style="font-size: 12px;float: left;font-weight: bold;padding-top: 5px;padding-left: 5px;">(Optional)</p>
                        <textarea rows="4" cols="34" id="team_event_transaction_note"  maxlength="200" name="event_team_transaction_note" class="form-control"></textarea>
                      </div>
    
                    </div>
                  </div>
                </div>
                <div class="row hide newcardpaymentdataonoff">
                    <div class="col-md-12">
                      <p style="float: left;padding-top: 10px;font-weight: 700;">Add Credit Card</p>
                    </div>
                </div>
                <div class="row hide newcardpaymentdataonoff">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" id="newcardpaymentnameid" class="form-control" placeholder="Name (Optional)" name="">
                      </div>
                      <div class="form-group">
                        <div id="event-card-element">
                            <!-- A Stripe Element will be inserted here. -->
                        </div>
                        <div id="event-card-errors" class="error" role="alert"></div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
              <div class="row">
                <div class="col-md-12" style="text-align: center;padding-top: 30px;">
                  <div class="col-md-6">
                    <button class="btn btn-phantom-green btn-fullwidth" style='' data-dismiss="modal" aria-label="Close">Cancel</button>
                  </div>
                  <div class="col-md-6">
                  <button type="button" id="defautcardeventpay" class="btn btn-phantom-orange  btn-fullwidth registerteampayclick hide">Pay Now</button>
                  <button id="newcardeventpay" class="btn btn-phantom-orange  btn-fullwidth hide">Pay Now</button>
                  </div>
                  <button  class="btn btn-thin paybutton registerteamaddcardclick" style="display: none;">Add Card</button>

                </div>
              </div>
              <div class="row">
              <div class="col-md-12" style="text-align: justify;padding-top: 30px;">
                <p><a id='teampaymnetinvoice' href="" target="_blank">Invoice</a></p>
                <p>Payments made online and through Gushou Inc are non-refundable.</p>
                <p>Offline payments made directly to Event Organizers are non-refundable unless explicitly stated by Event Organizer.</p>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  <div class="modal fade" id="userpaymentconfirmationmodel" tabindex="-1" data-backdrop="static" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
            <h3>Payment Option</h3>
            
            <div class="row" id="errorSmsReminder">
              <div class="col-md-12">
                Do you want to pay using the card ending {{.StripeSourceCardLast4}}?
              </div>
            </div>
            
            <div class="row delete-team-user-row">
              <div class="col-xs-6">
                <button id="defaultPaymentCardOption" type="button" class="btn btn-primary btn-fullwidth">Yes</button>
              </div>
              <div class="col-xs-6">
                <button id="newPaymentCardOption" type="button" class="btn btn-secondary btn-fullwidth" >No, Pay using another card</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>