<!DOCTYPE html>
<html>
<head>
	<title>Waiver | Gushou</title>
	{{ template "linksScripts.html" . }}	
	<!-- <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
	<script src="/static/js/waiver.js"></script> -->
	<script>
		window.onload = function() {
			var interval = setInterval(function() {
				if(document.readyState === 'complete') {
					clearInterval(interval);
					$('#loading-spinner').removeClass('hide'); 			
				    $('#loading-spinner').addClass('hide');
				}    
			}, 1000);		
		};
	  </script>	
</head>
<body>
	{{ if .IsLoggedIn }}
	{{ template "headerAfterLogin.html" . }}
	{{ else }}
	{{ template "headerBeforeLogin.html" . }}
	{{ end }}

	<!-- {{ if .UpdateSuccess }}
	<div class="success-message">
		<p><i class="ti-check"></i><span> You have successfully accepted your waiver. </span></p>
		<a href=""><i class="ti-close close-message"></i></a>
	</div>
	{{ end }} -->

	<div class="error-message hide">
		<p><i class="ti-alert"></i><span> You have errors in - Fiery Lizard</span></p>
		<a href=""><i class="ti-close close-message"></i></a>
	</div>
    {{if .TeamUploadWaiver}}
    {{ range $e := .TeamUploadWaiver }} 
	<div id="main-content">
		<div class="container">
			<div class="row">
				<div class="main-content-header">
					<div class="col-md-2">
						<div class="header-profile">
							<img src="/static/images/Default-Team-Images.png" class="img-circle" style="width: 70px;height: 70px;">
						</div>
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<!-- <h2>((teamWaiverDetails.waiver_name))</h2> -->
                                <h2>{{ $e.waiver_name }}</h2>	
                                <input type="hidden" id="teamSlugUpload" value="{{$e.team_slug}}">
                                <input type="hidden" id="eventSlugUpload" value="{{$e.event_slug}}">
								<p><a id="backFromViewUploadWaiver" href="#/" class="small"><i class="ti-arrow-left"></i> Back</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 dashboard-content" >
					<section class="row dashboard-location-section">
						<div class="content-padding">
							<!-- ((with teamWaiverDetails)) -->
							<!-- <object data="((waiver_url))" type="application/pdf" width="100%" height="800">
								<a href="((waiver_url))">test.pdf</a>
							</object> -->
							<object id="pdf" data="{{$e.signed_upload_waiver_path }}" type="application/pdf" width="100%" height="1188">
								<a href="{{ $e.signed_upload_waiver_path }}">{{$e.waiver_name }}.pdf</a>
							</object>
							 <!-- <iframe scrolling="no" src="{{ .TeamWaiver.waiver_url }}" class="iframeclass"></iframe> -->
							<!-- ((/with)) -->
						</div>
					</section>

					
					<section class="row dashboard-schedule">
						<div class="content-padding">
							<div class="col-md-12">
								<form id="accpetWaiverForm" class="form" method="POST">					
									<div class="row">
										<div id="waiver_errors" class="error-message hide">
											<p><span> </span></p>
										</div>
									</div>
									
									<!-- <div class="medical-condition-box waiver-hidden-box ((waiverDetails.show))" id="medical-condition-box" > -->
									<div id="medical-condition-box" >
										<div class="row">
											<div class="col-md-6">
												<label>Details of your medical condition:</label>
												<!-- <textarea class="form-control" name="medical_condition_desc" id="medical_condition_desc" rows="3" value="((waiverDetails.medical_condition_desc))" ((waiverDetails.disabled_all))></textarea> -->
												<textarea class="form-control" name="medical_condition_desc" id="medical_condition_desc" rows="3" value="" disabled>{{ $e.medical_condition_desc }}</textarea>
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Emergency Contact Name:<span class="waiver-imp"></span></label>
												<!-- <input type="text" name="contact_name" id="contact_name" class="form-control" style="width:100%" placeholder="Contact name" value="((waiverDetails.contact_name))" ((waiverDetails.disabled_all))> -->
												<input type="text" name="contact_name" id="contact_name" class="form-control" style="width:100%" placeholder="Contact name" value="{{$e.contact_name }}" disabled>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Emergency Contact Telephone:<span class="waiver-imp"></span></label>
												<span id="contact_number_err" class="error-message hide"></span>
												<!-- <input type="text" name="contact_number" id="contact_number" class="form-control" style="width:100%" placeholder="Contact telephone number"  value="((waiverDetails.contact_number))" ((waiverDetails.disabled_all))> -->
												<input type="text" name="contact_number" id="contact_number" class="form-control" style="width:100%" placeholder="Contact telephone number"  value="{{$e.contact_number }}" disabled>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<p class="gray-text">
                                                Your waiver has been uploaded by you or your captain. Thank you! If you require any assistance, please contact <a href="">dragonboat@gogushou.com</a>.
											</p>	
										</div>
									</div>
								</form>
							</div>
						</div>
					</section>
					
				</div>
			</div>
		</div>
	</div>
    {{end}}
    {{end}}

	{{ template "footer.html" . }}
	
</body>
</html>