<!DOCTYPE html>
<html>
<head>
	<title>Waiver | Gushou</title>
	{{ template "linksScripts.html" . }}	
	<!-- <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
	<script src="/static/js/waiver.js"></script> -->
	<script>
		window.onload = function() {
			var interval = setInterval(function() {
				if(document.readyState === 'complete') {
					clearInterval(interval);
					$('#loading-spinner').removeClass('hide'); 			
				    $('#loading-spinner').addClass('hide');
				}    
			}, 1000);		
		};
	  </script>	
</head>
<body>
	{{ if .IsLoggedIn }}
	{{ template "headerAfterLogin.html" . }}
	{{ else }}
	{{ template "headerBeforeLogin.html" . }}
	{{ end }}

	<!-- {{ if .UpdateSuccess }}
	<div class="success-message">
		<p><i class="ti-check"></i><span> You have successfully accepted your waiver. </span></p>
		<a href=""><i class="ti-close close-message"></i></a>
	</div>
	{{ end }} -->

	<div class="error-message hide">
		<p><i class="ti-alert"></i><span> You have errors in - Fiery Lizard</span></p>
		<a href=""><i class="ti-close close-message"></i></a>
	</div>

	<div id="main-content">
		<div class="container">
			<div class="row">
				<div class="main-content-header">
					<div class="col-md-2">
						<div class="header-profile">
							<img src="/static/images/Default-Team-Images.png" class="img-circle" style="width: 70px;height: 70px;">
						</div>
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<!-- <h2>((teamWaiverDetails.waiver_name))</h2> -->
								<h2>{{ .TeamWaiver.waiver_name }}</h2>
								{{if .str_from}}
								{{if not ( compare .str_from "withoutlogin")}}
								<p><a id="backTowaiverallPage" href="#/" class="small"><i class="ti-arrow-left"></i> Back</a></p>
								{{end}}
								{{else}}
								<p><a id="backTowaiverallPage" href="#/" class="small"><i class="ti-arrow-left"></i> Back</a></p>
								{{end}}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 dashboard-content" >
					<section class="row dashboard-location-section">
						<div class="content-padding">
							<!-- ((with teamWaiverDetails)) -->
							<!-- <object data="((waiver_url))" type="application/pdf" width="100%" height="800">
								<a href="((waiver_url))">test.pdf</a>
							</object> -->
							<object id="pdf" data="{{ .TeamWaiver.waiver_url }}" type="application/pdf" width="100%" height="1188">
								<a href="{{ .TeamWaiver.waiver_url }}">{{ .TeamWaiver.waiver_name }}.pdf</a>
							</object>
							 <!-- <iframe scrolling="no" src="{{ .TeamWaiver.waiver_url }}" class="iframeclass"></iframe> -->
							<!-- ((/with)) -->
						</div>
					</section>

					{{ if .TeamWaiver.fk_member_id }}
					<section class="row dashboard-schedule">
						<div class="content-padding">
							<div class="col-md-12">
								<form id="accpetWaiverForm" class="form" method="POST">					
									<div class="row">
										<div id="waiver_errors" class="error-message hide">
											<p><span> </span></p>
										</div>
										<div class="col-md-12">
											<label>Do you have a medical condition of which emergency personnel should be aware of?<span class="waiver-imp">*</span></label>
											<div class="onoffswitch">
												<!-- <input type="checkbox" name="medical_condition" class="onoffswitch-checkbox" id="medical_condition" ((waiverDetails.statusCheck))  ((waiverDetails.disabled_all))> -->
												<input type="checkbox" name="medical_condition" class="onoffswitch-checkbox" id="medical_condition" {{ if compare .TeamWaiver.medical_option "yes" }} checked {{ end }} {{ if .Signed }} disabled {{ end }}>
												<label class="onoffswitch-label" for="medical_condition">
													<span class="onoffswitch-inner"></span>
													<span class="onoffswitch-switch"></span>
												</label>
											</div>
										</div>
									</div>
									
									<!-- <div class="medical-condition-box waiver-hidden-box ((waiverDetails.show))" id="medical-condition-box" > -->
									<div class="medical-condition-box {{ if compare .TeamWaiver.medical_option "yes" | not }} waiver-hidden-box {{ end }} " id="medical-condition-box" >
										<div class="row">
											<div class="col-md-6">
												<label>Please provide us with the details of your medical condition:</label>
												<!-- <textarea class="form-control" name="medical_condition_desc" id="medical_condition_desc" rows="3" value="((waiverDetails.medical_condition_desc))" ((waiverDetails.disabled_all))></textarea> -->
												<textarea class="form-control" name="medical_condition_desc" id="medical_condition_desc" rows="3" value="" {{ if .Signed }} disabled {{ end }}>{{ .TeamWaiver.medical_condition_desc }}</textarea>
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Emergency Contact Name:<span class="waiver-imp">*</span></label>
												<!-- <input type="text" name="contact_name" id="contact_name" class="form-control" style="width:100%" placeholder="Contact name" value="((waiverDetails.contact_name))" ((waiverDetails.disabled_all))> -->
												<input type="text" name="contact_name" id="contact_name" class="form-control" style="width:100%" placeholder="Contact name" value="{{ .TeamWaiver.contact_name }}" {{ if .Signed }} disabled {{ end }}>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Emergency Contact Telephone:<span class="waiver-imp">*</span></label>
												<span id="contact_number_err" class="error-message hide"></span>
												<!-- <input type="text" name="contact_number" id="contact_number" class="form-control" style="width:100%" placeholder="Contact telephone number"  value="((waiverDetails.contact_number))" ((waiverDetails.disabled_all))> -->
												<input type="text" name="contact_number" id="contact_number" class="form-control" style="width:100%" placeholder="Contact telephone number"  value="{{ .TeamWaiver.contact_number }}" {{ if .Signed }} disabled {{ end }}>
											</div>
										</div>
									</div>

									<div class="row">
										<!-- <div class="col-md-6 text-left">
											<div class="md-checkbox" id="agree_checkbox">
												<input class="md-check" id="agree" name="agree" type="checkbox" value="I agree" {{ if .TeamWaiver.i_agree }} checked {{ end }} {{ if .Signed }} disabled {{ end }}>
												<label for="agree">
													<span class="check"></span>
													<span class="box"></span>
													I agree
												</label>
											</div>
										</div> -->
										<div class="col-md-12">

											{{ if .event_id}}
											<input type="hidden" id="eventidunder18" value="{{.event_id}}">
											{{end}}

											{{ if .team_id}}
											<input type="hidden" id="teamidunder18" value="{{.team_id}}">
											{{end}}

											{{ if .fk_team_waiver_id}}
											<input type="hidden" id="waiveridunder18" value="{{.fk_team_waiver_id}}">
											{{end}}

											{{ if .fk_member_id}}
											<input type="hidden" id="memberidunder18" value="{{.fk_member_id}}">
											{{end}}


											{{if .IsUnder18 }}
											<input type="hidden" id="checkunder18" value="{{.IsUnder18}}">
											{{if compare .IsUnder18 "true"}}
											<p class="gray-text" style="font-weight: bold;font-size: 18px;color: #755625 !important;">
												As you are under the age of 18, we ask that you please print the waiver above and have a guardian sign it. You can then scan and upload the waiver below.											</p>	
												{{end}}	
											{{end}}
										</div>
									</div>
									<div class="row">
										<div class="col-md-1">
											<!-- <button id="submit_signed_waiver" class="btn btn-primary" type="submit" ((waiverDetails.disabled_all))>ACCEPT</button> -->
											{{if .IsUnder18 }}
											{{if compare .IsUnder18 "true"}}
											<button id="submit_signed_waiver" class="btn {{ if not .Signed }}{{ end }}" type="submit" {{ if .Signed }} disabled {{ end }} style="background: #bf5523 !important; color: #fff;">Upload Waiver</button>

											{{else}}
											<button id="submit_signed_waiver" class="btn {{ if not .Signed }}{{ end }}" type="submit" {{ if .Signed }} disabled {{ end }} style="background: #bf5523 !important; color: #fff;">I agree (Accept)</button>
											{{end}}
											{{end}}
										</div>
									</div>
								</form>
							</div>
						</div>
					</section>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
	<form id="under18_signed_waiver_upload" method="POST">
			<div class="modal fade" id="uploadSignedWaiverUnder18FilesModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
								<h3>Upload Signed waiver</h3>
								<div class="row">
									<div class="col-lg-12">
										<span id="waiver_err_msg_upload" ></span>
										<span id="waiver_succ_msg_upload" ></span>
									</div>

									<div class="col-lg-12">
											<div class="form-group">
													
											
										<input type="hidden" id = "team_id_under18" value="" name="team_id_under18" class="form-control">
										<input type="hidden" id = "event_id_under18" value="" name="event_id_under18" class="form-control">
										<input type="hidden" id = "waiver_id_under18" value="" name="waiver_id_under18" class="form-control">
										<input type="hidden" id = "member_id_under18" value="" name="member_id_under18" class="form-control">
										<input type="hidden" id = "medical_cond_under18" value="" name="medical_cond_under18" class="form-control">
										<input type="hidden" id = "medical_cond_desc_under18" value="" name="medical_cond_desc_under18" class="form-control">
										<input type="hidden" id ="contact_name_under18" value="" name="contact_name_under18" class="form-control">
										<input type="hidden" id ="contact_number_under18" value="" name="contact_number_under18" class="form-control">
										<p class="image-size">Upload a file of maximum 10MB </p>
									</div>
									</div>
									<div class="col-lg-8">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
												<span class="sr-only"></span>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="fileupload fileupload-new" data-provides="fileupload">
											<!-- <span class="btn btn-phantom-green btn-file">
												<span class="fileupload-new">Select</span>
												<input id="waiverUpload" type="file"/>
											</span> -->
											<div>
												<label for="under18SignedWaiverUpload" class="btn btn-phantom-green btn-file fileupload-new"> Select </label>
												<input id="under18SignedWaiverUpload" style="visibility:hidden;" name="file" type="file" />
											</div>    
										</div>
			
									</div>
									<div>
										<p style="font-size: 13px;">Please note that once you upload your waiver, you will not be able to make changes. If you require assistance, please contact <a href="mailto:dragonboat@gogushou.com">dragonboat@gogushou.com</a>.</p>
									</div>
									<div class="col-lg-12">
										<input id="saveSignedWaiver" type="submit" class="btn btn-primary btn-fullwidth" value="Upload waiver" type="button">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				</form>

	{{ template "footer.html" . }}
	
</body>
</html>