<!DOCTYPE html>
<html>
<head>
	<title>Waivers | Gushou</title>
	{{ template "linksScripts.html" . }}
</head>
<body>
	{{ template "headerAfterLogin.html" . }}

	<div id="main-content">
		<div class="container">
			<div class="row">
				<div class="main-content-header">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<h2>Waivers</h2>
								<!-- <p><a href="((pathFor 'dashboard'))" class="small"><i class="ti-arrow-left"></i> Back to Dashboard</a></p> -->
								<p><a href="/dashboard" class="small"><i class="ti-arrow-left"></i> Back to Dashboard</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
					{{ if .UpdateSignWaiverSuccess }}
					<div class="col-xs-12" style="padding-left: 0px;padding-right: 0px;">
					<div class="success-message">
						<p><i class="ti-check"></i><span> You have successfully accepted your waiver. </span></p>
						<a href=""><i class="ti-close close-message"></i></a>
					</div>
					</div>
					{{ end }}
				<div class="col-xs-12 col-md-12 dashboard-content">
					<div class="content-padding">
						<table class="table dashboard-table responsive-table waivers-all-table">
							<thead>
								<tr>
									<th class="col-md-3">WAIVER</th>
									<th class="col-md-2">SIGNED ON</th>
									<th class="col-md-3">TEAM</th>
									<th class="col-md-4">EVENT</th>
									<th class="col-md-1"></th>
								</tr>
							</thead>
							<tbody>
								<!-- ((if Template.subscriptionsReady)) -->
								{{ if .MyWaiver }}
								{{ range $w := .AllWaivers}}
								<tr>
									<!-- <td><a href="((waiver_slug))">((waiver_name))</a></td>
									<td>((if waiver_signed_date))((dateFormate waiver_signed_date))((/if))</td>
									<td>((teamName team_id))</td>
									<td>((eventName event_id))</td>
									<td><a class="btn btn-phantom-green" href="((waiver_slug))">View</a></td> -->
									{{ $event_slug :=  $w.fk_event_id | GetEventSlug }}
									{{ $team_slug :=  $w.fk_team_id | GetTeamSlug }}


									<td><a href="/waiver/{{ $event_slug }}/{{ $team_slug }}">{{ $w.waiver_name }}</a></td>
									<td>{{ $w.signed_date }}</td>
									<td>{{ $w.team_name }}</td>
									<td>{{ $w.event_name }}</td>
									<td><a class="btn btn-phantom-green" href="/waiver/{{ $event_slug }}/{{ $team_slug }}">View</a></td>
								</tr>
								<!-- ((/each)) -->
								{{ end }}
								{{ else }}
								<tr>
									<td>No waivers</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								{{ end }}
								<!-- ((/if)) -->
								<!-- ((else)) -->
								<!-- ((> spinner)) -->
								<!-- ((/if))	 -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{{ template "footer.html" . }}
	
</body>
</html>