<!DOCTYPE html>
<html>
<head>
	<title>Dashboard | Gushou</title>
	{{ template "linksScripts.html" . }}
</head>
<body>
	{{ template "headerAfterLogin.html" . }}
	

	{{ $currentUserId := .CurrentUserId }}
	{{ $team_Manage_Admin := .Team_Manage_Admin}}
	{{ $event_Manage_Admin := .Event_Manage_Admin}} 
	{{ $paddling_Admin := .Paddling_Admin}} 
	<div id="main-content">
		<div class="container">
			<div class="row">
				<div class="main-content-header">
					<div class="col-md-2 custom-header-col-left">
						<div class="header-profile">
							{{ if .UserProfile.user.files }}
							<img src="{{ .UserProfile.user.files }}" class="img-circle">
							{{ else }}
							<img src="../static/images/paddler-default.png" class="img-circle">
							{{ end }}
						</div>
					</div>
					<div class="col-md-8 custom-header-col-right">
						<div class="row">
							<div class="col-md-12">
								<!-- <h2>((currentUser.profile.name)) ((currentUser.profile.last_name))</h2> -->
								<h2>{{.FirstName}} {{.LastName}}</h2>
								{{ if compare .UserProfile.user.status "available" }} 
								<div class="label-orange">Recruit Me</div>
								{{ end }}
							</div>
						</div>
						{{ if .UserProfile.user.about }}
						{{ if gt (len .UserProfile.user.about) 200 }}
						<div class="row">
							<div class="col-md-12 header-description">
								<!-- <p>((currentUser.profile.about))</p> -->
								<p id="showDescription">
									{{substr .UserProfile.user.about 0 200}}...
								</p>
								<p id="showFullDescription" class="hide">
									{{ .UserProfile.user.about }}
								</p>
								<!-- ((if readMore currentUser.profile.about '200')) -->
								<a href="" id="readMoreDescription" class="small">Read More</a>
								<!-- ((/if)) -->
							</div>
						</div>
						{{ else }}
						<div class="row">
							<div class="col-md-12 header-description">
								<p id="showDescription">
									{{ .UserProfile.user.about }}
								</p>
							</div>
						</div>
						{{ end }}
						{{ end }}
						<div class="row header-skills">
							<div class="col-md-12">
								<ul>
									{{ if .UserProfile.user.skill_level }}
									<li>
										<i class="ti-star"></i> 
										<!-- ((skillLevelOptionValue currentUser.profile.skill_level)) -->
										{{ if compare .UserProfile.user.skill_level "novice(0-1 yrs)" }}
											 Novice (0-1 yr)
										{{ else if compare .UserProfile.user.skill_level "expert(4+ yrs)" }}
										 	Expert (4+ yrs)
										{{ else if compare .UserProfile.user.skill_level "intermediate(2-3 yrs)" }}
										 	Intermediate (2-3 yrs)
										{{ end }}
									</li>
									{{ end }}
									{{ if .UserProfile.user.paddling_side }}
									<li>
										<img src="../static/images/paddler-side.png">
										<!-- ((sidePaddlerOptionValue currentUser.profile.paddling_side)) -->
										 {{ if compare .UserProfile.user.paddling_side "left" }}
											 Left side paddler
										 {{ else if compare .UserProfile.user.paddling_side "right" }}
										 	Right side paddler
										 {{ else if compare .UserProfile.user.paddling_side "both" }}
										 	Right and left side paddler
										 {{ end }}
									</li>
									{{  end }}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div><!--/main-content-header-->

			<div class="row">
				<div class="col-md-12 dashboard-content">
					<section class="dashboard-schedule no-border">
						<div class="content-padding">
							<div class="row">
								<div class="col-md-6">
									<h3>Schedule & Attendance</h3>
								</div>
								<div class="col-md-6 text-right hide">
									<a href id="show-schedule-grid" ><i class="ti-calendar"></i></a>
									<a href id="show-schedule-list" class="hide"><i class="ti-menu-alt"></i></a>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-4">
									<div class="dashboard-schedule-nav">
										<ul class="nav nav-pills">
										  <li role="presentation" id="whole_schdule" class="active"><a href>All</a></li>
										 <!--  <li role="presentation" id="only_events" ><a href>Events</a></li> -->
											<li role="presentation" id="only_practices"><a  href>Practices</a></li>
											<li role="presentation" id="only_activity"><a href="">Activity</a></li>
										</ul>
										
									</div>
								</div>
								<div class="col-md-4">
									<ul class="dashboard-schedule-month">
										<li>
											<a href="" id="prev_week" ><i class="ti-angle-left"></i></a>
										</li>
										<li id="month_cal" class="schedule-month hide"> <!-- ((currentMonth)) --></li>
										<!-- <li id="week_cal" >((startDateofWeek2)) - ((endDateofWeek2))</li> -->
										<li id="week_cal" ></li>
										<li>
											<a href="" id="next_week" ><i class="ti-angle-right"></i></a>
										</li>
									</ul>
								</div>
								<div class="col-md-4">
									<div class="dashboard-schedule-view">
										<ul class="nav nav-pills">
										  <li role="presentation" id="week_events" class="active"><a href>Week</a></li>
										  <li role="presentation" id="month_events" ><a href>Month</a></li>
										</ul>										
									</div>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-12">
									{{ if .TeamPractice }}
									<table id="schedule_table" class="table responsive-table dashboard-schedule-table ">
										<tbody>
											{{ if .Hide }}
											{{ range $index, $event := .UpcomingEvent }}
											<tr class="up_events hide week_num_year_{{ $event.week_number }}_{{ $event.year }} month_year_{{ $event.month }}_{{ $event.year }}">
												<td class="col-md-1">
													<div class="schedule-date">
														<h5>{{ $event.week_day }}</h5>
														<p>{{ $event.month_day }}</p>
														<p class="hide">12:00 AM</p>
													</div>
												</td>
												<td class="col-md-2 text-center">
													<img src="../static/images/event-default.png" class="img-circle">		
												</td>
												<td class="col-md-9">
													<div class="event-title">
														<!-- <h3>((event_name))</h3> -->
														<h3>{{ $event.event_name }}</h3>
													</div>
													<p>{{ $event.venue_name }}, {{ $event.venue_street_address }}, {{ $event.location }}</p>
													<input type="hidden" id="year_num" value="((year))"/>
													<input type="hidden" id="month_num" value="((month))"/>
													<input type="hidden" id="week_num" value="3"/>
													<input type="hidden" id="year_num" value="2017"/>
													<input type="hidden" id="month_num" value="1"/>
												</td>
											</tr>
											{{ end }}
											{{ end }}

											<!-- ((each recurring_team_practices)) -->
											{{ range $rtp:= .TeamPractice }}
											{{ range $each := $rtp }}

											<tr class="team_{{$each.team_practices_type}} hide {{ $each.repeats}} week_num_year_{{ CovertToInt $each.tempweek_number }}_{{ $each.tempyear }} month_year_{{ CovertToMonth $each.tempmonth}}_{{ $each.tempyear }}">
												<td class="col-md-1">
													{{if compare $each.team_practices_type "Activity" }}
													{{if $each.end_week_day }}
													<div class="schedule-date" style="width: 80px;height: 144px;">
														<h5>{{ $each.week_day }}</h5>
														<p>{{ $each.month_day }} </p>
														<p class="hide">{{ $each.practice_time }}</p>
														<span>-</span>
														<h5>{{ $each.end_week_day }}</h5>
														<span class="schedule-span">{{ $each.end_month_day }}</span>
														<span class="hide">{{ $each.practice_time }}</span>
													</div>
													{{else}}
													<div class="schedule-date" style="width: 80px;height: 80px;">
														<h5>{{ $each.week_day }}</h5>
														<p>{{ $each.month_day }} </p>
														<p class="hide">{{ $each.practice_time }}</p>
													</div>
													{{end}}
												
													{{else}}
													<div class="schedule-date" style="width: 80px;height: 80px;">
													<h5>{{ $each.week_day }}</h5>
													<p>{{ $each.month_day }}</p>
													<p class="hide">{{ $each.practice_time }}</p>
													</div>
													{{end}}
												</td>
												<td class="col-md-1 text-center">	
													<a href="/team-view/{{ $each.slug }}" style="color: #3a4642;">		
														{{ if $each.logo_url }}
														<img src="{{ $each.logo_url }}" class="img-circle"/>
														{{ else }}
														<img src="../static/images/Default-Team-Images.png" class="img-circle">
														{{ end }}	
													</a>		
												</td>
												<td class="col-md-6">
													<div class="schedule-practice" data-practicetype="{{$each.team_practices_type}}">
														<!-- <h3>((teamName team_id))</h3> -->
															<h3><a href="/team-view/{{ $each.slug }}" style="color: #3a4642;">{{ $each.team_name }}</a>
																{{ if $each.note }}

																{{ if gt (len (html2str $each.note) ) 0}}
																<span class="note-tooltip">
																	<i class="ti-notepad"></i>
																	<div class="class-tooltip">
																		<div class="note-tooltip-scroll">
																			{{ str2html $each.note }}
																		</div>
																		
																	</div>
																</span>
																{{ end }}
																
																{{ end }}
															</h3>
														
														<div class="li-class">
															<ul>
															<!-- <li>((practice_time)) (((practice_length)) mins)</li>
															<li>((practice_location))</li> -->
															<li>{{ $each.practice_time }} 
																	{{if compare $each.practice_length  "1440"}}
																		{{if $each.end_week_day }}
																			full days
																		{{else}}
																			full day
																		{{end}}
																	{{else}}
																		{{ $each.practice_length }}mins
																	{{end}}
															</li>
															<li>{{ $each.practice_location }}</li>
															</ul>
														</div>
													</div>
													<input type="hidden" id="my_prac_year" value="{{ $each.tempyear }}"/>
													<input type="hidden" id="my_prac_week" value="{{ CovertToInt $each.tempweek_number }}"/>
												</td>
												<td class="col-md-1 availability text-center">
												{{ if or (compare $team_Manage_Admin "true")  (compare $paddling_Admin "true") (.SuperAdmin) }}
													{{ if $each.id }}
													<form id="setAvalibility_{{ $each.id }}" method="POST">
														<li class="dropdown">
															{{ $Status := GetPracticeResponse $each.id $currentUserId }}
															{{ if $each.user_time_zone }}
																{{ $isFeaturePractice := IsFeaturePractice $each.practice_date $each.user_time_zone }}
																{{ if eq $isFeaturePractice true }}

																	{{ if compare $Status "NoResponse"}}
																		<button type="button" id="practice_status_{{ $each.id }}" onclick="displayPracticeStatus('{{ $each.id }}','{{ $Status }}',$(this),'{{$each.practice_date}}' ,'{{$each.practice_time}}')" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																			<u>																	
																			Set Availability
																			</u>
																		</button>
																	{{ else }}		
																		<button type="button" id="practice_status_{{ $each.id }}" onclick="displayPracticeStatus('{{ $each.id }}','{{ $Status }}',$(this),'{{$each.practice_date}}' ,'{{$each.practice_time}}')" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																			<u>																	
																			{{ $Status}}
																			</u>
																		</button>
																	{{ end }}

																{{ else }}
																	<button type="button" id="practice_status_{{ $each.id }}" class="disabled" data-toggle="tooltip" data-placement="top" title="cannot update past practices">
																		<u>																	
																		{{ if compare $Status "NoResponse"}}
																			Set Availability
																		{{ else }}																		
																			{{ $Status }}
																		{{ end }}
																		</u>
																	</button>
																{{ end }}
															{{ end }}

															<ul class="dropdown-menu row" aria-labelledby="practice_status_{{ $each.id }}">
																<div class="row">
																	<div class="col-md-12">
																		<div class="col-md-4">
																			<span><input type="radio" class="response" name="response" value="attending" checked /> Attending</span>
																		</div>
																		<div class="col-md-5">
																			<span><input type="radio" class="response" name="response" value="not attending"/> Not Attending</span>
																		</div>
																		<div class="col-md-3">
																			<span><input type="radio" class="response" name="response" value="maybe"/> Maybe</span>
																		</div>
																	</div>
																</div>

																<div class="row availability-note hide">
																	<div class="col-md-12">
																		<textarea class="form-control" rows="3" name="reason" placeholder="Add a note"></textarea>
																	</div>
																</div>

																<input type="hidden" class="circle" name="practice_id" value="{{ $each.id }}"/>
																<input type="hidden" name="currentDateTime" value=""/>

																<div class="row">
																	<div class="col-md-4">
																		<a id="practice_{{ $each.id }}" href="#" type="submit" class="btn btn-primary mark-availability">Save</a>
																	</div>
																	<div class="col-md-4 cancel-availability">
																		<a  href="#" class="">Cancel</a>
																	</div>																
																</div>											

															</ul>															
														</li>
													</form>
													{{ end }}
													{{ end }}
												</td>
											</tr>
											<!-- ((/each)) -->
											{{ end }}
											{{ end }}
										</tbody>
									</table>
									{{ end }}
									<!-- <input type="hidden" id="snweek_num" value="((paddlersSessionWeek))"/>
									<input type="hidden" id="snyear_num" value="((paddlersSessionYear))"/>
									<input type="hidden" id="schedule_date" value="((currentDate))">
									<div class="team-schedule-grid hide">
										((>fullcalendar calendarOptions))
									</div> -->
									<input type="hidden" id="snweek_num" value="3"/>
									<input type="hidden" id="snyear_num" value="2017"/>
									<input type="hidden" id="schedule_date" value="15">
									<div class="team-schedule-grid hide">
										<!-- ((>fullcalendar calendarOptions)) -->
										<!-- Add a package for fullCandendar if I forgot to add -->
										<div id="calendar-schedule" ></div>
									</div>
								</div>
							</div>
			
							<div class="row hide">
								<div class="col-md-12 text-center">
									<a href="" class="btn btn-phantom-green">View all</a>
								</div>
							</div>		
						</div>				
					</section>
					<!-- ((if ifWaivers)) -->
					<section class="row dashboard-waiver">
						<div class="content-padding">
							<div class="row">
								<div class="col-md-8">
									<h3 class="dashboard-waiver-heading">Check out your waivers here</h3>
								</div>
								<div class="col-md-4 text-right">
									<!-- <a href="((pathFor 'waiversAll'))" id="view-waivers" class="btn btn-phantom-green">View All</a> -->
									<a href="/waiver-all" id="view-waivers" class="btn btn-phantom-green">View All</a>
								</div>
							</div>
						</div>
					</section>
					<!-- ((/if)) -->
					<section class="row dashboard-bottom-section">
						<div class="col-md-4 dashboard-bottom">
							<div class="content-padding">
								<div class="row">
									<div class="col-md-4">
										<h3>TEAMS</h3>
									</div>
									<div class="col-md-8">
										<div class="col-xs-6 col-md-9 team-select">
												<select id="all_my_teams" name="all_my_teams" class="select-custom form-control" style="width:130px;">
													<option value="all">All</option>
													<option value="manage">I Manage</option>
													<option value="part_of">I'm On</option>
												</select>
										</div>
										<div class="col-xs-6 col-md-3 nav-pills-style">
											<div class="dashboard-nav-pills">
												<ul class="nav nav-pills">
											 <!--  <li role="presentation" id="myteams" class="active"><a href="">I Manage</a></li>
											 <li role="presentation" id="allteams" ><a href="#">I'm On</a></li> -->
											 <li><a href="/create-team" class="dashboard-add-btn"><i class="ti-plus"></i></a></li>
											</ul>
											
											</div>
										</div>
									</div>
								</div>
								<!-- ((if Template.subscriptionsReady)) -->
									 {{ if .TeamManage }}
										<!-- ((each myTeams)) -->
										{{ range $index, $element := .TeamManage }}
										{{ if lt ( convertToInt $index ) 5 }}
										<div class="row my_teams hide">
											<a href="/team-view/{{ $element.slug }}">
												<div class="col-md-3">
													{{ if $element.logo_url }}
													<img src="{{ $element.logo_url }}" class="img-circle"/> 
													{{ else }}
													<img src="../static/images/Default-Team-Images.png" class="img-circle">
													{{ end }}
												</div>
												<div class="col-md-9">
													<h3>{{ $element.team_name }}</h3>
													<ul class="dashboard-team-members">
														<li>{{ $element.team_province }}, {{ $element.team_country }}</li>
														<li>{{ $element.members }} members</li>
													</ul>
												</div>
											</a>
										</div>
										{{ end }}
										{{ end }}
										<!-- ((/each)) -->
									 {{ else }}
										<div class="row my_teams hide">
											<div class="col-md-3">
											</div>
											<div class="col-md-9">
												<h3>NO TEAMS</h3>
											</div>
										</div>
									{{ end }}
									<!-- ((/if))  -->

									{{ if .TeamPartOf }}
										<!-- ((each userTeams)) -->
										{{ range $index, $element := .TeamPartOf }}
										{{ if lt ( convertToInt $index ) 5 }}
										<div class="row mem_teams hide">
											<a href="/team-view/{{ $element.slug }}">
												<div class="col-md-3">
													{{ if $element.logo_url }}
													<img src="{{ $element.logo_url }}" class="img-circle"/> 
													{{ else }}
													<img src="../static/images/Default-Team-Images.png" class="img-circle">
													{{ end }}
												</div>
												<div class="col-md-9">
													<h3>{{ $element.team_name }}</h3>
													<ul class="dashboard-team-members">
														<li>{{ $element.team_province }}, {{ $element.team_country }}</li>
														<li>{{ $element.members }} members</li>
													</ul>
												</div>
											</a>
										</div>
										{{ end }}
										{{ end }}
										<!-- ((/each)) -->
									{{ else }}
										<div class="row mem_teams hide">
											<div class="col-md-3">
											</div>
											<div class="col-md-9">
												<h3>NO TEAMS</h3>
											</div>
										</div>
									{{ end }}

									{{ if .AllMyTeams }}
										<!-- ((each userTeams)) -->
										{{ range $index, $element := .AllMyTeams }}
										{{ if lt ( convertToInt $index ) 5 }}
										<div class="row all_my_teams">
											<a href="/team-view/{{ $element.slug }}">
												<div class="col-md-3">
													{{ if $element.logo_url }}
													<img src="{{ $element.logo_url }}" class="img-circle"/> 
													{{ else }}
													<img src="../static/images/Default-Team-Images.png" class="img-circle">
													{{ end }}
												</div>
												<div class="col-md-9">
													<h3><a href="/team-view/{{ $element.slug }}">{{ $element.team_name }}</a></h3>
													<ul class="dashboard-team-members">
														<li>{{ $element.team_province }}, {{ $element.team_country }}</li>
														<li>{{ $element.members }} members</li>
													</ul>
												</div>
											</a>
										</div>
										{{ end }}
										{{ end }}
										<!-- ((/each)) -->
									{{ else }}
										<div class="row all_my_teams">
											<div class="col-md-3">
											</div>
											<div class="col-md-9">
												<h3>NO TEAMS</h3>
											</div>
										</div>
									{{ end }}

									{{ if .myTeamCount }}
									<div class="row my_teams hide">
										<div class="col-md-12">
											<!-- <a href="((pathFor 'teamsAll'))" class="btn btn-phantom-green btn-fullwidth">View all</a> -->
											<a href="/team-all" class="btn btn-phantom-green btn-fullwidth">View all</a>
										</div>
									</div>
									{{ end }}

									{{ if .userTeamCount }}
									<div class="row mem_teams hide">
										<div class="col-md-12">
											<!-- <a href="((pathFor 'teamsAll'))" class="btn btn-phantom-green btn-fullwidth">View all</a> -->
											<a href="/team-all" class="btn btn-phantom-green btn-fullwidth">View all</a>
										</div>
									</div>
									{{ end }}

									{{ if .allMyTeamCount }}
									<div class="row all_my_teams">
										<div class="col-md-12">
											<!-- <a href="((pathFor 'teamsAll'))" class="btn btn-phantom-green btn-fullwidth">View all</a> -->
											<a href="/team-all" class="btn btn-phantom-green btn-fullwidth">View all</a>
										</div>
									</div>
									{{ end }}
									<!-- ((/if)) -->
								<!-- ((else)) -->
									<!-- Loading.... -->
								<!-- ((/if)) -->
							</div>
						</div>
						<div class="col-md-4 dashboard-bottom">
							<div class="content-padding">
								<div class="row">
									<div class="col-md-8">
										<h3>EVENTS</h3>
									</div>
									<!-- ((if userActivity "Event Organising")) -->
									<div class="col-md-4 text-right">
										<!-- <a href="((pathFor 'createEvent'))" class="dashboard-add-btn"><i class="ti-plus"></i></a> -->
										<a href="/create-event" class="dashboard-add-btn"><i class="ti-plus"></i></a>
										
									</div>
									<!-- ((/if)) -->
								</div>
								<!-- ((if Template.subscriptionsReady)) -->
									{{ if .MyEvent }}
										<!-- ((each myEvents)) -->
										{{ range $index, $element := .MyEvent }}
										{{ if lt ( convertToInt $index ) 5 }}
										<div class="row user-events">
											<a href="/event-view/{{ $element.slug }}">
												<div class="col-md-3">
													{{ if $element.logo_url }}
													<img src="{{ $element.logo_url }}" class="img-circle"/>
													{{ else }}
													<img src="../static/images/Default-Event-Images.png" class="img-circle">
													{{ end }}
												</div>
												<div class="col-md-9">
													<!-- <h3><a href="/event-view/((slug))">((event_name))</a></h3>
													<p>((if province)) ((province)), ((/if)) ((country))</p> -->
													<h3>{{ $element.event_name }}</a></h3>
													<p>{{ $element.province }}, {{ $element.country }}</p>
												</div>
											</a>
										</div>
										{{ end }}
										{{ end }}
									{{ else }}
										<div class="row">
											<div class="col-md-3">
											</div>
											<div class="col-md-9">
												<h3>NO EVENTS</h3>
											</div>
										</div>
									{{ end }}
									{{ if .myEventCount }}
										<div class="row">
											<div class="col-md-12">
												<!-- <a href="((pathFor 'eventsAll'))" class="btn btn-phantom-green btn-fullwidth">View all</a> -->
												<a href="/event-all" class="btn btn-phantom-green btn-fullwidth">View all</a>
											</div>
										</div>
									{{ end }}
								<!-- ((else)) -->
									<!-- Loading.... -->
								<!-- ((/if)) -->
							</div>
						</div>
						<div class="col-md-4 dashboard-notifications">
							<div class="content-padding">
								<div class="row">
									<div class="col-md-12">
										<h3>NOTIFICATIONS</h3>
									</div>
								</div>
								<!-- ((if Template.subscriptionsReady)) -->
									{{ if .MyNotification }}
										{{ range $index, $n:= .MyNotification }}
										{{ if lt $index 5 }}
											{{ if compare $n.type 2 }}
												<div class="row">
													<div class="col-md-3">
														{{ $userDetails := GetUserDetails $n.fk_initiator_id }}
														{{ if $userDetails.user.files }}
														<img src="{{ $userDetails.user.files }}" class="img-circle"> 
														{{ else }}
														<img src="../static/images/user-default.png" class="img-circle">
														{{ end }}
													</div>
													<div class="col-md-9">
														<p>{{ str2html $n.notification_desc }}</p>
														
														<div class="btn-group-wrap">
															<div class="btn-group" role="group">
															  <button type="button" id="eo_accept" class="btn btn-accept eo_accept" value="{{ $n.fk_event_id }};{{ $n.id }}">
															  	<i class="ti-check"></i>
															  </button>
															  <button type="button" id="eo_decline" class="btn btn-deny" value="{{ $n.fk_event_id }};{{ $n.id }}">
															  	<i class="ti-close"></i>
															  </button>
															</div>
														</div>
														<!-- <p class="small">((dateFormate2 date)), ((time date))</p> -->
														<p class="small local-date-time">{{ $n.date }}</p>
													</div>
												</div>
											{{ end }}
											{{ if compare $n.type 3 }}
												<div class="row">
													<div class="col-md-3">
														{{ $userDetails := GetUserDetails $n.fk_initiator_id }}
														{{ if $userDetails.user.files }}
														<img src="{{ $userDetails.user.files }}" class="img-circle"> 
														{{ else }}
														<img src="../static/images/user-default.png" class="img-circle">
														{{ end }}
													</div>
													<div class="col-md-9">
														{{ if $n.new_build_in_msg }}
																{{ str2html $n.notification_desc }} 
														{{ else }}
																{{ str2html $n.notification_desc }} 
														<!-- <p>((userName initiator)) (({notification_desc))} ((eventName event_id)) for team ((teamName team_id)) </p> -->
														<!-- <p>userName initiator notification_desc eventName for team teamName</p> -->
														 {{ end }}
														<!-- ((if message))<p>((message))</p><br>((/if)) -->
														<!-- <p><a id="view_waiver" href="/waiver/((getEventSlug event_id))/((getTeamSlug team_id))" class="btn btn-phantom-orange">View waiver</a></p> -->
														
														{{ $event_slug :=  $n.fk_event_id | GetEventSlug }}
														{{ $team_slug :=  $n.fk_team_id | GetTeamSlug }}

														<p><a id="view_waiver" href="/waiver/{{ $event_slug }}/{{ $team_slug }}" class="btn btn-phantom-orange">View waiver</a></p>

														<!-- <p class="small">((dateFormate2 date)), ((time date))</p> -->
														<p class="small local-date-time">{{ $n.date }}</p>
													</div>
												</div>
											{{ end }}
											{{ if compare $n.type 4 }}
												<div class="row">
													<div class="col-md-3">
														{{ $userDetails := GetUserDetails $n.fk_initiator_id }}
														{{ if $userDetails.user.files }}
														<img src="{{ $userDetails.user.files }}" class="img-circle"> 
														{{ else }}
														<img src="../static/images/user-default.png" class="img-circle">
														{{ end }}
													</div>
													<div class="col-md-9">
														{{ if $n.new_build_in_msg }}
																{{ str2html $n.notification_desc }} 
														{{ else }}
																{{ str2html $n.notification_desc }} 
															<!-- <p>((userName initiator)) (({notification_desc))}  ((eventName event_id)) ((teamName team_id))</p>
															<p>((message))</p> -->
															<!-- <p>userName initiator notification_desc  eventName event_id teamName team_id</p>
															<p>message</p> -->
														{{ end }}
														<div class="btn-group-wrap">
															<div class="btn-group" role="group">
															  <!-- <button type="button" id="tj_accept" class="btn btn-accept" value="{{ $n.fk_team_id }};{{ $n.id }}"><i class="ti-check"></i></button> -->
															  <button type="button" id="tj_decline" class="btn btn-deny" value="{{ $n.fk_team_id }};{{ $n.id }}">Remove</button>
															</div>
														</div>
														<!-- <p class="small">((dateFormate2 date)), ((time date))</p> -->
														<p class="small local-date-time">{{ $n.date }}</p>														
													</div>
												</div>
											{{ end }}
											{{ if compare $n.type 5 }}
												<div class="row">
													<div class="col-md-3">
														{{ $userDetails := GetUserDetails $n.fk_initiator_id }}
														{{ if $userDetails.user.files }}
														<img src="{{ $userDetails.user.files }}" class="img-circle"> 
														{{ else }}
														<img src="../static/images/user-default.png" class="img-circle">
														{{ end }}
													</div>
													<div class="col-md-9">
														{{ if $n.new_build_in_msg }}
																{{ str2html $n.notification_desc }} 
														{{ else }}
																{{ str2html $n.notification_desc }} 
															<!-- <p>((userName initiator)) (({notification_desc))}  ((eventName event_id)) ((teamName team_id))</p> -->
															<!-- <p>userName initiator notification_desc  eventName event_id teamName team_id</p>
															<p>((message))</p>
															<p>message</p> -->
														{{ end }}
														<div class="btn-group-wrap">
															<div class="btn-group" role="group">
															  <button type="button" id="tjr_accept" class="btn btn-accept" value="{{$n.fk_initiator_id}};{{ $n.fk_team_id }};{{ $n.id }}"><i class="ti-check"></i></button>
															  <button type="button" id="tjr_decline" class="btn btn-deny" value="{{$n.fk_initiator_id}};{{ $n.fk_team_id }};{{ $n.id }}"><i class="ti-close"></i></button>
															</div>
														</div>
														<!-- <p class="small">((dateFormate2 date)), ((time date))</p> -->
														<p class="small local-date-time">{{ $n.date }}</p>
													</div>
												</div>
											{{ end }}
											{{ if compare $n.type 6 }}
												<div class="row">
													<div class="col-md-3">
														{{ $userDetails := GetUserDetails $n.fk_initiator_id }}
														{{ if $userDetails.user.files }}
														<img src="{{ $userDetails.user.files }}" class="img-circle"> 
														{{ else }}
														<img src="../static/images/user-default.png" class="img-circle">
														{{ end }}
													</div>
													<div class="col-md-9">
														<p>{{ str2html $n.notification_desc }}</p>
														
														<div class="btn-group-wrap">
															<div class="btn-group" role="group">
															  <button type="button" id="claim_accept" class="btn btn-accept" value="{{ $n.fk_initiator_id }};{{$n.fk_event_id }};{{ $n.id }}"><i class="ti-check"></i></button>
															  <button type="button" id="claim_decline" class="btn btn-deny" value="{{ $n.fk_initiator_id }};{{$n.fk_event_id }};{{ $n.id }}"><i class="ti-close"></i></button>
															</div>
														</div>
														<!-- <p class="small">((dateFormate2 date)), ((time date))</p> -->
														<p class="small local-date-time">{{ $n.date }}</p>
													</div>
												</div>
											{{ end }}
											{{ if compare $n.type 9 }}
												<div class="row">
													<div class="col-md-3">
														{{ $userDetails := GetUserDetails $n.fk_initiator_id }}
														{{ if $userDetails.user.files }}
														<img src="{{ $userDetails.user.files }}" class="img-circle"> 
														{{ else }}
														<img src="../static/images/user-default.png" class="img-circle">
														{{ end }}
													</div>
													<div class="col-md-9">
														{{ if $n.new_build_in_msg }}
																{{ str2html $n.notification_desc }} 
														{{ else }}
																{{ str2html $n.notification_desc }} 
														{{ end }}
														<!-- <p>((message))</p> -->
														{{ if compare $n.actions "{3,9}"}}
														<div class="btn-group-wrap">
															<div class="btn-group" role="group">
															  <button type="button" id="tj_accept" class="btn btn-accept" value="{{ $n.fk_team_id }};{{ $n.id }}"><i class="ti-check"></i></button>
															  <button type="button" id="tj_decline" class="btn btn-deny" value="{{ $n.fk_team_id }};{{ $n.id }}"><i class="ti-close"></i></button>
															</div>
														</div>
														{{ end }}
														<!-- <p class="small">((dateFormate2 date)), ((time date))</p> -->			
														<p class="small local-date-time">{{ $n.date }}</p>
													</div>
												</div>
											{{ end }}
											<!-- <input type="hidden" id="hdn_event_id_((_id))" value="((event_id))">
											<input type="hidden" id="hdn_team_id_((_id))" value="((team_id))">
											<input type="hidden" id="hdn_rec_id_((_id))" value="((receiver))">
											<input type="hidden" id="hdn_init_id_((_id))" value="((initiator))"> -->
											<input type="hidden" id="hdn_event_id__id" value="event_id">
											<input type="hidden" id="hdn_team_id__id" value="team_id">
											<input type="hidden" id="hdn_rec_id__id" value="receiver">
											<input type="hidden" id="hdn_init_id__id" value="initiator">
										{{ end }}
										{{ end }}
									{{ else }}
										<div class="row">
											<div class="col-md-2"></div>
											<div class="col-md-10">
												<h3>NO NOTIFICATIONS</h3>
											</div>
										</div>
									{{ end }}
									{{ if .myNotificationCount }}
									<div class="row">
										<div class="col-md-12">
											<!-- <a href="((pathFor 'notificationsAll'))" class="btn btn-phantom-green btn-fullwidth">View all</a> -->
											<a href="/notification-all" class="btn btn-phantom-green btn-fullwidth">View all</a>
										</div>
									</div>
									{{ end }}
								<!-- ((else)) -->
								<!-- 	Loading.... -->
								<!-- ((/if)) -->
							</div>
						</div>
					</section>
				</div>
				
			</div>
		</div><!--/container-->
	</div>

	<div class="modal fade" id="practiceAttStatusModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
						<h3>Practice Attendance Status</h3>
	
						<span id="rem_err_msgs" class=""></span>
						<span id="rem_succ_msgs" class=""></span>
						<div class="row">
							<div class="col-md-12">
								<p>Please contact your captain to make changes to past practices.</p>							
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="removeTeamModel">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
						<h3>Remove From Team</h3>
						<!-- <p>Cannot delete ((deleteUsername)). Check if the paddler is a captain or event organizer.</p> -->
						<p>Cannot delete<span class="deleteUsername"></span>. Check if you are captain.</p>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-primary btn-fullwidth" data-dismiss="modal" aria-label="Close">Ok</button>
					</div>
				</div>
			</div>
		</div>


	{{ template "footer.html" . }}

</body>
</html>