<!DOCTYPE html>
<html>
<head>
	<title>Features | Gushou</title>
	{{ template "linksScripts.html" . }}
</head>
<body>
	{{ if .IsLoggedIn }}
	{{ template "headerAfterLogin.html" . }}
	{{ else }}
	{{ template "headerBeforeLogin.html" . }}
	{{ end }}

	<section class="features-header white-text spacing-lg vertical-center text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Built for dragon boating</h1>
					<p>Gushou's features save you countless hours managing your<br />
						dragon boat event, team or paddling schedule.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="gray-section">
		<div class="container">
			<div class="row">
				<ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="col-md-3 active">
				    	<a href="#everyone" aria-controls="everyone" role="tab" data-toggle="tab">
				    	 <i class="i-everyone"></i>  Everyone</a>
				    </li>
				    <li role="presentation" class="col-md-3">
				    	<a href="#event-organizer" aria-controls="event-organizer" role="tab" data-toggle="tab">
				    	<i class="i-event"></i>  Event organizers & clubs</a>
				    </li>
				    <li role="presentation" class="col-md-3">
				    	<a href="#team-captains" aria-controls="team-captains" role="tab" data-toggle="tab">
				    	<i class="i-team"></i>  Team captains</a>
				    </li>
				    <li role="presentation" class="col-md-3">
				    	<a href="#paddlers" aria-controls="paddlers" role="tab" data-toggle="tab">
				    	<i class="i-paddler"></i> Paddlers & others</a>
				    </li>
				</ul>
			</div>
		</div>
	</section>
 
	<section class="white-section lp-features spacing-lg">
		<div class="container">
			<div class="tab-content">
			    <div role="tabpanel" class="tab-pane fade in active" id="everyone">
					<div class="row equal">
						<div class="col-md-4 equal">
							<div class="tab-content-inner">
								<h4>Communication</h4>
								<i class="i-paddler"></i> <i class="i-event"></i>
								<p>Whether you're managing 25 teammates or an event organizer trying to manage 25 teams, Gushou's communication features allow you to communicate to the intended group effectively and efficiently via emails and digests. </p>
							</div>
						</div>
						<div class="col-md-4 equal">
							<div class="tab-content-inner">
								<h4>Event calendar</h4>
								<i class="i-paddler"></i> <i class="i-event"></i>
								<p>Paddling on more than one team? Gushou can help coordinate schedules and manage paddling appointments and practices.</p>
							</div>
						</div>
						<div class="col-md-4 equal">
							<div class="tab-content-inner">
								<h4>Custom paddler profiles</h4>
								<i class="i-paddler"></i> 
								<p>Paddlers, showcase your skills and allow team captains and event organizers to find your profiles for recruitment purposes anywhere in the world.</p>
							</div>
						</div>
					</div>

					<div class="row equal">
						<div class="col-md-4 equal">
							<div class="tab-content-inner">
								<h4>Event and team listings</h4>
								<i class="i-paddler"></i> <i class="i-team"></i> <i class="i-event"></i>
								<p>Organizing an event? Reach out to more teams, vendors and sponsors locally and nationally. On a team? Discover scores of local and international dragon boat events easily searchable by date, location and race categories.</p>
							</div>
						</div>
						<div class="col-md-4 equal">
							<div class="tab-content-inner">
								<h4>Event and team profiles</h4>
								<i class="i-team"></i> <i class="i-event"></i>
								<p>Profiles pages are a great opportunity for organizers, teams and sponsors to promote their interest; and with Gushou, you simply need to populate specified fields and upload your favourite photos.</p>
							</div>
						</div>
						<div class="col-md-4 equal">
							<div class="tab-content-inner no-border-feature">
								<h4>Easy administration</h4>
								<i class="i-team"></i> <i class="i-event"></i>
								<p>Make important announcements to your target audience and process team registration. Goodbye paper waivers. Hello easy, eco-friendly online waivers.</p>
							</div>
						</div>
					</div>

					<div class="row equal">
						<div class="col-md-4 equal">
							<div class="tab-content-inner no-border-feature">
								<h4>Scheduling</h4>
								<i class="i-paddler"></i> <i class="i-team"></i> <i class="i-event"></i>
								<p>Team captains can easily manage and share practice schedules with team members. If a paddler's team is registered for an event, it will also appear in their calendar.</p>
							</div>
						</div>
						<div class="col-md-4 equal">
							<div class="tab-content-inner no-border-feature">
								<h4>Recruitment</h4>
								<i class="i-paddler"></i> <i class="i-team"></i> <i class="i-event"></i>
								<p>Whether you're an established team recruiter or a brand new team trying to fill your first race roster, Gushou is the dragon boat matchmaker. Teams and paddlers can search according to the fields selected and find the perfect fit.</p>
							</div>
						</div>
						<div class="col-md-4 equal visible-md">
						</div>
					</div>

			    </div>

			    <div role="tabpanel" class="tab-pane fade in" id="event-organizer">
			    	<div class="row equal">
						<div class="col-md-4 equal">
							<div class="tab-content-inner">
								<h4>Communication</h4>
								<i class="i-paddler"></i> <i class="i-event"></i>
								<p>Whether you're managing 25 teammates or an event organizer trying to manage 25 teams, Gushou's communication features allow you to communicate to the intended group effectively and efficiently via emails and digests. </p>
							</div>
						</div>
						<div class="col-md-4 equal">
							<div class="tab-content-inner">
								<h4>Event calendar</h4>
								<i class="i-paddler"></i> <i class="i-event"></i>
								<p>Paddling on more than one team? Gushou can help coordinate schedules and manage paddling appointments and practices.</p>
							</div>
						</div>
						<div class="col-md-4 equal">
							<div class="tab-content-inner">
								<h4>Event and team listings</h4>
								<i class="i-paddler"></i> <i class="i-team"></i> <i class="i-event"></i>
								<p>organizing an event? Reach out to more teams, vendors, and sponsors locally and nationally.On a team? Discover scores of local and international dragon boat events easily searchable by date, location and race categories.</p>
							</div>
						</div>
					</div>

					<div class="row equal">
						
						<div class="col-md-4 equal">
							<div class="tab-content-inner">
								<h4>Event and team profiles</h4>
								<i class="i-team"></i> <i class="i-event"></i>
								<p>Profiles pages are a great opportunity for organizers, teams and sponsors to promote their interest; and with Gushou, you simply need to populate specified fields and upload your favourite photos.</p>
							</div>
						</div>
						<div class="col-md-4 equal">
							<div class="tab-content-inner no-border-feature">
								<h4>Easy administration</h4>
								<i class="i-team"></i> <i class="i-event"></i>
								<p>Make important announcements to your target audience and process team registration. Goodbye paper waivers. Hello easy, eco-friendly online waivers.</p>
							</div>
						</div>
						<div class="col-md-4 equal">
							<div class="tab-content-inner no-border-feature">
								<h4>Scheduling</h4>
								<i class="i-paddler"></i> <i class="i-team"></i> <i class="i-event"></i>
								<p>Team captains can easily manage and share practice schedules with team members. If a paddler's team is registered for an event, it will also appear in their calendar.</p>
							</div>
						</div>
					</div>

					<div class="row equal">
						
						<div class="col-md-4 equal">
							<div class="tab-content-inner no-border-feature">
								<h4>Recruitment</h4>
								<i class="i-paddler"></i> <i class="i-team"></i> <i class="i-event"></i>
								<p>Whether you're an established team recruiter or a brand new team trying to fill your first race roster, Gushou is the dragon boat matchmaker. Teams and paddlers can search according to the fields selected and find the perfect fit.</p>
							</div>
						</div>
						<div class="col-md-4 equal visible-md">
						</div>
						<div class="col-md-4 equal visible-md">
						</div>
					</div>
			    </div>

			    <div role="tabpanel" class="tab-pane fade in" id="team-captains">
			    	<div class="row equal">
						<div class="col-md-4 equal">
							<div class="tab-content-inner">
								<h4>Event and team listings</h4>
								<i class="i-paddler"></i> <i class="i-team"></i> <i class="i-event"></i>
								<p>organizing an event? Reach out to more teams, vendors, and sponsors locally and nationally.On a team? Discover scores of local and international dragon boat events easily searchable by date, location and race categories.</p>
							</div>
						</div>
						<div class="col-md-4 equal">
							<div class="tab-content-inner">
								<h4>Event and team profiles</h4>
								<i class="i-team"></i> <i class="i-event"></i>
								<p>Profiles pages are a great opportunity for organizers, teams and sponsors to promote their interest; and with Gushou, you simply need to populate specified fields and upload your favourite photos.</p>
							</div>
						</div>
						<div class="col-md-4 equal">
							<div class="tab-content-inner no-border-feature">
								<h4>Easy administration</h4>
								<i class="i-team"></i> <i class="i-event"></i>
								<p>Make important announcements to your target audience and process team registration. Goodbye paper waivers. Hello easy, eco-friendly online waivers.</p>
							</div>
						</div>
					</div>

					<div class="row equal">
						<div class="col-md-4 equal">
							<div class="tab-content-inner no-border-feature">
								<h4>Scheduling</h4>
								<i class="i-paddler"></i> <i class="i-team"></i> <i class="i-event"></i>
								<p>Team captains can easily manage and share practice schedules with team members. If a paddler's team is registered for an event, it will also appear in their calendar.</p>
							</div>
						</div>
						<div class="col-md-4 equal">
							<div class="tab-content-inner no-border-feature">
								<h4>Recruitment</h4>
								<i class="i-paddler"></i> <i class="i-team"></i> <i class="i-event"></i>
								<p>Whether you're an established team recruiter or a brand new team trying to fill your first race roster, Gushou is the dragon boat matchmaker. Teams and paddlers can search according to the fields selected and find the perfect fit.</p>
							</div>
						</div>
						<div class="col-md-4 equal visible-md">
						</div>
					</div>

			    </div>

			    <div role="tabpanel" class="tab-pane fade in" id="paddlers">
			    	<div class="row equal">
						<div class="col-md-4 equal">
							<div class="tab-content-inner">
								<h4>Communication</h4>
								<i class="i-paddler"></i> <i class="i-event"></i>
								<p>Whether you're managing 25 teammates or an event organizer trying to manage 25 teams, Gushou's communication features allow you to communicate to the intended group effectively and efficiently via emails and digests. </p>
							</div>
						</div>
						<div class="col-md-4 equal">
							<div class="tab-content-inner">
								<h4>Event calendar</h4>
								<i class="i-paddler"></i> <i class="i-event"></i>
								<p>Paddling on more than one team? Gushou can help coordinate schedules and manage paddling appointments and practices.</p>
							</div>
						</div>
						<div class="col-md-4 equal">
							<div class="tab-content-inner">
								<h4>Custom paddler profiles</h4>
								<i class="i-paddler"></i> 
								<p>Paddlers, showcase your skills and allow team captains and event organizers to find your profiles for recruitment purposes anywhere in the world.</p>
							</div>
						</div>
					</div>

					<div class="row equal">
						<div class="col-md-4 equal">
							<div class="tab-content-inner no-border-feature">
								<h4>Event and team listings</h4>
								<i class="i-paddler"></i> <i class="i-team"></i> <i class="i-event"></i>
								<p>organizing an event? Reach out to more teams, vendors, and sponsors locally and nationally.On a team? Discover scores of local and international dragon boat events easily searchable by date, location and race categories.</p>
							</div>
						</div>
						<div class="col-md-4 equal">
							<div class="tab-content-inner no-border-feature">
								<h4>Scheduling</h4>
								<i class="i-paddler"></i> <i class="i-team"></i> <i class="i-event"></i>
								<p>Team captains can easily manage and share practice schedules with team members. If a paddler's team is registered for an event, it will also appear in their calendar.</p>
							</div>
						</div>
						<div class="col-md-4 equal">
							<div class="tab-content-inner no-border-feature">
								<h4>Recruitment</h4>
								<i class="i-paddler"></i> <i class="i-team"></i> <i class="i-event"></i>
								<p>Whether you're an established team recruiter or a brand new team trying to fill your first race roster, Gushou is the dragon boat matchmaker. Teams and paddlers can search according to the fields selected and find the perfect fit.</p>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
	</section>  

	<section class="coming-soon-section white-text vertical-center spacing-lg text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>More Coming Soon</h2>
					<p>Event registration, statistics, real-time event results, dragon boat e-store, and more.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="gushou-section white-section vertical-center spacing-lg text-center"> 
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Ready To Go Gushou</h2>
					<!-- <a href="((pathFor 'register'))" class="btn btn-primary btn-lg">Get started</a> -->
					<a href="/register" class="btn btn-primary btn-lg">Get started</a>
				</div>
			</div>
		</div>
	</section>
	
	{{ template "footer.html" . }}

</body>
</html>