<div id="loading-spinner" class="">
	</div>
	<div id="main-spinner" class="">
</div>
<p id="check_browser">In order to get the best Gushou experience, we recommend you use a modern browser such as Chrome or Firefox.</p>
<nav class="navbar navbar-default navbar-fixed-top" id="top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="nav-link navbar-brand" href="/">
				<img src="/static/images/gushou-logo.png" alt="Gushou">
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li data-toggle="collapse" data-target=".nav-collapse">
					<a href="/dashboard" class="nav-link">Dashboard</a>
				</li>
				<!-- <li class="dropdown">
					<a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community <span class="ti-angle-down"></span></a>
					<ul class="dropdown-menu">
						((if is_superAdmin))
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="((pathFor 'paddlers'))" class="nav-link">Paddlers</a></li>
						((/if)) 
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="((pathFor 'teams'))" class="nav-link">Teams</a></li>
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="((pathFor 'events'))" class="nav-link">Events</a></li>
						
						{{ if .SuperAdmin}}
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="/paddlerList" class="nav-link">Paddlers</a></li>
						{{ end }}
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="/teamList" class="nav-link">Teams</a></li>
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="/eventList" class="nav-link">Events</a></li>
					</ul>
				</li> -->

				{{ if .SuperAdmin}}
				<li data-toggle="collapse" data-target=".nav-collapse">
					<a href="/paddlerList" class="nav-link">Paddlers</a>
				</li>
				{{ end }}
				<li data-toggle="collapse" data-target=".nav-collapse">
					<a href="/teamList" class="nav-link">Teams</a>
				</li>
				<!-- <li data-toggle="collapse" data-target=".nav-collapse" class="nav-link"><a href="((pathFor 'events'))">Events</a></li> -->
				<li data-toggle="collapse" data-target=".nav-collapse" class="nav-link"><a href="/eventList">Events</a></li>
				<li class="dropdown">
					<a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="ti-angle-down"></span></a>
					<ul class="dropdown-menu">
						<!-- <li data-toggle="collapse" data-target=".nav-collapse"><a href="((pathFor 'features'))" class="nav-link">Features</a></li> -->
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="/features" class="nav-link">Features</a></li>
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="https://gogushou.wordpress.com/" target="_blank" class="nav-link">Blog</a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li data-toggle="collapse" data-target=".nav-collapse" class="nav-link">
					<a href="/dashboard">
						{{ if .UserId }}
						{{ $user_details := GetUserDetails (convertToString .UserId) }}
						{{ if $user_details.user.files }}
						<img src="{{ $user_details.user.files }}" class="img-circle profile-image-upload">
						{{ else }}
						<img src="/static/images/paddler-default.png" class="img-circle profile-image-upload">
						{{ end }}
						{{ else }}
						<img src="/static/images/paddler-default.png" class="img-circle profile-image-upload">
						{{ end }}
					</a>
				</li>

				<li class="dropdown">
					<!-- <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">((currentUser.profile.name)) ((currentUser.profile.last_name)) <span class="ti-angle-down"></span></a> -->
					<a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
						{{ .FirstName }} {{ .LastName }}<span class="ti-angle-down" style="margin-left: 4px;"></span></a>
					<ul class="dropdown-menu profile-setting-dropdown">
						<!-- <li data-toggle="collapse" data-target=".nav-collapse"><a href="((pathFor 'profileSettings'))" class="nav-link">Profile settings</a></li>
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="((pathFor 'changePassword'))" class="nav-link">Change password</a></li> -->
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="/profile-setting" class="nav-link">Settings</a></li>
						<li data-toggle="collapse" data-target=".nav-collapse"><a href="/change-password" class="nav-link">Change password</a></li>

						<li data-toggle="collapse" data-target=".nav-collapse"><a href="/logout" id="signout">Sign out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>