<!DOCTYPE html>
<html>
<head>
	<title>Home | Gushou</title>

	{{ template "linksScripts.html" . }}


</head>
<body>


	{{ if .IsLoggedIn }}
	{{ template "headerAfterLogin.html" . }}
	{{ else }}
	{{ template "headerBeforeLogin.html" . }}
	{{ end }}

	<section class="jumbotron white-text vertical-center text-center">
		<div class="container">
			<h1>Outstanding Dragon Boaters Deserve Outstanding Tools</h1>
			<h2 class="text-capitalize">SAVE TIME MANAGING TEAMS AND EVENTS</h2>
			<div class="row text-center">
				<div class="col-md-6 col-md-offset-3">
					<p class="mb-0"><small>Used by</small></p>
					<div class="header-icons-wrap">
						<div class="header-icons">
							<img src="../static/images/team-captains.png">
							<p><small>Captains</small></p>
						</div>
						<div class="header-icons">
							<img src="../static/images/paddlers.png">
							<p><small>Paddlers</small></p>
						</div>
						<div class="header-icons">
							<img src="../static/images/event-organizers.png">
							<p><small>Organizers</small></p>
						</div>
					</div>
				</div>
			</div>
			<a href="/register" class="btn btn-primary btn-lg mx-1 mb-1">Create A Free Account</a>
			<p><small>(in minutes)</small></p>
		</div>
	</section>

	<section class="white-section spacing-top text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="text-capitalize"><em>"WHEN IT COMES TO MANAGING A TEAM, GUSHOU IS A TOTAL GAME-CHANGER."</em></h2>
					<p>- Louis Low, Captain of Thunderstruck</p>
				</div>
			</div>
		</div>
	</section>

	<section class="white-section spacing-top text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="embed-responsive embed-responsive-16by9">
					  <iframe width="560" src="https://www.youtube.com/embed/k5DB7sdGZDw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="built-dragon-boating" class="dragon-boating spacing-top text-center">
		<div class="container">

			<div class="row">
				<div class="spacing-sm">
					<div class="col-md-4">
						<div class="centered-content"><img src="../static/images/icon-save-time.jpg" class="img-responsive"></div>
						<h3 class="mt-0 mb-0">Save Time</h3>
						<p>Save time! Easily manage your roster and practice schedule and streamline team communications.</p>
					</div>
					<div class="col-md-4">
						<div class="centered-content"><img src="../static/images/icon-connect-instantly.jpg" class="img-responsive"></div>
						<h3 class="mt-0 mb-0">Connect instantly with your team</h3>
						<p>Communicate important and timely messages. Track attendance easily from your phone, tablet or computer.</p>
					</div>
					<div class="col-md-4">
						<div class="centered-content"><img src="../static/images/icon-organize-event.jpg" class="img-responsive"></div>
						<h3 class="mt-0 mb-0">Organize an event in minutes</h3>
						<p>Reach your audience. Streamline registration and keep your customers coming back.</p>
					</div>
				</div>
				<div class="col-md-12 text-center">
					<!-- <a class="btn btn-primary btn-lg" href="((pathFor 'features'))" role="button">Explore features</a> -->
					<a class="btn btn-primary btn-lg" href="/features" role="button">Discover More Features</a>
				</div>
				<div class="spacing-lg">
					<div class="col-sm-12">
						<p class="lead">Most dragon boat captains lead teams because they love dragon boating and the community that surrounds it. They soon find out just how frustrating it can be to manage schedules and communicate with paddlers, and they spend way too much time behind a computer, instead of on the water with their friends.</p>

						<p class="lead">Gushou can help. Imagine a program that could schedule practices, communicate with your team and make filling your boat quick and painless. That's what Gushou does and that's what it can do for you.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--
	<section class="spacing-lg vertical-center text-center upcoming-events-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-white">FEATURED EVENTS</h2>
					<a href="#" class="btn btn-outline-light btn-lg mb-5">View More</a>
				</div>
				<div class="col-md-12">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="hovereffect mb-1">
							<img class="img-responsive" src="../static/images/event-bg-1.jpg" alt="">
							<div class="overlay">
								<h2>Milton Dragon Boat Festival</h2>
								<p><a href="https://gogushou.com/event-view/milton-dragonboat-festival-milton_20180215094300">LEARN MORE</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="hovereffect mb-1">
							<img class="img-responsive" src="../static/images/event-bg-2.jpg" alt="">
							<div class="overlay">
								<h2>Boston Dragon Boat Festival</h2>
								<p><a href="https://gogushou.com/event-view/boston-dragon-boat-festival-boston">LEARN MORE</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="hovereffect mb-1">
							<img class="img-responsive" src="../static/images/event-bg-3.jpg" alt="">
							<div class="overlay">
								<h2>Long Beach Dragon Boat Festival</h2>
								<p><a href="https://gogushou.com/event-view/long-beach-dragon-boat-festival-long-beach_20180109153148">LEARN MORE</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	-->

	<!--
	<section class="community-section white-text spacing-lg text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Community Powered</h2>
					<h3>Paddlers, team captains, steerers, drummers, coaches and organizers. <br /> Connect with all these and more.</h3>
					<a href="/teamList" class="btn btn-primary btn-lg">See who's using Gushou</a>
					<div class="img-container">
						<img src="../static/images/gushou-team.png" class="img-responsive" />
					</div>
				</div>
			</div>
		</div>
	</section>
	-->



	<section class="white-section how-it-works-section text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<h2 class="text-white text-capitalize mt-5">Here's how Gushou works</h2>
					<div class="img-container">
						<img src="../static/images/browser-mockup-sign-up.png" class="img-responsive" />
					</div>
				</div>
				<div class="col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2">
					<div class="img-pull-up">
						<a href="/register" class="btn btn-sm btn-primary float-bottom">Create Your Account Today</a>
						<div class="image-wrap">
							<img src="../static/images/4-easy-steps.png" class="img-responsive" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="white-section text-center">
		<div class="container">
			<div class="row">
				<div class="spacing-sm">
					<div class="col-sm-12">
						<h1>What Is Gushou?</h1>
						<p class="lead">Founders Chrissy and Blake love dragon boating except one thing - the everyday frustration that comes with trying to organize a team. That's what led them to build Gushou. Their frustration has been transformed into joy since developing software that is helping organize and manage the dragon boat industry. Today they travel and speak all over North America promoting this breakthrough software.</p>
					</div>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-0 col-xs-6">
					<div class="profile-image-wrap">
						<img src="../static/images/chrissy-pic.png" class="img-responsive" />
					</div>
					<p>Chrissy</p>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="profile-image-wrap">
						<img src="../static/images/blake-pic.png" class="img-responsive" />
					</div>
					<p>Blake</p>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe src="https://www.youtube.com/embed/ybvyIu2HPnk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="white-section">
		<div class="container">
			<hr>
			<div class="row">
				<div class="col-md-12 text-center">
					<h2 class="text-capitalize mt-3 mb-0">As Featured in</h2>
					<div class="spacing-sm">
						<div class="row text-center">
							<div class="col-xs-3">
								<a href="https://www.mississauga.com/sports-story/6765776-mississauga-partners-start-up-online-dragonboat-hub-gushou/" target="_blank"><img src="../static/images/logo-mississauga.png" class="img-responsive"></a>
							</div>
							<div class="col-xs-3">
								<a href="https://eugephemisms.wordpress.com/2016/08/02/guest-posting-introducing-gushou-the-future-of-dragon-boat-organization/" target="_blank"><img src="../static/images/logo-eugephemisms.png" class="img-responsive"></a>
							</div>
							<div class="col-xs-3">
								<a href="https://www.youtube.com/watch?v=QQEyAzpDz-g" target="_blank"><img src="../static/images/logo-ebh.png" class="img-responsive"></a>
							</div>
							<div class="col-xs-3">
								<img src="../static/images/logo-usability.png" class="img-responsive">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="testimonials-section white-text spacing-lg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-capitalize text-center mt-3 mb-5">What Others Are Saying About Gushou</h2>
					<!--
					<div class="quotes spacing-sm">
						<img src="../static/images/quotation.png"  />
					</div>
					-->
					<div class="row">
						<div class="col-md-4">
							<p class="lead"><em>"I always knew that with all the long email chains and missed details that there had to be a better way to organize our team. I tried Gushou and it has saved me so much time each week. Everyone gets all the information they need right away."</em></p>
						</div>
						<div class="col-md-4">
							<p class="lead"><em>"I love being Lake Practice Coordinator for Dragons Abreast, but was always looking for an easier way to communicate with our paddlers. I  was unsure about trying new software to manage my team, but when I realized how quick and easy it is to use Gushou - I loved it and going forward I will be using it all the time. I highly recommend Gushou to everyone managing a dragon boat team."</em></p>
							<p><small>Joanna Chrystal, Dragons Abreast</small></p>
								<img src="../static/images/logo-dragons-abreast.png" class="img-responsive" />
						</div>
						<div class="col-md-4">
							<p class="lead"><em>"There were so many times that I considered giving up as a team captain. It was too much work to organize our team. When I heard about Gushou, everything became simple and fun again. I could now spend more time enjoying the water than stuck behind a computer.  I could do this for years now - it's so easy."</em></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="green-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2 class="text-white text-capitalize mt-5">Who's Using Gushou Near You?</h2>
					<a href="/teamList" class="btn btn-primary btn-lg mb-5">Explore Gushou's Growing Community</a>
				</div>
			</div>
		</div>
	</section>

	<section class="white-section spacing-top text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-capitalize">Pricing</h2>
					<h3>Use Gushou's core features for free as long as you wish. We offer advanced features that start as low as $5/user/year.</h3>
					<div class="img-container">
						<img src="../static/images/browser-mockup-pricing.jpg" class="img-responsive" />
					</div>
					<a href="/pricing" class="btn btn-primary btn-lg mb-5">See Pricing Options</a>
				</div>
			</div>
		</div>
	</section>


	<section class="faq-section white-text spacing-lg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2 class="text-capitalize mt-3 mb-5">FAQ</h2>
					<p class="lead">We want Gushou to help your team succeed. Check out our list of frequently asked questions. Perhaps there is something we can help you with right away.</p>
					<a href="/pricing#faq" class="btn btn-primary btn-lg mb-5">FAQ Page</a>
				</div>
			</div>
		</div>
	</section>



	<!-- ((if currentUser._id)) -->

	<!-- ((else)) -->
	<section class="white-section spacing-lg vertical-center text-center pb-0">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-capitalize">Subscribe Here for Tips, Tricks and More Helpful Content</h2>
					<p class="lead">Read about Gushou in the news, testimonials, and some tips and tricks for optimal use.

					<p class="lead mb-5">Check out our blog at: <a href="https://gogushou.wordpress.com/" class="text-orange">https://gogushou.wordpress.com/</a></p>

				</div>
				<div class="col-md-12 pb-0">
					<img src="../static/images/bottom-illustration.jpg" class="img-responsive" />
				</div>
			</div>
		</div>
	</section>
	<!-- ((/if)) -->


	{{ template "footer.html" . }}



</body>
</html>