<link rel="icon" sizes="16x16 32x32" href="/static/images/favicon.ico.png?v=2">

<link rel="stylesheet" href="/static/styles/jquery-ui.min.css">
<link rel="stylesheet" href="/static/styles/bootstrap.min.css">
<link rel="stylesheet" href="/static/styles/medium-editor.min.css">
<link rel="stylesheet" href="/static/styles/default.min.css">
<link rel="stylesheet" href="/static/styles/select2.min.css">
<link rel="stylesheet" href="/static/styles/fullcalendar.min.css">
<link rel="stylesheet" href="/static/styles/fullcalendar.print.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/styles/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/static/styles/lightslider.css">
<link rel="stylesheet" href="/static/styles/minimal.css">
<link rel="stylesheet" href="/static/styles/style.css">
<link rel="stylesheet" href="/static/styles/themify-icons.css">
<link rel="stylesheet" href="/static/styles/green.css">

<script>
    var loginScriptStatus = {{.IsLoggedIn}};
    var isTeamViewPage = {{.IsTeamViewPage}};
    var teamCaptainStatus = {{.TeamCaptainStatus}};
    var teamCoCaptainStatus = {{.TeamCoCaptainStatus}};
    var team_view_popupnotification =  {{.TeamView.team_0.popup_notification_on_off }};
    var superAdminStatus ={{.SuperAdmin}}
    var teamFreeTrialPeriod ={{.TeamFreeTrialPeriod}}
    var teamSubscriptionPeriod ={{.TeamSubscriptionPeriod}}
    var removeSmsStatus = {{.RemoveSmsStatus}}
    var freetrialNotificationPopupStatus ={{.PopupStatus}}
    var isFreeTrialAvailable ={{.IsFreeTrialAvailable}}
    var noOfDaysRemaining ={{.RemainingDays}}
    var teamnametext ={{.Teamnametext}}
    var changeCaptainByAdmin ={{.Change_Captain_By_Admin}}
    var teamSubscriptionDayDiffrence ={{.TeamSubscriptionDayDiffrence}}
    var teamSubscriptionEndDate ={{.TeamSubscriptionEndDate}}
    var smsNextCreditStartingDate ={{.SmsNextCreditStartingDate}}
    var active_User_Status ={{.Active_User_Status}}
    var completeRegistrationEventStatus = {{.CompleteEventRegistrationStatus}}
    var eventPrice_basedDetailScript ={{.EventPrice_basedDetail}}
    var isEditPageScript ={{.IsEditPage}}
    var orderEditOverallAmount = {{.EditOverallOrderDetailCount}}
    var readyToPaymentStatus = {{.readyToPaymentStatus}}
    var stripeSourceCardStatus = {{.StripeSourceCardStatus}}
    var completeEventRegistrationPaymentDoneStatus = {{.CompleteEventRegistrationPaymentDone}}
    //var remaamountwithformat = {{.Remaamountwithformat}}
    var show_TeamPayment_Page_Status = {{.Show_TeamPayment_Page}}
    var show_Event_Register_Page_Status = {{.Show_Event_Register_Page}}
    var stripeKeyData ={{.Stripe_Env_Public_Key}};
    var eventRegisterPaymentId ={{.EventRegisterPaymentId}};
    var eventOrganizerStatus ={{.EventOranizerStatus}};
    var eventCoOrganizerStatus ={{.CoEventOranizerStatus}};
    
    
    
</script>
<script src="/static/js/jquery-3.1.1.js"></script>
<script src="/static/js/jquery.select2.min.js"></script>
<script src="/static/js/icheck.min.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.adaptive-backgrounds.js"></script>
<script src="/static/js/lightslider.js"></script>
<script src="/static/js/primary_color.js"></script>
<script src="/static/js/strength.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/moment-timezone-with-data.min.js"></script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/fullcalendar.min.js"></script>
<script src="/static/js/spin.min.js"></script>
<script src="/static/js/medium-editor.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="/static/js/mini_custom.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8SprG61-ZOp-BU5yToOzwBZr-GHnIUm8&libraries=places"></script>
<script src="/static/js/url.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js"></script>

