<!DOCTYPE html>
<html>
<head>
	<title>Login | Gushou</title>
	{{ template "linksScripts.html" . }}
</head>
<body>
	
	{{ template "headerBeforeLogin.html" . }}


	<section class="features-header spacing-lg vertical-center text-center">
	  	<div class="container">
		    <div class="row">
		      <div class="col-md-12">
		        <h1 class="inverted">Sign In</h1>
		      </div>
		    </div>

	    	<div class="row">
		      	<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		        	<div class="panel panel-default sign-up">
			            <div class="panel-body" style='padding-top: 16px;padding-bottom: 34px;'>

			            	<div class="security-update">
			            		<!-- <span class="security-update-text">If this is the first time logging in this year, you will need to please <a href="/forgot-password">reset</a> your password as we have up'd our security features. Thank you kindly for your cooperation!</span> -->
			            	</div>

			            	{{ if .InvalidCredentials }}
			            	<span id="err_msgs" class="error"> Invalid password</span>
			            	{{ end }}

			            	{{if .Errors.Email}}
			            	<span id="err_msgs" class="error"> Enter a valid email.</span>
			            	{{end}}

			            	{{ if .errorMessage }}
			            	<span id="err_msgs" class="error"> {{ .errorMessage }}</span>
			            	{{ end }}

			            	{{ if .notVerified }}
			            	<span id="err_msgs" class="error"> 
			            		This email ID needs to be verified or reverified in our records. Please click <a href='#' id='resend_verify'  style='text-decoration: underline'>here</a> for a verification link to be sent to your inbox. We apologize for the inconvenience.
			            	</span>

			            		<!-- It seems your email ID has not yet been verified. Please click <a href='#' id='resend_verify'  style='text-decoration: underline'>here</a> to send yourself a confirmation link.</span> -->
			            	{{ end }}

			            	<span id="err_msgs" class="error"></span>
							<span id="succ_msgs" class=""></span>
							<div class="row">
			                	<div class="col-md-12">
						            <form role="form" id="login-form" method="POST">
						                <div class="row">
						                  <div class="col-xs-12">
						                    <div class="form-group">
						                      <input type="email" name="email" id="login-username" class="form-control input-md" placeholder="Email address" value="{{.FormItems.Email}}">
						                    </div>

						                     <div class="form-group">
						                      <input type="password" name="password" id="login-password" class="form-control input-md" placeholder="Password">
						                    </div>
																<input type="hidden" id="redirecturlvalue" name="redirecturl" value="">
						                    <input id="login_submit" type="submit" value="Sign In" class="btn btn-primary btn-fullwidth">
						                  </div>
						                </div>
						            </form>
					            </div>
				            </div>

			              <div class="row">
			                <div class="col-md-12 text-center">
			                  <p class="green-text small" style="margin-top: 10px;">
			                  Forgot your password? 
			                  <!-- <a href="((pathFor 'forgot-password'))">Recover it</a>. -->
			                  <a href="/forgot-password">Recover it</a>.
			                  </p>
			                  <p class="green-text small">Not a member? <a href="/register">Create your account</a>.</p>
			                </div>
			              </div>
			            </div>
		          	</div>
		        </div>
	      	</div>
	    </div>
	</section>
	

	{{ template "footer.html" . }}
	
</body>
</html>