<div class="modal fade" id="paymentTermsConditionModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
				<h3>Terms and Conditions</h3>
				<div class="modal-terms">
					<b>PAYMENT TERMS</b>
                    <p>Please note that Gushou uses Stripe to process payments. You are responsible for all Stripe fees incurred, plus a Gushou service fee of approx. 2.0% (maximum of 5%). If you wish to pass these fees on to your teams, we suggest increasing the amount of each fee by 5%.</p>
                    <p>Gushou does not provide refund services but does allow for you to record refund information. If you choose to provide refunds, please log in to Stripe to use directly or use please your own refund process.</p>
                    <p>For those payments made offline, the Event organizer will be billed after the event for Gushou Fees not collected online. You are agreeing to collect and pay Gushou fees as noted on each invoice for any offline fees not paid online.</p>
                    <p>By clicking the box below, you agree to this and the Gushou Terms of Service regarding payment transactions, in more detail below.</p>
					
					<b>TERMS AND CONDITIONS</b>
					<p>Here they are, the Terms and Conditions, our least favourite information sharing piece of Gushou, but we do it because we have to, and we’ve done our best to keep it short and sweet…</p>
					
					<h3>GUSHOU USER AGREEMENT</h3>
					<p>By using Gushou’s website or services, you agree to be bound by, and to follow, the Gushou User Agreement and any future modifications to this agreement. If you can’t or won’t agree with all of what you see in this agreement, unfortunately Gushou is not the right tool for you and we ask that you cease to use Gushou’s website and services.</p>
					<p>We have also developed a robust Privacy Policy, and Gushou agrees to protect your information in accordance with it. Gushou’s Privacy Policy can be found here. By agreeing with Gushou’s User Agreement, you are also agreeing to Gushou’s Privacy Policy.</p>

					<b>USING GUSHOU</b>
					<p>Gushou is intended for your convenience and enjoyment and is not an essential service. Gushou does not warrant that our service will be available without interruption.</p>
					<p>While we will do our best to make Gushou work as it is supposed to, you will not hold us responsible for your team losing the “C” Final, the Toronto Maple Leafs, or anything bad which might happen as a direct or indirect result of your use of Gushou.</p>
					<p>Gushou is intended for adults and children 14 years of age and older. If you do not meet this requirements unfortunately Gushou is not for you, at this time, and please do not create an account or submit any personal information in any way.</p>
					<p>You agree to use Gushou for your dragon boat teams or teams of any sort. You will not use it to send spam, to harass others, or for any illegal activities, and you acknowledge that if someone else complains about your abuse of Gushou we may choose, based on the merit of that complaint, to delete your accounts and all information associated with your team.</p>
					<p>Gushou’s website and services are designed to assist in the organization, enumeration, and conversation regarding sports, sports teams, and community events, and Gushou reserves the right to restrict or withdraw access to Gushou at our discretion</p>
					<p>You agree not to upload copyrighted or trademarked material, such as images, to Gushou which you have no legal rights to and you accept that if we find them, we may have to delete them without any warning.</p>
					<p>You also agree that all images, graphics, pictures, text, design, and everything else on the Gushou website are the copyright of Gushou and that you won’t infringe those copyrights.</p>
					<p>Gushou, gogushou.com, our logos, and everything else that can be trademarked on our website is our trademark, and cannot be used, copied, or imitated without our permission.</p>
					<p>You agree not to attempt to circumvent Gushou’s password controls and/or steal the passwords or information of other users.</p>
					<p>You agree not to use Gushou to promote any form of illegal activity.</p>

					<b>ENDORSEMENTS</b>
					<p>Gushou does not directly endorse any links which lead from our site to those of others. Gushou also does not endorse any products, teams, brands, foods, drinks, politicians, websites or anything else.</p>

					<b>CHANGES TO THE AGREEMENT</b>
					<p>From time-to-time Gushou may be required to change it’s User Agreement or Privacy Policy, however we will always link to it from our home page and provide the date of its last revision.</p>
					<p>IMPORTANT: User are bound by any future changes, even if you don’t read them. You really should read them though.</p>

					<b>USER LIABILITY</b>
					<p>Gushou website and service users are solely responsible for their actions and activities on Gushou.</p>
					<p>Should someone else use your account (which isn’t recommended), you are also responsible for anything they do on Gushou.</p>
					<p>Should you do anything contravening Gushou’s User Agreement, or anything that requires lawyers to resolve, you agree to indemnify Gushou and its shareholders, directors, officers, employees, and agents against any and all third party claims, actions, demands, suits and all related losses, liabilities, damages, penalties, costs, and expenses (including, but not limited to, legal fees and costs).</p>
					<p>Gushou makes no warranties or representations, express or implied, regarding our website and services. We endeavor to keep the website up and running at all times, but things can go wrong. If the website goes down, a bug affects our service, there is a typo or inaccurate information, there is an error, or if somehow our website has a virus or malware that affects you, we assume no liability or responsibility for any loss or injury you suffer. Basically, use Gushou at your own risk.</p>
					<p>Also, Gushou does not guarantee the accuracy of information posted on Gushou by us or by our users. If you are harmed in anyway by inaccurate information, we assume no responsibility or liability for your loss or injury and you agree to release us from any liability for such a loss, harm, or injury. That being said, if you see something wrong on Gushou, please let us know.</p>

					<b>EXCLUSION OF LIABILITY</b>
					<p>By using Gushou you agree to never hold Gushou liable for any damages, costs, harm, injury, or anything else whatsoever, whether it be in contract, tort (including negligence), equity, or any other area of law. In other words, by using Gushou you agree to never sue us for anything no matter what happens as a result of using, or the inability to use, our website or services.</p>

					<b>THE LAW</b>
					<p>Gushou is based in Toronto, Ontario, Canada. Therefore, this User Agreement, and the Privacy Policy, shall be governed, construed, and interpreted in accordance with the laws of the province of Ontario. Should you commence legal or equitable proceedings against Gushou, you agree to file the proceeding in Toronto, Ontario, and further agree and submit to the exclusive jurisdiction of the Courts of Ontario.</p>

					<b>CODE OF CONDUCT</b>
					<p>Users contravening Gushou’s User Agreement will have their account deleted, and potentially their IP address banned. If the offence is serious enough, The police and lawyers will be brought in the handle the situation.</p>
					<p>The list of prohibited activities, actions, and behaviours is not a complete list. There are lots of other bad things you could do that will result in the deletion of your account (or worse), so use your common sense. Although Gushou is under no obligation to investigate breaches of the user agreement, Gushou reserves the right to do so. Gushou also reserves the right to delete accounts, and to ban IP address without warning and without explanation. Gushou assumes no liability for any harm, injury, damage, or loss suffered as a result of the deletion of your account or banning of your IP address, and by using Gushou you agree to release Gushou from any such liability. Should Gushou need to use the assistance of a law enforcement agency to conduct an investigation into a breach of the user agreement, Gushou reserves the right to disclose user information and data where lawful.</p>

					<p>Here is the non-exhaustive list of prohibited actions, activities, and behaviours:</p>

					<ul class="list-style-round">
						<li>You agree to not post or submit any harmful, crude, rude, repulsive, obscene, or unlawful material, including but not limited to, harmful files, defamatory content, libellous content, tortuous content, lies, pornography, and hate speech;</li>
						<li>You agree to not invade people’s privacy, and further agree to not post, submit or upload other people’s personal information without their express permission;</li>
						<li>You agree to not post, submit, or upload anything to Gushou you lack the authority to share, distribute, or use. This means no uploading of copyrighted or trademarked material;</li>
						<li>You agree to not spam Gushou users, to not post, submit, or upload spam, and to not post, submit or upload junk mail;</li>
						<li>You agree to not engage in commercial advertising on Gushou without Gushou’s express permission or to engage in any other type of solicitation;</li>
						<li>You agree to not upload, submit, post, or link to any viruses, malware, adware, spyware, or any other harmful file or website;</li>
						<li>You agree to not misappropriate Gushou’s trademarks, copyrights, name, or domain name;</li>
						<li>You agree to not engage in any behaviour that could negatively affect the experience of any user of Gushou (no trolls allowed);</li>
						<li>You agree to not impersonate any person, team, place, or thing when using Gushou. You must be yourself to use Gushou. You also agree to not lie about your association with anyone or anything;</li>
						<li>You agree to not use Gushou to facilitate illegal activities;</li>
						<li>You agree to not use Gushou as a means to gamble or bet;</li>
						<li>You agree to not directly or indirectly interfere with the proper functioning of Gushou and its services.</li>
						<li>If you are aware of any violations of the code of conduct, or any other rules in the user agreement, please report them here: <a href="mailto:dragonboat@gogushou.com">dragonboat@gogushou.com</a></li>
					</ul>

					<b>SECURITY</b>
					<p>Users are prohibited from hacking, cracking, or otherwise interfering, intruding, compromising, overloading, or modifying the network, servers, service, security or system of Gushou. Any violation of this rule will result in criminal and civil proceedings against you and the deletion of your account.</p>
					<p>Stealing, removing, copying, misappropriating, or using user data without that user’s express permission is strictly prohibited. Any violation of this rule will result in criminal and civil proceedings against you and the deletion of your account.</p>

					<b>QUESTIONS?</b>
					<p>If you have any questions, or require any further information about the User Agreement, feel free to contact us at <a href="mailto:dragonboat@gogushou.com">dragonboat@gogushou.com</a></p>
					<p>This Policy was last revised on July 27, 2015.</p>
					<div style="float: right;">
						<p class="paytermsdeny" style="cursor: pointer;" type="sumbit">DENY</p>
						<button  type="sumbit" class="btn btn-thin paybutton paytermsallow requesttoconnectaccount">ACCEPT</button>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

