<!DOCTYPE html>
<html>
<head>
	<title>Pricing | Gushou</title>



	{{ template "linksScripts.html" . }}


</head>
<body>

	{{ if .IsLoggedIn }}
	{{ template "headerAfterLogin.html" . }}
	{{ else }}
	{{ template "headerBeforeLogin.html" . }}
	{{ end }}


	<section class="features-header white-text spacing-lg vertical-center text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Plans & pricing</h1>
					<p>Start free, with affordable upgrades.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="white-section pricing-overlay-container">
		<div class="container-fluid">


<div class="comparison">

  <table>
    <thead>
      <tr>
        <th class="tl tl2"></th>
        <th class="heading-label header-1">Paddler</th>
        <th colspan="2" class="heading-label header-2">Team</th>
        <th class="heading-label header-3">Event</th>
      </tr>
      <tr>
        <th class="tl"></th>
        <th class="compare-heading green">Free!</th>
        <th class="compare-heading light-orange full-width-1">Basic<br><small class="text-muted"><span class="tag tag-default">Free</span></small></th>
        <th class="compare-heading light-orange full-width-2">Premium<br><small class="text-muted">$12.49/mnth, $94.49/year<br><span class="tag tag-default">Free 21-Day Trial</span></small></th>
        <th class="compare-heading orange">Free!</th>
      </tr>
      <!--
      <tr>
        <th></th>
        <th class="price-info">
          <div><a href="#" class="price-buy">Buy <span class="hide-mobile">Now</span></a></div>
        </th>
        <th class="price-info">
          <div><a href="#" class="price-buy">Buy <span class="hide-mobile">Now</span></a></div>
        </th>
        <th class="price-info">
          <div><a href="#" class="price-buy">Buy <span class="hide-mobile">Now</span></a></div>
        </th>
        <th class="price-info">
          <div><a href="#" class="price-buy">Buy <span class="hide-mobile">Now</span></a></div>
        </th>
      </tr>
  		-->
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td colspan="4">Profile</td>
      </tr>
      <tr class="compare-row">
        <td>Profile</td>
        <td class="column1-style"><span class="fa fa-check text-success"></span></td>
        <td class="column2-style"><span class="fa fa-check text-success"></span></td>
        <td class="column3-style"><span class="fa fa-check text-success"></span></td>
        <td class="column4-style"><span class="fa fa-check text-success"></span></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">Listing</td>
      </tr>
      <tr>
        <td>Listing</td>
        <td class="column1-style"></td>
        <td class="column2-style"><span class="fa fa-check text-success"></span></td>
        <td class="column3-style"><span class="fa fa-check text-success"></span></td>
        <td class="column4-style"><span class="fa fa-check text-success"></span></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">Recruitment</td>
      </tr>
      <tr class="compare-row">
        <td>Recruitment</td>
        <td class="column1-style"><span class="fa fa-check text-success"></span></td>
        <td class="column2-style"><span class="fa fa-check text-success"></span></td>
        <td class="column3-style"><span class="fa fa-check text-success"></span></td>
        <td class="column4-style"><span class="fa fa-check text-success"></span></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">Team Management</td>
      </tr>
      <tr>
        <td>Team Management</td>
        <td class="column1-style">n/a</td>
        <td class="column2-style"><span class="fa fa-check text-success"></span></td>
        <td class="column3-style"><span class="fa fa-check text-success"></span></td>
        <td class="column4-style"></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">Schedule</td>
      </tr>
      <tr class="compare-row">
        <td>Schedule</td>
        <td class="column1-style"><span class="fa fa-check text-success"></span></td>
        <td class="column2-style"><span class="fa fa-check text-success"></span></td>
        <td class="column3-style"><span class="fa fa-check text-success"></span></td>
        <td class="column4-style"><span class="fa fa-check text-success"></span></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">Easy communications</td>
      </tr>
      <tr>
        <td>Easy communications</td>
        <td class="column1-style"><span class="fa fa-check text-success"></span></td>
        <td class="column2-style"><span class="fa fa-check text-success"></span></td>
        <td class="column3-style"><span class="fa fa-check text-success"></span></td>
        <td class="column4-style"><span class="fa fa-check text-success"></span></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">Notifications</td>
      </tr>
      <tr class="compare-row">
        <td>Notifications</td>
        <td class="column1-style"><span class="fa fa-check text-success"></span></td>
        <td class="column2-style">n/a</td>
        <td class="column3-style">n/a</td>
        <td class="column4-style">n/a</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">Online waivers</td>
      </tr>
      <tr>
        <td>Online waivers</td>
        <td class="column1-style"><span class="fa fa-check text-success"></span></td>
        <td class="column2-style"><span class="fa fa-check text-success"></span></td>
        <td class="column3-style"><span class="fa fa-check text-success"></span></td>
        <td class="column4-style"><span class="fa fa-check text-success"></span></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">Attendance</td>
      </tr>
      <tr class="compare-row">
        <td>Attendance</td>
        <td class="column1-style"><span class="fa fa-check text-success"></span></td>
        <td class="column2-style"><span class="fa fa-check text-success"></span></td>
        <td class="column3-style"><span class="fa fa-check text-success"></span></td>
        <td class="column4-style">n/a</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">Advanced Attendance</td>
      </tr>
      <tr>
        <td>Advanced Attendance</td>
        <td class="column1-style"><span class="fa fa-check text-success"></span></td>
        <td class="column2-style"></td>
        <td class="column3-style"><span class="fa fa-check text-success"></span></td>
        <td class="column4-style">n/a</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">Text Messaging</td>
      </tr>
      <tr class="compare-row">
        <td>Text Messaging</td>
        <td class="column1-style"></td>
        <td class="column2-style"></td>
        <td class="column3-style">400 texts/mnth**</td>
        <td class="column4-style"></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">Line-Up Management</td>
      </tr>
      <tr>
        <td>Line-Up Management</td>
        <td class="column1-style"></td>
        <td class="column2-style"></td>
        <td class="column3-style"><span class="fa fa-check text-success"></span></td>
        <td class="column4-style">n/a</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">Online Payments</td>
      </tr>
      <tr class="compare-row">
        <td>Online Payments</td>
        <td class="column1-style"></td>
        <td class="column2-style"></td>
        <td class="column3-style">Coming Soon</td>
        <td class="column4-style">Coming Soon</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">Sponsorship Exposure</td>
      </tr>
      <tr>
        <td>Sponsorship Exposure</td>
        <td class="column1-style"></td>
        <td class="column2-style"></td>
        <td class="column3-style"><span class="fa fa-check text-success"></span></td>
        <td class="column4-style"><span class="fa fa-check text-success"></span></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="4">Registration</td>
      </tr>
      <tr class="compare-row">
        <td>Registration</td>
        <td class="column1-style last"></td>
        <td class="column2-style last"><span class="fa fa-check text-success"></span></td>
        <td class="column3-style last"><span class="fa fa-check text-success"></span></td>
        <td class="column4-style last"><span class="fa fa-check text-success"></span></td>
      </tr>
    </tbody>
  </table>

  <div class="container text-center">
  	<br>
	  <p><small>* Premium trial initiated when you create a team. 21-days will start from the first day of your first practice.
	  <br>** Text message credits are carried forward month to month for one year.
	  <br>Option to buy packages of 1,000 text messages for $15.
    <br>Prices in USD.</small></p>
  </div>

</div>


		</div>

	</section>

	<section id="faq" class="white-section spacing-lg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>Frequently asked questions</h2>
				</div>
			</div>
			<div class="row">
				<div class="spacing-sm">
					<div class="col-md-6">
          <div class="faq-item">
            <p>
              <strong>How does the Team Premium plan work?</strong>
            </p>
            <p>Team subscriptions are not billed to individual team members. Team Captains are responsible for paying for their team’s subscription. Plans auto-renew after posted end date unless subscription is cancelled in advance.</p>
          </div>

            <div class="faq-item">
							<p><strong>Do you offer a free trial?</strong></p>
							<p>It's free to set up an account and for the Team Basic Plan. You will get to experience the Team Premium Power Plan for free when you create a team and for 21 days after your first scheduled practice. </p>
						</div>

						<div class="faq-item">
							<p><strong>What currencies are accepted?</strong></p>
							<p>The prices above are in USD.</p>
						</div>

						<div class="faq-item">
							<p><strong>Where can I find your Terms of Service (TOS)?</strong></p>
							<p>You can find them when you are creating an account and on footer line of gogushou.com.</p>
            </div>

            <div class="faq-item">
                <p><strong>Can I add captains or co-organizers?</strong></p>
                <p>Yes, you can add co-captains and co-organizer that will have the same permissions as you and will be able to help you manage your team, event and/or club.There is one exception; Team Captains, not the Team Co-captains, are responsible for the subscription plan. In the event where a Team Captain changes within Gushou, payment management responsibilities will be transferred to the new Team Captain. The paid period of the subscription will carry forward until expiry, at which point the new Team Captain will be prompted to update credit card information for renewal.</p>
              </div>
					</div>

					<div class="col-md-6">

            <div class="faq-item">
              <p><strong>Can I cancel my plan easily?</strong></p>
              <p>Customers can cancel at any time from their Settings page. Gushou customers are responsible for any charges incurred prior to cancellation.</p>
            </div>

						<div class="faq-item">
							<p><strong>Should I make a new team every year?</strong></p>
							<p>No! It is best to keep the same team each year. If you do this, you will have a history of communications, schedules and most importantly your results!</p>
						</div>

						<div class="faq-item">
							<p><strong>I want to make a roster, but am unable to?</strong></p>
							<p>Rosters are associated with events and practices. For example, when you register for an event, you will be able to create a roster for each category that you have registered for.You can also set a roster based on practice attendance. </p>
						</div>

						<div class="faq-item">
							<p><strong>I can't find my confirmation email?</strong></p>
							<p>First, you want to make sure you check your spam or promotions folder. If you still don't see it, you can go back to www.gogushou.com, step 2, and resend the email from here.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	{{ template "footer.html" . }}


</body>
</html>