<div class="modal fade" id="privacyPolicyM">
	<div class="modal-dialog privacy_modal_dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<i class="ti-close"></i>
					</span>
				</button>
				<h3>Privacy Policy</h3>
				<div class="modal-terms">
					<p>WHAT YOU AGREE TO</p>

					<p>By using Gushou and its services, you agree with the terms of this Privacy Policy, any future modifications of this
						Privacy Policy, and the use of your personal information and data as set out in this Privacy Policy. You will be automatically
						subscribed to team communication emails unless you change it in your Settings after registration.</p>

					<p>INFORMATION SHARING</p>

					<p>The following information is required in order to complete your basic Gushou  profile:geographic location, email address(es), gender, and name(s). 
						By providing supplemental information such as: phone number(s), social media username(s), and other team-related information, users will experience a more convenient and enhanced Gushou experience.</p>


					<p>In addition to locational data that you provide, Gushou will store your IP address in its databases and use your IP address
						to determine the city and/or region from which you are accessing Gushou.</p>

					<p>Gushou integrates with a few 3rd party websites and services only for the purposes of tracking site performance and/or
						to enhance the quality of the Gushou service for our users.</p>

					<p>WE WILL NOT SELL YOUR EMAIL ADDRESS OR PERSONAL INFORMATION</p>

					<p>Gushou will not sell your personal or team data to a third party. This means you will not get spam from other websites or marketers.</p>

					<p>There is one exception to this rule: if another entity buys our business (Paddlecore Inc.) we will transfer this data
						to them.</p>

					<p>EMAIL OPT-IN</p>

					<p>The general nature of Gushou requires Team Captains and Event Organizers to send out invites to join their team(s) and event(s). This email invite comes from Gushou’s email servers. 
						By clicking the confirmation link provided in the email you are granting Gushou permission to email you Notifications and messages relevant to Gushou users.</p>

					<p>EMAIL OPT-OUT</p>

					<p>If at any time you wish to stop receiving email from Gushou, you can modify your email settings under your user profile
						by logging into Gushou and clicking on your name.</p>

					<p>NO KIDS ALLOWED (WITHOUT PARENTAL SUPERVISION)</p>

					<p>We don’t allow users 13 years or younger to use this site. But don’t despair! We do allow parents or guardians to use
						the site on their child’s behalf.</p>

					<p>WE USE JAVASCRIPT, COOKIES AND WE KEEP LOGS</p>

					<p>Cookies are a tool used by websites to track user activity. They make it easier for you to use and return to our website
						without constantly being asked to “Log In” and that is the sole purpose for which we use cookies.</p>

					<p>Wikipedia has a good explanation of what cookies are and how they work here:</p>

					<p>
						<a href="http://en.wikipedia.org/wiki/HTTP_cookie">http://en.wikipedia.org/wiki/HTTP_cookie</a>
					</p>

						<!-- TABLE 1 CREATION -->
					<p>Cookie Declaration</p>
				
					<div class="table-responsive-sm">
						<table  class="table table-bordered privacy_table" style="word-wrap: break-word;    text-align: center;">
							<tbody>

								<tr>
									<th style="text-align:center">Cookie Name</th>
									<th style="text-align:center">Provider</th>
									<th style="text-align:center">Purpose</th>
									<th style="text-align:center">Duration</th>
									<th style="text-align:center">Type</th>
								</tr>
								<tr>
									<td>___utmvc</td>
									<td>Google Analytics</td>

									<td><p>These cookies are used to collect data about how visitors use our site. We use the data to compile reports and to
										help us improve the site. The cookies mostly collect anonymous data although Google do use the IP address but this
										is not shared with the MDU.</p></td>
									<td>20 sec</td>
									<td>Analytics</td>
								</tr>
								<tr>
									<td>_xsrf</td>
									<td>Beego Framework</td>
									<td><p>XSRF, Cross-Site Request Forgery, is an important security concern for web development. Beego has built in XSRF
										protection which assigns each user a randomized cookie that is used to verify. requests</td>
									<td>Up to Browser would close</p></td>
									<td>Security</td>
								</tr>
								<tr>
									<td>AWSELB</td>
									<td>AWS Server</td>
									<td>AWS server related</td>
									<td>Up to Browser would close</td>
									<td></td>
								</tr>
								<tr>
									<td>GushouSession</td>
									<td>Beego Framework</td>
									<td>Login Session management</td>
									<td>5 days</td>
									<td></td>
								</tr>
								<tr>
									<td>incap_ses_</td>
									<td>Incapsula</td>
									<td><p>Imperva Incapsula is a cloud-based application delivery platform. It uses a global content delivery network to provide web application security, DDoS mitigation, content caching, application delivery, load balancing and failover services.</p></td>
									<td>Up to Browser would close</td>
									<td>Analytics</td>
								</tr>
								<tr>
									<td>nlbi_</td>
									<td>Incapsula</td>
									<td><p>Load balancing cookie. To ensure requests by a client are sent to the same origin server</p></td>
									<td>Up to Browser would close</td>
									<td>Analytics</td>
									</tr>
								<tr>
									<td>visid_incap_</td>
									<td>Incapsula</td>
									<td><p>These Cookies improve performance and security on the website.</p></td>
									<td>Up to Browser would close</td>
									<td>Analytics</td>
								</tr>
								<tr>
									<td>__stripe_mid</td>
									<td>Stripe</td>
									<td><p>Stripe is used to make credit card payments. Stripe uses a cookie to remember who you are and to enable Profoto to process payments without storing any credit card information on its own servers.</p></td>
									<td>365 days</td>
									<td></td>
								</tr>
								<tr>
									<td>__stripe_sid</td>
									<td>Stripe</td>
									<td><p>Stripe is used to make credit card payments. Stripe uses a cookie to remember who you are and to enable Profoto to process payments without storing any credit card information on its own servers.</p></td>
									<td>30 minutes</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				

					<p>Our web servers keep logs of user activity so that we can watch for bugs and make sure everything is working like it’s
						supposed to. More information about how web server logs work and what information they record, read more information
						here:
					</p>

					<p>
						<a href="http://httpd.apache.org/docs/1.3/logs.html">http://httpd.apache.org/docs/1.3/logs.html</a>
					</p>

					<p>Gushou shares anonymized tracking data with a small number of Third-Party tracking tools such as Google Analytics. This
						lets us see how our service is performing, and lets us make changes and improvements to the site which benefit you.</p>

					<!-- TABLE 2 CREATION -->
					<div class="table-responsive-sm" style="overflow-x:auto;">
							<table class="table table-bordered privacy_table" style="word-wrap: break-word;text-align: center;">
								<tbody>
	
									<tr>
										<th style="text-align:center">Category</th>
										<th style="text-align:center">Party Name and Jurisdiction</th>
										<th style="text-align:center">Purpose</th>
										<th style="text-align:center">Duration / Expiry</th>
										<th style="text-align:center">Data Disclosed</th>
									</tr>
									<tr>
										<td>1. Customer Service</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										</tr>
									<tr>
										<td></td>
										<td>FreshDesk (Can)</td>
										<td>
											<p>To allow customer support services and answer enquiries regarding customer queries through CRM tools</p>
										</td>
										<td>2 years</td>
										<td>
											<p>Name, address, telephone number, email addresses, truncated and limited or full personal information (case sensitive),
												customer statements and reports, account correspondence, promotional information</p>
										</td>
									</tr>
									<tr>
										<td>2. Marketing and Public Relations</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									
									<tr>
										<td></td>
										<td>Mailchimp (USA,Can)</td>
										<td>
											<p>To conduct customer service surveys, marketing newsletters and campaigns, execute customer promotions</p>
										</td>
										<td>Deletion upon account deactivation</td>
										<td>
											<p>Name, email address, type of subscription, country of residence, customer service reports, session activity analysis
												and tracking</p>
										</td>
									</tr>
									<tr>
										<td>3. Operational Services</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										</tr>
									<tr>
										<td></td>
										<td>CoChip-Cloudbees (USA,Can)</td>
										<td>To build code for web applications and deployment</td>
										<td>Deletion upon account deactivation</td>
										<td>Name, address, email addresses, account subscription</td>
									</tr>
									<tr>
										<td></td>
										<td>Google Analytics (USA,Can)</td>
										<td>
											<p>To allow customer activity tracking on web applications for user experience improvements</p>
										</td>
										<td>2 years</td>
										<td>Name, email address, telephone number, address, online activity tracking reports</td>
									</tr>
									<tr>
										<td></td>
										<td>Redmine (USA)</td>
										<td>
											<p>To help development team with project management, task review and bug/defect rendering</p>
										</td>
										<td>2 years</td>
										<td>Name, email address, online activity tracking reports</td>
									</tr>
									<tr>
										<td></td>
										<td>AWS (USA,Can)</td>
										<td>
											<p>To provide hosting and storage services to customers</p></td>
										<td>Deletion upon account deactivation</td>
										<td>
											<p>Name, email address, telephone number, address, truncated and limited or full personal information (case sensitive),
												customer statements and reports, account correspondence, promotional information</p>
										</td>
									</tr>
									<tr>
										<td></td>
										<td>Twilio(USA)</td>
										<td>
											<p>To Cloud communications platform for building SMS & Messaging applications on an API built for global scale</p></td>
										<td>Deletion upon account deactivation</td>
										<td>
											<p>Phone numbers</p>
										</td>
									</tr>
									<tr>
										<td>4. Payments</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td>Stripe (USA,Can)</td>
										<td>
											<p>To provide the Online payment processing for internet businesses</p>
										</td>
										<td>1 year</td>
										<td>
											<p>User email id and card details</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

					<p>Also, we use JavaScript to improve your overall experience with Gushou. You will need to have your web browser’s JavaScript
						functions enabled while visiting our service in order to use Gushou properly.</p>

					<p>PROTECTING YOUR DATA</p>

					<p>Gushou takes appropriate steps to protect the data stored in our systems from hackers, thieves, and pirates, but unfortunately
						no website is 100% secure and we cannot guarantee the security of your data.</p>

					<p>That being said, user data is retained on a secure, encrypted, hosted data store. Furthermore, our staff have agreed
						to abide by security policies and are subject to discipline for any breach should it occur.</p>


					<!-- TABLE 3 CREATION -->

					<div class="table-responsive-sm" style="overflow-x:auto;">
							<table class="table table-bordered privacy_table" style="word-wrap: break-word;text-align: center;">
								<tbody>
	
									<tr>
										<th style="text-align:center">Categories</th>
										<th style="text-align:center">Data Access to Staff</th>
										<th style="text-align:center">Duration of Storage</th>
										<th style="text-align:center">Request of Deletion</th>
										<th style="text-align:center">Sources of Data</th>
										<th style="text-align:center">Transparency (If requested for lawful scenarios, data will be exported in the following formats)</th>
									</tr>
									<tr>
											<td>Contact Details</td>
											<td>Admin, Development team</td>
											<td>Until Account Deletion</td>
											<td>Anytime</td>
											<td>Registration Forms, invitation links</td>
											<td>CSV, XLS, XML Spreadsheet</td>
										</tr>
									<tr>
										<td>Payment info</td>
										<td>admin</td>
										<td>Session</td>
										<td>Anytime, end of session</td>
										<td>Registration Forms</td>
										<td>CSV, XLS, XML Spreadsheet</td>
										</tr>
									<tr>
										<td>Location Services</td>
										<td>Development team</td>
										<td>Session</td>
										<td>Anytime, end of Session</v>
										<td>Registration Forms, invitation links</td>
										<td>CSV, XLS, XML Spreadsheet</td>
									</tr>
								</tbody>
							</table>
						</div>


					<p>We do not store your user passwords in plain text, and if you ask us we cannot retrieve these for you. If you have lost
						your password there are automated functions on our site to help you. Which is nice, really.</p>

					<p>In the unlikely event that police or a court of law require us to supply them with your personal information, we will
						only do so in accordance with the specific law of the jurisdictions in which we operate: Specifically, Canada and the
						USA. These countries have a number of specific regulations to protect you from unlawful invasions of your privacy.
						Data and information shared in such scenarios will be exported in encrypted formats complying to responsibility sharing
						and transfer through Non-Disclosure Agreements between Gushou and associated parties.</p>

					<p>When debugging, troubleshooting, resolving a dispute, or coding Gushou, employees of Gushou can and may look at personal
						user data. Gushou employees (Staff Access Levels: Admin, Dev team, 3rd party) must adhere to strict privacy protection
						guidelines when viewing personal user data and will never disclose such data to 3rd parties or use it for any purpose
						outside the scope of the proper maintenance of Gushou.</p>

					<p>If you wish  to delete your personal data, you can do this by deleting your account through our account deletion tool.
						 Once an account is deleted, all your personal data is removed from our servers and cannot be restored. </p>


					<P>INTERNATIONAL PRIVACY LAWS</p>

					<p>If you are visiting Gushou services from outside of North America, please be aware that you are sending data information
						(including Personal Data) to Canada and United States of America where our database servers are located. That information
						may then be transferred within North America or to other countries outside of your residence, depending on the type
						of information and how it is stored with us. These countries (including Canada and United States of America) may not
						necessarily have data protection and privacy laws as comprehensive or protective as those in your country of residence;
						however, our collection, storage and use of your Personal Data will at all times continue to be governed by this Privacy
						Policy.
					</p>

					<p>EU - US Privacy Shield</p>

					<p>For the Personal Data we receive from the EU, Gushou has certified its compliance to the EU - US Privacy Shield regarding
						the collection, storage, use and retention of Personal Data from the European Union Countries. We adhere to the Privacy
						Shield principles of Notice, Choice, Accountability for Onward Transfers, Data Integrity & Purpose Limitation, Access
						& Recourse, Enforcement & Liability when processing Personal Data from the EU in Canada.</p>

					<p>CHANGES TO THIS POLICY</p>

					<p>We’ll always put the date of the last change to this policy at the bottom of this page. Keep checking back here if you’re
						interested in or concerned about our use of your data.</p>

					<p>By using Gushou you agree to this Privacy Policy and any future modifications of the Privacy Policy. If you can’t or
						won’t agree with all of what you see in this Privacy Policy, we kindly ask that you leave our website and cease to
						use the Gushou services.</p>

					<p>We’ve updated any related terms of service to align with the GDPR.</p>
					
					<p>DISCLAIMER : Non EU companies can create their own specific data handling rules and regulations in compliance with GDPR.</p>
					
					<p>Links to GDPR</p>
					<p>
						<a href="https://www.eugdpr.org/">https://www.eugdpr.org/</a>
					</p>
					<p>
						<a href="http://www.canadianlawyermag.com/article/getting-ready-for-gdpr-3607/">http://www.canadianlawyermag.com/article/getting-ready-for-gdpr-3607/</a>
					</p>
					<p>
						<a href="https://blog.varonis.com/gdpr-requirements-list-in-plain-english/">https://blog.varonis.com/gdpr-requirements-list-in-plain-english/</a>
					</p>
				
					<p>Thanks!</p>
					<p>CONTACT US</p>

					<p>Should you have any concerns, questions, or comments about our Privacy Policy, feel free to contact us at
						<a href="mailto:dragonboat@gogushou.com">dragonboat@gogushou.com</a>.</p>

					<p>Last Change: June 21, 2018.</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-fullwidth" data-dismiss="modal" aria-label="Close">Cancel</button>
			</div>
		</div>
	</div>
</div>