<!DOCTYPE html>
<html>
<head>
	<title>Verify Email | Gushou</title>
    {{ template "linksScripts.html" . }}
</head>
<body>
	{{ if .IsLoggedIn }}
    {{ template "headerAfterLogin.html" . }}
    {{ else }}
    {{ template "headerBeforeLogin.html" . }}
    {{ end }}


    <div id="main-content">
     <div class="container">
        <div class="row">
            <div class="main-content-header">
            	<div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Verify Email</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row profile-settings-content">
        	<div class="col-md-12">
             <div class="row">
                 <div class="col-md-6 col-md-offset-3 text-center">
                    <span id="ve_err_msgs" ></span>

                    {{ if .Expired }}
                    <span id="ve_succ_msgs">Your confirmation link has expired.

                        <br/><br/>Please use the most recent confirmation link in your inbox.

                        <br/><br/>Thank you!
                    </span>
                    {{ end }}

                     {{ if .Invalid }}
                    <span id="ve_succ_msgs">
                        Invalid link, please try copying and pasting the link from your email to resolve this issue.
                    </span>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
	

	{{ template "footer.html" . }}
    
</body>
</html>