<!DOCTYPE html>
<html>
<head>
	<title>Verify Team Invitation Link | Gushou</title>
    {{ template "linksScripts.html" . }}
</head>
<body>
	{{ if .IsLoggedIn }}
    {{ template "headerAfterLogin.html" . }}
    {{ else }}
    {{ template "headerBeforeLogin.html" . }}
    {{ end }}


    <div id="main-content">
     <div class="container">
        <div class="row">
            <div class="main-content-header">
            	<div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            {{ if .Expired }}
                            <h2>Verify Team Invitation Link</h2>
                            {{end}}
                            {{ if .Invalid }}
                            <h2>Invalid Link</h2>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row profile-settings-content">
        	<div class="col-md-12">
             <div class="row">
                 <div class="col-md-6 col-md-offset-3 text-center">
                    <span id="ve_err_msgs" ></span>

                    {{ if .Expired }}
                    <span id="ve_succ_msgs">Your Team Invitation link has expired.

                        <br/><br/>Please use the most recent team invitation link in your inbox.

                        <br/><br/>Thank you!
                    </span>
                    {{ end }}

                     {{ if .Invalid }}
                    <span id="ve_succ_msgs">
                        This link has expired. Please use the link from your most recent email with subject line, "Dragon Boat Team Invitation on Gushou".
                    </span>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
	

	{{ template "footer.html" . }}
    
</body>
</html>