<!DOCTYPE html>
<html>
<head>
	<title>Create Event | Gushou</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
	{{ template "linksScripts.html" . }}
	{{ template "user/userStripeScript.html" . }}
	{{ template "event/autoCompleteScriptsEvent.html" . }}
</head>
<body>
	{{ template "headerAfterLogin.html" . }}

	<div id="wrapper">
		<div class="page-header">
			<div class="container">
				<section class="header-title">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1 class="inverted">Registration</h1>
						</div>
					</div>
				</section>
			</div>
		</div>

		{{ $tempeventRegisterTeamID := .TempEventRegisterTeamID }}
		{{ $divisionArrayLength := .DivisionArrayLength }}
		{{ $male_Female_Mixed_Length := .Male_Female_Mixed_Length }}
		{{ $teamRosterDetail := .TeamRosterDetail }}
		{{ $eventBoatType := .EventBoatType }}
		{{ $divisionArray := .DivisionArray }}
		{{ $selectedEventRegisterRoster := .SelectedEventRegisterRoster }}
		{{ $event_Class_Divisions := .DivisionArray }}
		{{$selectedEventRegister := .SelectedEventRegister}}
		<form role="form" id="create_team_event_form" method="POST">
				<input id="selectregisterteam" type="hidden" name="selectregisterteam" value="false">
				<input id="currentregistratioStep" type="hidden" name="currentregistrationstep" value="{{.currentregistrationstep}}">
				<input id="eventregisterteam" type="hidden" name="eventregisterteamid" value="{{$tempeventRegisterTeamID}}">
				<input id="tempeventregisterteamid" type="hidden" name="tempeventregisterteamid" value="{{$tempeventRegisterTeamID}}">
				<input id="registereventslug" type="hidden" name="" value="{{.EventView.event_0.slug}}">
				<input id="cancelEventRegistrationstatus" type="hidden" name="cancelEventRegistrationstatus" value="false">
				<input id="registerteamSeletedName" type="hidden" name="registerteamSeletedName" value="{{.RegisterSeletedTeamName}}">
				<input id="divisionArrayWithJosn" type="hidden"  value="{{.DivisionArrayWithJosn}}">
				
				{{if .SelectedEventRegister}}
				<input id="updatedTeamId" type="hidden" name="currentEventRegisterId" value="{{.SelectedEventRegister.id}}">
				{{end}}

				<div id="create-team-event-1" class="{{if .create_team_event_1 }} container {{ else }} container hide {{ end }}">
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
							<div class="panel create-body-fullwidth panel-default create-box">
								<div class="panel-head" style="padding-bottom:30px !important;">
									<h2>{{.EventView.event_0.event_name}}</h2>
									<h2>Step 1 of 3</h2>
								</div>
								<div class="panel-body panel-body-event-register">
										<div class="create-box-section create-box-section-event-register">
											<div class="row">
												<div class="col-md-12">
													<span id="event_reg_succ_msgs" class="success"></span>
													{{if compare .AlreadyRegistration "true" }}
													<span id="event_reg_err_msgs" class="error">Already Registered</span>
													{{else}}
													<span id="event_reg_err_msgs" class="error"></span>
													{{end}}
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group no-margin">
														<label>Which team would you like to register? <span class="red-star">*</span></label>
														{{if .SuperAdmin}}
														<input id="searchteamname" class="form-control required" placeholder="Please enter minimum 3 characters to search team name" value="{{.RegisterSeletedTeamName}}" type="text">
														<div class="searchteamappend"></div>
														{{else}}
														
														<select class="form-control" id="selectedteamname" name="">
																<option value="">Select Team Name</option>
																{{if .TeamListEvent}}
																	{{ range $ue := .TeamListEvent}}
																	<!-- ((each all_upcoming_events)) -->
																	<!-- <option value="((_id))">((event_name))</option> -->
														      <option {{ if compare $tempeventRegisterTeamID  $ue.id }} selected {{ end }} value="{{ $ue.id }}">{{ $ue.team_name }}</option>
																	<!-- ((/each)) -->
																	{{ end }}
																{{end}}
														</select>
														{{end}}
														<input id="teamRosterDetail" type="hidden" name="teamRosterDetail" value="{{.TeamRosterDetailWithJosn}}">
													</div>
												</div>
											</div>
										</div>
										
										{{if ne $tempeventRegisterTeamID "0"}}
										{{if .RemoveDuplicateDivisionArray}}
										<div  id="roste_hide_show">
										{{if and (ge ($divisionArrayLength) 1)  (gt ($male_Female_Mixed_Length) 1)  }}
										<div class="create-box-section create-box-section-event-register">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group ">
														<label id="label-font-wei div_class_roster_1" style="margin-bottom: 0px;">Which divisions and classes would you like to register for? <span class="red-star">*</span></label>
														<!-- <input type="hidden" id="maleDivision" value="{{.MaleDivision }}">
														<input type="hidden" id="womenDivision" value="{{.FemaleDivision }}">
														<input type="hidden" id="mixedDivision" value="{{.MixedDivision }}"> -->
														<div class="append_another_roster"></div>
													</div>
												</div>
											</div>
											<div class="row append_div_class_roster div_class_roster_1">
												<div class="col-md-5" style="padding-left: 14px;padding-right: 2px;">
														<select class="form-control create-event-select" id="eventDivisionChange" data-index="1" name="">
																<option value="">Select Division / Boat Type</option>
																	{{ range $e2 := .RemoveDuplicateDivisionArray}} 
																	{{ $getSplitString := getSplitString $e2 }} 
																	{{if gt (len $getSplitString) 1}}
																	<option value="{{$e2}}">{{index  $getSplitString 0 | GetFullDivName }} {{if index  $getSplitString 1 }} {{index  $getSplitString 1}} Person {{end}} </option>
																	{{else}}
																	<option value="{{$e2}}">{{ $e2 | GetFullDivName }}</option>
																	{{end}}
																	{{ end }} 
															</select>
												</div>
												<div class="col-md-3 createeventselectpaddoverwride" style="padding-left: 2px;padding-right: 2px;">
														<div class="hide" id="event_clases_Hide" >
																<select class="form-control create-event-select" id="eventClassesChange" data-index="1" name="">
																	</select>
														</div>
												</div>
												<div class="col-md-2 hide createeventselectpaddoverwride"  id="event_boat_type_Hide" style="padding-left: 2px;padding-right: 2px;">
																<select class="form-control create-event-select" id="eventBoatTypeChange" data-index="1" name="">
																</select>
												</div>
												<div id="addMoreRosterButton_hide" class="col-md-2 hide">
														<a class="btn btn-primary btn-phantom-green add_more_roster_event" data-index="1" name="" href="#" role="button">
															<span class="fa fa-check"></span>
															<span></span>
														</a>
												</div>

											</div>
										</div>
										{{end}}
										<div class="create-box-section create-box-section-event-register" id="roste_list_hide_show" style="border-bottom: 1px solid #ced1d0;">
											<div class="row">
												<div class="col-md-12">
													<!-- <label class="error" id="event_div_clas_err_msgs"></label> -->
													<div class="form-group">
														<label class="event_register_dis_bloc" style="margin-bottom: 10px; font-size: 20px;">Roster</label>
														<label class="event_register_dis_bloc event_register_lab_mar_bot_siz">Would you like to submit your roster(s) now?</label>
														<label class="event_register_dis_bloc" style="font-size: 13px;margin-bottom: 18px;">(You may also add roster later and submit from the roster page)</label>
													</div>
													{{if .SelectedEventRegister}}
												
													{{if .SelectedEventRegister.roster_submit_status}}
													<div class="form-group">
														<div class="form-check form-check-inline dis-inline" >
															<span class="disc-option-1 eventrostetsubmitornot"  style="margin-left: 0px;font-size: 12px; font-weight: 500;">
																	<input  type="radio" {{if or (not .TeamRosterDetail) (compare .SelectedEventRegister.roster_submit_status "No")}} checked {{end}} class="circle" name="submitrosterlater" id="submitrosterlaterno" value="No" /> No, I'll submit my roster(s) later
															</span>
														</div>
														<div class="form-check dis-inline">
															<span class="disc-option-2 eventrostetsubmitornot"  style="font-size: 12px; font-weight: 500;" >
																	<input  type="radio" class="circle" {{if compare .SelectedEventRegister.roster_submit_status "Yes" }} checked {{end}}  name="submitrosterlater" id="submitrosterlateryes"  value="Yes" /> Yes, I'll submit my roster(s) now
															</span>
														</div>
												  </div>
													{{else}}
													<div class="form-group">
															<div class="form-check form-check-inline dis-inline" >
																<span class="disc-option-1 eventrostetsubmitornot"  style="margin-left: 0px;font-size: 12px; font-weight: 500;">
																		<input  type="radio" {{if not .TeamRosterDetail}} checked {{end}} class="circle" name="submitrosterlater" id="submitrosterlaterno" value="No" /> No, I'll submit my roster(s) later
																</span>
															</div>
															<div class="form-check dis-inline">
																<span class="disc-option-2 eventrostetsubmitornot"  style="font-size: 12px; font-weight: 500;" >
																		<input  type="radio" class="circle"  name="submitrosterlater" id="submitrosterlateryes"  value="Yes" /> Yes, I'll submit my roster(s) now
																</span>
															</div>
													</div>
													{{end}}
													{{else}}
													<div class="form-group">
														<div class="form-check form-check-inline dis-inline" >
															<span class="disc-option-1 eventrostetsubmitornot"  style="margin-left: 0px;font-size: 12px; font-weight: 500;">
																	<input  type="radio" {{if not .TeamRosterDetail}} checked {{end}} class="circle" name="submitrosterlater" id="submitrosterlaterno" value="No" /> No, I'll submit my roster(s) later
															</span>
														</div>
														<div class="form-check dis-inline">
															<span class="disc-option-2 eventrostetsubmitornot"  style="font-size: 12px; font-weight: 500;" >
																	<input  type="radio" class="circle"  name="submitrosterlater" id="submitrosterlateryes"  value="Yes" /> Yes, I'll submit my roster(s) now
															</span>
														</div>
												  </div>
													{{end}}
												</div>
											</div>
													<div class="row">
														<div class="col-md-12">
															<span id="event_reg_roster_empty_err_msgs" class="error"></span>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 create-event-roster-res">
																<table class="table table-responsive" cellpadding="5">
																	<thead>
																		<tr>
																			<th class='col-md-4'>Division / Boat Type</th>
																			<th class='col-md-2'>Class</th>
																			<th class='col-md-3'>Distance</th>
																			<th class='col-md-3'>Roster</th>
																			<th class='col-md-1'></th>
																		</tr>
																	</thead>
																	{{if and (ge ($divisionArrayLength) 1)  (gt ($male_Female_Mixed_Length) 1)  }}
																	<tbody id="append_roster_division_class">
																		{{if .SelectedEventRegisterRoster}}
																		{{ range $index, $e := .SelectedEventRegisterRoster }}
																		<tr class='table_tr_selected_divition_classes_roster selected_divition_classes_roster{{$index}}'>
																			<td class='col-md-3' data-index='{{$e.division}}{{if $e.boat_type}}_{{$e.boat_type}} {{end}}' >{{ $e.division | GetFullDivName }} {{if $e.boat_type}} {{$e.boat_type}} Person {{end}}</td>
																			{{if compare $e.clases  "M"}}
																			<td class='col-md-3' data-index='M' >Men</td>
																			{{else if compare $e.clases  "W"}}
																			<td class='col-md-3' data-index='W' >Women</td>
																			{{else if compare $e.clases  "MX"}}
																			<td class='col-md-3' data-index='MX' >Mixed</td>
																			{{end}}
																			{{if $e.distance}}
																			<td class="col-md-3" data-index="{{$e.distance}}">{{if compare $e.distance "200"}} {{$e.distance}}m {{else if compare $e.distance "500"}} {{$e.distance}}m {{else if compare $e.distance "1000"}} 1km {{else if compare $e.distance "2000"}} 2km {{end}}</td>
																			{{else}}
																			<td class="col-md-3">
																			</td>
																			{{end}}
																			{{if $teamRosterDetail}}
																			<td class='col-md-5' style='display: contents;'>
																			 <select {{if (compare $selectedEventRegister.roster_submit_status "No")}} disabled  {{end}} class='form-control hideOrShowRosterSelectTag' style="width: 146px;" id='eventregisterroster'  data-index='{{$index}}'  name='eventregisterroster'>
																					<option value="0">Select Roster</option>
																						{{ range $e3 := $teamRosterDetail}} 
																							<option {{ if compare $e.roster_id  $e3.id }} selected {{ end }} value="{{ $e3.id }}">{{ $e3.name }}</option>
																						{{ end }} 
																			 </select>
																			</td>
																			{{else}}
																			<td class='col-md-2'>
																			</td>
																			{{end}}
																			<td class='col-md-1'>
																			{{if and (ge ($divisionArrayLength) 1)  (gt ($male_Female_Mixed_Length) 1) }}
																			<a id='table_tr_selected_divition_classes_roster_delete' class='btn-lg' style='color: black;' data-index='{{$index}}' href='#' role='button'>
																			<span class='glyphicon glyphicon-trash'></span></a>
																			{{end}}
																			</td>
																		</tr>
																		{{end}}
																		{{else if .OnlySelectedDivisionClass}}
																		{{ range $index, $eo := .OnlySelectedDivisionClass }}
																		<tr class='table_tr_selected_divition_classes_roster selected_divition_classes_roster{{$index}}'>
																				<td class='col-md-3' data-index='{{$eo.div}}{{if $eo.boat_type }}_{{$eo.boat_type}} {{end}}' >{{ $eo.div | GetFullDivName }} {{if $eo.boat_type}} {{$eo.boat_type}} Person {{end}}</td>
																				{{if compare $eo.class  "M"}}
																				<td class='col-md-3' data-index='M' >Men </td>
																				{{else if compare $eo.class  "W"}}
																				<td class='col-md-3' data-index='W' >Women</td>
																				{{else if compare $eo.class  "MX"}}
																				<td class='col-md-3' data-index='MX' >Mixed</td>
																				{{end}}
																			  {{if $eo.distance }}
																				<td class="col-md-3" data-index="{{$eo.distance}}">{{if compare $eo.distance "200"}} {{$eo.distance}}m {{else if compare $eo.distance "500"}} {{$eo.distance}}m {{else if compare $eo.distance "1000"}} 1km {{else if compare $eo.distance "2000"}} 2km {{end}}</td>
																	      {{else}}
																				<td class="col-md-3">
																				</td>
																				{{end}}
																				{{if $teamRosterDetail}}
																				<td class='col-md-5' style='display: contents;'>
																				 <select {{if (compare  $selectedEventRegister.roster_submit_status "No")}} disabled  {{end}} class='form-control hideOrShowRosterSelectTag' id='eventregisterroster'  data-index='{{$index}}'  name='eventregisterroster'>
																						<option value="0">Select Roster</option>
																							{{ range $e3 := $teamRosterDetail}} 
																								<option  value="{{ $e3.id }}">{{ $e3.name }}</option>
																							{{ end }} 
																				 </select>
																				</td>
																				{{else}}
																				<td class='col-md-2'>
																				</td>
																				{{end}}
																				<td class='col-md-1'>
																				{{if and (ge ($divisionArrayLength) 1)  (gt ($male_Female_Mixed_Length) 1) }}
																				<a id='table_tr_selected_divition_classes_roster_delete' class='btn-lg' style='color: black;' data-index='{{$index}}' href='#' role='button'>
																				<span class='glyphicon glyphicon-trash'></span></a>
																				{{end}}
																				</td>
																		</tr>
																		{{end}}
																		{{end}}
																	</tbody>
																	{{else}}
																	<tbody>
																		{{if .SelectedEventRegisterRoster}}
																		{{ range $index, $e := .SelectedEventRegisterRoster }}
																		<tr class='table_tr_selected_divition_classes_roster selected_divition_classes_roster{{$index}}'>
																			<td class='col-md-3' data-index='{{$e.division}}{{if $e.boat_type }}_{{$e.boat_type}} {{end}}' >{{ $e.division | GetFullDivName }} {{if $e.boat_type}} {{$e.boat_type}} Person {{end}}</td>
																			{{if compare $e.clases  "M"}}
																			<td class='col-md-3' data-index='M' >Men</td>
																			{{else if compare $e.clases  "W"}}
																			<td class='col-md-3' data-index='W' >Women</td>
																			{{else if compare $e.clases  "MX"}}
																			<td class='col-md-3' data-index='MX' >Mixed</td>
																			{{end}}
																			{{if $e.distance}}
																			<td class="col-md-3" data-index="{{$e.distance}}">{{if compare $e.distance "200"}} {{$e.distance}}m {{else if compare $e.distance "500"}} {{$e.distance}}m {{else if compare $e.distance "1000"}} 1km {{else if compare $e.distance "2000"}} 2km {{end}}</td>
																			{{else if $event_Class_Divisions}}
																			{{ $edistance_boattype := getEventDistanceType $event_Class_Divisions $e.clases  $e.division }}
																			{{if gt (len $edistance_boattype) 0}}
																			<td class="col-md-3" data-index="{{index $edistance_boattype 0}}">{{index $edistance_boattype 0}}</td>
																			{{else}}
																			<td class="col-md-3">
																			</td>
																			{{end}}
																			{{else}}
																			<td class="col-md-3">
																			</td>
																			{{end}}
																			{{if $teamRosterDetail}}
																			<td class='col-md-5' style='display: contents;'>
																			<select class='form-control hideOrShowRosterSelectTag' id='eventregisterroster'  data-index='{{$index}}'  name='eventregisterroster'>
																					<option value="0">Select Roster</option>
																						{{ range $e3 := $teamRosterDetail}} 
																							<option {{ if compare $e.roster_id  $e3.id }} selected {{ end }} value="{{ $e3.id }}">{{ $e3.name }}</option>
																						{{ end }} 
																			</select>
																			</td>
																			{{else}}
																			<td class='col-md-2'>
																			</td>
																			{{end}}
																			<td class='col-md-1'>
																			{{if and (ge ($divisionArrayLength) 1)  (gt ($male_Female_Mixed_Length) 1) }}
																			<a id='table_tr_selected_divition_classes_roster_delete' class='btn-lg' style='color: black;' data-index='{{$index}}' href='#' role='button'>
																			<span class='glyphicon glyphicon-trash'></span></a>
																			{{end}}
																			</td>
																		</tr>
																		{{end}}
																		{{else if .OnlySelectedDivisionClass}}
																		{{ range $index, $eo := .OnlySelectedDivisionClass }}
																		<tr class='table_tr_selected_divition_classes_roster selected_divition_classes_roster{{$index}}'>
																				
																				<td class='col-md-3' data-index='{{$eo.div}}{{if $eo.boat_type }}_{{$eo.boat_type}} {{end}}' >{{ $eo.div | GetFullDivName }} {{if $eo.boat_type}} {{$eo.boat_type}} Person {{end}}</td>
																				{{if compare $eo.class  "M"}}
																				<td class='col-md-3' data-index='M' >Men </td>
																				{{else if compare $eo.class  "W"}}
																				<td class='col-md-3' data-index='W' >Women</td>
																				{{else if compare $eo.class  "MX"}}
																				<td class='col-md-3' data-index='MX' >Mixed</td>
																				{{end}}
																				{{if $eo.distance}}
																				<td class="col-md-3" data-index="{{$eo.distance}}">{{if compare $eo.distance "200"}} {{$eo.distance}}m {{else if compare $eo.distance "500"}} {{$eo.distance}}m {{else if compare $eo.distance "1000"}} 1km {{else if compare $eo.distance "2000"}} 2km {{end}}</td>
																				{{else if $event_Class_Divisions}}
																				{{ $edistance_boattype := getEventDistanceType $event_Class_Divisions $eo.class  $eo.div }}
																				{{if gt (len $edistance_boattype) 0}}
																				<td class="col-md-3" data-index="{{index $edistance_boattype 0}}">{{index $edistance_boattype 0}}</td>
																				{{else}}
																				<td class="col-md-3">
																				</td>
																				{{end}}
																				{{else}}
																				<td class="col-md-3">
																				</td>
																				{{end}}
																				{{if $teamRosterDetail}}
																				<td class='col-md-5' style='display: contents;'>
																				 <select class='form-control hideOrShowRosterSelectTag' id='eventregisterroster'  data-index='{{$index}}'  name='eventregisterroster'>
																						<option value="0">Select Roster</option>
																							{{ range $e3 := $teamRosterDetail}} 
																								<option  value="{{ $e3.id }}">{{ $e3.name }}</option>
																							{{ end }} 
																				 </select>
																				</td>
																				{{else}}
																				<td class='col-md-2'>
																				</td>
																				{{end}}
																				<td class='col-md-1'>
																				{{if and (ge ($divisionArrayLength) 1)  (gt ($male_Female_Mixed_Length) 1) }}
																				<a id='table_tr_selected_divition_classes_roster_delete' class='btn-lg' style='color: black;' data-index='{{$index}}' href='#' role='button'>
																				<span class='glyphicon glyphicon-trash'></span></a>
																				{{end}}
																				</td>
																		</tr>
																		{{end}}
																		{{else}}
																		<tr class='table_tr_selected_divition_classes_roster selected_divition_classes_roster1'>
																				{{ $getSplitString := getSplitString (index  .RemoveDuplicateDivisionArray 0) }} 
																				{{if gt (len $getSplitString) 1}}
																				<td class='col-md-3' data-index='{{ index  .RemoveDuplicateDivisionArray 0 }}' >{{ index  $getSplitString 0 | GetFullDivName }} {{if index  $getSplitString 1 }} {{index  $getSplitString 1}} Person {{end}}</td>
																				{{else}}
																				<td class='col-md-3' data-index='{{ index  .RemoveDuplicateDivisionArray 0 }}' >{{ index  .RemoveDuplicateDivisionArray 0 | GetFullDivName }} </td>
																				{{end}}
																				{{ $teampdivisionArrayClass := index $divisionArray 0 }} 
																				{{if compare $teampdivisionArrayClass.class "M" }}
																				<td class='col-md-3' data-index='M' >Men</td>
																				{{else if compare $teampdivisionArrayClass.class "W" }}
																				<td class='col-md-3' data-index='W' >Women</td>
																				{{else if compare $teampdivisionArrayClass.class "MX" }}
																				<td class='col-md-3' data-index='MX' >Mixed</td>
																				{{end}}
																				{{if $teampdivisionArrayClass.distance }}
																				<td class="col-md-3" data-index="{{$teampdivisionArrayClass.distance}}">{{if compare $teampdivisionArrayClass.distance "200"}} {{$teampdivisionArrayClass.distance}}m {{else if compare $teampdivisionArrayClass.distance "500"}} {{$teampdivisionArrayClass.distance}}m {{else if compare $teampdivisionArrayClass.distance "1000"}} 1km {{else if compare $teampdivisionArrayClass.distance "2000"}} 2km {{end}} </td>
																				{{else}}
																				<td class="col-md-3">
																				</td>
																				{{end}}
																				{{if $teamRosterDetail}}
																				<td class='col-md-5' style='display: contents;'>
																					<select class='form-control hideOrShowRosterSelectTag' id='eventregisterroster'  data-index='1'  name='eventregisterroster'>
																						<option value="0">Select Roster</option>
																							{{ range $e2 := $teamRosterDetail}} 
																								<option value="{{ $e2.id }}">{{ $e2.name }}</option>
																							{{ end }} 
																					</select>
																				</td>
																				{{else}}
																				<td class='col-md-2'>
																				</td>
																				{{end}}
																				<td class='col-md-1'>
																				{{if and (ge ($divisionArrayLength) 1)  (gt ($male_Female_Mixed_Length) 1) }}
																				<a id='table_tr_selected_divition_classes_roster_delete' class='btn-lg' style='color: black;' data-index='1' href='#' role='button'>
																				<span class='glyphicon glyphicon-trash'></span></a>
																				{{end}}
																				</td>
																		</tr>
																		{{end}}
																	</tbody>
																	{{end}}
																</table>
														</div>
													</div>
										</div>
										</div>
										{{else}}
										<div class="create-box-section create-box-section-event-register">
										<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="label-font-wei error">Please Contact Event Organizer for Division and Class. </label>
													</div>
												</div>
											</div>
										</div>
										{{end}}
										{{end}}
										
										<div class="create-box-section create-box-section-event-register">
								        <div class="row">
													<div class="col-md-12">
														<div class="form-group">
																<label class="label-font-wei event_register_lab_mar_bot_siz" style="font-size: 20px;display: block;">Waiver</label>
																<label class="label-font-wei " style="font-size: 13px;">Waiver will be sent to team members when your rosters are submitted.</label>
															</div>
													</div>
												</div>
											</div>

										<div class="create-box-section-footer">
											<div class="row">
												<div class="col-md-6 marg-5-px">
														<input type="button" value="Cancel" id="cancelEventRegistration" class="btn btn-phantom-green btn-fullwidth">
												</div>
												<div class="col-md-6 marg-5-px">
														<input type="hidden" id="SelectedDivisionArray" value="" name="selectedDivisionArray">
														<input type="hidden" id="SelectedClassArray" value="" name="selectedClassArray">
														<input type="hidden" id="SelectedRosterIdArray" value="" name="selectedRosterIdArray">
														<input type="hidden" id="SelectedBoatTypeArray" value="" name="selectedBoatTypeArray">
					
														<input type="hidden" id="OnlySelectedClassArray" value="" name="onlyselectedClassArray">
														<input type="hidden" id="OnlySelectedDivisionArray" value="" name="onlyselectedDivisionArray">
														<input type="hidden" id="OnlySelectedDistanceArray" value="" name="onlyselectedDistanceArray">
														<input type="hidden" id="current_create_event_step" value="" name="current_create_event_step">

													<input type="button" value="Save & Continue" id="submit_event_register_step1" class="btn btn-phantom-orange  btn-fullwidth">
												</div>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>

				<div id="create-team-event-2" class="{{if .create_team_event_2 }} container {{ else }} container hide{{ end }} ">
						<div class="row">
							<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
								<div class="panel create-body-fullwidth panel-default create-box">
									<div class="panel-head" style="padding-bottom:30px !important;">
										<h2>{{.EventView.event_0.event_name}}</h2>
										<h2>Step 2 of 3</h2>
									</div>
									<div class="panel-body panel-body-event-register">
										{{if .errorinregistration}}
										<span id="event_reg_err_msgs4" class="error">Error In Registration Please Try again</span>	
										{{else}}
										<span id="event_reg_err_msgs4" class="error"></span>	
										{{end}}
											{{$freePracticeStatusStatus :=.FreePracticeStatus}}
											{{if compare $freePracticeStatusStatus "true"}} 
											<div class="create-box-section create-box-section-event-register">
												<div class="row">
													<div class="col-md-12">
														<div class="form-group" style="margin-bottom: 0px;">
														  <label class="label-font-wei event_register_lab_mar_bot_siz" style="font-size: 20px;display: block;padding-bottom: 5px;" >Practices</label>
																{{if .FreePractice}} 
																	{{ range $e2 := .FreePractice}}
																	<label class="label-font-wei event_register_lab_mar_bot_siz">Your event registration includes {{$e2.quantity}} event practices free of charge.</label>
																	{{end}}  
																{{end}}
														</div>
														{{if .AdditionalPractice}} 
															{{ range $e2 := .AdditionalPractice}}
															{{if ne $e2.price "0.00"}} 
															<label class="label-font-wei event_register_lab_mar_bot_siz">Would you like to purchase practice(s)?</label>
															<div class="form-group">
																<div class="form-check form-check-inline dis-inline" style="padding-right: 81px;">
																	<span class="disc-option-1 eventviewregister">
																			<input  type="radio" class="circle" {{if compare $selectedEventRegister.additional_practice_bool false}} checked {{end}} name="additional_practice_bool" id="inlineRadio1" checked value="No" /> No
																	</span>
																</div>
																<div class="form-check dis-inline">
																	<span class="disc-option-2 eventviewregister" >
																			<input  type="radio" class="circle" {{if compare $selectedEventRegister.additional_practice_bool true}} checked {{end}} name="additional_practice_bool" id="inlineRadio2"  value="Yes" /> Yes
																	</span>
																</div>
											
														  </div>
															{{end}}
															
															<div id="additional_practice_quantity_hide" class="{{if compare $selectedEventRegister.additional_practice_bool false}} hide {{end}} form-group" >
																		<label class="label-font-wei">How many would you like to purchase?</label>
																		<select class="form-control" style="width: 77px;" id="additional_practice_quantity" name="additional_practice_quantity">
																			<option {{ if compare $selectedEventRegister.additional_practice_quantity "0" }} selected {{ end }} value="0">0</option>
																			<option {{ if compare $selectedEventRegister.additional_practice_quantity "1" }} selected {{ end }} value="1">1</option>
																			<option {{ if compare $selectedEventRegister.additional_practice_quantity "2" }} selected {{ end }} value="2">2</option>
																			<option {{ if compare $selectedEventRegister.additional_practice_quantity "3" }} selected {{ end }} value="3">3</option>
																			<option {{ if compare $selectedEventRegister.additional_practice_quantity "4" }} selected {{ end }} value="4">4</option>
																			<option {{ if compare $selectedEventRegister.additional_practice_quantity "5" }} selected {{ end }} value="5">5</option>
																			<option {{ if compare $selectedEventRegister.additional_practice_quantity "6" }} selected {{ end }} value="6">6</option>
																			<option {{ if compare $selectedEventRegister.additional_practice_quantity "7" }} selected {{ end }} value="7">7</option>
																			<option {{ if compare $selectedEventRegister.additional_practice_quantity "8" }} selected {{ end }} value="8">8</option>
																			<option {{ if compare $selectedEventRegister.additional_practice_quantity "9" }} selected {{ end }} value="9">9</option>
																			<option {{ if compare $selectedEventRegister.additional_practice_quantity "10" }} selected {{ end }} value="10">10</option>
																		</select>
																</div>
															{{end}} 
														  {{end}} 
													</div>
												</div>
											</div>
											{{end}}
											{{if .OtherPricing}}
											<div class="create-box-section create-box-section-event-register">
												<div class="row">
													<div class="col-md-12">
															
															{{$otherPricing := .OtherPricing}}
															
															<label class="label-font-wei">Would you like any additional paid options?</label>
															<table class="table">
																<thead>
																	<tr>
																		<th class="col-md-8">Item</th>
																		<th class="col-md-2">Cost</th>
																		<th class="col-md-2">Quantity</th>
																	</tr>
																</thead>
																<tbody>
																	{{if .RegisterPricingOther}}
																	{{$registerPricingOther := .RegisterPricingOther}}
																	{{ range $e2 := $otherPricing}}
																	{{$ordercount := getOrderCount $e2.id $registerPricingOther}}
																	<tr>
																		<td>
																			{{$e2.item}} (each)
																			<input type="hidden" name=iteam_name[] value="{{$e2.item}}">
																			<input type="hidden" name=iteam_id[] value="{{$e2.id}}">
																		</td>
																		<td>
																			{{$e2.cost}}
																		</td>
																		<td class="col-xs-4">
																			<input class="form-control event-quality-size" name=iteam_id_quantity[] value="{{$ordercount}}" id="iteam_id_quantity" type="number">
																		</td>
																	</tr>
																	{{end}}
																	{{else}}
																	{{ range $e2 := .OtherPricing}}
																	<tr>
																		<td>
																			{{$e2.item}} (each)
																			<input type="hidden" name=iteam_name[] value="{{$e2.item}}">
																			<input type="hidden" name=iteam_id[] value="{{$e2.id}}">
																		</td>
																		<td>
																			{{$e2.cost}}
																		</td>
																		<td class="col-xs-4">
																			<input class="form-control event-quality-size" name=iteam_id_quantity[] value="0" id="iteam_id_quantity" type="number">
																		</td>
																	</tr>
																	{{end}}
																	{{end}}
																</tbody>
															</table>
													</div>
												</div>
											</div>
											{{end}}	
											{{if compare .EventView.event_0.price_based "PP"}}
											{{if .Event_Person_pricing}}
											<div class="create-box-section create-box-section-event-register">
												<div class="row">
													<div class="col-md-12">
															<label class="label-font-wei">How many participants will be attending this event ?</label>
															<table class="table">
																<thead>
																	<tr>
																		<th colspan="5">Roles</th>
																		<th>Cost</th>
																		<th>Quantity</th>
																	</tr>
																</thead>
															
																{{if .RegisterEventRolePricing }}
																{{$registerPricingOther := .RegisterEventRolePricing}}
																<tbody>
																		{{ range $e2 := .Event_Person_pricing}}
																		{{$rolecount := getPricingQuantityCount $e2.id $registerPricingOther}}
																		{{if $e2.price_fee_role}}
																		{{$chararrayreplace := chararrayreplace $e2.price_fee_role}}
																		<tr>
																				<td colspan="5">
																						<p style='word-wrap: break-word;' ><span style="color: #2a745f;">Per Person</span>({{$chararrayreplace}})</p>
																					<input type="hidden" name=per_person_iteam_id[] value="{{$e2.id}}">
																					<input type="hidden" name=per_person_iteam_name[] value="{{$chararrayreplace}}">
																				</td>
																				<td>
																						{{$e2.regular_cost}}
																				</td>
																				<td>
																						<input class="form-control event-quality-size" name=per_person_quantity[] min="0" value="{{$rolecount}}" id="per_person_quantity" type="number">
																				</td>
																		</tr>
																		{{end}}
																		{{end}}
																</tbody>
																{{else}}
																<tbody>
																	{{ range $e2 := .Event_Person_pricing}}
																	{{if $e2.price_fee_role}}
																	{{$chararrayreplace := chararrayreplace $e2.price_fee_role}}
																	<tr>
																			<td colspan="5">
																					<p style='word-wrap: break-word;'><span style="color: #2a745f;">Per Person</span>({{$chararrayreplace}})
																				<input type="hidden" name=per_person_iteam_id[] value="{{$e2.id}}">
																				<input type="hidden" name=per_person_iteam_name[] value="{{$chararrayreplace}}">
																			</td>
																			<td>
																					{{$e2.regular_cost}}
																			</td>
																			<td>
																					<input class="form-control event-quality-size" name=per_person_quantity[] min="0" value="0" id="per_person_quantity" type="number">
																			</td>
																	</tr>
																	{{end}}
																	{{end}}
														  	</tbody>
																{{end}}
															</table>
													</div>
												</div>
											</div>
											{{end}}
											{{else}}
											<div class="create-box-section create-box-section-event-register">
													<div class="row">
														<div class="col-md-8">
															<div class="form-group row">
																<label for="participantscount" class="col-2 col-form-label">How many participants will be attending this event ?
																	<span class="red-star">*</span>
																</label>
																<div class="col-md-4">
																	<input class="form-control event-user-count-size" type="number" min="1"  name="participantscount" step="1" value="{{$selectedEventRegister.participant_member_count}}" id="participantscount">
																</div>
															</div>
														</div>
													</div>
											</div>
											{{end}}
											
											<div class="create-box-section-footer">
													<div class="row">
														<div class="col-md-6 marg-5-px">
																<input type="button" value="Cancel" id="cancelEventRegistration" class="btn btn-phantom-green btn-fullwidth">
														</div>
														<div class="col-md-6 marg-5-px">
															<input type="button" value="Save & Continue" id="submit_event_register_step2" class="btn btn-phantom-orange  btn-fullwidth">
														</div>
													</div>
												</div>
										</div>
								</div>
							</div>
						</div>
				</div>

				<div id="create-team-event-3" class="{{if .create_team_event_3 }} container {{ else }} container hide   {{ end }} ">
						<div class="row">
							<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
								<div class="panel create-body-fullwidth panel-default create-box">
									<div class="panel-head" style="padding-bottom:30px !important;">
										<h2>{{.EventView.event_0.event_name}}</h2>
										<h2>Step 3 of 3</h2>
									</div>
									<div class="panel-body panel-body-event-register">
											{{if .EventQuestionary}}
											{{$selectedEventRegister := .SelectedEventRegister}}
											<div class="create-box-section create-box-section-event-register">
												<div class="row">
														<div class="col-md-12">
															<span id="event_reg_err_msgs3" class="error"></span>
															<span id="event_reg_succ_msgs" class="success"></span>
														</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group no-margin">
															<label class="label-font-wei event_register_lab_mar_bot_siz" style="font-size: 20px;">Additional information</label>
															<table class="table">
																	<tbody>
																		{{if .RegisterEventQuestionary}}
																		{{$registerEventQuestionary := .RegisterEventQuestionary}}
																		{{ range $e2 := $registerEventQuestionary}}
																		<tr>
																				<td class="col-xs-12 padding_size_overwrite" style="padding:0px">
																					<input type="hidden" class="form-control" placeholder="question" readonly name=event_question[] value="{{$e2.questions}}">
																					<label class="label-font-wei event_register_lab_mar_bot_siz" style="word-wrap: break-word;text-align: justify;">{{$e2.questions}}</label>
																				</td>
																			</tr>
																			<tr>
																				<td class="col-xs-12">
																					<textarea class="form-control" rows="3" maxlength="150" required  placeholder="answer"value="{{$e2.answer}}" name=event_question_answer[]  name="event_register_message">{{$e2.answer}}</textarea>
																				</td>
																		</tr>
																		{{end}}
																		{{else}}
																		{{ range $e2 := .EventQuestionary}}
																		<tr>
																			<td class="col-xs-12 padding_size_overwrite" style="padding:0px">
																				<input type="hidden" class="form-control" placeholder="question" readonly name=event_question[] value="{{$e2.questions}}">
																				<label class="label-font-wei event_register_lab_mar_bot_siz" style="word-wrap: break-word;text-align: justify;">{{$e2.questions}}</label>
																			</td>
																		</tr>
																		<tr>
																			<td class="col-xs-12">
																				<!-- <input class="form-control" placeholder="answer" name=event_question_answer[] value=""> -->
																				<textarea class="form-control" rows="3" maxlength="150" required  placeholder="answer" name=event_question_answer[]  name="event_register_message"></textarea>
																			</td>
																		</tr>
																		{{end}}
																		{{end}}
																	</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
											{{end}}
											<div class="create-box-section create-box-section-event-register">
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
																<label class="label-font-wei">Send message to event organizer</label>
																<textarea class="form-control" rows="5"  maxlength="200" value="{{$selectedEventRegister.message}}" name="event_register_message">{{$selectedEventRegister.message}}</textarea>
														</div>
													</div>
												</div>
											</div>
											<div class="create-box-section-footer">
												<input type="hidden"  id="eventpaymentstatusClick" name=eventpaymentstatus value="false">
													{{if compare .NetPayStatus "true" | and .readyToPaymentStatus}}
													<div class="row">
															<div class="col-md-12 marg-5-px">
																<input type="button" value="Pay Now" id="submit_event_register_step4_with_payment" class="btn btn-phantom-orange  btn-fullwidth">
															</div>
															<div class="col-md-12 marg-5-px">
															<input type="button" value="Cancel" id="cancelWithoutPayment" class="btn btn-phantom-green btn-fullwidth">
														  </div>
													</div>
													{{else if compare .NetPayStatus "true"}}
													<div class="row">
														<div class="col-md-6 marg-5-px">
																<input type="button" value="Cancel" id="cancelEventRegistration" class="btn btn-phantom-green btn-fullwidth">
														</div>
														<div class="col-md-6 marg-5-px">
															<input type="button" value="Register" id="submit_event_register_step3" class="btn btn-phantom-orange  btn-fullwidth">
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 marg-5-px">
																
															<input type="button" value="Register & Pay" id="submit_event_register_step3_with_payment" class="btn btn-phantom-orange  btn-fullwidth">
														</div>
												  </div>
												  {{else}}
												   <div class="row">
														<div class="col-md-6 marg-5-px">
																<input type="button" value="Cancel" id="cancelEventRegistration" class="btn btn-phantom-green btn-fullwidth">
														</div>
														<div class="col-md-6 marg-5-px">
															<input type="button" value="Register" id="submit_event_register_step3" class="btn btn-phantom-orange  btn-fullwidth">
														</div>
													</div>
												  {{end}}
												</div>
										</div>
								</div>
							</div>
						</div>
				</div>

			</form>
		<!-- ((/if)) -->
	</div>


	<div class="modal fade" id="rosternotineventregmodel">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<span id="waiver_removed_err" ></span>
								<span id="waiver_removed_succ" ></span>
								<p>Team does not have a roster yet</p>
							</div>
						</div>
	
						<div class="row">
							<div class="col-md-12">
								<button type="reset" class="btn btn-primary btn-fullwidth" data-dismiss="modal" aria-label="Close">Back</button>
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div>
	{{ template "footer.html" . }}

	<div class="modal fade" id="defaulteventmodelwithheading">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
						<div class="row">
							<div class="col-md-12">
							<h3 id="defaulteventmodelwithheadingText">Option to Upgrade</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">
										<span id="waiver_removed_err" ></span>
										<span id="waiver_removed_succ" ></span>
										<p id="defaulteventmodelwithheading_Body" ></p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
							<button type="reset" class="btn btn-primary btn-fullwidth" data-dismiss="modal" aria-label="Close">OK</button>
							</div>
						</div>
					 </div>
				</div>
			</div>
	</div>

</body>
</html>