<!DOCTYPE html>
<html>
<head>
	<title>Create Event | Gushou</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
	{{ template "linksScripts.html" . }}
	{{ template "event/autoCompleteScriptsEvent.html" . }}
</head>
<body>
	{{ template "headerAfterLogin.html" . }}

	<div id="wrapper">
		<div class="page-header">
			<div class="container">
				<section class="header-title">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1 class="inverted">Create an Event</h1>
						</div>
					</div>
				</section>
			</div>
		</div>
	{{ if .userActivity }}
		<form role="form" id="create_event_form" method="POST">
			<div id="create-event-1" class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-9 col-sm-offset-2 col-md-offset-2">
						<div class="panel create-body-fullwidth panel-default create-box">
							<div class="panel-head">
								<h2>Step 1 of 5</h2>
							</div>

							<div class="panel-body">
								<div class="create-box-section">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group no-margin">
												<label>What is your event name? <span class="red-star">*</span></label>
												<span id="event_name_err" class="error-message hide"></span>
												<input type="text" class="form-control required"  placeholder="Event name" name="event_name" id="event_name" autofocus>
											</div>
										</div>
									</div>
								</div>
								<div class="create-box-section">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group" id="create-eventlocation">
												<label>Where will your event take place? <span class="red-star">*</span></label>
												<!-- ((> inputAutocomplete settings=cities id="location"  placeholder="Location (city)" class="form-control required")) -->
												<input class="form-control required" placeholder="Location (city)" id="location" 
												name="location" type="text">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group" id="create-eventprovince">
												<!-- ((> inputAutocomplete settings=province id="province"  placeholder="Province" class="form-control required")) -->
												<input class="form-control required" placeholder="Province" id="province" 
												name="province" type="text">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group" id="create-eventcountry">
												<!-- ((> inputAutocomplete settings=country id="country"  placeholder="Country" class="form-control required")) -->
												<input class="form-control required" placeholder="Country" id="country" 
												name="country" type="text">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" class="form-control required" maxlength="200"  placeholder="Event venue" name="venue_name" id="venue_name" >
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group no-margin">
												<input type="text" class="form-control required" maxlength="200"  placeholder="Event venue address" name="venue_street_address" id="venue_street_address" >
											</div>
										</div>
									</div>
								</div>

								<div class="create-box-section">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label>When is your event happening? <span class="red-star">*</span></label>

												<div class="md-checkbox">
													<input id="singleEvent" name="singleEvent" class="md-check" type="checkbox">
													<label for="singleEvent" class="no-margin">
														<span class="check"></span>
														<span class="box"></span>
														Single day event
													</label>
												</div>
											</div>
										</div>
										<span id="end_date_err" class="error-message hide"></span>

									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group no-margin">
												<div class="input-group">
													<input type="text" class="form-control dtpicker_input required" placeholder="Start date" name="start_date" id="start_date" autocomplete="off">
													<span id="start_datepicker" class="input-group-addon gray-icons dtpicker"><i class="ti-calendar"></i></span>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group no-margin">
												<div class="input-group">
													<input type="text" class="form-control dtpicker_input " placeholder="End date" name="end_date" id="end_date" autocomplete="off">
													<span id="end_datepicker" class="input-group-addon gray-icons dtpicker"><i class="ti-calendar"></i></span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="create-box-section-footer">
									<div class="row">
										<div class="col-md-12">
											<input type="button" value="Continue" id="submit_step1" class="btn btn-phantom-green btn-fullwidth">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div id="create-event-2" class="container hide"> -->
			<div id="create-event-2" class="{{if .create_team_2 }} container {{ else }} container hide {{ end }}">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-9 col-sm-offset-2 col-md-offset-2">
						<div class="panel create-body-fullwidth panel-default create-box">
							<div class="panel-head">
								<a href="" id="backto_step1"><i class="ti-arrow-left back"></i></a>
								<h2>Step 2 of 5</h2>
							</div>

							<div class="panel-body">
								<span id="event_classes_err" class="error-message hide"></span>
								<div class="create-box-section">
										<div class="row">
											<div class="col-md-12">
												<p class="label-bold create-reg-event-heding">Class</p>
											</div>
										</div>
									<p class="label-bold">What classes are represented at your event? <span class="red-star">*</span></p>

									<div class="table-fullwidth" style="max-height: 211px;overflow: auto;">
											<ul class="list-group">
											  {{ range $div := .AllDivs }}
												<li class="list-group-item">
												<div class="md-checkbox" style='left: 13px;'>
														<input value="{{$div.value}}" class="md-check all-divisions" data-divname="{{$div.div_name}}"  name="All_divisions[]" id="All_divisions{{$div.value}}" type="checkbox">
														<label for="All_divisions{{$div.value}}" class="create-event-label"><span class="check"></span><span class="box"></span> {{$div.div_name}} </label>
												</div>
												</li>
												{{end}}
											</ul>
									</div>
								</div>

								<div class="create-box-section">
										<p class="label-bold">Which boats are you racing at your event? <span class="red-star">*</span></p>
										<div class="table-fullwidth">
										<div class="row">
										<div class="col-md-12" style='left: 31px;'>
										<div class="col-md-4 md-checkbox" >
												<input value="10" class="md-check all-divisions" name="All_boattype[]" id="All_boattype10" type="checkbox">
												<label style='padding-left: 11px;' for="All_boattype10" class="create-event-label"><span class="check"></span><span class="box"></span> 10-Person </label>
										</div>
										<div class="col-md-4 md-checkbox">
												<input value="20" class="md-check all-divisions" name="All_boattype[]" id="All_boattype20" type="checkbox">
												<label style='padding-left: 11px;' for="All_boattype20" class="create-event-label"><span class="check"></span><span class="box"></span> 20-Person </label>
										</div>
										</div>
										</div>
									  </div>
									</div>
									<div class="create-box-section">
											<p class="label-bold">Which distances are you racing at your event? <span class="red-star">*</span></p>
											<div class="table-fullwidth">
											<div class="row">
											<div class="col-md-12" style='left: 31px;'>
											<div class="col-md-3 md-checkbox" >
													<input value="200" class="md-check all-divisions" name="All_boatmeter[]" id="All_boatmeter200" type="checkbox">
													<label style='padding-left: 11px;' for="All_boatmeter200" class="create-event-label"><span class="check"></span><span class="box"></span> 200m </label>
											</div>
											<div class="col-md-3 md-checkbox">
													<input value="500" class="md-check all-divisions" name="All_boatmeter[]" id="All_boatmeter500" type="checkbox">
													<label style='padding-left: 11px;' for="All_boatmeter500" class="create-event-label"><span class="check"></span><span class="box"></span> 500m </label>
											</div>
											<div class="col-md-3 md-checkbox">
													<input value="1000" class="md-check all-divisions" name="All_boatmeter[]" id="All_boatmeter1000" type="checkbox">
													<label style='padding-left: 11px;' for="All_boatmeter1000" class="create-event-label"><span class="check"></span><span class="box"></span> 1km </label>
											</div>
											<div class="col-md-3 md-checkbox">
													<input value="2000" class="md-check all-divisions" name="All_boatmeter[]" id="All_boatmeter2000" type="checkbox">
													<label style='padding-left: 11px;' for="All_boatmeter2000" class="create-event-label"><span class="check"></span><span class="box"></span> 2km </label>
											</div>
											</div>
											<div class="col-md-12 hide" id="ClassDivisionMaxHideShowContinue" >
											<p class='create-event-distance'><a href="/#" id="ClassDivisionMaxContinueClick" class="small-size-distance"><i class="ti-arrow-right"></i> Continue</a></p>
											</div>
											</div>
											</div>
										</div>
										<span id="event_matrix_classes_err" class="error-message hide"></span>
										<div id="appendClassDivisionMaxHideShowTable" class="create-box-section hide">
										<div id="appendClassDivisionMaxTable" class="table-fullwidth table-responsive division-class-table">
											
										</div>
										</div>
									<div id='createboxsectionfooterhideshow' class="create-box-section-footer hide">
										<div class="row">
											<div class="col-md-12">
												<input type="button" id="submit_step2" value="Continue" class="btn btn-phantom-green btn-fullwidth">
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div id="create-event-3" class="container hide"> -->
			<div id="create-event-3" class="{{if .create_team_3 }} container {{ else }} container hide {{ end }}">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-9 col-sm-offset-2 col-md-offset-2">
						<div class="panel create-body-fullwidth panel-default create-box">
							<div class="panel-head">
								<a href="" id="backto_step2"><i class="ti-arrow-left back"></i></a>
								<p class="small">Optional</p>
								<h2>Step 3 of 5</h2>
							</div>

							<div class="panel-body">
								<div class="create-box-section">
									<div class="row">
										<div class="col-md-12">
											<p class="label-bold create-reg-event-heding"  >Pricing</p>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<p class="label-bold">When are the registration dates?</p>
										</div>
									</div>
									<span id="reg_dates_err" class="error-message hide"></span>
									<div class="row create-event-registration-dates">
										<div class="col-md-4">
											<div class="form-group">
												<label class="label-normal">Super-early bird</label>
												<div class="input-group">
													<span id="seb_dtpicker" class="input-group-addon gray-icons"><i class="ti-calendar"></i></span>
													<input type="text" class="form-control " placeholder="" name="seb_date" id="seb_date" autocomplete="off">
												</div>
											</div>
										</div> 
										<div class="col-md-4">
											<div class="form-group">
												<label class="label-normal">Early bird</label>
												<div class="input-group">
													<span id="eb_dtpicker" class="input-group-addon gray-icons"><i class="ti-calendar"></i></span>
													<input type="text" class="form-control dtpicker_input " placeholder="" 
													name="eb_date" id="eb_date" autocomplete="off">
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="label-normal">Regular</label>
												<div class="input-group">
													<span id="reg_dtpicker" class="input-group-addon gray-icons"><i class="ti-calendar"></i></span>
													<input type="text" class="form-control dtpicker_input " placeholder="" 
													name="r_date" id="rb_date" autocomplete="off">
												</div>
											</div>
										</div>
									</div>

									<div class="row">
											<div class="col-md-12" style='margin-top: 31px;'>
												<p class="label-bold">What will it cost to register for your event?</p>
											</div>
										</div>
										<div class="row vertical-center">
											<div class="col-md-12">
												<p class="no-margin">All prices in
	
													<select id="currency" name="currency" class="select-custom  form-control">
														<option value="CAD">CAD</option> 
														<option value="USD">USD</option>
														<option value="EUR">EUR</option>
														<option value="AUD">AUD</option>
														<option value="RMB">RMB</option>
													</select>
												</p>
											</div>
										</div>

								</div>
								<div class="create-box-section" >
									
										<div class="row">
												<div class="col-md-12" style='margin-top: 31px;'>
													<p class="label-bold">What is your pricing is based?</p>
												</div>
											</div>
											<div class="row vertical-center">
												<div class="col-md-12">
													<p class="no-margin">
														<select id="pricing_based_selection" name="pricing_based" class="select-custom  form-control" style='width: 215px;'>
															<option value=''>Please select</option> 
															<option value="BRC">By Racing Category</option> 
															<option value="PP">Per Person</option>
															<option value="OT">Others</option>
														</select>
													</p>
												</div>
											</div>

								</div>
								<div class="create-box-section hide"  id="bypricepersontablehideshow">
										<span id="reg_price_err" class="error-message hide"></span>
									<div class="row">
										<div class="col-md-12">
											<p class="label-bold">What are the prices?</p>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="table-fullwidth create-event-pricing-table" id="byracingperpersonhideshow" >
												<table class="table class-listing-list create-event-price-table table-striped responsive-table">
													<thead>
														<tr>
															<th class="col-md-3"></th>
															<th class="col-md-4">Super early bird</th>
															<th class="col-md-4">Early bird</th>
															<th class="col-md-4">Regular</th>
															<th class="col-md-3"></th>
														</tr>
													</thead>
													<tbody id="appendPricingBasedPricingDetail">

													</tbody>
												</table>
											</div>
											<div id="byotherperson"class="form-group hide">
													<label for="pwd">Other</label>
													<textarea id="pricingbasedotherclear" name="pricingbasedother" maxlength="200" class="editable form-control" placeholder="" rows="3" required="" style="resize: vertical;"></textarea>  
											</div>
											</div>
									</div>
								</div>

								<div class="create-box-section-footer">
									<div class="row">
										<div class="col-md-12 text-center" style="margin-bottom: 31px;">
											<input type="button" id="submit_event_step3" value="Continue" class="btn btn-phantom-green btn-fullwidth">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div id="create-event-4" class="container hide"> -->
			<div id="create-event-4" class="{{if .create_team_4 }} container {{ else }} container hide {{ end }}">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-9 col-sm-offset-2 col-md-offset-2">
						<div class="panel create-body-fullwidth panel-default create-box">
							<div class="panel-head">
								<a href="" id="backto_step3"><i class="ti-arrow-left back"></i></a>
								<!-- <p class="small">Optional</p> -->
								<h2>Step 4 of 5</h2>
							</div>

							<div class="panel-body create-event-practice">
								<span id="err_msgs2" class=""></span>
								<span id="succ_msgs2" class=""></span>
								<div class="create-box-section">
									<div class="row">
										<div class="col-md-12">
											<p class="label-bold">Practices</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="md-checkbox">
												<input id="compl_pract" name="compl_pract" class="md-check compl_pracs" type="checkbox" value="yes">
												<label for="compl_pract">
													<span class="check"></span>
													<span class="box"></span>Complimentary practices are included in registration fee
												</label>
											</div>
										</div>
									</div>
									<div id="event_compl_pracs" class="row hide">
										<div class="col-md-9">
											<p>How many complementary practices are included?</p>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<input type="number"  min="0" maxlength="5" class="form-control type-number event-quality-size-range" placeholder="Number" id="free_practice_num"  name="free_practice_num">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="md-checkbox">
												<input id="additonal_pracs" name="additonal_pracs" class="md-check additonal_pracs" type="checkbox" value="yes">
												<label for="additonal_pracs">
													<span class="check"></span>
													<span class="box"></span> 
													Offer additional practices for purchase  
												</label>
											</div>
										</div>
									</div>
									<div id="event_additiona_pracs" class="row hide">
										<div class="col-md-9">
											<p>How much do additional practices cost?</p>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<input type="number"  min="0" class="form-control type-number event-quality-size"  placeholder="Price" id="additional_practices_cost" name="additional_practices_cost">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="md-checkbox">
												<input id="coach_serv" name="coach_serv" class="md-check coach_serv" type="checkbox" value="yes">
												<label for="coach_serv" class="no-margin">
													<span class="check"></span>
													<span class="box"></span>Offer coaching services
												</label>
											</div>
										</div>
									</div>
									<div id="event_coach_serv" class="row hide">
										<div class="col-md-9">
											<p>How much are the coaching services (per hour)?</p>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<input type="number"  min="0" class="form-control type-number event-quality-size"  placeholder="Price" id="coaching_service_cost" name="coaching_service_cost">
											</div>
										</div>
									</div>
								</div>

								<div class="create-box-section">
									<div class="row">
										<div class="col-md-12">
											<p class="label-bold">Other</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="md-checkbox">
												<input id="other_items" name="other_items" class="md-check other_items" type="checkbox" value="yes">
												<label for="other_items" class="no-margin">
													<span class="check"></span>
													<span class="box"></span>Offer additional paid options to teams
												</label>
											</div>
										</div>
									</div>
									<div class="row event_other_items hide">
										<table id="other_pract_pricing">
											<tbody>
												<tr id="rowss_1">
													<td class="col-md-8">
														<div class="form-group">
															<input type="text" placeholder="Item title" id="item_1" name="item_title[]" maxlength="200" class="form-control remove-copy-paste"  />
														</div>
													</td>

													<td class="col-md-3">
														<div class="form-group">
															<input type="number" step="1" min="0"  class="form-control type-number event-quality-size" id="item_cost_1" name="item_cost[]" placeholder="Price">
														</div>
													</td>
													<td class="col-md-1 visible-md visible-lg">
														<a href="#" id="delete_item_1" class="delete_item">
															<i class="ti-close"></i>
														</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="row event_other_items hide">
										<div class="col-md-12">
											<a href="#" id="create-other-pricing-add-row" class="label-bold">+ Add more</a>
										</div>
									</div>
								</div>

								<div class="create-box-section">
										<div class="row">
											<div class="col-md-12">
												<p class="label-bold">Additional Information</p>
											</div>
										</div>
										<div class="row">
												<span id="event_class_question_err" class="error-message hide">Please enter the questionary</span>
												<table id="questions_event_table">
														<tbody>
															<tr id="rowss_question1">
																<td class="col-md-12">
																	<div class="form-group">
																			<input type="text" id="question_1" placeholder="Question" maxlength="200" name="event_questions[]" class="form-control" />
																	</div>
																</td>
																<td class="col-md-1 visible-md visible-lg">
																	<a href="#" id="delete_question_1" class="delete_question_item">
																		<i class="ti-close question_delete_icon"></i>
																	</a>
																</td>
															</tr>
														</tbody>
													</table>
										</div>
										<div class="row">
												<div class="col-md-12">
													<a href="#" id="create-questions-add-row" class="label-bold">+ Add more</a>
												</div>
										</div>
									</div>

								<div class="create-box-section-footer" style="margin-bottom: 31px;">
									<div class="row">
										<div class="col-md-12 text-center">
											<input type="button" value="Continue" id="submit_step4" class="btn btn-phantom-green btn-fullwidth">
											<!-- <a href="" id="skip_step4" class="skip">SKIP</a> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div id="create-event-5" class="container hide"> -->
			<div id="create-event-5" class="{{if .create_team_5 }} container {{ else }} container hide {{ end }}">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-9 col-sm-offset-2 col-md-offset-2">
						<div class="panel create-body-fullwidth panel-default create-box">
							<div class="panel-head">
								<a href=""><i class="ti-arrow-left back"></i></a>
								<a href="" id="backto_step4"><i class="ti-arrow-left back"></i></a>
								<p class="small">Optional</p>
								<h2>Step 5 of 5</h2>
							</div>

							<div class="panel-body">
								<span id="err_msgs2" class=""></span>
								<span id="succ_msgs2" class=""></span>
								<div class="create-team-box-section">
									<div class="row">
										<div class="col-md-12">
											<p class="label-bold">Provide contact information for your participants</p>
											<div class="row equal">
												<div class="col-xs-2 col-md-1 vertical-center">
													<i class="ti-twitter-alt"></i>
												</div>
												<div class="col-xs-10 col-md-11">
													<span id="twitter_err" class="error-message hide"></span>
													<div class="input-group">
														<span class="input-group-addon">@</span>
														<input type="text" id="twitter_handle" name="twitter_handle" class="form-control" placeholder="username">
													</div>
												</div>
											</div>
											<div class="row equal">
												<div class="col-xs-2 col-md-1 vertical-center">
													<i class="ti-facebook"></i>
												</div>
												<div class="col-xs-10 col-md-11">
													<span id="fb_err" class="error-message hide"></span>
													<div class="input-group">
														<span class="input-group-addon">facebook.com/</span>
														<input type="text" id="facebook_page_url" name="facebook_page_url" class="form-control" placeholder="username">
													</div>
												</div>
											</div>
											<div class="row equal">
												<div class="col-xs-2 col-md-1 vertical-center">
													<i class="ti-youtube"></i>
												</div>
												<div class="col-xs-10 col-md-11">
													<span id="youtube_err" class="error-message hide"></span>
													<div class="input-group">
														<span class="input-group-addon">youtube.com/</span>
														<input type="text" id="youtube_url" name="youtube_url" class="form-control" placeholder="username">
													</div>
												</div>
											</div>
											<div class="row equal">
												<div class="col-xs-2 col-md-1 vertical-center">
													<i class="fa fa-phone"></i>
												</div>
												<div class="col-xs-10 col-md-11">
													<span id="phone_err" class="error-message hide"></span>
													<input type="tel" name="event_phone_number" id="event_phone_number" class="form-control" placeholder="+1 123-456-7890">
												</div>
											</div>

											<div class="row equal">
												<div class="col-xs-2 col-md-1 vertical-center">
													<i class="ti-email"></i>
												</div>										
												<div class="col-xs-10 col-md-11">
													<span id="email_err" class="error-message hide"></span>
													<input name="event_email" id="event_email" class="form-control" placeholder="example@example.com">
												</div>
											</div>
											<div class="row equal">
												<div class="col-xs-2 col-md-1 vertical-center">
													<img src="../static/images/web.png">
												</div>
												<div class="col-xs-10 col-md-11">
													<span id="website_err" class="error-message hide"></span>
													<input type="text" name="website_url" id="website_url" class="form-control" placeholder="www.example.com" autofocus>
												</div>
											</div>

										</div>
									</div>

								</div>

								<div class="create-box-section-footer">
									<div class="row">
										<div class="col-md-12">
											<input type="button" id="create_event_submit" value="Create event" class="btn btn-primary btn-fullwidth">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	{{ else }}
		<div id="create-team-1" class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
					<div class="panel panel-default create-box">
						<div class="panel-head">
							<label class="create-permissions error">You do not have permission to create an event yet. You will need to select your profile settings in the top right corner and include 'Event organizer' under 'Activities'.</label>
							<a href="/profile-setting" class="btn btn-primary">Go to Profile Settings</a>
						</div>

						<div class="panel-body">
						</div>
					</div>
				</div>
			</div>
		</div>
	{{ end }}	
		<!-- ((/if)) -->
	</div>

	{{ template "footer.html" . }}

</body>
</html>