<div class="team-members-section tab-content dashboard-content " style="display: block;margin-bottom: 0px;">
  <section class="row dashboard-members">
    <div class="col-md-12">
      <div class="content-padding">
        <div class="active-members">
          <div id="eventpaymentbody" class="row">
            <div class="col-md-12">
              <div class="dasboard-team-table-container" style="border: none">
                <div class="row waiver_button">
                  <div class="col-md-2">
                    <!-- <div class="input-group search-members-override">
                                                    <span class="input-group-addon">
                                                        <i class="ti-search"></i>
                                                    </span>
                                                    <input type="text" id="searchByTeamCaptainName" class="form-control" placeholder="Search by team name & captain name">
                                                </div> -->
                    <h6 class="" style="font-size: 20px; font-weight: 700;">Waivers</h6>
                  </div>
                  
                  <input type="hidden" value="{{.EventName}}" id="getEventName">
                  <input type="hidden" value="{{.EventId}}" id="getEventId">
                  <div class="col-md-7 event_buttons_text_align">
                      <!-- <button id="addEventWaiver" type="sumbit" class="btn btn-thin paybutton commonbtnmargin1" style="margin-bottom: 0px; float: right; font-weight: 500">Add Waiver</button> -->
                      <a id="addEventWaiver" href="" class="btn btn-phantom-green upload-waivers pull-right" style="margin-right: -25px;"><span class="ti-plus"></span><span> Add Waiver</span></a>
                    </div>
                  <div class="col-md-3 event_buttons_text_align">
                    <button type="sumbit" id ="event_waiver_remainder" class="btn btn-thin paybutton commonbtnmargin1" style="margin-bottom: 0px; float: right; font-weight: 500; color: #fff;">Send Waiver Request/Reminder</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  
                    <div class="payment_filter col-md-7">
                      <div class="search-members padding-10" style="margin-top: 10px;">
                        <div class="input-group search-members-override" style="border: 1px solid #ddd;border-radius: 2px;">
                          <span class="input-group-addon">
                            <i class="ti-search"></i>
                          </span>

                          <input id="searchByTeamNameWaiverFilter" class="form-control" type="text" name="teamName" placeholder="Team Name" maxlength="20" style="border-radius: 0px;">

                        </div>
                      </div>
                    </div>

                    <div class="payment_filter col-md-5" style="padding-top: 15px;">
                      <p style="margin: 0px;font-weight: 500">Filter By Team Status</p>
                      <div class="md-checkbox inlinedisplay">

                        <input id="filter_all-waivers" name="all_filter" class="md-check" value="all" type="checkbox">

                        <label for="filter_all-waivers" class="payfilercheckboxlabel">
                          <span class="check"></span>
                          <span class="box"></span>
                          All
                        </label>
                      </div>
                      <div class="md-checkbox inlinedisplay">

                        <input id="filter_waiver_complete" name="complete_filter" class="md-check check_all_waiver" value="complete" type="checkbox">

                        <label for="filter_waiver_complete" class="payfilercheckboxlabel">
                          <span class="check"></span>
                          <span class="box"></span>
                          Complete
                        </label>
                      </div>
                      <div class="md-checkbox inlinedisplay">

                        <input id="filter_waiver_incomplete" name="incomplete_filter" class="md-check check_all_waiver" value="incomplete" type="checkbox">

                        <label for="filter_waiver_incomplete" class="payfilercheckboxlabel">
                          <span class="check"></span>
                          <span class="box"></span>
                          Incomplete
                        </label>
                      </div>

                    </div>

                    <!-- <div class="payment_filter col-md-2">
                      <button type="submit" class="btn btn-thin paybutton" style="margin: 20px;float: right; font-weight: 500">Filter</button>
                    </div> -->
                 
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="dasboard-team-table-container" style="border: none; margin: 0px ">

                    <table id="event_team_members_payment" class="table dashboard-table event-view-table-overwrite dasboard-team-table responsive-table">
                      <thead>
                        <tr>
                          <th class="col-md-1  col-sm-1 col-xs-1" style="width:30px">
                            <div class="md-checkbox" class="marginZero" style="margin-left: 12px;">
                              <input id="select_all_teams_waiver" class="md-check" type="checkbox">
                              <label for="select_all_teams_waiver" class="marginZero">
                                <span class="check"></span>
                                <span class="box"></span>
                              </label>

                            </div>
                          </th>
                          <th class="col-md-2 col-sm-5 col-xs-5 lowercase align">
                            <span style="margin-left: 10px;">Team</span>
                          </th>
                          <th class="col-md-9 col-sm-7 col-xs-7 lowercase align">
                            <span style="margin-left: -5px;">Waiver Status (Team)</span>
                          </th>

                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
              </div>
             
              {{if .EventWaiverList}}
              {{if not (compare .EventWaiverListflag "false")}}
              {{ range $e := .EventWaiverList }} 
              {{if not ( compare $e.roster_submitted "no")}}

              <div id="waiverTeamsEvent" class="row nn filerbyspanclass">
                <div class="col-md-12">
                  <div class="dasboard-team-table-container" style="border: none">
                    <div class="row">
                      <div class="col-md-12">
                        <div id="#" class="rosterracingteams" style="width:100%">
                          <div class="md-checkbox" style="padding: 20px;">
                            <input type="hidden" id="waiver_sumbitted_team_{{$e.fk_event_reg_id}}" value="{{$e.waiver_submitted}}">
                            {{if compare $e.waiver_submitted "not submitted"}}
                            <input title= 'Waiver not added for team' disabled id="check_teams_waiver_{{$e.fk_event_reg_id}}" class="md-check check_teams_waivers check_team_name_waiver hide" name="check_teams_waivers" type="checkbox" value="team_{{$e.fk_event_reg_id}}">
                            
                            <label for="check_teams_waiver_{{$e.fk_event_reg_id}}"  class="marginZero" style="width:30px;visibility: hidden;">
                              <span class="check" style="margin: 23px;"></span>
                              <span class="box" style="margin: 23px;"></span>
                            </label>
                            
                            {{else}}
                            <input id="check_teams_waiver_{{$e.fk_event_reg_id}}" class="md-check check_teams_waivers check_team_name_waiver" name="check_teams_waivers" type="checkbox" value="team_{{$e.fk_event_reg_id}}">
                            <label for="check_teams_waiver_{{$e.fk_event_reg_id}}"  class="marginZero" style="width:30px">
                              <span class="check" style="margin: 23px;"></span>
                              <span class="box" style="margin: 23px;"></span>
                            </label>
                           {{end}}
                           
                            <span id="lopp" class="color">
                                {{if compare $e.waiver_submitted "not submitted"}}
                              
                              <span data-toggle="tooltip" class="col-md-4 col-sm-2 col-xs-1 color-orange textellipses class-tooltip_pay getfilterwaiverteamname" title="{{$e.fk_team_name}}" style="margin-left: 16px;">{{$e.fk_team_name}}</span>
                              <span class="col-md-7 col-sm-5 col-xs-5 color-orange getincompletestatus" style="text-transform: capitalize;">{{$e.waiver_status}}<span style="font-size: 10px;color: #2a7560;"> (Please send Waiver to this team by clicking on Add button)</span></span>
                              
                              {{ else if compare $e.waiver_status "incomplete"}}
                              <span data-toggle="tooltip" class="col-md-4 col-sm-2 col-xs-1 color-orange textellipses class-tooltip_pay getfilterwaiverteamname" title="{{$e.fk_team_name}}" style="margin-left: 16px;">{{$e.fk_team_name}}</span>
                              <span class="col-md-2 col-sm-5 col-xs-5 color-orange getincompletestatus" style="text-transform: capitalize;">{{$e.waiver_status}}</span>
                              
                              {{else}}
                              <span data-toggle="tooltip" class="col-md-4 col-sm-2 col-xs-1 color-green textellipses class-tooltip_pay getfilterwaiverteamname" title="{{$e.fk_team_name}}" style="margin-left: 16px;">{{$e.fk_team_name}}</span>
                              <span class="col-md-2 col-sm-5 col-xs-5 color-green getcompletestatus" style="text-transform: capitalize;">{{$e.waiver_status}}</span>
                            {{end}}
                            </span>
                            <input type="hidden" id="getCaptainId_{{$e.fk_event_reg_id}}" value="{{$e.captain_id}}">
                            <input type="hidden" id="getCoCaptainId_{{$e.fk_event_reg_id}}" value="{{$e.co_captain_id}}">

                            <span class="getEventRegIdForTeam" value="{{$e.fk_event_reg_id}}">
                              <i id="show_teamsmember_rosterracing1"  class="ti-angle-down" style="float:right"></i>

                            </span>
                          </div>
                          <div id="table_team_member_rosterracing1" class="table-responsive rosterracingTableData1_{{$e.fk_event_reg_id}}" style="display: none">
                            <table id="event_team_members_payment" class="table rosterracing-table">
                              <tbody>
                                <!-- <tr class="waiver-info-memebers hide" id="waiver_((_id))"> -->
                                    <tr class="event-teammember-waiver-info-memebers" id="event_team_member_waiverappend_{{$e.fk_event_reg_id}}">
                                    </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{end}}
              {{end}}
              {{else}}    
                  <div colspan="9" style="text-align: center;padding: 30px">
                    No data, teams must first create & submit rosters
                  </div>
              
              {{end}}
              {{else}}    
                  <div colspan="9" style="text-align: center;padding: 30px">
                      No teams have registered yet
                  </div>
              
              {{end}}
              <div id ="waiverfilternoteamfound" colspan="9" class="hide" style="text-align: center;padding: 30px">
                No teams found
            </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
</div>