<!DOCTYPE html>
<html>
<head>
	<title> Order Event | Gushou</title>
  {{ template "linksScripts.html" . }}
</head>
<body>
  {{ template "headerAfterLogin.html" . }}
</body>
<div id="main-content">
  <div class="container" style="background: #fff;margin-bottom: 70px;">
      {{$currencyUnit := .CurrencyUnit}}
      {{$stripeEventCurrencyUnit := .StripeEventCurrencyUnit}}
      {{$stripeGushouCurrencyUnit := .StripeGushouCurrencyUnit}}
{{ range $event_team_details := .GetTeamEventDetailsList }}

    <div class="row">
     
      <div class="main-content-header">
        <div class="col-md-2 custom-header-col-left">
          <div class="header-profile">
              {{if $event_team_details.path }}
              <img src="{{$event_team_details.path}}" class="img-circle">
              {{else}}
              <img src="/static/images/Default-Event-Images.png " class="img-circle">
              {{end}}
          </div>
        </div>
        
        <div class="col-md-8 custom-header-col-right">
          <div class="row">
            <div class="col-md-12">
              <h2>{{$event_team_details.EventDetails.event_name}}</h2>
            </div>
            <div class="row">
              <div class="col-md-12">

                <ul class="event-header-details">		
                    <!-- <li><i class="ti-calendar"></i> 
                        Thu, Jul 26 2018   
                    </li> -->
                    <li class="label-bold"><i class="ti-location-pin"></i>
                        
                        {{$event_team_details.EventDetails.location}}{{ if $event_team_details.EventDetails.province }}, {{$event_team_details.EventDetails.province}}{{ end }}{{ if $event_team_details.EventDetails.country}}, {{$event_team_details.EventDetails.country}}{{  end }}

                    </li>
                </ul>
              </div>
            </div>
           </div>
        </div>
       
      </div>
     
      <section class="create-box-section" style=" margin-bottom: 0px;">
          <div class="col-md-12 dashboard-content  heading_style" style="margin-bottom: 0px !important;margin-bottom: 20px; padding-top:0px ">
  
            <div class="">
                  <nav class="breadcrumb" style="padding-top:21px;background-color: #fff;margin-bottom: 12px;padding-left: 43px;">
                
                      <input type="hidden" id="event_slug_hidden_log" value="{{$event_team_details.EventDetails.slug}}">
                      <a class="breadcrumb-item logheader" id="paytrackbackbread" value="#paytrackbackbread" href="#paytrackbackbread">Payment</a>
                
                      <span class="breadcrumb-item active logteamname">Payment Log ({{$event_team_details.TeamDetails.team_name}})</span>
                    </nav>
                  </div>
              {{end}}
              {{ if .EventPaymentTrackingList}}
              <div class="row">
               <p class="event_pay_tra_p bottomamounttitle_gushou offlinegushou col-md-12">
                <a data-toggle="tooltip" title="" class="class-tooltip_pay" style="color: #2B4A6B;margin-right: 31px;" data-original-title=""> Fee Change * : {{$currencyUnit}} {{.ExtralOrDiscountFee}}</a>
              </p>
              </div>
              <table id="event_team_members_payment" style="width: 95%;margin-top: 10px !important; margin: 30px auto;" class="table dashboard-table event-view-table-overwrite dasboard-team-table responsive-table">
                  <thead>
                      <tr>
                          <th class="col-md-1  col-sm-1 col-xs-1">
                          
                          </th>

                          <th class="col-md-3 col-sm-2 col-xs-2">Order Details</th>
                          <th class="col-md-3 col-sm-2 col-xs-2">Invoice
                        
                          </th>
                          <th class="col-md-4 col-sm-5 col-xs-5">Transaction Date
                           
                          </th>
                          <th class="col-md-4 col-sm-4 col-xs-4">Status</th>
                          <th class="col-md-3 col-sm-3 col-xs-3">Paid</th>
                          <th class="col-md-3 col-sm-3 col-xs-3"><a  data-toggle="tooltip" title="Gushou Admin Fee (added to event fee)" class="class-tooltip_pay">Gushou Fee</a></th>
                          <!-- <th class="col-md-4 col-sm-3 col-xs-3">Gushou Comm.</th> -->
                          <th class="col-md-3 col-sm-3 col-xs-3">Event Fee</th>
                          <th class="col-md-4 col-sm-3 col-xs-3">Transaction Fee</th>
                          <th class="col-md-3 col-sm-3 col-xs-3"><a data-toggle="tooltip" title="Remaining Balance Owing by Team" class="class-tooltip_pay">Balance</a></th>
                          <th class="col-md-4 col-sm-2 col-xs-2" style="text-align: center">Transaction Notes</th>
                          <th class="col-md-1 col-sm-1 col-xs-1"></th>
                      </tr>
                  </thead>
                  
                  <tbody id="eventteamregisterdetail">
                      {{ range $e := .EventPaymentTrackingList }}
                      <tr class=''>
                          <td>

                          </td>
                       <td>
                          <div class="dasboard-team-table-th">Order Details</div>
                          <div class="dasboard-team-member-content">
                             <a class="event_pay_tracl_content">{{$e.eventPaymentTrackData.fk_event_reg_pay}}</a>
                          </div>
                         

                       </td> 
                       <td>
                          <div class="dasboard-team-table-th">Invoice</div>
                          <div class="dasboard-team-member-content">
                              {{ if $e.eventPaymentTrackData.invoicepath}}
                              <a style="cursor: pointer;" class="event_pay_tracl_content">
                                <a class="event-list-title" href="{{$e.eventPaymentTrackData.invoicepath}}" target="_blank">{{$e.eventPaymentTrackData.log_id}}
                                  <img src="/static/images/download_icon.png" class="imgdownload">
                                </a>
                              </a>
                              {{else}}
                              <a style="cursor: pointer;" class="event_pay_tracl_content">
                                  <a class="event-list-title" href="/stripe/downloadeventregistrationinvoice/{{$e.eventPaymentTrackData.log_id}}" target="_blank">{{$e.eventPaymentTrackData.log_id}}
                                    <img src="/static/images/download_icon.png" class="imgdownload">
                                  </a>
                                </a>
                              {{end}}
                        </div>

                       </td>  
                       <td>
                          <div class="dasboard-team-table-th">Transaction Date</div>
                          <div class="dasboard-team-member-content">
                                <a class="event_pay_tracl_content1">{{$e.eventPaymentTrackData.formatted_date}}</a>
                          </div>

                       </td> 
                       <td>
                          <div class="dasboard-team-table-th">Status</div>
                          <div class="dasboard-team-member-content">
                            {{ if eq $e.eventPaymentTrackData.status "succeeded"}}
                            {{if compare $e.eventPaymentTrackData.transaction_type "stripe" }}
                                <a class="event_pay_tracl_content1" style="display: inline;">Paid <a class="event_pay_tracl_content1" style="display: inline;font-size:11px">(Online)</a></a>
                                {{else}}
                                {{if compare $e.eventPaymentTrackData.transaction_action "owing"}}
                                <a class="event_pay_tracl_content1" style="display: inline;">Fee Change</a>
                                {{else}}
                                <a class="event_pay_tracl_content1" style="display: inline;">Paid <a class="event_pay_tracl_content1" style="display: inline;font-size:11px">(Offline)</a></a>
                                {{end}}
                                {{end}}
                                {{end}}
                                <!-- {{if $e.eventPaymentTrackData.amount_recived}}
                                - {{$e.eventPaymentTrackData.amount_recived}}{{end}} -->
                          </div>

                       </td>
                       <td>
                          <div class="dasboard-team-table-th">Paid</div>
                          <div class="dasboard-team-member-content">
                              {{if compare $e.eventPaymentTrackData.transaction_action "owing"}}
                              <a class="event_pay_tracl_content1">{{$currencyUnit}} 0.00
                              </a>
                              {{else}}
                              <a class="event_pay_tracl_content1">{{$currencyUnit}} {{$e.eventPaymentTrackData.formatted_amount}}
                              </a>
                              {{end}}
                          </div>

                       </td>
                       <td>
                          <div class="dasboard-team-table-th">Gushou Fee</div>
                          <div class="dasboard-team-member-content">
                              {{if $e.eventPaymentTrackData.stripe_gushou_conversion_currency}}
                              {{$getCurrencySymbol := getCurrencySymbol $e.eventPaymentTrackData.stripe_gushou_conversion_currency}}
                                <a class="event_pay_tracl_content1" style="display: inline;"> {{$getCurrencySymbol}} {{$e.eventPaymentTrackData.final_gushou_received}}
                                 {{else}}
                                 <a class="event_pay_tracl_content1" style="display: inline;">{{$currencyUnit}} {{$e.eventPaymentTrackData.final_gushou_received}}
                                  {{end}}
                                </a>
                          </div>

                       </td>
                       <!-- <td>
                          <div class="dasboard-team-table-th">Gushou Comm.</div>
                          <div class="dasboard-team-member-content">
                                <a class="event_pay_tracl_content1">{{$e.eventPaymentTrackData.formatted_gushoucommisionfee}}
                              
                                </a>
                          </div>
                       </td> -->
                       <td>
                        <div class="dasboard-team-table-th">Event Fee</div>
                        <div class="dasboard-team-member-content">
                            {{ if $e.eventPaymentTrackData.stripe_event_conversion_currency}}
                            <a class="event_pay_tracl_content1" style="display: inline;">{{$stripeEventCurrencyUnit}} {{$e.eventPaymentTrackData.final_event_received}}
                               {{else}}
                               <a class="event_pay_tracl_content1" style="display: inline;">{{$currencyUnit}} {{$e.eventPaymentTrackData.final_event_received}}

                              {{end}}
                                </a>
                        </div>
                     </td>
                     <td>
                        <div class="dasboard-team-table-th">Transaction Fee</div>
                        <div class="dasboard-team-member-content">
                            {{ if $e.eventPaymentTrackData.stripe_event_conversion_currency}}
                            <a class="event_pay_tracl_content1" style="display: inline;">{{$stripeEventCurrencyUnit}} {{$e.eventPaymentTrackData.event_transaction_fee}}
                               {{else}}
                               <a class="event_pay_tracl_content1" style="display: inline;">{{$currencyUnit}} {{$e.eventPaymentTrackData.event_transaction_fee}}

                              {{end}}
                                </a>
                        </div>
                     </td>
                       <td>
                          <div class="dasboard-team-table-th">Balance</div>
                          <div class="dasboard-team-member-content">
                                <a class="event_pay_tracl_content1">{{$currencyUnit}} {{$e.eventPaymentTrackData.format_balance}}</a>
                          </div>
                       </td>
                       <td>
                          <div class="dasboard-team-table-th">Transaction Notes</div>
                          <div class="dasboard-team-member-content" style="text-align: center;">
                              {{if $e.eventPaymentTrackData.transaction_note}}
                              <div class='note-tooltip'><i class='ti-notepad'></i><div class='class-tooltip waiver-medicalcondition'>{{$e.eventPaymentTrackData.transaction_note}}</div></div>
                              {{end}}
                          </div>

                       </td>
                       <td>
                              
                        </td>
                      </tr>
                      {{end}}
                     
                  </tbody>

              </table>

              {{else}}
              <div class="members-no-users" style="margin: 20px">
                    <div class="team-member-name">
                         No Payment Log for team
                    </div>
                 </div>
               {{end}}
               
              
          </div>    
          </section>
     
    </div>
  </div>
</div>



</html>