{{$accreditationGeneralTab := .AccreditationGeneralTab}}
{{$accreditationMAnualTab := .AccreditationMAnualTab}}
<div class="team-members-section tab-content dashboard-content acc-main-tab" style="display: block; ">
  <section class="row dashboard-members">
    <div class="col-md-12">
      <div class="content-padding">
        <div class="active-members">
          <div class="row">
            <div class="col-md-12 accr-md-span">

              <span class="check-accc">Accreditation</span>
            </div>
            <div class="col-md-12 event-col">
              <ul class="nav nav-tabs event-tab">
                <li id="general-accreditation-li">
                  <a data-toggle="tab" value="#eventaccreditation" style='cursor: pointer;'  id="general-accreditation" class="general-accreditation-tab">General Accreditation
                    {{if .AccreditationGeneralList }}
                    <span class="badge-header badge badge-light">
                    {{(len .AccreditationGeneralList) }}
                    </span>
                    {{end}}
                  </a>
                </li>
                <li id="manual-accreditation-li">
                  <a data-toggle="tab" value="#eventaccreditation" style='cursor: pointer;' id="manual-accreditation" class="manual-accreditation-tab">Manual Accreditation
                    {{if .AccreditationManualList }}
                    <span class="badge-header badge badge-light"> {{(len .AccreditationManualList) }}</span>
                    {{end}} 
                  </a>
                </li>
              </ul>
            </div>
          </div>
          {{if .AccreditationMAnualTab }}
          <div class="row" style="display: none;" id="manual-acc-tab">
              
              <div class="row" id="manual-acc-tab">
                <!-- <div class="col-md-12" style="margin-top: 50px;">
                  <form  method="POST">
                    <div class="payment_filter col-md-5">
                      <div class="search-members padding-10" style="margin-top: 10px;">
                        <div class="input-group search-members-override" style="border: 1px solid #ddd;border-radius: 2px;">
                          <span class="input-group-addon">
                            <i class="ti-search"></i>
                          </span>
  
                          <input id="getTeamNameFilter" class="form-control" type="text" name="teamName" placeholder="Team Name" maxlength="20" style="border-radius: 0px;">
  
                        </div>
                      </div>
                    </div>
  
                    <div class="payment_filter col-md-5" style="padding-top: 15px;">
                      <p style="margin: 0px;font-weight: 500">Status</p>
                      <div class="md-checkbox inlinedisplay">
  
                        <input id="filter_all-waivers" name="all_filter" class="md-check" value="all" type="checkbox">
  
                        <label for="filter_all-waivers" class="payfilercheckboxlabel">
                          <span class="check"></span>
                          <span class="box"></span>
                          All
                        </label>
                      </div>
                      <div class="md-checkbox inlinedisplay">
  
                        <input id="filter_complete" name="complete_filter" class="md-check check_all" value="complete" type="checkbox">
  
                        <label for="filter_complete" class="payfilercheckboxlabel">
                          <span class="check"></span>
                          <span class="box"></span>
                          Complete
                        </label>
                      </div>
                      <div class="md-checkbox inlinedisplay">
  
                        <input id="filter_incomplete" name="incomplete_filter" class="md-check check_all" value="incomplete" type="checkbox">
  
                        <label for="filter_incomplete" class="payfilercheckboxlabel">
                          <span class="check"></span>
                          <span class="box"></span>
                          Incomplete
                        </label>
                      </div>
  
                    </div>
  
                    <div class="payment_filter col-md-2">
                      <button type="sumbit" class="btn btn-thin" style="margin: 20px;float: right; font-weight: 500">Filter</button>
                    </div>
                  </form>
                </div> -->
              <div class="row acc-icon-png">
                <a class="btn btn-thin commonbtnmargin " href="#" id="manual-print-acc" style="margin-right: 40px; margin-top: 20px;">
                    <span>Export
                    </span>
                </a>

                <a class="btn btn-thin commonbtnmargin " id="manual-add-model-acc" style="margin-right: 40px; margin-top: 20px;">
                    <span><span class="ti-plus"></span> Add </span>
                </a>
              </div>
            {{if gt (len .AccreditationManualList) 0}}
              <div class="col-md-12">
                <div class="dasboard-team-table-container">
                    <p style='margin-left: 14px;font-weight: 500;'>Accreditation created manually by event organizers.</p>
                  <table id="event_team_members_payment" class="table dashboard-table event-view-table-overwrite dasboard-team-table responsive-table">
                    <thead>
                      <tr>
                        <th class="col-md-1  col-sm-1 col-xs-1">
                          <div class="md-checkbox head-check-box">
  
                            <input id="select_all_manual_accredation" class="md-check" type="checkbox">
                            <label for="select_all_manual_accredation">
                              <span class="check"></span>
                              <span class="box"></span>
                            </label>
  
                          </div>
                        </th>
                        <th class="col-md-6 col-sm-6 col-xs-6">NAME
                          <a href="#" id="manualaccsortacending_username">
                            <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                          </a>
                        </th>
  
                        <th class="col-md-4 col-sm-3 col-xs-3">ROLES</th>
                        <th class="col-md-4 col-sm-3 col-xs-3">ACCESS</th>
                        <th class="col-md-2 col-sm-2 col-xs-2"></th>
                      </tr>
                    </thead>
                    <form id="accreditationManualTeamAcendingListForm" action="/event/download_accrediation_pdf" method="POST">
                    <tbody id="accreditationManualTeamAcendingList">
                        {{ range $element := .AccreditationManualList }}
                      <tr>
                        <td>
                          <div class="md-checkbox acc-check-box">
                            <input id="MATN_{{ $element.id }}" name="manual_members[]" value="{{ $element.id }}" class="md-check checkedManualUserTeam" type="checkbox">
                            <label for="MATN_{{ $element.id }}">
                              <span class="check"></span>
                              <span class="box"></span>
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="dasboard-team-table-th"> NAME</div>
                          <!-- <p class="team-table-side text-capitalize">{{$element.name}}</p> -->
                          <div class="dasboard-team-member-image">
                                <img src="{{ $element.files }}" class="img-circle">
                          </div>
                          <div class="dasboard-team-member-content">
                              <div class="team-member-name">
                                <a class="" style='color: #3a4642;font-weight: 300;'>
                                  {{ $element.name }}
                                </a> 
                              </div>
                          </div>
                        </td>
  
                        <td>
                          <div class="dasboard-team-table-th">ROLES</div>
                          <p class="team-table-side text-capitalize ">{{$element.member_role}}</p>
                        </td>
                        <td>
                          <div class="dasboard-team-table-th">ACCESS</div>
                          <p class="team-table-side text-capitalize ">{{$element.accessrolearray}}</p>
                        </td>
                        <td class="acc-pop-btn">
                          <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover " data-container="body" data-html="true"
                            data-toggle="popover" data-placement="left" data-content='<ul class="popover-waiver"><li><a href=# id="manual_update_accreditation"  value="{{$element.id}}" >Edit</a></li></ul>'>
                            <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                          </a>
                        </td>
                      </tr>
                      {{end}}
                    </tbody>
                    </form>
                    <form id="accreditationManualNameAcendingListForm" action="/event/download_accrediation_pdf" method="POST">
                      <tbody id="accreditationManualNameAcendingList" style="display: none; border-top: none;">
                          {{ range $element := .AccreditationManualNameSortList }}
                          <tr>
                            <td>
                              <div class="md-checkbox acc-check-box">
                                <input id="MAUN_{{ $element.id }}" name="manual_members[]" value="{{ $element.id }}" class="md-check checkedManualUserNameTeam" type="checkbox">
                                <label for="MAUN_{{ $element.id }}">
                                  <span class="check"></span>
                                  <span class="box"></span>
                                </label>
                              </div>
                            </td>
                            <td>
                              <div class="dasboard-team-table-th"> NAME</div>
                              <!-- <p class="team-table-side text-capitalize">{{$element.name}}</p> -->
                              <div class="dasboard-team-member-image">
                                    <img src="{{ $element.files }}" class="img-circle">
                              </div>
                              <div class="dasboard-team-member-content">
                                  <div class="team-member-name">
                                    <a class="" style='color: #3a4642;font-weight: 300;'>
                                      {{ $element.name }}
                                    </a> 
                                  </div>
                              </div>
                            </td>
      
                            <td>
                              <div class="dasboard-team-table-th">ROLES</div>
                              <p class="team-table-side text-capitalize ">{{$element.member_role}}</p>
                            </td>
                            <td>
                              <div class="dasboard-team-table-th">ACCESS</div>
                              <p class="team-table-side text-capitalize ">{{$element.accessrolearray}}</p>
                            </td>
                            <td class="acc-pop-btn">
                              <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover " data-container="body" data-html="true"
                                data-toggle="popover" data-placement="left" data-content='<ul class="popover-waiver"><li><a href=# id="manual_update_accreditation"  value="{{$element.id}}" >Edit</a></li></ul>'>
                                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                              </a>
                            </td>
                          </tr>
                          {{end}}
                      </tbody>
                    </form>
                  </table>
                </div>
              </div>
            </div>
            {{else}}
            <div class="members-no-users" style='margin-top: 53px;'>
              <div class="team-member-name">
                No data in manual accreditation  
              </div>
            </div>
            {{end}}
          </div>
          {{end}}
          {{if .AccreditationGeneralTab }}
          <div class="row" style="display: none;" id="general-acc-tab">
              
          <div class="row" id="general-acc-tab">
              <div class="col-md-12" style="margin-top: 50px;">
                <form id="eventpaymentfilter" method="POST">
                  <div class="payment_filter col-md-5">
                    <div class="search-members padding-10" style="margin-top: 10px;">
                      <div class="input-group search-members-override" style="border: 1px solid #ddd;border-radius: 2px;">
                        <span class="input-group-addon">
                          <i class="ti-search"></i>
                        </span>
                        
                        <input  class="form-control" type="text" name="accsearchtext" value='{{if .AccSearchText}} {{.AccSearchText}} {{end}}' placeholder="Team Name" maxlength="20" style="border-radius: 0px;">

                      </div>
                    </div>
                  </div>

                  <div class="payment_filter col-md-5" style="padding-top: 15px;">
                    <p style="margin: 0px;font-weight: 500">Status</p>
                    <div class="md-checkbox inlinedisplay">

                      <input  name="accbyteamname" id="accbyteamnameid" class="md-check" value="accbyteamname" type="checkbox" {{if .AccbyTeamName}} checked {{end}}>

                      <label for="accbyteamnameid" class="payfilercheckboxlabel">
                        <span class="check"></span>
                        <span class="box"></span>
                        Team name
                      </label>
                    </div>
                    <div class="md-checkbox inlinedisplay">

                      <input  name="accbyname" id="accbynameid" class="md-check" value="accbyname" type="checkbox" {{if .AccbyName}} checked {{end}}>

                      <label for="accbynameid" class="payfilercheckboxlabel">
                        <span class="check"></span>
                        <span class="box"></span>
                        Name
                      </label>
                    </div>
                    <div class="md-checkbox inlinedisplay">

                      <input name="accbyrole" id="accbyroleid" class="md-check" value="accbyrole" type="checkbox" {{if .AccbyRole}} checked {{end}}>

                      <label for="accbyroleid" class="payfilercheckboxlabel">
                        <span class="check"></span>
                        <span class="box"></span>
                        Role
                      </label>
                    </div>

                    <div class="md-checkbox inlinedisplay">

                        <input  name="accbyaccess" id="accbyaccessid" class="md-check" value="accbyaccess" type="checkbox" {{if .AccbyAccess}} checked {{end}}>
  
                        <label for="accbyaccessid" class="payfilercheckboxlabel">
                          <span class="check"></span>
                          <span class="box"></span>
                          Access
                        </label>
                      </div>

                  </div>

                  <div class="payment_filter col-md-2">
                    <button type="sumbit" class="btn btn-thin paybutton" style="margin: 20px;float: right; font-weight: 500">Filter</button>
                  </div>
                </form>
              </div>
            {{if gt (len .AccreditationGeneralList) 0}}

            <div class="row acc-icon-png">
                <a class="btn btn-thin commonbtnmargin " href="#" id="general-print-acc" style="margin-right: 40px; margin-top: 20px;">
                  <span>Export
                  </span>
                </a>
              </div>

            <div class="col-md-12">
              <div class="dasboard-team-table-container">
                
                <table id="event_team_members_payment" class="table dashboard-table event-view-table-overwrite dasboard-team-table responsive-table">
                  <thead>
                    
                    <tr>
                      <th class="col-md-1  col-sm-1 col-xs-1">
                        <div class="md-checkbox head-check-box">

                          <input id="select_all_accredation" class="md-check" type="checkbox">
                          <label for="select_all_accredation">
                            <span class="check"></span>
                            <span class="box"></span>
                          </label>

                        </div>
                      </th>
                      <th class="col-md-4 col-sm-5 col-xs-5">Team Name
                      </th>
                      <th class="col-md-7 col-sm-7 col-xs-7">Name
                          <a href="#" id="accreditationusernamesortacending">
                            <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                          </a>
                        </th>
                      <th class="col-md-4 col-sm-3 col-xs-3">ROLES</th>

                      <th class="col-md-4 col-sm-3 col-xs-3">ACCESS</th>

                      <th class="col-md-2 col-sm-2 col-xs-2"></th>
                    </tr>
                  </thead>
                  <form id="accreditationGeneralTeamAcendingForm" action="/event/download_accrediation_pdf" method="POST">
                  <tbody id="accreditationGeneralTeamAcendingList">
                      {{ range $element := .AccreditationGeneralList }}
                      <tr>
                        <td>
                          <div class="md-checkbox acc-check-box">
                            <input id="TA_{{$element.teamid}}_{{$element.eventId}}_{{$element.userid}}" name="general_members[]" value="TA_{{$element.teamid}}_{{$element.eventId}}_{{$element.userid}}" class="md-check manage-team-checkbox checkedGeneralTeamSort" type="checkbox">
                            <label for="TA_{{$element.teamid}}_{{$element.eventId}}_{{$element.userid}}">
                              <span class="check"></span>
                              <span class="box"></span>
                            </label>
                          </div>
                        </td>
                        <td>
                            <div class="dasboard-team-table-th"> TEAM NAME</div>
                            <p class="team-table-side text-capitalize">{{$element.teamname}}</p>
                        </td>
                        <td>
                          <!-- <div class="dasboard-team-table-th"> NAME</div>
                          <div class="dasboard-team-member-image" style='margin-right: 10px;'>
                            <img src="{{ $element.filepath }}" class="img-circle">
                          </div>
                          <div class="dasboard-team-member-content">
                            <div class="team-member-name">
                              <a class="" style='color: #3a4642;'>
                                {{$element.firstname}} {{$element.lastname}}
                              </a> 
                            </div>
                        </div> -->
                        <div class="dasboard-team-table-th">NAME</div>
                          <p class="team-table-side text-capitalize ">{{$element.firstname}} {{$element.lastname}}</p>
                          <!-- <p class="team-table-side text-capitalize"></p> -->
                        </td>

                        <td>
                          <div class="dasboard-team-table-th">ROLES</div>
                          <p class="team-table-side text-capitalize ">{{$element.member_role}}</p>
                        </td>
                        <td>
                          <div class="dasboard-team-table-th">ACCESS</div>
                          <p class="team-table-side text-capitalize ">{{$element.accessrolearray}}</p>
                        </td>
                        <td class="acc-pop-btn">
                          <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover " data-container="body" data-html="true"
                            data-toggle="popover" data-placement="left" data-content='<ul class="popover-waiver"><li><a href=# id="general_update_accreditation"  value="{{$element.teamid}}_{{$element.eventId}}_{{$element.userid}}" >Edit</a></li></ul>'>
                            <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                          </a>
                        </td>
                      </tr>
                      {{end}}
                  </tbody>
                  </form>
                  <form id="accreditationGeneralNameAcendingForm" action="/event/download_accrediation_pdf" method="POST">
                  <tbody id="accreditationGeneralNameAcendingList" style="display: none; border-top: none;">
                      {{ range $element := .AccreditationGeneralTeamnameListAsc }}
                      <tr>
                        <td>
                          <div class="md-checkbox acc-check-box">
                            <input id="NA_{{$element.teamid}}_{{$element.eventId}}_{{$element.userid}}" name="general_members[]" value="NA_{{$element.teamid}}_{{$element.eventId}}_{{$element.userid}}" class="md-check manage-team-checkbox checkedGeneralUsernameSort" type="checkbox">
                            <label for="NA_{{$element.teamid}}_{{$element.eventId}}_{{$element.userid}}">
                              <span class="check"></span>
                              <span class="box"></span>
                            </label>
                          </div>
                        </td>
                        <td>
                            <div class="dasboard-team-table-th"> TEAM NAME</div>
                            <p class="team-table-side text-capitalize">{{$element.teamname}}</p>
                        </td>
                        <td>
                          <!-- <div class="dasboard-team-table-th"> NAME</div>
                          <div class="dasboard-team-member-image" style='margin-right: 10px;'>
                            <img src="{{ $element.filepath }}" class="img-circle">
                          </div>
                          <div class="dasboard-team-member-content">
                            <div class="team-member-name">
                              <a class="" style='color: #3a4642;'>
                                {{$element.firstname}} {{$element.lastname}}
                              </a> 
                            </div>
                        </div> -->
                        <div class="dasboard-team-table-th">NAME</div>
                          <p class="team-table-side text-capitalize ">{{$element.firstname}} {{$element.lastname}}</p>
                        </td>
                        <td>
                          <div class="dasboard-team-table-th">ROLES</div>
                          <p class="team-table-side text-capitalize ">{{$element.member_role}}</p>
                        </td>
                        <td>
                          <div class="dasboard-team-table-th">ACCESS</div>
                          <p class="team-table-side text-capitalize ">{{$element.accessrolearray}}</p>
                        </td>
                        <td class="acc-pop-btn">
                          <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover " data-container="body" data-html="true"
                            data-toggle="popover" data-placement="left" data-content='<ul class="popover-waiver"><li><a href=# id="general_update_accreditation"  value="{{$element.teamid}}_{{$element.eventId}}_{{$element.userid}}" >Edit</a></li></ul>'>
                            <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                          </a>
                        </td>
                      </tr>
                      {{end}}
                  </tbody>
                  </form>
                </table>
              </div>
            </div>
            {{else}}
            <div class="col-md-12 event-col">
          <div class="members-no-users" style='margin-top: 53px;'>
              <div class="team-member-name" style="font-weight: lighter;">
                No data, teams must first create & submit rosters
              </div>
            </div>
          </div>
          {{end}}
          </div>
          
          </div>
          {{end}}

        </div>
      </div>
    </div>
</div>
</section>
</div>

<div class="modal fade" id="general-update-model" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="margin-top: 42px;
        margin-right: 44px;">
          <span aria-hidden="true">
            <i class="ti-close"></i>
          </span>
        </button>
        <span id="acc_err_msgs" class=""></span>
        <span id="acc_succ_msgs" class=""></span>
        <h4 class="modal-title" id='acredationheadertext' style="text-transform: none;">Add Accreditation
          </h2>
      </div>
      <form id="accupdateroleform"  action="" method="POST">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <img style="margin-left: 138px; width: 150px; height:150px;" id="img-acc-upload" src="" class="img-circle">
          </div>
          <div class="col-md-12">
            <div class="form-group ">
              <label for="" class="">Name
                <span class="red-star">*</span>
              </label>
              <input type="text" class="form-control" id=accusername name='accusername' value="" placeholder="Name">
            </div>
            <div class="form-group " style="margin-bottom: 0px;">
              <label for="" class="">Role(s)
                <span class="red-star">*</span>
              </label>
              <div class="row" id="roster_members_list">
                <div class="col-md-12" style="margin-top: 5px;">

                  <select id="accselectmultiple" class="js-example-basic-multiple set_default_role select_role_3597 select2-hidden-accessible" 
                    multiple="" tabindex="-1" aria-hidden="true">
                    <option value=''>- Select Roles -</option>
                      {{ range $e12 := .All_Role}} 
                    <option value="{{$e12.rolename_value}}">{{$e12.rolename}}</option>
                      {{end}}
                  </select>
                  <span class="select2 select2-container select2-container--default select2-container--below select2-container--focus" dir="ltr">

                  </span>
                  <span class="dropdown-wrapper" aria-hidden="true"></span>
                  </span>

                </div>
              </div>
            </div>
            <div class="form-group ">
              <label for="" class="">Access
                <span class="red-star">*</span>
              </label>

            </div>
            <div class="form-group ">

              <button type="button" id="acc_av_value" class="btn  btn btn-success genaccessrolevalue" value="athletevillage" style='background:#297560; color:white;min-width: 0px; '
                autocomplete="off">
                AV
              </button>

              <button type="button" id="acc_vip_value" class="btn  btn btn-success genaccessrolevalue" value="vip" style='background:#297560; color:white;min-width: 0px; '
                autocomplete="off">
                VIP
              </button>

              <button type="button" id="acc_ta_value" class="btn  btn btn-success genaccessrolevalue" value="toweraccess" style='background:#297560; color:white;min-width: 0px; '
               autocomplete="off">
                TA
              </button>

              <button type="button" id="acc_mc_value" class="btn  btn btn-success genaccessrolevalue" value="mediacentre" style='background:#297560; color:white;min-width: 0px; '
                autocomplete="off">
                MC
              </button>
            </div>
            <div class="form-group " id="uploadnewaccimage">
              <label>Upload Image
                
              </label>
              <div class="input-group">
                <span class="input-group-btn">
                  <span class="btn btn-default btn-file">
                    Browse
                    <input type="file" id="imgaccInp"  name ="file" accept=".png, .jpg, .jpeg">
                  </span>
                </span>
                <input type="text" id="accgenimageUpload" class="form-control" readonly>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
          <input type="hidden" value="" id='acc_even_manualtid' name='acc_even_id' >
          <input type="hidden" value="" id="accaccessrole" name="accaccessrole">
          <input type="hidden" value="" id="accroledetail" name="accuserrole">
          <input type="hidden" value="" id="accmanualuserid" name="accmanualuserid">
          <input type="hidden" value="" id="accmanualuserid" name="accmanualuserid">
          <input type="hidden" value="" id="accfilepath" name="accfilepath">
          <input type="hidden" value="" id="accmanualupdateid" name="accmanualupdateid">
          <input type="submit"  class="btn btn-primary btn-fullwidth" value='Save'> 
      </div>
      </form>
    </div>
  </div>
