<!DOCTYPE html>
<html>
<head>
	<title>Event View | Gushou</title>
	{{ template "linksScripts.html" . }}
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	{{ if .IsLoggedIn }}
	{{ template "headerAfterLogin.html" . }}
	{{ else }}
	{{ template "headerBeforeLogin.html" . }}
	{{ end }}


	{{ if .EventVersion }}
	{{ if gt (len .EventVersion) 1 }}
	<!-- This has to be done if there are multiple event versions -->
	<div class="success-message event-version ">
		<p>You are viewing {{ if .Latest }} the latest {{ else }} a past {{ end }}version of this event.</p>
		<select class="select-custom" id="event_version">
			<!-- <option value="">Change</option> -->
			<!-- ((each eventVersions _id))
			<option value="((event_id))">((dateFormate start_date))</option>
			((/each)) -->
			{{ $date := .EventView.event_0.s_date_2 }}
			{{ range $ev := .EventVersion }}
			
			<option value="{{ $ev.slug }}" {{ if compare $date $ev.s_date }} selected {{ end }}>{{ $ev.s_date }} </option>
			
			{{ end }}
		</select>
	</div>
	<!-- ((/if)) -->
	{{ end }}
	{{ end }}
	<div id="events_success" class="success-message hide">
		<p><i class="ti-check"></i><span>  </span></p>
		<a href=""><i class="ti-close close-message"></i></a>
	</div>
	{{$eventPricingDetail := .EventPricingDetail}}
	{{ $team_Manage_Admin := .Team_Manage_Admin}}
	<input type="hidden" value="{{.EventView.event_0.slug}}" id="current_event_slug" >
	<input type="hidden" value="{{.EventView.event_0.id}}" id="currenteventId" >
<div id="main-content">
	<div class="container">
		<div class="row">
				{{ $eventOranizerStatus := .EventOranizerStatus}} {{$stripeConnectedStatus := .StripeConnectedStatus}} 

				{{if $eventOranizerStatus| and (compare $stripeConnectedStatus "false") | and (compare .EventView.event_0.recruit "true") }}
				<div class="team_free_trial_alert alert alert-danger alert-dismissible" style ="margin-bottom:0px;" >
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						"Please Setup your stripe account! <a href="#" class="alert-link paymentTermsConditionId"> click here</a>."
				</div>
				{{end}}
			<div class="main-content-header">
				<div class="col-md-2 custom-header-col-left">
					<div class="header-profile">
						{{ if .EventLogo  }}
						<img class="img-circle" src="{{ .EventLogo }}">
						{{ else }}
						<img src="/static/images/Default-Event-Images.png" class="img-circle">
						{{ end }}
					</div>
				</div>
				<div class="col-md-8 custom-header-col-right">
					<div class="row">
						<div class="col-md-12">
							<!-- <h2>((event_name))</h2> -->
							<h2>{{ .EventView.event_0.event_name }}</h2>
							{{ if compare .EventView.event_0.recruit "true" }}
							{{$isFutureEvent := isFeatureEvent .EventView.event_0.start_date}}
								{{if $isFutureEvent}}
									{{if .SuperAdmin}}
										<!-- <button id="teameventregister" type="button" class="btn btn-primary pull-right">Register</button> -->
										<a href="/event/team-event-registration/{{.EventView.event_0.slug}}" class="btn btn-primary pull-right" >Register</a>
									{{else}}
										{{if and  (.TeamListEvent)  (compare $team_Manage_Admin "true") }}
											{{if (len .TeamListEvent) gt 0}}
											<!-- <button id="teameventregister" type="button" class="btn btn-primary pull-right">Register</button> -->
											<a href="/event/team-event-registration/{{.EventView.event_0.slug}}" class="btn btn-primary pull-right" >Register</a>
											{{ end }}
										{{ else }}
											<button id="teamotherregister" type="button" class="btn btn-primary pull-right">Register</button>
										{{ end }}
									{{end}}
								{{end}}
							{{ end }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="event-header-details">
								<!-- <li><i class="ti-calendar"></i> ((dayMonthDate start_date)) ((if dateNotNull end_date))- ((dayMonthDate end_date)) ((getYear end_date)) ((else)) ((getYear start_date))((/if))</li>
								<li class="label-bold"><i class="ti-location-pin"></i>((if location)) ((location)), ((/if)) ((if province)) ((province)), ((/if)) ((if country)) ((country)) ((/if)) </li> -->
								<!-- Example how it should look like -->
								<li><i class="ti-calendar"></i> 
									{{ if .EventView.event_0.e_date }}
									{{ .EventView.event_0.s_date }} - {{ .EventView.event_0.e_date }}
									{{ else }}
									{{ .EventView.event_0.s_date }}
									{{ end }}
								</li>
								<li class="label-bold"><i class="ti-location-pin"></i>
									{{.EventView.event_0.location}}{{ if .EventView.event_0.province }}, {{.EventView.event_0.province}}{{ end }}{{ if .EventView.event_0.country}}, {{.EventView.event_0.country}}{{  end }}
								</li>
							</ul>
							{{ if .IsLoggedIn }}
							{{ if .Rehost | or .Claim | or .Latest }}
							<ul class="event-header-options">
								
								{{ if in_array (convertToString .UserId) .EventOrgIds | not }}
								<li><button id="become_a_volunteer" type="button" class="btn btn-primary">Volunteer</button></li>
								{{ end }}
								{{ if in_array (convertToString .UserId) .EventOrgIds | or .SuperAdmin}}
								<li class="dropdown">
									<a href="" class="event-option-arrow dropdown-toggle" id="eventHeaderOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										<i class="ti-angle-down"></i>
									</a>
									<ul class="dropdown-menu" aria-labelledby="eventHeaderOptions">
										{{ $start_date := InterfaceToString .EventView.event_0.start_date }}
										{{ $end_date := InterfaceToString .EventView.event_0.end_date }}
										{{ $rehost := CheckDate  $start_date  $end_date }}
										{{ if .Rehost }}
										<li><a id="rehost" href="">Rehost event</a></li>
										{{ end }}
										<!-- ((if is_eventOrganiser this.slug currentUser._id)) -->
										<!-- <li><a href="((pathFor 'eventEdit'))">Edit event</a></li> -->
										{{ if not .PastEvent }}
										<li><a href="/event-edit/{{ .EventView.event_0.slug }}">Edit event</a></li>
										{{ end }}

										{{ if .SuperAdmin }}

										{{ if in_array (convertToString .UserId) .EventOrgIds | not }}
										{{ $start_date := InterfaceToString .EventView.event_0.start_date }}
										{{ $end_date := InterfaceToString .EventView.event_0.end_date }}
										{{ $claim := CheckDate  $start_date  $end_date }}
										{{ if .Claim }}
										<li><a id="claim" href="">Claim event</a></li>
										{{ end }}
										{{ end }}

										{{ end }}
									</ul>
								</li>
								{{ else }}

								{{ $start_date := InterfaceToString .EventView.event_0.start_date }}
								{{ $end_date := InterfaceToString .EventView.event_0.end_date }}
								{{ $claim := CheckDate  $start_date  $end_date }}
								{{ if .Claim }}
								<li class="dropdown">
									<a href="" class="event-option-arrow dropdown-toggle" id="eventHeaderOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										<i class="ti-angle-down"></i>
									</a>
									<ul class="dropdown-menu" aria-labelledby="eventHeaderOptions">
										
										<li><a id="claim" href="">Claim event</a></li>
										
									</ul>
								</li>
								{{ end }}
								{{ end }}

								{{ if .checkIfEventOrganizer }}
								<li class="dropdown">
									<a href="" class="event-option-arrow dropdown-toggle" id="eventHeaderOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										<i class="ti-angle-down"></i>
									</a>
									<ul class="dropdown-menu" aria-labelledby="eventHeaderOptions">
										<!-- ((if otherEOs this.slug currentUser._id)) -->
										<li><a id="claim" href="">Claim event</a></li>
										<!-- ((/if)) -->
										<!-- ((if hostingEvent this.slug currentUser._id)) -->
										<li><a id="rehost" href="">Rehost event</a></li>
										<!-- ((/if)) -->
										<!-- ((if is_superAdmin)) -->
										<!-- <li><a href="((pathFor 'eventEdit'))">Edit event</a></li> -->
										<li><a href="/eventEdit">Edit event</a></li>
										<!-- ((/if)) -->
									</ul>
								</li>
								{{ end }}
								<!-- ((/if)) -->
							</ul>
							{{ end }}
							{{ end }}
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="row equal">
		<div class="col-md-12 event-content" style="padding: 0px;">
		<ul class="nav nav-tabs" style="padding-bottom: 0px;">
			<li class="memberstabactive"><a id="eventHomeListTabClick" class="text-center" data-toggle="pill" href="#eventMainPage">Home <span class="badge-header badge badge-light"></span></a></li>
			  {{ if .IsLoggedIn }}
				{{ if in_array (convertToString .UserId) .EventOrgIds | or .SuperAdmin}}
				{{if .Event_Register_Team_Detail_List}} 
				<li class="memberstabactive"><a id="eventTeamListTabClick" class="text-center eventTabClick" data-toggle="pill" value="#eventTeamList"  href="#eventTeamList"> Teams <span class="badge-header badge badge-light">{{if gt (len .Event_Register_Team_Detail_List) 0}} {{len .Event_Register_Team_Detail_List}} {{end}}</span></a></li>
				{{else if .Event_Register_Team_Count}}
				<li class="memberstabactive "><a id="eventTeamListTabClick" class="text-center eventTabClick" data-toggle="pill" value="#eventTeamList"  href="#eventTeamList"> Teams <span class="badge-header badge badge-light">{{if gt .Event_Register_Team_Count "0"}} {{.Event_Register_Team_Count}} {{end}}</span></a></li>
				{{end}}

				{{if .EventPaymentList}}
				<li class="memberstabactive"><a id="eventPaymentListTabClick" class="text-center eventTabClick" data-toggle="pill" value="#eventPaymentList" href="#eventPaymentList">Payment <span class="badge-header badge badge-light">{{if gt (len .EventPaymentList) 0}} {{len .EventPaymentList}} {{end}}</span></a></li>
				{{else if .Event_Register_Team_Count}}
				<li class="memberstabactive"><a id="eventPaymentListTabClick" class="text-center eventTabClick" data-toggle="pill" value="#eventPaymentList" href="#eventPaymentList">Payment <span class="badge-header badge badge-light">{{if gt .Event_Register_Team_Count "0"}} {{.Event_Register_Team_Count}} {{end}}</span></a></li>
				{{end}}
				{{if .AccreditationGeneralList |or .AccreditationManualList}}
				<li class="memberstabactive"><a id="eventaccreditationTabClick" class="text-center eventTabClick" data-toggle="pill" value="#eventaccreditation" href="#eventaccreditationList">Accreditation</a></li>
				{{else}}
				<li class="memberstabactive"><a id="eventaccreditationTabClick" class="text-center eventTabClick" data-toggle="pill" value="#eventaccreditation" href="#eventaccreditationList">Accreditation</a></li>
				{{end}}
				<li class="memberstabactive"><a id="eventRosterRacingListTabClick" class="text-center eventTabClick" data-toggle="pill" value="#eventRosterRacingList" href="#eventRosterRacingList">Reports</a></li>
				<li class="memberstabactive"><a id="eventWaiversListTabClick" class="text-center eventTabClick" data-toggle="pill" value="#eventWaiverList" href="#eventWaiverList">Waivers</a></li>
				{{ end }}
				{{ end }}
		</ul>
		</div>
		</div>
			<div class="row equal event-view">
			<div class="col-md-12 event-content"  style="padding: 0px;">
			<div id="eventMainPage" class="tab-pane fade">
					<div class="col-md-8 event-content">
							<section class="row event-description-section">
								<div class="content-padding">
									<div class="col-md-12">
										<div class="row event-info">
											<div class="col-md-6">
												<div id="map" class="event-location">
													{{ if .EventView.event_0.latitude | and  .EventView.event_0.longitude }}
													{{ $latitude := convertToFloat .EventView.event_0.latitude }}
													{{ $longitude := convertToFloat .EventView.event_0.longitude }}
													<script type="text/javascript"> initMap( {{ $latitude }}, {{ $longitude }} ) </script>
													{{ else }}
													<img src="/static/images/location-img.jpg" />
													{{ end }}
												</div>
											</div>
											<div class="col-md-6">
												<div class="event-description">
													{{ if .EventView.event_0.event_about }}
													{{ if gt (len .EventView.event_0.event_about) 200 }}
													<div id="showDescription" class="hide">
														{{ ( substr .EventView.event_0.event_about 0 200 ) }}
													</div>
													<div id="showFullDescription" class="hide">
														{{ str2html .EventView.event_0.event_about }}
													</div>
													<a href="" id="readMoreDescription" class="small">Read More</a>
													{{ else }}
													<div id="showDescription2">
														{{ str2html .EventView.event_0.event_about }}
													</div>
													{{ end }}
													{{ end }}
			
													<p class="label-bold">Location</p>
													<!-- <p>((if venue_name)) ((venue_name)), ((/if)) ((if venue_street_address)) ((venue_street_address)), ((/if))  ((if location)) ((location)), ((/if)) ((if province)) ((province)) ((/if))</p> -->
													<p>{{ .EventView.event_0.venue_name }}, {{ .EventView.event_0.venue_street_address }},  
														{{ .EventView.event_0.location }}, {{ .EventView.event_0.province }}, {{ .EventView.event_0.country }}</p>
			
			
													{{ $checkDuplicateOrg := .EventOrganisers.organiser.fk_user_id }}
													<p class="label-bold">Event Organizers</p>
													{{ if .EventOrganisers.organiser }}
													<div class="event-organizer-edit event-organizer-name">
														<!-- <img src="((displayProfile organizer_id))" class="img-circle"> -->
														<!-- <div class="class-tooltip">((userNameOption organizer_id))</div> -->
			
														{{ if .EventOrganisers.organiser.files }}
														<img src="{{ .EventOrganisers.organiser.files }}" class="img-circle">
														{{ else }}
														<img src="/static/images/user-default.png" class="img-circle">
														{{ end }}
														<div class="class-tooltip">{{ .EventOrganisers.organiser.name}}</div>
													</div>
													{{ end }}
			
													{{ range $index, $e := .EventOrganisers }}
													{{ if compare $index "organiser" }}
													
													{{ else }} 
			
													{{ if compare $checkDuplicateOrg $e.fk_user_id | not }}
													<div class="event-organizer-edit event-organizer-name">
														<!-- <img src="((displayProfile organizer_id))" class="img-circle"> -->
														<!-- <div class="class-tooltip">((userNameOption organizer_id))</div> -->
														{{ if $e.files }}
														<img src="{{ $e.files }}" class="img-circle">
														{{ else }}
														<img src="/static/images/user-default.png" class="img-circle">
														{{ end }}
														<div class="class-tooltip">{{ $e.name}}</div>
													</div>
													{{ end }}
			
													{{ end }}
													{{ end }}
												</div>
											</div>
										</div>
			
										{{ $Classes := .Classes }}
										{{ $Divisions := .Divisions }}
			
										<div class="row">
											<div class="col-md-12">
												<h3>CLASS</h3>
											</div>
										</div>
										<div class="row event-view-class">
											<!-- ((each class_divisions)) -->
											<!-- Get this data from DB for the particular event -->
											{{ if .MDivisions }}
			
											<div class="col-md-4">
												<div class="row">
													<div class="col-md-4">
														<!-- <p class="label-bold">((fullClasses class))</p> -->
														<p class="label-bold">Men</p>
													</div>
													<div class="col-md-8">
														<!-- ((each div)) -->
														<!-- <span class="list-class">((this)) -->
															<!-- <div class="class-tooltip">((fullDivisionName this))</div> -->
														{{  range $e2 := .MDivisions}}
														<span class="list-class">{{ $e2 }}
															{{ if gt (len $e2) 0  }}
															<div class="class-tooltip">{{ $e2 | GetFullDivName }}</div>
															{{ end }}
														</span>
														{{ end }}
													</div>
												</div>
											</div>
											{{ end }}
			
											{{ if .WDivisions }}
											<div class="col-md-4">
												<div class="row">
													<div class="col-md-4">
														<!-- <p class="label-bold">((fullClasses class))</p> -->
														<p class="label-bold">Women</p>
													</div>
													<div class="col-md-8">
														<!-- ((each div)) -->
														<!-- <span class="list-class">((this)) -->
															<!-- <div class="class-tooltip">((fullDivisionName this))</div> -->
														{{  range $e2 := .WDivisions}}
														<span class="list-class">{{ $e2 }}
															{{ if gt (len $e2) 0  }}
															<div class="class-tooltip">{{ $e2 | GetFullDivName }}</div>
															{{ end }}
														</span>
														{{ end }}
													</div>
												</div>
											</div>
											{{ end }}
			
											{{ if .MXDivisions }}
											<div class="col-md-4">
												<div class="row">
													<div class="col-md-4">
														<!-- <p class="label-bold">((fullClasses class))</p> -->
														<p class="label-bold">Mixed</p>
													</div>
													<div class="col-md-8">
														<!-- ((each div)) -->
														<!-- <span class="list-class">((this)) -->
															<!-- <div class="class-tooltip">((fullDivisionName this))</div> -->
														{{  range $e2 := .MXDivisions}}
														<span class="list-class">{{ $e2 }}
			
															{{ if gt (len $e2) 0  }}
															<div class="class-tooltip">{{ $e2 | GetFullDivName }}</div>
															{{ end }}
														</span>
														{{ end }}
													</div>
												</div>
											</div>
											{{ end }}
			
										</div>
									</div>
								</div>
							</section>
			
							{{ if .EventSponsor }}
							<section class="row sponsors-section">
								<div class="col-md-12">
									<div class="content-padding">
										<div class="row event-sponsors">
											<div class="col-md-12">
												<h3>SPONSORS</h3>
												<!-- ((each src3)) -->
												{{ range $ep := .EventSponsor}}
												<!-- <img src="((sponsors))"> -->
												<img src="{{ $ep.path }}">
												<!-- ((/each)) -->
												{{ end }}
											</div>
										</div>
									</div>
								</div>
							</section>
							{{ end }}
			
							<!-- ((if currentEvent _id)) -->
							{{ if .IsLoggedIn }}
							{{ if in_array (convertToString .UserId) .EventOrgIds | or .SuperAdmin }}
							<section class="row event-post-announcement">
								<div class="col-md-12">
									<div class="content-padding">	
										<div class="row">
											<div class="col-md-12">
												<h3>ANNOUNCEMENTS</h3>
											</div>
										</div>
										<div class="row">
											<span id="announcement_err" class="error-message hide"></span>
											<!-- <div class="col-md-2">
												<img src="((displayProfile currentUser._id))" class="img-circle">
											</div>
											((autoForm collection="announcement" id="insertAnnouncement" type="method" meteormethod="makeAnnouncement"))
											<div class="col-md-10">
												<div class="focus-tooltip"> 
													((> afFieldInput id="announcement_message" name='announcement_message' class="editable form-control" placeholder="Make an announcement" rows=3))
													<p class="small-format">Formatting options available by selecting text</p>
												</div>
											
												<div class="text-right">
													<button type="submit" class="btn btn-primary">Post</button>
												</div> 
											</div>
											((/autoForm)) -->
											<div class="col-md-2">
												{{ if .UserId }}
												{{ $userDetails := GetUserDetails (convertToString .UserId) }}
												{{ if $userDetails.user.files }}
												<img src="{{ $userDetails.user.files }}" class="img-circle">
												{{ else }}
												<img src="/static/images/user-default.png" class="img-circle">
												{{ end }}
												{{ end }}
											</div>
											<form id="insertAnnouncement" method="POST">
			
												<div class="col-md-10">
													<div class="focus-tooltip focus-tooltip">
														
														<textarea id="announcement_message" name="announcement_message" class="editable form-control editable_announcement_message" placeholder="" rows="3" required="" style="resize: vertical;"></textarea>  
														<p class="small-format">Formatting options available by selecting text</p>
													</div>
			
													<div class="text-right">
														<button id="post-announcement" type="button" class="btn btn-primary" >Post</button>
													</div> 
												</div>
											</form>
										</div>
									</div>
								</div>
							</section>
							<!-- ((/if)) -->
							{{ end }}
							{{ end }}
			
							{{ if .EventPricing }}
							<section class="row event-fees">
								<div class="col-md-12">
									<div class="content-padding">
										<!-- ((if eventFees super_early_bird_date early_bird_date regular_date)) -->
										<div class="row">
											<div class="col-md-12">
												<h3>EVENT FEES</h3>
												<h5>Registration dates</h5>
											</div>
										</div>
			
										<div class="row">
											<div class="col-md-4">
												<p class="event-fees-registration-type">Super early bird</p>
												{{ if .EventView.event_0.super_early_bird_date }}
												<!-- <h4>((dateFormate3 super_early_bird_date))</h4> -->
												{{  if compare .EventView.event_0.seb_date "01/01/0001" }} {{ else }}
												<h4>{{  .EventView.event_0.seb_date }} {{ end }}</h4>
												{{ end }}
											</div>
											<div class="col-md-4">
												<p class="event-fees-registration-type">Early bird</p>
												{{ if .EventView.event_0.early_bird_date }}
												<!-- <h4>((dateFormate3 early_bird_date))</h4> -->
												{{  if compare .EventView.event_0.eb_date "01/01/0001" }} {{ else }}
												<h4>{{ .EventView.event_0.eb_date }} {{ end }}</h4>
												{{ end }}
											</div>
											<div class="col-md-4">
												<p class="event-fees-registration-type">Regular</p>
												{{ if .EventView.event_0.regular_date }}
												<!-- <h4>((dateFormate3 regular_date))</h4> -->
												{{  if compare .EventView.event_0.r_date "01/01/0001" }} {{ else }}
												<h4>{{ .EventView.event_0.r_date }} {{ end }}</h4>
												{{ end }}
											</div>
										</div>
										<!-- ((/if)) -->
										{{ if compare .EventView.event_0.price_based "BRC" }}
										{{ if .MenPricing }}
										<div class="row">
											<div class="col-md-12">
												<table class="table dashboard-table event-fee-men-table responsive-table event-view-table-padding">
													<thead>
														<tr>
															<th class="col-md-5"><h4>Men</h4></th>
															<th class="col-md-3 gray-th">Super early bird</th>
															<th class="col-md-3 gray-th">Early bird</th>
															<th class="col-md-2 gray-th">Regular</th>
														</tr>
													</thead>
													<tbody>
														<!-- ((each mens_pricing_details)) -->
														<!-- <tr>
															<td><span class="list-class">((pricing_division))</span> ((fullDivisionName pricing_division))</td>
															<td>((if super_early_bird_cost)) ((../currency)) ((super_early_bird_cost)) ((/if))</td>
															<td>((if early_bird_cost)) ((../currency)) ((early_bird_cost)) ((/if))</td>
															<td>((if regular_cost)) ((../currency)) ((regular_cost)) ((/if))</td>
														</tr> -->
														<!-- ((/each)) -->
														{{ $currency := .EventView.event_0.currency }}
														{{ range $mp := .MenPricing }}
														<tr>
															<td><span class="list-class">{{ $mp.pricing_division }}</span> {{ $mp.pricing_division | GetFullDivName }} {{if $mp.boat_type}} {{$mp.boat_type}} Person {{end}}</td>
															<td>
																{{ if compare $mp.seb_cost "0" | not}}
																{{ $currency }} {{ $mp.seb_cost }}
																{{ end }}
															</td>
															<td>
																{{ if compare $mp.eb_cost "0" | not}}
																{{ $currency }} {{ $mp.eb_cost }}
																{{ end }}
															</td>
															<td>
																{{ if compare $mp.r_cost "0" | not}}
																{{ $currency }} {{ $mp.r_cost }}
																{{ end }}
															</td>
														</tr>
														{{ end }}
													</tbody>
												</table>
											</div>
										</div>
										{{ end }}
			
										{{ if .WomenPricing }}
										<div class="row">
											<div class="col-md-12">
												<table class="table dashboard-table event-fee-women-table responsive-table  event-view-table-padding">
													<thead>
														<tr>
															<th class="col-md-5"><h4>Women</h4></th>
															<th class="col-md-3 gray-th">Super early bird</th>
															<th class="col-md-3 gray-th">Early bird</th>
															<th class="col-md-2 gray-th">Regular</th>
														</tr>
													</thead>
													<tbody>
														{{ $currency := .EventView.event_0.currency }}
														{{ range $wp := .WomenPricing }}
														<tr>
															<td><span class="list-class">{{ $wp.pricing_division }}</span>{{ $wp.pricing_division | GetFullDivName }} {{if $wp.boat_type}} {{$wp.boat_type}} Person {{end}}</td>
															<td>
																{{ if compare $wp.seb_cost "0" | not}}
																{{ $currency }} {{ $wp.seb_cost }}
																{{ end }}
															</td>
															<td>
																{{ if compare $wp.eb_cost "0" | not}}
																{{ $currency }} {{ $wp.eb_cost }}
																{{ end }}
															</td>
															<td>
																{{ if compare $wp.r_cost "0" | not}}
																{{ $currency }} {{ $wp.r_cost }}
																{{ end }}
															</td>
														</tr>
														{{ end }}
													</tbody>
												</table>
											</div>
										</div>
										{{ end }}
			
										{{ if .MixedPricing }}
										<div class="row">
											<div class="col-md-12">
												<table class="table dashboard-table event-fee-women-table responsive-table  event-view-table-padding">
													<thead>
														<tr>
															<th class="col-md-5"><h4>Mixed</h4></th>
															<th class="col-md-3 gray-th">Super early bird</th>
															<th class="col-md-3 gray-th">Early bird</th>
															<th class="col-md-2 gray-th">Regular</th>
														</tr>
													</thead>
													<tbody>
														{{ $currency := .EventView.event_0.currency }}
														{{ range $mx := .MixedPricing }}
														<tr>
															<td><span class="list-class">{{ $mx.pricing_division }}</span>{{ $mx.pricing_division | GetFullDivName }} {{if $mx.boat_type}} {{$mx.boat_type}} Person {{end}}</td>
															<td>
																{{ if compare $mx.seb_cost "0" | not}}
																{{ $currency }} {{ $mx.seb_cost }}
																{{ end }}
															</td>
															<td>
																{{ if compare $mx.eb_cost "0" | not}}
																{{ $currency }} {{ $mx.eb_cost }}
																{{ end }}
															</td>
															<td>
																{{ if compare $mx.r_cost "0" | not}}
																{{ $currency }} {{ $mx.r_cost }}
																{{ end }}
															</td>
														</tr>
														{{ end }}
													</tbody>
												</table>
											</div>
										</div>
										{{ end }}
										{{else if compare .EventView.event_0.price_based "PP" | and $eventPricingDetail }}
										<div class="row">
											<div class="col-md-12">
												<table class="table dashboard-table event-fee-men-table responsive-table event-view-table-padding">
													<thead>
														<tr>
															<th class="col-md-4"><h4>Per Person</h4></th>
															<th class="col-md-3 gray-th">Super early bird</th>
															<th class="col-md-3 gray-th">Early bird</th>
															<th class="col-md-2 gray-th">Regular</th>
														</tr>
													</thead>
													<tbody>
														<!-- ((each mens_pricing_details)) -->
														<!-- <tr>
															<td><span class="list-class">((pricing_division))</span> ((fullDivisionName pricing_division))</td>
															<td>((if super_early_bird_cost)) ((../currency)) ((super_early_bird_cost)) ((/if))</td>
															<td>((if early_bird_cost)) ((../currency)) ((early_bird_cost)) ((/if))</td>
															<td>((if regular_cost)) ((../currency)) ((regular_cost)) ((/if))</td>
														</tr> -->
														<!-- ((/each)) -->
														{{ $currency := .EventView.event_0.currency }}
														{{ range $mp :=  $eventPricingDetail  }}
														{{if $mp.price_fee_role}}
														<tr>
																{{$price_fee_role := chararrayreplace $mp.price_fee_role}}
															<!-- <td><span class="list-class">PP</span> {{$price_fee_role}}</td> -->
															<td>
																<div class="row">
																	<div class="col-md-12">
																   <div class="col-md-2" style="padding: 0px;">
																	   <span class="list-class" style="margin: 0px;">PP</span>
																	 </div>
																	<div class="col-md-10" style="padding-left: 5px;padding-bottom: 10px">
																		{{$price_fee_role}}</div>
																   </div>
																   </div>
															</td>
															<td>
																{{ if compare $mp.seb_cost "0" | not}}
																{{ $currency }} {{ $mp.seb_cost }}
																{{ end }}
															</td>
															<td>
																{{ if compare $mp.eb_cost "0" | not}}
																{{ $currency }} {{ $mp.eb_cost }}
																{{ end }}
															</td>
															<td>
																{{ if compare $mp.r_cost "0" | not}}
																{{ $currency }} {{ $mp.r_cost }}
																{{ end }}
															</td>
														</tr>	
														{{end}}
														{{ end }}
													</tbody>
												</table>
											</div>
										</div>
										{{else if compare .EventView.event_0.price_based "OT" | and $eventPricingDetail}}
										<div class="row">
											<div class="col-md-12">
												<h3>Other</h3>
												{{ range $mxp := $eventPricingDetail }}
												<textarea id="" name="" class="form-control" placeholder="" rows="3" disabled value="" style="resize: vertical;">{{$mxp.other}}</textarea>
												{{end}}
											</div>
										</div>
										{{end}}
			
										{{ if .PracticeFees }}
										<div class="row">
											<div class="col-md-12">
												<h3>PRACTICE FEES</h3>
											</div>
										</div>
			
										<div class="row">
											<div class="col-md-12">
												<table class="table dashboard-table event-other-fee-table responsive-table event-view-other-padding">
													<thead>
														<tr>
															<th class="col-md-6"><h4>ITEM</h4></th>
															<th class="col-md-3 gray-th">Quantity</th>
															<th class="col-md-3 gray-th">Unit Price</th>
														</tr>
													</thead>
													<tbody>
														<!-- ((each pricing_practices)) -->
														<tr>
															<!-- <td>((name))</td> -->
															<td>name</td>
															<!-- <td>((quantity))</td> -->
															<td>quantity</td>
															<!-- <td>((if price)) ((../currency)) ((price)) ((/if))</td> -->
															<td>currency price</td>
														</tr>
														<!-- ((/each)) -->
														<tr>
															<td>Coaching Service (per hour)</td>
															<td></td>
															<!-- <td>((if coach_fee)) ((../currency)) ((coach_fee)) ((/if))</td> -->
															<td>currency coach_fee</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										{{ end }}
			
										{{ if .OtherFees }}
										<div class="row">
											<div class="col-md-12">
												<h3>OTHER FEES</h3>
											</div>
										</div>
			
										<div class="row">
											<div class="col-md-12">
												<table class="table dashboard-table no-margin event-other-fee-table responsive-table event-view-other-padding">
													<thead>
														<tr>
															<th class="col-md-6"><h4>ITEM</h4></th>
															<th class="col-md-3 gray-th">Unit Price</th>
														</tr>
													</thead>
													<tbody>
														<!-- ((each other_pricing)) -->
														<tr>
															<!-- <td>((item))</td> -->
															<td>item</td>
															<!-- <td>((if cost)) ((../currency)) ((cost)) ((/if))</td> -->
															<td>currency cost</td>
			
														</tr>
														<!-- ((/each)) -->
													</tbody>
												</table>
											</div>
										</div>
										{{ end }}
									</div>
								</div>
							</section>
							{{ end }}
			
							<section class="row equal">
								{{ if .EventView.event_0.about_cause | or .EventFaq }}
								<div class="col-md-6">
									{{ if .EventView.event_0.about_cause }}
									<div class="row event-cause">
										<div class="content-padding">
											<div class="col-md-12">
												<h3>ABOUT THE CAUSE</h3>
												<!-- <p>(({tabs about_cause))}</p> -->
												<p>{{ .EventView.event_0.about_cause }}</p>
											</div>
										</div>
									</div>
									{{ end }}
									
									{{ if .EventFaq }}
									<div class="row event-faq">
										<div class="content-padding">
											<div class="col-md-12">
												<h3>FAQ</h3>
												{{ range $f := .EventFaq }}
												<!-- <p class="label-bold">((question))</p> -->
												<p class="label-bold">{{ $f.question }}</p>
												<!-- <p class="gray-text">((answer))</p> -->
												<p class="gray-text">{{ $f.answer }}</p>
												<!-- ((/each)) -->
												{{ end }}
											</div>
										</div>
									</div>
									{{ end }}
									
								</div>
								{{ end }}
			
								{{ if .ContactSection }}
								<div class="col-md-6 event-contact" style="border-left: none">
									<div class="content-padding">
										<div class="row">
											<div class="col-xs-12">
												<h3>CONTACT</h3>
											</div>
										</div>
			
										{{ if .EventView.event_0.twitter_handle }}
										<div class="row equal">
											<div class="col-xs-2 col-md-1">
												<i class="ti-twitter-alt"></i>
											</div>
											<div class="col-xs-10 col-md-11">
												<!-- <p><a target="_blank" href="((twitter_handle))">((editUrl twitter_handle '@'))</a></p> -->
												<p><a target="_blank" href="{{ .EventView.event_0.twitter_handle }}">{{ linkWithoutPrefix .EventView.event_0.twitter_handle }}</a></p>
											</div>
										</div>
										{{ end }}
			
										{{ if .EventView.event_0.facebook_page_url }}
										<div class="row equal">
											<div class="col-xs-2 col-md-1">
												<i class="ti-facebook"></i>
											</div>
											<div class="col-xs-10 col-md-11">
												<!-- <p><a target="_blank" href="((facebook_page_url))">((linkWithoutPrefix facebook_page_url))</a></p> -->
												<p><a target="_blank" href="{{ .EventView.event_0.facebook_page_url }}">{{ linkWithoutPrefix .EventView.event_0.facebook_page_url }}</a></p>
											</div>
										</div>
										{{ end }}
			
										{{ if .EventView.event_0.youtube_url }}
										<div class="row equal">
											<div class="col-xs-2 col-md-1">
												<i class="ti-youtube"></i>
											</div>
											<div class="col-xs-10 col-md-11">
												<!-- <p><a target="_blank" href="((youtube_url))">((linkWithoutPrefix youtube_url))</a></p> -->
												<p><a target="_blank" href="{{ .EventView.event_0.youtube_url }}">{{ linkWithoutPrefix .EventView.event_0.youtube_url }}</a></p>
											</div>
										</div>
										{{ end }}
			
										{{ if .EventView.event_0.phone_number }}
										<div class="row equal">
											<div class="col-xs-2 col-md-1">
												<img src="/static/images/phone.png">
											</div>
											<div class="col-xs-10 col-md-11">
												<!-- <p>((phone_number))</p> -->
												<p>{{ .EventView.event_0.phone_number }}</p>
											</div>
										</div>
										{{ end }}
			
										{{ if .EventView.event_0.email }}
										<div class="row equal">
											<div class="col-xs-2 col-md-1">
												<i class="ti-email"></i>
											</div>
											<div class="col-xs-10 col-md-11">
												<!-- <p><a href="">((email))</a></p> -->
												<p><a href="mailto:{{ .EventView.event_0.email }}">{{ .EventView.event_0.email }}</a></p>
											</div>
										</div>
										{{ end }}
			
										{{ if .EventView.event_0.website_url }}
										<div class="row equal">
											<div class="col-xs-2 col-md-1">
												<img src="/static/images/web.png">
											</div>
											<div class="col-xs-10 col-md-11">
												<!-- <p><a target="_blank" href="((addHttp website_url))">((linkWithoutPrefix website_url))</a></p> -->
												<p><a target="_blank" href="{{ .EventView.event_0.website_url }}">{{ linkWithoutPrefix .EventView.event_0.website_url }}</a></p>
											</div>
										</div>
										{{ end }}
									</div>
								</div>
			
								{{ end }}
							</section>
						</div>
						<div class="col-md-4 event-announcements">
							<div class="content-padding">
								<div class="row">
									<div class="col-md-12">	
										<h3>ANNOUNCEMENTS</h3>
									</div>
								</div>
								<!-- ((if announcement_details)) -->
								{{ if .EventAnnouncement }}
			
								<!-- ((each announcement_details)) -->
								{{ range $a := .EventAnnouncement }}
								<div class="row">
									<div class="col-md-3">
										{{ if $a.fk_announcer_id }}
										{{ $userDetails := GetUserDetails $a.fk_announcer_id }}
										{{ if $userDetails.user.files }}
										<img src="{{ $userDetails.user.files }}" class="img-circle">
										{{ else }}
										<img src="/static/images/user-default.png" class="img-circle">
										{{ end }}
										{{ end }}
									</div>
									<div class="col-md-9">
										<!-- <p>(({announcement_message))}</p> -->
										{{ if gt (len $a.announcement_message) 200 }}
										<div id="showAnnouncement_{{$a.id}}" class="ancmnt-html">
											{{ ( substr $a.announcement_message 0 200 ) }}
										</div>
										<div id="showFullAnnouncement_{{$a.id}}" class="hide">
											{{ str2html $a.announcement_message }}
										</div>
										<a href="" value="{{ $a.id }}" class="small readMoreAnnouncement">Read More</a>
										{{ else }}
										<div id="showAnnouncement2">
											{{ str2html $a.announcement_message }}
										</div>
										{{ end }}
										
										<!-- <p class="small">((dateFormate2 created_at)), ((time created_at))</p> -->
										<p class="small">{{ $a.date }}</p>
			
									</div>
								</div>
								<!-- ((/each)) -->
								{{ end }}
								<!-- ((else)) -->
								{{ else }}
								<div class="row">
									<div class="col-md-12">
										<p>No Announcements</p>
									</div>
								</div>
								<!-- ((/if)) -->
								{{ end }}
			
								{{ if .count }}
								<!-- ((if announcementCount)) -->
								<div class="row">
									<div class="col-md-12">
										<a href="" class="btn btn-phantom-green btn-fullwidth">View all announcements</a>
									</div>
								</div>
								<!-- ((/if)) -->
								{{ end }}
							</div>
						</div>
			</div>
		
			<div id="eventTeamList" class="tab-pane fade">
				{{ template "event/eventViewTeam.html" . }}
			</div>
			<div id="eventPaymentList" class="tab-pane fade">
					{{ template "event/eventPayment.html" . }}
			</div>
			<div id="eventaccreditationList" class="tab-pane fade">
				{{ template "event/eventAccreditation.html" . }}
		  </div>
		  <div id="eventRosterRacingList" class="tab-pane fade">
			{{ template "event/eventReport.html" . }}
		</div>
		<div id="eventWaiverList" class="tab-pane fade">
			{{ template "event/eventWaivers.html" . }}
		</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

<form id="event_waiver_upload" method="POST">
		<div class="modal fade" id="uploadEventWaiverFilesModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
						<h3>Upload waiver</h3>
						<div class="row">
							<div class="col-lg-12">
								<span id="waiver_err_msg" ></span>
								<span id="waiver_succ_msg" ></span>
							</div>
							<div class="col-lg-6">
									<input placeholder="Event Name" class="form-control" id="event_name_add_waiver_event" name="event_name_add_waiver_event" type="text" readonly>
									<input  class="form-control" id="event_id_add_waiver_event" name="event_id_add_waiver_event" type="hidden">

							</div>
							<div class="col-lg-6">
				
								<input placeholder="Waiver name" class="form-control" id="waiver_name_add_waiver_event" name="waiver_name_add_waiver_event" type="text">
							</div>
							<div class="col-lg-12">
								<p class="image-size">Upload a file of maximum 10MB </p>
							</div>
							<div class="col-lg-8">
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
										<span class="sr-only"></span>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="fileupload fileupload-new" data-provides="fileupload">
									<!-- <span class="btn btn-phantom-green btn-file">
										<span class="fileupload-new">Select</span>
										<input id="waiverUpload" type="file"/>
									</span> -->
									<div>
										<label for="waiverEventUpload" class="btn btn-phantom-green btn-file fileupload-new"> Select </label>
										<input id="waiverEventUpload" style="visibility:hidden;" name="file" type="file" />
									</div>    
								</div>
	
							</div>
							<div class="col-lg-12">
								<input id="saveWaiver" type="submit" class="btn btn-primary btn-fullwidth" value="Upload waiver" type="button">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="modal fade" id="sendEventWaiverModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<div class="row">
						<div class="col-md-12">
							
							<h3>Send waiver</h3>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<span id="waiver_sent_err" ></span>
							<span id="waiver_sent_succ" ></span>
							<span id="waiver_reminder_succ" ></span>
							<p id="waiver_send_content">The selected paddler(s) will receive an email request to sign their waiver.</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<input type="hidden" value="" id="waiver_members_event">
							<button id="sendWaiverFromEventBtn" type="button" class="btn btn-primary btn-fullwidth">Send</button>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="VolunteerModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="volunteerForm">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
						<h3>Become a Volunteer</h3>

						<span id="rh_err_msgs" class=""></span>
						<span id="rh_succ_msgs" class=""></span>
						
						Message:
						<textarea rows="5" id="volunteer_msg" class="form-control" placeholder="Write your message here..."></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" id="volunteer_request" class="btn btn-primary btn-fullwidth">Send</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="rehostingModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<form id="rehostingDates" method="POST">
						<div class="row">
							<div class="col-md-12">

								<h3>Rehosting an event</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<span id="rh_err_msgs2" class=""></span>
								<span id="rh_succ_msgs2" class=""></span>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="md-checkbox">
									<input id="single_day_event_rehost" class="md-check" type="checkbox">
									<label for="single_day_event_rehost">
										<span class="check"></span>
										<span class="box"></span>
										Single day event
									</label>
									<span id="date_err" class="error-message hide"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Start Date</label>
									<div class="input-group">
										<input class="form-control" data-schema-key="start_date" name="rh_start_date" type="text" id="rh_start_date" placeholder="Start date" autocomplete="off">
										<span id="srh_dtpicker" class="input-group-addon gray-icons dtpicker"><i class="ti-calendar"></i></span>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">End Date</label>
									<div class="input-group">
										<input class="form-control" data-schema-key="end_date" name="rh_end_date" type="text" id="rh_end_date" placeholder="End Date" autocomplete="off">
										<span id="erh_dtpicker" class="input-group-addon gray-icons dtpicker"><i class="ti-calendar"></i></span>
										<span class="help-block" id="dateErrMsg" style="color:red"></span>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<button type="submit" id="rehosting-view-button" class="btn btn-primary btn-fullwidth">Submit</button>
							</div>
						</div>	
					</form>				
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="claimEventModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<div class="row">
						<div class="col-md-12">

							<h3>Claim event</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<span id="claim_err_msgs" class=""></span>
							<span id="claim_succ_msgs" class=""></span>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<p>You will be sending a request to claim this event to the event organizer</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<button type="buton" id="claim_event" class="btn btn-primary btn-fullwidth">Send request</button>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="teamOtherRegisterModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
						<div class="row">
							<div class="col-md-12">
	
								<h3>Event Registration</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p>Please have your team captain register your team</p>
							</div>
						</div>		
					</div>
				</div>
			</div>
	</div>

	<div class="modal fade" id="teameventregistermodel" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<div class="row">
						<div class="col-md-12">

							<h3>Register your team</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<span id="event_reg_err_msgs"  class="error"></span>
							<span id="event_reg_succ_msgs" class="success"></span>
						</div>
					</div>
					<form id="eventregisterFormData">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group" id="remove_margin_buttom_eve_reg" >
									<label class="label-font-wei">Which team would you like to register?</label>
									{{if .SuperAdmin}}
									<input id="searchteamname" class="form-control" placeholder="Please enter minimum 3 characters to search team name" type="text">
									<div class="searchteamappend"></div>
									{{else}}
									<select class="form-control" id="selectedteamname" name="">
											<option value="">Select Team Name</option>
											{{if .TeamListEvent}}
												{{ range $ue := .TeamListEvent}}
												<!-- ((each all_upcoming_events)) -->
												<!-- <option value="((_id))">((event_name))</option> -->
												<option value="{{ $ue.id }}">{{ $ue.team_name }}</option>
												<!-- ((/each)) -->
												{{ end }}
											{{end}}
									</select>
									{{end}}
									<input id="eventregisterteam" type="hidden" name="eventregisterteamid" value="">
								</div>
								<div id="roste_hide_show" class="hide row" style='margin-left: 0px;margin-right: 0px;margin-bottom: 0px;'>
									<div class="form-group" style="margin-bottom: 0px;">
									  <label class="label-font-wei div_class_roster_1">Which divisions and classes would you like to register for?</label>
                    <input type="hidden" id="maleDivision" value="{{.MaleDivision }}">
										<input type="hidden" id="womenDivision" value="{{.FemaleDivision }}">
										<input type="hidden" id="mixedDivision" value="{{.MixedDivision }}">
										<div class="append_another_roster"></div>
										<div class="append_div_class_roster col-md-12 div_class_roster_1" style="padding-bottom: 12px;padding-left: 0px;" >
											<div class="col-md-5" style="padding-left: 0px;" >
												<select class="form-control" id="eventDivisionChange" data-index="1" name="">
													<option value="">Select Division</option>
													{{if .DivisionArray}} 
														{{ range $e2 := .DivisionArray}} 
															{{ if gt (len $e2) 0 }}
															<option value="{{ $e2 }}">{{ $e2 | GetFullDivName }}</option>
															{{ end }} 
														{{ end }} 
													{{ end }}
												</select>
											</div>
											<div class="col-md-5">
												<div class="hide" id="event_clases_Hide" >
														<select class="form-control" id="eventClassesChange" data-index="1" name="">
															</select>
												</div>
								      </div>
											<div id="addMoreRosterButton_hide" class="col-md-2">
													<a class="btn btn-primary btn-phantom-green add_more_roster_event" data-index="1" name="" href="#" role="button">
														<span class="ti-plus"></span>
														<span></span>
													</a>
											</div>
											<p class="append_div_class_roster_span"></p>
										</div>
										<div id="roste_list_hide_show" style="margin-top: 77px;" class="roster_list_border">
												<label class="error" id="event_div_clas_err_msgs" ></label>
											<label class="label-font-wei" style="display: block;margin-top: 10px;">Roster</label>
											<label class="label-font-wei">Would you like to submit your roster(s) now?</label>
											<label class="label-font-wei" style="font-size: 12px;">(You may also add roster later and submit from the roster page)</label>
											<div class="form-group">
													<div class="form-check form-check-inline dis-inline" >
														<span class="disc-option-1 eventrostetsubmitornot"  style="font-size: 12px; font-weight: 500;">
																<input  type="radio" class="circle" name="submitrosterlater" id="inlineRadioroster1" value="No" /> No, I'll submit my roster(s) later
														</span>
													</div>
													<div class="form-check dis-inline">
														<span class="disc-option-2 eventrostetsubmitornot"  style="font-size: 12px; font-weight: 500;" >
																<input  type="radio" class="circle" name="submitrosterlater" id="inlineRadioroster2"  value="Yes" /> Yes, I'll submit my roster(s) now
														</span>
													</div>
								
											</div>
											<div class="row">
											<div class="col-md-12">
												<span id="event_reg_roster_empty_err_msgs"  class="error"></span>
											</div>
											</div>
											<div class="table-responsive" style="overflow: hidden;">
												<table class="table" style="margin-bottom: 0px;border-collapse: separate;border-spacing: 5px;border-color: #9b9b9b;">
														<thead id="removeEventRegisterTableHeading" class ="hide">
															<tr>
																<th class='col-md-3'>Division</th>
																<th class='col-md-3'>Class</th>
																<th class='col-md-5'>Roster</th>
																<th class='col-md-1'></th>
															</tr>
														</thead>
													<tbody id="append_roster_division_class">
													</tbody>
												</table>
											</div>
										</div>
										</div>
								</div>
								<div id="nonroste_hide_show" class="hide">
								<label class="label-font-wei error">No Rosters available for this team. You may register now and add roster and submit in roster page</label>
								</div>
								<div id="nondivision_hide_show" class="hide">
									<label class="label-font-wei error">Please Contact Event Organizer for Division and Class. </label>
									</div>
								
									<!-- <div class="form-group" style="margin-top: 12px;border-bottom: dashed 1px; border-bottom-color: #9b9b9b;" >
										<label class="label-font-wei" style="display: block;margin-top: 10px;">Waiver</label>
										<label class="label-font-wei">Would you like to send waiver reminder?</label>
										<div class="form-group">
												<div class="form-check form-check-inline dis-inline" >
													<span class="disc-option-1"  style="font-size: 12px; font-weight: 500;">
															<input  type="radio" class="circle" name="waiverreminderstatus" id="inlineRadioroster31" value="Yes" /> Yes, Send to Entire team member(s)
													</span>
												</div>
												<div class="form-check dis-inline">
													<span class="disc-option-2"  style="font-size: 12px; font-weight: 500;" >
															<input  type="radio" class="circle" name="waiverreminderstatus" id="inlineRadioroster32"  value="No" /> No, Send to Submitted roster(s)
													</span>
												</div>
										</div>
								  </div> -->
								{{$freePracticeStatusStatus :=.FreePracticeStatus}}
								<div class="form-group" style="margin-bottom: 0px;margin-top: 17px;">
									<label class="label-font-wei" style="display: block;">Practices</label>
									{{if compare $freePracticeStatusStatus "true"}} 
										{{if .FreePractice}} 
											{{ range $e2 := .FreePractice}}
										<label class="label-font-wei">Your event registration includes {{$e2.quantity}} event practices free of charge.</label>
											{{end}}  
										{{end}} 
									{{end}}
									{{if .AdditionalPractice}} 
										{{ range $e2 := .AdditionalPractice}}
										{{if compare $freePracticeStatusStatus "true"}} 
										<label class="label-font-wei">Would you like to purchase any additional practices?</label>
										{{else}}
										<label class="label-font-wei">Would you like to purchase practice?</label>
										{{end}}
						
									<div class="form-group">
										<div class="form-check form-check-inline dis-inline" style="padding-right: 81px;">
											<span class="disc-option-1 eventviewregister">
													<input  type="radio" class="circle" name="additional_practice_bool" id="inlineRadio1" checked value="No" /> No
											</span>
										</div>
										<div class="form-check dis-inline">
										  <span class="disc-option-2 eventviewregister" >
													<input  type="radio" class="circle" name="additional_practice_bool" id="inlineRadio2"  value="Yes" /> Yes
											</span>
										</div>
					
									</div>
									<div class="form-group div-add-prac" id="additional_practice_quantity_hide">
										<div style="padding:10px">
											<label class="label-font-wei">How many would you like to purchase?</label>
											<select class="form-control" style="width: 77px;" id="additional_practice_quantity" name="additional_practice_quantity">
												<option value="0">0</option>
												<option value="2">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
											</select>
										</div>
									</div>
									 {{end}} 
									{{end}} 
									
									{{if .OtherPricing}}
									<label class="label-font-wei">Do you need any of the following items?</label>
									<table class="table">
										<thead>
											<tr>
												<th>Item</th>
												<th>Cost</th>
												<th>Quantity</th>
											</tr>
										</thead>
										<tbody>
											{{ range $e2 := .OtherPricing}}
											<tr>
												<td>
													{{$e2.item}} (each)
													<input type="hidden" name=iteam_id[] value="{{$e2.id}}">
												</td>
												<td>
													{{$e2.cost}}
												</td>
												<td class="col-xs-4">
													<input class="form-control event-quality-size" name=iteam_id_quantity[] value="0" id="iteam_id_quantity" type="number">
												</td>
											</tr>
											{{end}}
										</tbody>
									</table>
									{{end}}
								</div>
								
								{{if .EventQuestionary}}
								<div class="row">
									<div class="col-md-12">
										<label class="label-font-wei">Questionary</label>
										<table class="table">
											<tbody>
												{{ range $e2 := .EventQuestionary}}
												<tr>
													<td class="col-xs-12 padding_size_overwrite" style="padding:0px">
														<input type="hidden" class="form-control" placeholder="question" readonly name=event_question[] value="{{$e2.questions}}">
														<label class="label-font-wei">{{$e2.questions}}</label>
													</td>
												</tr>
												<tr>
													<td class="col-xs-12">
														<input class="form-control" placeholder="answer" name=event_question_answer[] value="">
													</td>
												</tr>
												{{end}}
											</tbody>
										</table>
									</div>
								</div>
								{{end}}

								<div class="form-group">
									<label class="label-font-wei">Send message to event organizer</label>
									<textarea class="form-control" rows="4" id="event_register_message" name="event_register_message"></textarea>
								</div>
					    </div>
							</div>
							<div class="text-align-center">
									<input type="hidden" id="SelectedDivisionArray" value="" name="selectedDivisionArray">
									<input type="hidden" id="SelectedClassArray" value="" name="selectedClassArray">
									<input type="hidden" id="SelectedRosterIdArray" value="" name="selectedRosterIdArray">

									<input type="hidden" id="OnlySelectedClassArray" value="" name="onlyselectedClassArray">
									<input type="hidden" id="OnlySelectedDivisionArray" value="" name="onlyselectedDivisionArray">
	
								<button type="button" id="register_team_event_button" class="btn btn-primary">Register</button>
							</div>
					
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="defaultteammodel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<span id="waiver_removed_err" ></span>
									<span id="waiver_removed_succ" ></span>
									<p id="defaultteammodelheading" ></p>
								</div>
							</div>
						</div>
					</div>
				 </div>
			</div>
		</div>
	</div>
	{{ template "footer.html" . }}

	<div class="modal fade" id="defaulteventmodelwithheading">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
						<div class="row">
							<div class="col-md-12">
							<h3 id="defaulteventmodelwithheadingText">Option to Upgrade</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">
										<span id="waiver_removed_err" ></span>
										<span id="waiver_removed_succ" ></span>
										<p id="defaulteventmodelwithheading_Body" ></p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
							<button type="reset" class="btn btn-primary btn-fullwidth" data-dismiss="modal" aria-label="Close">OK</button>
							</div>
						</div>
					 </div>
				</div>
			</div>
	</div>

		<div class="modal fade" id="rosternotineventregmodel">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12">
									<span id="waiver_removed_err" ></span>
									<span id="waiver_removed_succ" ></span>
									<p>No any roster associate with this team.</p>
								</div>
							</div>
		
							<div class="row">
								<div class="col-md-12">
									<button type="reset" class="btn btn-primary btn-fullwidth" data-dismiss="modal" aria-label="Close">Back</button>
								</div>
							</div>					
						</div>
					</div>
				</div>
			</div>
	
</body>

<div class="modal fade" id="editTeamRegisterModel">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content" id='newRosterModelScroll'>
				<div class="modal-body manage-team">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							<i class="ti-close"></i>
						</span>
					</button>
	
	
					<div class="row">
						<div class="col-md-12">
							<span id="reg_event_edit_msg_err_msgs" class="error-message"></span>
							<span id="reg_event_edit_msg_succ_msgs" class="success-message"></span>
							<h3 id="" style="padding-left:0px" class="col-md-9">Edit Detail</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<form id="eventregistereditForm" type="post">
									<input type="hidden" name="reg_event_id" value="" id="current_reg_event_id" >
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="">Captain Name </label>
											<input type="text" class="form-control" id="reg_event_captain_name" name ="reg_event_captain_name" aria-describedby="emailHelp" placeholder="Captain Name">
										</div>
										<div class="form-group" id ="">
											<label for="">Captain Email</label>
											<input  class="form-control" id="reg_event_captain_email" name= "reg_event_captain_email"placeholder="Captain Email" type="text">
										</div>
										<div class="form-group" id ="rooster_Practice">
											<label for="">Captain Phone</label>
											<input  class="form-control" id="reg_event_captain_phone"  name="reg_event_captain_phone" placeholder="+1 999-999-9999" type="text">
										</div>
										<div class="form-group" id="rostercomment">
												<label for="">Notes</label>
												<textarea  style="resize:none"  maxlength="150" id="reg_event_captain_note" name="reg_event_captain_note" class="form-control" rows="3" name="" placeholder="Captain Comment..." ></textarea>
										</div>
								 </div>
								</div>
								<div class="row" id="">
									<div class="col-md-12">
										<button id="save-reg-event-team-detail" type="button" tabindex="0" class="btn btn-primary btn-fullwidth changebuttonnameroster">Update</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
	
			</div>
		</div>
</div>
	
{{ template "paymentTermsCondition.html".}}
<div class="modal fade" id="paytermsallowsuccesmodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<i class="ti-close"></i>
					</span>
				</button>
				<div class="row">
					<div class="col-md-12">
						<h3 id="paytermsallowsuccesmodalText">Payment Set Up Instructions Sent Via Email</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<span id="waiver_removed_err"></span>
								<span id="waiver_removed_succ"></span>
								<p id="paytermsallowsuccesmodal_Body">

								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="reset" class="btn btn-fullwidth payallowOkbtn" data-dismiss="modal" aria-label="Close">OK</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
<div class="modal fade" id="paydenymodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
                    <div class="row">
                        <div class="col-md-12">
                        <h3 id="paydenymodalText">Connect To Stripe</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <span id="waiver_removed_err" ></span>
                                    <span id="waiver_removed_succ" ></span>
                                    <p id="paydenymodal_Body" >
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-12">

                                    <div class="col-md-6 ">
                                        <button type="reset" class="btn btn-secondary btn-fullwidth" data-dismiss="modal" aria-label="Close">Connect Later</button>
                                    </div>
                                    <div class="col-md-6 ">
                                        <button type="submit"  class="btn btn-secondary btn-fullwidth requesttoconnectaccount" style="background: #bf5523;">Connect Now</button>

                                    </div>
                                
                                </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
	<form id="team_signed_waiver_upload" method="POST">
			<div class="modal fade" id="uploadSignedWaiverFilesModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
								<h3>Upload Signed waiver</h3>
								<div class="row">
									<div class="col-lg-12">
										<span id="waiver_err_msg_upload" ></span>
										<span id="waiver_succ_msg_upload" ></span>
									</div>
									
										
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label>Emergency Contact Name:</label>
													<!-- <input type="text" name="contact_name" id="contact_name" class="form-control" style="width:100%" placeholder="Contact name" value="((waiverDetails.contact_name))" ((waiverDetails.disabled_all))> -->
													<input type="text" name="contact_name" id="contact_name" class="form-control" style="width:100%" placeholder="Contact name" value="{{ .TeamWaiver.contact_name }}" {{ if .Signed }} disabled {{ end }}>
												</div>
											</div>
										</div>
	
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label>Emergency Contact Telephone:</label>
													<span id="contact_number_err" class="error-message hide"></span>
													<!-- <input type="text" name="contact_number" id="contact_number" class="form-control" style="width:100%" placeholder="Contact telephone number"  value="((waiverDetails.contact_number))" ((waiverDetails.disabled_all))> -->
													<input type="text" name="contact_number" id="contact_number" class="form-control" style="width:100%" placeholder="Contact telephone number"  value="{{ .TeamWaiver.contact_number }}" {{ if .Signed }} disabled {{ end }}>
												</div>
											</div>
										</div>
										<div class="medical-condition-box" id="medical-condition-box" >
												<div class="row">
													<div class="col-md-12">
														<label>Please provide us with the details of your medical condition:</label>
														<!-- <textarea class="form-control" name="medical_condition_desc" id="medical_condition_desc" rows="3" value="((waiverDetails.medical_condition_desc))" ((waiverDetails.disabled_all))></textarea> -->
														<textarea class="form-control" name="medical_condition_desc" id="medical_condition_desc" rows="3" value="" {{ if .Signed }} disabled {{ end }}>{{ .TeamWaiver.medical_condition_desc }}</textarea>
														<input  class="form-control"  type="hidden" id="waiver_id_for_upload" name="waiver_id_upload" value="">
														<input  class="form-control"  type="hidden"   id="waiver_member_id_for_upload" name="waiver_member_id_upload" value="">
														<input  class="form-control"  type="hidden" id="waiver_team_id_for_upload" name="team_id_upload" value="">
														<input  class="form-control"  type="hidden"   id="waiver_event_id_for_upload" name="event_id_upload" value="">
														<input  class="form-control"  type="hidden"   id="waiver_event_reg_id_for_upload" name="event_reg_id_upload" value="">

													</div>
												</div>
											</div>
	
									<div class="col-lg-12">
										
										<p class="image-size">Upload a file of maximum 10MB </p>
									</div>
									<div class="col-lg-8">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
												<span class="sr-only"></span>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="fileupload fileupload-new" data-provides="fileupload">
											<!-- <span class="btn btn-phantom-green btn-file">
												<span class="fileupload-new">Select</span>
												<input id="waiverUpload" type="file"/>
											</span> -->
											<div>
												<label for="waiverIndividualUpload" class="btn btn-phantom-green btn-file fileupload-new"> Select </label>
												<input id="waiverIndividualUpload" style="visibility:hidden;" name="file" type="file" />
											</div>    
										</div>
			
									</div>
									<div>
										<p style="font-size: 13px;">Please note that once you upload your waiver, you will not be able to make changes. If you require assistance, please contact <a href="mailto:dragonboat@gogushou.com">dragonboat@gogushou.com</a>.</p>
									</div>
									<div class="col-lg-12">
										<input id="saveSignedWaiver" type="submit" class="btn btn-primary btn-fullwidth" value="Upload waiver" type="button">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				</form>
</html>


