<!DOCTYPE html>
<html>
<head>
	<title>Events | Gushou</title>
	{{ template "linksScripts.html" . }}
</head>
<body>
	
	{{ if .IsLoggedIn }}
	{{ template "headerAfterLogin.html" . }}
	{{ else }}
	{{ template "headerBeforeLogin.html" . }}
	{{ end }}

	<div id="wrapper">
		<div class="page-header event-page-header">
			<div class="container">
				<section class="header-title">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1 class="inverted">Events</h1>
							<h5>Search for an event,
							{{ if .IsLoggedIn }}
							or <a href="/create-event" class="btn btn-phantom-orange">create a new one</a> 
							{{ else }}
							 or <a href="/register" class="btn btn-phantom-orange">create a new one</a> 
							{{ end }}
							</h5>
						</div>
					</div>
				</section>
			</div>
		</div>

		<div class="container">
			<section class="advanced-search">
				<form id="event_adv_search" method="POST">
				<div class="row">
					<div class="col-md-12">
						<div class="search-listing">
							<div class="input-group">
								<span class="input-group-addon"><i class="ti-search"></i></span>
								<input type="text" class="form-control" id="event_name" name="event_name" value="{{.FormItems.EventName}}" placeholder="Search all events">
							</div>
							<button type="submit" id="find_events" class="btn btn-primary">Search</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<a class="advanced-search-toggle">Advanced Search <i class="ti-angle-down"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="advanced-search-options" style="{{ if .AdvSearch | not }}display: none;{{ end }}">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group" id="edit-eventcity">
											<label>Show me events in</label>
											<!-- ((> inputAutocomplete settings=city1 id="city" class="form-control input-xlarge" placeholder="City")) -->
											<input placeholder="City" class="form-control input-xlarge" id="city" name="city" value="{{.FormItems.City}}" type="text">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Show me events for</label>
											<select id="classes" class="select-custom form-control" name="classes">
												<!-- <option value="">Any Class</option>
												<option value="all">All Classes</option>
												((each classesNames))
												<option value="((value))">((label))</option>
												((/each)) -->
												<option {{ if compare .FormItems.Classes "any" }} selected {{ end }} value="any">Any Class</option>
												<option {{ if compare .FormItems.Classes "all" }} selected {{ end }} value="all">All Classes</option>												
												<option {{ if compare .FormItems.Classes "M" }} selected {{ end }} value="M">Men</option>												
												<option {{ if compare .FormItems.Classes "W" }} selected {{ end }} value="W">Women</option>												
												<option {{ if compare .FormItems.Classes "MX" }} selected {{ end }} value="MX">Mixed</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<span id="start_date_err" class="error-message hide"></span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Events between</label>
											<div class="input-group">
												<input type="text" class="form-control" id="date_from" value="{{.FormItems.From}}" name="date_from" placeholder="mm/dd/yyyy">

												<span class="input-group-addon" id="datepicker-start-icon"><i class="ti-calendar"></i></span>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<label>And</label>
										<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control" id="date_to" value="{{.FormItems.To}}" name="date_to" placeholder="mm/dd/yyyy">

												<span class="input-group-addon" id="datepicker-end-icon"><i class="ti-calendar"></i></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-12">
										<div class="md-checkbox all-divisions">
											<input value="1" id="divisions" name="check" class="md-check" type="checkbox">
											<label for="divisions"  class="label-bold">
												<span class="check"></span>
												<span class="box"></span>
												All divisions
											</label>
										</div>
									</div>
								</div>
								<div class="row">
									<ul class="advanced-search-division-rows">
										<!-- ((each divisionOption))
										<li class="md-checkbox all-divisions">
											<input id="((value))" name="check[]" value="((value))" class="md-check" type="checkbox">
											<label for="((value))">
												<span class="check"></span>
												<span class="box"></span>
												((div_name))
											</label>
										</li>
										((/each)) -->
										{{ if .FormItems.Divisions }}
										{{ $Divisions := .FormItems.Divisions }}
										{{ range $index, $element := .AllDivs }}
										<li class="md-checkbox all-divisions">
											<!-- <input id="((value))" name="divisions[]" value="((value))" class="md-check" type="checkbox"> -->
											<!-- <label for="((value))"> -->
											<input id="{{ $element.value }}" name="check[]" value="{{ $element.value }}" class="md-check" type="checkbox"
											{{ if in_array  $element.value $Divisions }} checked {{ end }}>
											<label for="{{ $element.value }}">
												<span class="check"></span>
												<span class="box"></span>
												{{ $element.div_name }}
											</label>
										</li>
										{{ end }}

										{{ else }}

										{{ range $index, $element := .AllDivs }}
										<li class="md-checkbox all-divisions">
											<!-- <input id="((value))" name="divisions[]" value="((value))" class="md-check" type="checkbox"> -->
											<!-- <label for="((value))"> -->
											<input id="{{ $element.value }}" name="check[]" value="{{ $element.value }}" class="md-check" type="checkbox"
											>
											<label for="{{ $element.value }}">
												<span class="check"></span>
												<span class="box"></span>
												{{ $element.div_name }}
											</label>
										</li>
										{{ end }}

										{{ end }}

									</ul>
								</div>
							</div>

							<input id="upcoming_limit" name="upcoming_limit" value="{{ if .NewUpcomingLimit }}{{.NewUpcomingLimit}}{{ else }}10{{ end }}" type="hidden">
							<input id="upcoming_offset" name="upcoming_offset" value="{{ if .NewUpcomingOffset }}{{.NewUpcomingOffset}}{{ else }}0{{ end }}" type="hidden">
							<input id="upcoming_type" name="upcoming_type" value="{{ .UpcomingType }}" type="hidden">
							<input id="upcoming_total" name="upcoming_total" value="{{.TotalUpcomingEvents}}" type="hidden">

							<input id="recent_limit" name="recent_limit" value="{{ if .NewRecentLimit }}{{.NewRecentLimit}}{{ else }}10{{ end }}" type="hidden">
							<input id="recent_offset" name="recent_offset" value="{{ if .NewRecentOffset }}{{.NewRecentOffset}}{{ else }}0{{ end }}" type="hidden">
							<input id="recent_type" name="recent_type" value="{{ .RecentType }}" type="hidden">
							<input id="recent_total" name="recent_total" value="{{.TotalRecentEvents}}" type="hidden">

							<input id="past_limit" name="past_limit" value="{{ if .NewPastLimit }}{{.NewPastLimit}}{{ else }}10{{ end }}" type="hidden">
							<input id="past_offset" name="past_offset" value="{{ if .NewPastOffset }}{{.NewPastOffset}}{{ else }}0{{ end }}" type="hidden">
							<input id="past_type" name="past_type" value="{{ .PastType }}" type="hidden">
							<input id="past_total" name="past_total" value="{{.TotalPastEvents}}" type="hidden">


							<input id="section" name="section" value="{{ .Section }}" type="hidden">

						</form>
					</div>
				</div>
			</form>
			</section>
			
			<section class="listing-status">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="btn-group" role="group">
							<!-- <button type="button" id="archive" class="btn btn-phantom-green">Past [((archiveEventsCount))]</button>
							<button type="button" id="recent" class="btn btn-phantom-green">Recent [((recentEventsCount))]</button>
							<button type="button" id="upcoming" class="btn btn-phantom-green active">Upcoming [((upcomingEventsCount))]</button> -->
							<button type="button" id="archive" class="btn btn-phantom-green {{ if compare .Section "Past" }} active {{ end }}">Past [{{ .NumPastEvents }}]</button>
							<button type="button" id="recent" class="btn btn-phantom-green {{ if compare .Section "Recent" }} active {{ end }}">Recent [{{ .NumRecentEvents }}]</button>
							<button type="button" id="upcoming" class="btn btn-phantom-green {{ if compare .Section "Upcoming" }} active {{ end }}">Upcoming [{{ .NumUpcomingEvents }}]</button>
						</div>
					</div>
				</div>
			</section>

			<section>
				<!-- ((if Template.subscriptionsReady)) -->
				{{ if .EventList }}
					{{ $superAdmin := .SuperAdmin }}

					<div id="upcoming_table" class="{{ if compare .Section "Upcoming" | not }} hide {{ end }}">
					{{ if .UpcomingEvents}}
					<table class="table listing-list responsive-table event-listing-responsive listing-margin-border reactive-table table-small" id="upcoming_view_table">
						<thead>
							<tr>
								<th fieldid="0" class="">
								</th>
								<th fieldid="1" class="col-md-1">
								</th>
								<th fieldid="2" class="col-md-3">NAME</th>
								<th fieldid="3" class="col-md-2">DATE</th>
								<th fieldid="4" class="col-md-3">LOCATION</th>
								<th fieldid="5" class="col-md-3">DIVISION</th>
								<th fieldid="6" class="">
								</th>
							</tr>
						</thead>
						<tbody>
							{{ range $event := .UpcomingEvents }}
							<tr class="">
								<td class="">
								</td>
								<td class="">
									<a href="/event-view/{{ $event.slug }}"><img src="../static/images/Default-Event-Images.png" class="img-circle"></a>
								</td>
								<td class="_id">
									<a href="/event-view/{{ $event.slug }}" class="listing-title">{{ $event.event_name }}</a>
									{{ if compare $event.recruit "true" }}
									{{$isFutureEvent := isFeatureEvent $event.start_date}}
										{{if $isFutureEvent}}
										<p><span class="label-orange">WE'RE RECRUITING</span></p>
										{{ end }}
									{{ end }}
									{{ if $superAdmin }}
									<button id="delete_event" type="button" class="listing-delete" value="{{$event.id}}">Delete Event</button>
									{{ end }}
								</td>
								<td class="date">
									{{ if $event.end_date_1 }}
									{{ $event.start_date_1 }} - {{ $event.end_date_1 }}
									{{ else }}
									{{ $event.start_date_2 }} 
									{{ end }}
								</td>
								<td class="location">{{ $event.location }}, {{ $event.country }}</td>
								<td class="category">
									<ul class="list-classes">
										{{ $Divisions := $event.id | GetEventDivision }}
										{{ range $index, $div := $Divisions}}
										<li>
											<span class="list-class">{{ $div }}<div class="class-tooltip">{{ $div | GetFullDivName }}</div>
											</span>
										</li>
										{{ end }}
										<!-- <li>
											<span class="list-class">Cp<div class="class-tooltip">Corporate</div>
											</span>
										</li>
										<li>
											<span class="list-class">Sp<div class="class-tooltip">Sport</div>
											</span>
										</li> -->
									</ul>
								</td>
								<td class="">
								</td>
							</tr>
							{{  end }}
						</tbody>
					</table>
					<section class="listing-pagination">
						<div class="row">
							<div class="col-md-6">
								<select id="rows_per_page_upcoming" name="" class="form-control">
									<option value=10>10 rows per page</option>
									<option {{ if compare .NewUpcomingLimit "20"}} selected {{ end }} value=20>20 rows per page</option>
									<option {{ if compare .NewUpcomingLimit "30"}} selected {{ end }} value=30>30 rows per page</option>
								</select>
							</div>
							<div class="col-md-6">
								<nav>
									<ul class="pagination">
										{{ if compare (len .FivePagesUpcoming) 1 | not }}
										<!-- (({teamsNav))} -->
										<!-- Put pagination here -->
										<li><a aria-label="First" class="first-upcoming-page"><span aria-hidden="true">&laquo;</span></a></li>
										<li><a aria-label="Previous" class="prev-upcoming-page"><span aria-hidden="true">&lsaquo;</span></a></li> 

										{{ $currentPage := .CurrPageUpcoming }}
										{{ range $index, $pg := .FivePagesUpcoming }}

										<li class="{{ if compare $currentPage $index }} active {{ end }}"><a id="{{ $pg }}" class="page_num_upcoming">{{ $index }}</a></li>

										{{ end }}

										{{ if .FivePagesUpcoming }}
										{{ if compare (len .FivePagesUpcoming) 1 | not }}
										<li><a aria-label="Next" class="next-upcoming-page"><span aria-hidden="true">&rsaquo;</span></a></li>
										{{ end }}
										{{ end }}

										<li><a aria-label="Last" class="last-upcoming-page"><span aria-hidden="true">&raquo;</span></a></li>

										{{ end }}
									</ul>
								</nav>
							</div>
						</div>
					</section>

					{{ else }}
					<table class="table listing-list responsive-table event-listing-table table-not-found table-not-found-list table-small">
							<thead>
								<tr>
									<th class="col-md-1"></th>
									<th class="col-md-1"></th>
									<th class="col-md-3">NAME</th>
									<th class="col-md-2">DATE</th>
									<th class="col-md-3">LOCATION</th>
									<th class="col-md-3">DIVISION</th>
									<th class="col-md-6"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
									<td colspan="4">No event found</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					{{ end }}
				</div>
					<div id="past_table" class="{{ if compare .Section "Past" | not }} hide {{ end }}">
					{{ if .PastEvents}}
					<table class="table listing-list responsive-table event-listing-responsive listing-margin-border reactive-table table-small" id="past_view_table">
						<thead>
							<tr>
								<th fieldid="0" class="">
								</th>
								<th fieldid="1" class="col-md-1">
								</th>
								<th fieldid="2" class="col-md-3">NAME</th>
								<th fieldid="3" class="col-md-2">DATE</th>
								<th fieldid="4" class="col-md-3">LOCATION</th>
								<th fieldid="5" class="col-md-3">DIVISION</th>
								<th fieldid="6" class="">
								</th>
							</tr>
						</thead>
						<tbody>
							{{ range $event := .PastEvents }}
							<tr class="">
								<td class="">
								</td>
								<td class="">
									<img src="../static/images/Default-Event-Images.png" class="img-circle">
								</td>
								<td class="_id">
									<a href="/event-view/{{ $event.slug }}" class="listing-title">{{ $event.event_name }}</a>
									{{ if compare $event.recruit "true" }}
									{{$isFutureEvent := isFeatureEvent $event.start_date}}
										{{if $isFutureEvent}}
									<p><span class="label-orange">WE'RE RECRUITING</span></p>
									  {{end}}
									{{ end }}
									{{ if $superAdmin }}
									<button id="delete_event" type="button" class="listing-delete" value="{{$event.id}}">Delete Event</button>
									{{ end }}
								</td>
								<td class="date">
									{{ if $event.end_date_1 }}
									{{ $event.start_date_1 }} - {{ $event.end_date_1 }}
									{{ else }}
									{{ $event.start_date_2 }} 
									{{ end }}
								</td>
								<td class="location">{{ $event.location }}, {{ $event.country }}</td>
								<td class="category">
									<ul class="list-classes">
										
										{{ $Divisions := $event.id | GetEventDivision }}
										{{ range $index, $div := $Divisions}}
										<li>
											<span class="list-class">{{ $div }}<div class="class-tooltip">{{ $div | GetFullDivName }}</div>
											</span>
										</li>
										{{ end }}
								
									</ul>
								</td>
								<td class="">
								</td>
							</tr>
							{{  end }}
						</tbody>
					</table>

					<section class="listing-pagination">
						<div class="row">
							<div class="col-md-6">
								<select id="rows_per_page_past" name="" class="form-control">
									<option value=10>10 rows per page</option>
									<option {{ if compare .NewPastLimit "20"}} selected {{ end }} value=20>20 rows per page</option>
									<option {{ if compare .NewPastLimit "30"}} selected {{ end }} value=30>30 rows per page</option>
								</select>
							</div>
							<div class="col-md-6">
								<nav>
									<ul class="pagination">
										{{ if compare (len .FivePagesPast) 1 | not }}
										<!-- (({teamsNav))} -->
										<!-- Put pagination here -->
										<li><a aria-label="First" class="first-past-page"><span aria-hidden="true">&laquo;</span></a></li>
										<li><a aria-label="Previous" class="prev-past-page"><span aria-hidden="true">&lsaquo;</span></a></li> 

										{{ $currentPastPage := .CurrPagePast }}
										{{ range $index, $pg := .FivePagesPast }}

										<li class="{{ if compare $currentPastPage $index }} active {{ end }}"><a id="{{ $pg }}" class="page_num_past">{{ $index }}</a></li>

										{{ end }}

										{{ if .FivePagesPast }}
										{{ if compare (len .FivePagesPast) 1 | not }}
										<li><a aria-label="Next" class="next-past-page"><span aria-hidden="true">&rsaquo;</span></a></li>
										{{ end }}
										{{ end }}

										<li><a aria-label="Last" class="last-past-page"><span aria-hidden="true">&raquo;</span></a></li>

										{{ end }}
									</ul>
								</nav>
							</div>
						</div>
					</section>

					{{ else }}
						<table class="table listing-list responsive-table event-listing-table table-not-found table-not-found-list table-small">
							<thead>
								<tr>
									<th class="col-md-1"></th>
									<th class="col-md-1"></th>
									<th class="col-md-3">NAME</th>
									<th class="col-md-2">DATE</th>
									<th class="col-md-3">LOCATION</th>
									<th class="col-md-3">DIVISION</th>
									<th class="col-md-6"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
									<td colspan="4">No event found</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					{{ end }}
				</div>

					<div id="recent_table" class="{{ if compare .Section "Recent" | not }} hide {{ end }}">
					{{ if .RecentEvents}}
					<table class="table listing-list responsive-table event-listing-responsive listing-margin-border reactive-table table-small" id="recent_view_table">
						<thead>
							<tr>
								<th fieldid="0" class="">
								</th>
								<th fieldid="1" class="col-md-1">
								</th>
								<th fieldid="2" class="col-md-3">NAME</th>
								<th fieldid="3" class="col-md-2">DATE</th>
								<th fieldid="4" class="col-md-3">LOCATION</th>
								<th fieldid="5" class="col-md-3">DIVISION</th>
								<th fieldid="6" class="">
								</th>
							</tr>
						</thead>
						<tbody>
							{{ range $event := .RecentEvents }}
							<tr class="">
								<td class="">
								</td>
								<td class="">
									<img src="../static/images/Default-Event-Images.png" class="img-circle">
								</td>
								<td class="_id">
									<a href="/event-view/{{ $event.slug }}" class="listing-title">{{ $event.event_name }}</a>
									{{ if compare $event.recruit "true" }}
									{{$isFutureEvent := isFeatureEvent $event.start_date}}
										{{if $isFutureEvent}}
									<p><span class="label-orange">WE'RE RECRUITING</span></p>
									  {{end}}
									{{ end }}
									{{ if $superAdmin }}
									<button id="delete_event" type="button" class="listing-delete" value="{{$event.id}}">Delete Event</button>
									{{ end }}
								</td>
								<td class="date">
									{{ if $event.end_date_1 }}
									{{ $event.start_date_1 }} - {{ $event.end_date_1 }}
									{{ else }}
									{{ $event.start_date_2 }} 
									{{ end }}
								</td>
								<td class="location">{{ $event.location }}, {{ $event.country }}</td>
								<td class="category">
									<ul class="list-classes">
										{{ $Divisions := $event.id | GetEventDivision }}
										{{ range $index, $div := $Divisions}}
										<li>
											<span class="list-class">{{ $div }}<div class="class-tooltip">{{ $div | GetFullDivName }}</div>
											</span>
										</li>
										{{ end }}
							
									</ul>
								</td>
								<td class="">
								</td>
							</tr>
							{{  end }}
						</tbody>
					</table>

					<section class="listing-pagination">
						<div class="row">
							<div class="col-md-6">
								<select id="rows_per_page_recent" name="" class="form-control">
									<option value=10>10 rows per page</option>
									<option {{ if compare .NewRecentLimit "20"}} selected {{ end }} value=20>20 rows per page</option>
									<option {{ if compare .NewRecentLimit "30"}} selected {{ end }} value=30>30 rows per page</option>
								</select>
							</div>
							<div class="col-md-6">
								<nav>
									<ul class="pagination">
										{{ if compare (len .FivePagesRecent) 1 | not }}
										<!-- (({teamsNav))} -->
										<!-- Put pagination here -->
										<li><a aria-label="First" class="first-recent-page"><span aria-hidden="true">&laquo;</span></a></li>
										<li><a aria-label="Previous" class="prev-recent-page"><span aria-hidden="true">&lsaquo;</span></a></li> 

										{{ $currentPageRecent := .CurrPageRecent }}
										{{ range $index, $pg := .FivePagesRecent }}

										<li class="{{ if compare $currentPageRecent $index }} active {{ end }}"><a id="{{ $pg }}" class="page_num_recent">{{ $index }}</a></li>

										{{ end }}

										{{ if .FivePagesRecent }}
										{{ if compare (len .FivePagesRecent) 1 | not }}
										<li><a aria-label="Next" class="next-recent-page"><span aria-hidden="true">&rsaquo;</span></a></li>
										{{ end }}
										{{ end }}

										<li><a aria-label="Last" class="last-recent-page"><span aria-hidden="true">&raquo;</span></a></li>

										{{ end }}
									</ul>
								</nav>
							</div>
						</div>
					</section>

					{{ else }}
						<table class="table listing-list responsive-table event-listing-table table-not-found table-not-found-list table-small">
							<thead>
								<tr>
									<th class="col-md-1"></th>
									<th class="col-md-1"></th>
									<th class="col-md-3">NAME</th>
									<th class="col-md-2">DATE</th>
									<th class="col-md-3">LOCATION</th>
									<th class="col-md-3">DIVISION</th>
									<th class="col-md-6"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
									<td colspan="4">No event found</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					{{ end }}
				</div>

				{{ else }}
						<table class="table listing-list responsive-table event-listing-table table-not-found table-not-found-list table-small">
							<thead>
								<tr>
									<th class="col-md-1"></th>
									<th class="col-md-1"></th>
									<th class="col-md-3">NAME</th>
									<th class="col-md-2">DATE</th>
									<th class="col-md-3">LOCATION</th>
									<th class="col-md-3">DIVISION</th>
									<th class="col-md-6"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
									<td colspan="4">No event found</td>
									<td></td>
								</tr>
							</tbody>
						</table>
				{{ end }}
				<!-- ((else)) -->
				{{ if .loading }}
					<table class="table listing-list responsive-table event-listing-table table-not-found table-not-found-list table-small">
						<thead>
							<tr>
								<th class="col-md-1"></th>
								<th class="col-md-1"></th>
								<th class="col-md-3">NAME</th>
								<th class="col-md-2">DATE</th>
								<th class="col-md-3">LOCATION</th>
								<th class="col-md-3">DIVISION</th>
								<th class="col-md-6"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td colspan="4">Loading....</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				{{ end }}
			</section>

			<section class="listing-pagination hide">
				<div class="row">
					<div class="col-md-6">
						<select id="rows_per_page" name="" class="form-control">
							<option value=10>10 rows per page</option>
							<option value=20>20 rows per page</option>
							<option value=30>30 rows per page</option>
						</select>
					</div>
					<div class="col-md-6">
						<nav>
							<ul class="pagination">
							<!-- Here your pagination code will show up -->
								<li><a aria-label="First"><span aria-hidden="true">&laquo;</span></a></li>
								<li><a aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a></li> 
								<li class="active"><a id="0" class="page_num" href="">1</a></li>
								<li><a aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a></li>
								<li><a aria-label="Last"><span aria-hidden="true">&raquo;</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</section>

			<div class="modal fade" id="deleteEventModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
							<h3>Delete Event</h3>
							<p>Are you sure you want to delete this Event?</p>
							<p>Once deleted, event will be closed for team registering.</p>

						</div>
						<div class="modal-footer">
							<div class="row">
								<div class="col-md-6">
									<button id="deleteBtn" type="submit" class="btn btn-primary btn-fullwidth">Delete</button>
								</div>
								<div class="col-md-6">
									<button type="reset" class="btn btn-secondary btn-fullwidth" data-dismiss="modal" aria-label="Close">Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ template "footer.html" . }}
	
</body>
</html>