{{ $isLoggedIn := .IsLoggedIn }} {{ $superAdmin := .SuperAdmin }}

<div class="team-members-section tab-content dashboard-content " style="display: block;margin-bottom: 0px;">
    <section class="row dashboard-members">
        <div class="col-md-12">
            <div class="content-padding">
                <div class="active-members">
                    <div id="eventpaymentbody" class="row">
                        <div class="col-md-12">
                            <div class="dasboard-team-table-container" style="border: none">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="search-members padding-10">
                                            <div class="input-group search-members-override">
                                                <span class="input-group-addon">
                                                    <i class="ti-search"></i>
                                                </span>
                                                <input type="text" id="searchByTeamCaptainName" class="form-control" placeholder="Search by team name & captain name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="dashboard-schedule-nav no-margin text-right active-member-option message-team padding-10">
                                            <a href="" id="emailTeam" class="btn btn-thin btn-phantom-green" value="">
                                                <span class="glyphicon glyphicon-envelope"></span>
                                                <span>Email</span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="dashboard-schedule-nav no-margin text-right active-member-option padding-10">
                                            <a href="" id="sendInvite" class="btn btn-thin btn-phantom-green">
                                                <span class="ti-export"></span>
                                                <span>Export to CSV</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="dasboard-team-table-container" style="border: none">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div id="show_teamsmember_rosterracing" class="rosterracingteams">
                                                            <div class="md-checkbox" style="padding: 20px;">

                                                                <input id="select_all_members" class="md-check" type="checkbox">
                                                                <label for="select_all_members" class="marginZero">
                                                                    <span class="check"></span>
                                                                    <span class="box" style="margin: 20px;"></span>
                                                                </label>
                                                                <a>Senior</a>
                                                            </div>
                                                            <div id="table_team_member_rosterracing" class="table-responsive rosterracingTableData" style="display: none">
                                                                <table id="event_team_members_payment" class="table rosterracing-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="col-md-1 col-sm-2 col-xs-2"></th>
                                                                            <th class="col-md-2 col-sm-4 col-xs-4">TEAM NAME</th>
                                                                            <th class="col-md-2 col-sm-5 col-xs-5">ROSTER NAME</th>
                                                                            <th class="col-md-2 col-sm-3 col-xs-3">CAPTAIN NAME</th>
                                                                            <th class="col-md-2 col-sm-2 col-xs-2">CAPTAIN EMAIL</th>
                                                                            <th class="col-md-2 col-sm-2 col-xs-2">NO. OF PARTICIPANTS</th>
                                                                            <th class="col-md-1 col-sm-2 col-xs-2"></th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="eventteamregisterdetail">
                                                                        <tr>
                                                                            <td></td>
                                                                            <td>
                                                                                <div class="rosterracing-table-th">TEAM NAME</div>
                                                                                <div>
                                                                                    <a>Canada</a>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="rosterracing-table-th">ROSTER NAME</div>
                                                                                <div>
                                                                                    <a>Roster Canada</a>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="rosterracing-table-th">CAPTAIN NAME</div>
                                                                                <div>
                                                                                    <a>Captain Canada</a>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="rosterracing-table-th">CAPTAIN EMAIL</div>
                                                                                <div>
                                                                                    <a>Captain@canada.com</a>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="rosterracing-table-th">NO. OF PARTICIPANT</div>
                                                                                <div style="text-align: center">
                                                                                    <a>22</a>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <i id="getRosterListByTeam" class="ti-angle-down" style="font-weight: 600 !important;font-size: 17px;padding-left: 10px"></i>

                                                                            </td>
                                                                        </tr>
                                                                    </tbody>


                                                                </table>
                                                            </div>
                                                            <div id="table_rosterracing_for_Team" class="table-responsive rosterracingIndividualTeamList" style="display: none">
                                                                <table id="event_team_members_payment" class="table rosterracing-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="col-md-1 col-sm-2 col-xs-2"></th>
                                                                            <th class="col-md-2 col-sm-4 col-xs-4">MEMBER</th>
                                                                            <th class="col-md-2 col-sm-5 col-xs-5">ROLE</th>
                                                                            <th class="col-md-2 col-sm-3 col-xs-3">GENDER</th>
                                                                            <th class="col-md-2 col-sm-2 col-xs-2">AGE</th>
                                                                            <th class="col-md-2 col-sm-2 col-xs-2">WAVIER STATUS</th>
                                                                            <th class="col-md-2 col-sm-2 col-xs-2">VALIDATION</th>
                                                                            <th class="col-md-1 col-sm-2 col-xs-2"></th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="eventteamregisterdetail">
                                                                        <tr>
                                                                            <td></td>
                                                                            <td>
                                                                                <div class="rosterracing-table-th">MEMBER</div>
                                                                             <div class="dasboard-team-member-image" style="margin-right: 5px"></div>
                                                                                
                                                                                <div class="dasboard-team-member-content">
                                                                                  <div class="team-member-name" style="width: 120px;word-wrap: break-word;">
                                                                                    myteam 
                                                                                   
                                                                                  </div>
                                                                                </div>

                                                                            </td>
                                                                            <td>
                                                                                <div class="rosterracing-table-th">ROLE</div>
                                                                                <div>
                                                                                    <a>role1</a>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="rosterracing-table-th">GENDER</div>
                                                                                <div>
                                                                                    <a>Female</a>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="rosterracing-table-th">AGE</div>
                                                                                <div>
                                                                                    <a>22</a>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="rosterracing-table-th">WAVIER STATUS</div>
                                                                                <div>
                                                                                    <a>Captain@canada.com</a>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="rosterracing-table-th">VALIDATION</div>
                                                                                <div style="text-align: center">
                                                                                    <a>22</a>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <i id="getRosterListByTeam" class="ti-angle-down" style="font-weight: 600 !important;font-size: 17px;padding-left: 10px"></i>

                                                                            </td>
                                                                        </tr>
                                                                    </tbody>


                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
    </section>
    </div>