 {{ $isLoggedIn := .IsLoggedIn }} {{ $superAdmin := .SuperAdmin }} {{ $eventOrgIds := .EventOrgIds }} {{ $eventViewSlug := .EventView.event_0.slug}}
  {{ $eventOranizerStatus := .EventOranizerStatus}} {{$stripeConnectedStatus := .StripeConnectedStatus}}
     {{$eventView := .EventView}} {{$currencySymbol := .CurrencySymbol}}
{{$totalFeechangeamount := .TotalFeechangeamount}}
  <div class="team-members-section tab-content dashboard-content " style="display: block;margin-bottom: 0px;">
    <section class="row dashboard-members">
        <div class="col-md-12">
            <div class="content-padding">
                <div class="active-members">
                    <div id="eventpaymentbody" class="row">
                        <div class="col-md-12">
                            <div class="dasboard-team-table-container">
                                <div class="row">
                                <div class="col-md-12">
                                    <p class="payheadertitle">Payment</p>
                                    <p hidden class="getCurrency">{{$eventView.event_0.currency}}</p>

                                </div>
                                </div>

                                <div class="row">
                                    {{ range $ec := .EventOverallCalculation}}
                                    <div class="col-md-12" style="height: 100px;">
                                        <div class="col-md-2 col-sm-4 col-xs-5 event_totalviewbox_shadow" style="background: #2E4E70">
                                            <div class="paydashboardstyle" style="background: #1F3E60">
                                            <p class="paydashtitle">Total</p>
                                            {{if $ec.eventOverallCalculation.overall_event_total}}
                                            <p class="paydashcontent">{{$currencySymbol}} {{$ec.eventOverallCalculation.overall_event_total}}</p>  
                                            {{else}}
                                            <p class="paydashcontent">-</p>  
                                            {{end}}
                                            </div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-5 event_totalviewbox_shadow" style="background: #836230">
                                            <div class="paydashboardstyle" style="background: #765625">
                                            <p class="paydashtitle">Paid</p>
                                            {{if $ec.eventOverallCalculation.overall_event_paid}}
                                            <p class="paydashcontent">{{$currencySymbol}} {{$ec.eventOverallCalculation.overall_event_paid}}</p>  
                                            {{else}}
                                            <p class="paydashcontent">-</p> 
                                            {{end}}
                                            </div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-5 event_totalviewbox_shadow" style="background: #297560">
                                            <div class="paydashboardstyle" style="background: #13614b">
                                            <p class="paydashtitle">Net</p>
                                            {{if $ec.eventOverallCalculation.overall_owed}}
                                            <p class="paydashcontent">{{$currencySymbol}} {{$ec.eventOverallCalculation.overall_eventreceive}}</p>  
                                            {{else}}
                                            <p class="paydashcontent">-</p> 
                                            {{end}}
                                            </div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-5 event_totalviewbox_shadow" style="background: #5A5A5A">
                                            <div class="paydashboardstyle" style="background: #464646">
                                            <p class="paydashtitle">Balance</p>
                                            {{if $ec.eventOverallCalculation.overall_owed}}
                                            <p class="paydashcontent">{{$currencySymbol}} {{$ec.eventOverallCalculation.overall_owed}}</p>  
                                            {{else}}
                                            <p class="paydashcontent">-</p> 
                                            {{end}}
                                            </div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-5 event_totalviewbox_shadow" style="background: #98583c">
                                            <div class="paydashboardstyle" style="background: #BD552C">
                                            <p class="paydashtitle">Fee Change </p>
                                            {{if $ec.eventOverallCalculation.overall_owed}}
                                            <p class="paydashcontent">{{$currencySymbol}} {{$totalFeechangeamount}}</p>  
                                            {{else}}
                                            <p class="paydashcontent">-</p> 
                                            {{end}}
                                            </div>
                                            </div>
                                      
                                        
                                
                                        </div>
                                        {{end}}
                                    </div>
                 
                                <div class="row" style="margin-top: 30px">
                                        <div class="col-md-12 event_buttons_text_align" >
                                            <input type="hidden" id="getEventRegIds" value="">

                                            <a href="" id="emailTeamAboutPayment" style="color: #fff" class="btn btn-thin paybutton commonbtnmargin1" value="">
                                            <img src="/static/images/email_icon.png" class="img_payemail">
                                            <span>Payment Reminder</span>
                                            </a>
                                     
                                            <a href="" id="viewtermscondition" class="btn btn-thin commonbtnmargin" value="" style="color: #EF9025;border: 1px solid #EF9025;width:10%">
                                            <span>Terms</span>
                                            </a>
                                             {{if $eventOranizerStatus }} {{if compare $stripeConnectedStatus "true"}}
                                            
                                            <a id="" data-toggle="tooltip" title="Set Up Complete" class="btn btn-thin class-tooltip_pay" style="color: #BD552C;border: 1px solid #BD552C;"
                                                disabled>
                                                <i class="ti-credit-card"></i>
                                                Set Up Payment Info
                                            </a>
                                            {{else}}
                                            <a id="paymentTermsConditionId" data-toggle="modal" class="btn btn-thin" style="color: #BD552C;border: 1px solid #BD552C;">
                                                <i class="ti-credit-card"></i>
                                                SetUp Payment Info
                                            </a>
                                            {{end}} {{end}}
                                                    
                                                   <input type="hidden" id="getstripeconnectstatus" value="{{$stripeConnectedStatus}}">
                                        </div>
                                    </div> 
                                <div class="row" style='margin-top: 19px;'>
                                <div class="col-md-12">
                                <form id="eventpaymentfilter" method="POST">
                                <div class="payment_filter col-md-5">
                                   <div class="search-members padding-10" style="margin-top: 10px;">
                                        <div class="input-group search-members-override" style="border: 1px solid #ddd;border-radius: 2px;">
                                        <span class="input-group-addon"><i class="ti-search"></i></span>
                                        {{if .FilterTeamName}}
                                        <input id ="getTeamNameFilter" class="form-control" type="text" name="teamName" value="{{.FilterTeamName}}" placeholder="Team Name" maxlength="20"  style="border-radius: 0px;">
                                        {{else}}
                                        <input id ="getTeamNameFilter" class="form-control" type="text" name="teamName" placeholder="Team Name" maxlength="20" style="border-radius: 0px;">
                                        {{end}}  
                                        </div>
                                    </div>
                            </div>

                                <div class="payment_filter col-md-5" style='padding-top: 15px;'>
                                        <p style="margin: 0px;font-weight: 500">Status</p>
                                        <div class="md-checkbox inlinedisplay" >
                                            {{if .FilterAll}}
                                            <input id="filter_all"  name="all_filter" class="md-check" value="all" type="checkbox"  checked>
                                           {{else}}
                                           <input id="filter_all" name="all_filter" class="md-check" value="all" type="checkbox">
                                            {{end}}
                                            <label for="filter_all" class="payfilercheckboxlabel">
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                All
                                            </label>
                                        </div>
                                        <div class="md-checkbox inlinedisplay">
                                            {{if .FilterUnpaid}}
                                            <input id="filter_unpaid" name="unpaid_filter" class="md-check check_all" value="unpaid" type="checkbox" checked>
                                           {{else}}
                                           <input id="filter_unpaid" name="unpaid_filter" class="md-check check_all" value="unpaid" type="checkbox">
                                            {{end}}
                                            <label for="filter_unpaid" class="payfilercheckboxlabel">
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                Unpaid
                                            </label>
                                        </div>
                                        <div class="md-checkbox inlinedisplay">
                                            {{if .FilterPartial}}
                                            <input id="filter_partial" name="partial_filter" class="md-check check_all" value="partial" type="checkbox" checked>
                                            {{else}}
                                            <input id="filter_partial" name="partial_filter" class="md-check check_all" value="partial" type="checkbox">
                                            {{end}}
                                            <label for="filter_partial" class="payfilercheckboxlabel">
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                Partial
                                            </label>
                                        </div>
                                        <div class="md-checkbox inlinedisplay">
                                            {{if .FilterPaid}}
                                            <input id="filter_paid" name="paid_filter" class="md-check check_all" value="paid" type="checkbox" checked>
                                            {{else}}
                                            <input id="filter_paid" name="paid_filter" class="md-check check_all" value="paid" type="checkbox">
                                            {{end}}
                                            <label for="filter_paid" class="payfilercheckboxlabel">
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                Paid
                                            </label>
                                        </div>

                                </div>

                                <div class="payment_filter col-md-2">
                                <button  type="sumbit" class="btn btn-thin paybutton" style="margin: 20px;float: right; font-weight: 500">Filter</button>
                                </div>
                                </form>
                                </div>
                                </div>
                                <table id="event_team_members_payment" class="table dashboard-table event-view-table-overwrite dasboard-team-table responsive-table">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1  col-sm-1 col-xs-1">
                                                <div class="md-checkbox">

                                                    <input id="select_all_members_for_payment_mail" class="md-check" type="checkbox">
                                                    <label for="select_all_members_for_payment_mail">
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                    </label>

                                                </div>
                                            </th>

                                            <th class="col-md-3 col-sm-4 col-xs-4">TEAM NAME  <a href="#" id="sortby_teamname">
                                                    <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                                                </a></th>
                                                <th class="col-md-2 col-sm-3 col-xs-3">ORDER DETAILS</th>
                                                <th class="col-md-2 col-sm-3 col-xs-3">INVOICE</th>
                                            <th class="col-md-4 col-sm-4 col-xs-4">PAYMENT STATUS
                                                <a href="#" id="sortby_paystatus">
                                                    <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                                                </a>
                                            </th>
                                            <!-- ({{$eventView.event_0.currency}})  -->
                                           
                                            <th class="col-md-3 col-sm-2 col-xs-2"><a  data-toggle="tooltip" title="Total Amount Owed" class="class-tooltip_pay">TOTAL</a></th>
                                            <th class="col-md-3 col-sm-2 col-xs-2"><a  data-toggle="tooltip" title="Amount Received by Event Organizer after deduction of Gushou & Transaction Fees" class="class-tooltip_pay">NET</a></th>
                                            <th class="col-md-3 col-sm-2 col-xs-2"><a data-toggle="tooltip" title="Remaining Balance Owing by Team" class="class-tooltip_pay">BALANCE</a>
                                                    <a href="#" id="sortby_balance">
                                                            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                                                        </a>

                                            </th>
                                            <th class="col-md-1 col-sm-1 col-xs-1"></th>
                                        </tr>
                                    </thead>
                                  
                                    <tbody id="eventteamregisterpaymentdetail">
                                        {{if .EventPaymentList}}
                                        {{ range $e := .EventPaymentList }} 
                                        {{$tempregisterEventreg_cancel_status :=$e.registerEventPaymentData.reg_cancel_status}}
                                        <tr class='{{if compare $tempregisterEventreg_cancel_status "true"}} grayout  {{end}}'>
                                            <td>
                                                {{if compare $tempregisterEventreg_cancel_status "false"}}
                                                {{if not ( compare $e.registerEventPaymentData.paymentstatus "paid")}}
                                                {{ if not ( compare $e.registerEventPaymentData.discount "N/A") }}
                                                <div class="md-checkbox">
                                                    <input id="regpay_{{$e.registerEventPaymentData.eventregisterid}}" name="team_members_pay[]" value="{{$e.registerEventPaymentData.eventregisterid}}" class="md-check manage-team-checkbox checkedTeamsPay"
                                                        type="checkbox">
                                                    <label for="regpay_{{$e.registerEventPaymentData.eventregisterid}}">
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                    </label>
                                                    <input type="hidden" id="getEventId" value="{{$e.registerEventPaymentData.fk_event_id}}">
                                                </div>
                                                {{end}}
                                                {{end}}
                                                {{end}}
                                            </td>
                                            <td>
                                                <div class="dasboard-team-table-th">TEAM</div>
                                                
                                                <div class="dasboard-team-member-content">
                                                    <div class="team-member-name teamname_width">
                                                        <a class="event-list-title getTeamName" href="/team-view/{{$e.registerEventPaymentData.teamslug}}" target="_blank">
                                                            {{$e.registerEventPaymentData.team_name}}
                                                        </a>

                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                    <div class="dasboard-team-table-th">ORDER ID</div>
                                                    <a id="fromeventpayment" class="event-list-title" href="/event/team-view/{{$eventViewSlug}}/{{$e.registerEventPaymentData.eventregisterid}}" value="eventpayment">
                                                       {{if $e.registerEventPaymentData.event_reg_pay_id}}
                                                       <u>{{$e.registerEventPaymentData.event_reg_pay_id}}</u>
                                                       {{end}}
                                                    </a>
                                                    <p hidden class="getEventRegPayId" >{{$e.registerEventPaymentData.event_reg_pay_id}}</p>
                                                   
                                                </td>
                                                <td>
                                                    <div class="dasboard-team-table-th">INVOICE</div>  
                                                    {{ if $e.getinvoice_no.invoice_no}}
                                                    {{if $e.getinvoice_no.invoicepath}}
                                                    <a class="event-list-title" href="{{$e.getinvoice_no.invoicepath}}" target="_blank">
                                                        {{$e.getinvoice_no.invoice_no}}
                                                    <img src="/static/images/download_icon.png" class="imgdownload">
                                                    </a> 
                                                    {{else}}
                                                    <a class="event-list-title" href="/stripe/downloadeventregistrationinvoice/{{$e.getinvoice_no.invoice_no}}" target="_blank">
                                                        {{$e.getinvoice_no.invoice_no}}
                                                    <img src="/static/images/download_icon.png" class="imgdownload">
                                                    </a> 
                                                    {{end}}
                                                    
                                                    {{else}}  
                                                    {{if $e.registerEventPaymentData.event_reg_pay_id}}
                                                    <a class="event-list-title" href="/stripe/downloadorderinvoice/{{$e.registerEventPaymentData.event_reg_pay_id}}" target="_blank">
                                                    <img src="/static/images/download_icon.png" class="imgdownload">
                                                    </a> 
                                                    {{end}}
                                                    {{end}}
                                                    
                                                </td>
                                            <td>
                                               
                                                <div class="dasboard-team-table-th">PAYMENT STATUS</div>
                                               
                                                {{ if $e.registerEventPaymentData.total_amount}} 

                                                 <a class="team-table-side text-capitalize eventpaymentbtn" style="text-transform: capitalize;color: #3a4642;">{{$e.registerEventPaymentData.paymentstatus}}</a>
                                                 {{if not ( compare $e.registerEventPaymentData.paymentstatus "paid")}} 
                                                 <p id="payEvent" class="event_payment_btn"> Pay</p>
                                                 {{else if ( compare $e.registerEventPaymentData.changeefeedetail "true")}}  
                                                 <p id="payEvent" class="event_payment_btn"> Pay</p>
                                                {{end}}
                                                {{end}}

                                            </td>
                                    
                                           
                                            <td>
                                                <div class="dasboard-team-table-th">TOTAL</div>
                                                {{ if $e.registerEventPaymentData.formatted_total_amount}}
                                                {{if not ( compare $e.registerEventPaymentData.discount "N/A") }}
                                                <a style="margin: 0px;color: #3a4642;"> {{$currencySymbol}} {{$e.registerEventPaymentData.formatted_total_amount}}</a>
                                                {{else}}
                                                <a style="margin: 0px;color: #3a4642;">N/A</a>
                                                {{end}}
                                                {{else}}
                                                <a style="margin: 0px;color: #3a4642;">{{$currencySymbol}} 0.00</a>
                                                {{end}}

                                            </td>
                                            <td>
                                                    <div class="dasboard-team-table-th">NET</div>
                                                    {{ if $e.registerEventPaymentData.formatted_total_event_receive}}
    
                                                    {{if not ( compare $e.registerEventPaymentData.discount "N/A") }}
                                                    {{$currencySymbol}}  <a style="color: #3a4642;" class="inlinedisplay">{{$e.registerEventPaymentData.formatted_total_event_receive}}</a>
                                                    <p hidden class="getNetFee">{{$e.registerEventPaymentData.total_event_receive}}</p>
                                                    {{else}}
                                                    <a style="color: #3a4642;">N/A</a>
                                                    {{end}}
                                                    {{else}}
                                                    {{$currencySymbol}} <a style="color: #3a4642;" class="inlinedisplay">0.00</a>
                                                    {{end}}
                                                    <p hidden class="getTotalEventFee">{{$e.registerEventPaymentData.total_event_fee}}</p>
                                                </td>
                                            <td>
                                                <div class="dasboard-team-table-th ">BALANCE</div>
                                                {{if $e.registerEventPaymentData.balance_formatted}}
                                                {{if not ( compare $e.registerEventPaymentData.discount "N/A") }}
                                                {{$currencySymbol}} <a style="color: #3a4642;" class="getBalanceAmountformat inlinedisplay">{{$e.registerEventPaymentData.balance_formatted}}</a>
                                                <p hidden class="getBalanceAmount">{{$e.registerEventPaymentData.balance_amount}}</p>
                                                {{else}}
                                                <a style="color: #3a4642;" class="getBalanceAmount">N/A</a>
                                                {{end}}
                                                {{else}}
                                                {{$currencySymbol}} <a style="color: #3a4642;" class="getBalanceAmountformat inlinedisplay">0.00</a>
                                                {{end}}


                                            </td>

                                            <td>
                                                {{ if $e.registerEventPaymentData.total_amount}}
                                                {{if ne $tempregisterEventreg_cancel_status "true"}} 
                                                <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
                                                data-content="<ul class='popover-waiver'><li><a style='color:black;' href=# id='event_track_payments' value='{{$e.registerEventPaymentData.event_reg_pay_id}}' >Payment Log</a></li></ul>   
                                                <p hidden class='getEventIdPay'>{{$e.registerEventPaymentData.pay_event_id}}</p>
                                                <p hidden class='getTeamIdPay'>{{$e.registerEventPaymentData.pay_team_id}}</p>">
                                                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                                </a>	
                                                {{end}}	
                                                {{end}}
                                                														
                                            </td>

                                        </tr>
                                        {{end}}
                                        
                                        {{else if .FilterTeamName| or .FilterPaid |or .FilterUnpaid |or .FilterPartial}}
                                        <tr>
                                            <td colspan="9" >
                                                  
                                                <div style="text-align: center;padding: 30px">
                                                    No teams found
                                                 </div>
                                                      
                                            </td>      
                                        </tr>

                                        {{else}}
                                        <tr>
                                            <td colspan="9" >
                                                  
                                                <div style="text-align: center;padding: 30px">
                                                    No teams have registered yet
                                                 </div>
                                                      
                                            </td>      
                                        </tr>
                                        {{end}}
                                        
                                    </tbody>
                                    <tbody id="eventteamregisterdetail_sortbyteamname" style="display: none;border-top: none;">
                                        {{if .EventPaymentList_SortByTeamName}}
                                        {{ range $e := .EventPaymentList_SortByTeamName }} 
                                        {{$tempregisterEventreg_cancel_status :=$e.registerEventPaymentData.reg_cancel_status}}
                                        <tr class='{{if compare $tempregisterEventreg_cancel_status "true"}} grayout  {{end}}'>
                                            <td>
                                                {{if compare $tempregisterEventreg_cancel_status "false"}}
                                                {{if not ( compare $e.registerEventPaymentData.paymentstatus "paid")}}
                                                {{ if not ( compare $e.registerEventPaymentData.discount "N/A") }}
                                                <div class="md-checkbox">
                                                    <input id="regpay_sortbyteamname_{{$e.registerEventPaymentData.eventregisterid}}" name="team_members_pay[]" value="{{$e.registerEventPaymentData.eventregisterid}}" class="md-check manage-team-checkbox checkedTeamsPay"
                                                        type="checkbox">
                                                    <label for="regpay_sortbyteamname_{{$e.registerEventPaymentData.eventregisterid}}">
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                    </label>
                                                    <input type="hidden" id="getEventId" value="{{$e.registerEventPaymentData.fk_event_id}}">
                                                </div>
                                                {{end}}
                                                {{end}}
                                                {{end}}
                                            </td>
                                            <td>
                                                <div class="dasboard-team-table-th">TEAM</div>
                                                
                                                <div class="dasboard-team-member-content">
                                                    <div class="team-member-name teamname_width">
                                                        <a class="event-list-title getTeamName" href="/team-view/{{$e.registerEventPaymentData.teamslug}}">
                                                            {{$e.registerEventPaymentData.team_name}}
                                                        </a>

                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                    <div class="dasboard-team-table-th">ORDER ID</div>
                                                    <a id="fromeventpayment" class="event-list-title" href="/event/team-view/{{$eventViewSlug}}/{{$e.registerEventPaymentData.eventregisterid}}" value="eventpayment">
                                                       {{if $e.registerEventPaymentData.event_reg_pay_id}}
                                                       <u>{{$e.registerEventPaymentData.event_reg_pay_id}}</u>
                                                       {{end}}
                                                    </a>
                                                    <p hidden class="getEventRegPayId" >{{$e.registerEventPaymentData.event_reg_pay_id}}</p>
                                                   
                                                </td>
                                                <td>
                                                    <div class="dasboard-team-table-th">INVOICE</div>  
                                                    {{ if $e.getinvoice_no.invoice_no}}
                                                    <a class="event-list-title" href="/stripe/downloadeventregistrationinvoice/{{$e.getinvoice_no.invoice_no}}" target="_blank">
                                                        {{$e.getinvoice_no.invoice_no}}
                                                    <img src="/static/images/download_icon.png" class="imgdownload">
                                                    </a> 
                                                    {{else}}  
                                                    {{if $e.registerEventPaymentData.event_reg_pay_id}}
                                                    <a class="event-list-title" href="/stripe/downloadorderinvoice/{{$e.registerEventPaymentData.event_reg_pay_id}}" target="_blank">
                                                    <img src="/static/images/download_icon.png" class="imgdownload">
                                                    </a> 
                                                    {{end}}
                                                    {{end}}
                                                    
                                                </td>
                                            <td>
                                               
                                                <div class="dasboard-team-table-th">PAYMENT STATUS</div>
                                               
                                                {{ if $e.registerEventPaymentData.total_amount}} 

                                                 <a class="team-table-side text-capitalize eventpaymentbtn" style="text-transform: capitalize;color: #3a4642;">{{$e.registerEventPaymentData.paymentstatus}}</a>
                                                 {{if not ( compare $e.registerEventPaymentData.paymentstatus "paid")}} 
                                                 <p id="payEvent" class="event_payment_btn"> Pay</p>
                                                 {{else if ( compare $e.registerEventPaymentData.changeefeedetail "true")}}  
                                                 <p id="payEvent" class="event_payment_btn"> Pay</p>
                                                {{end}}
                                                {{end}}

                                            </td>
                                    
                                           
                                            <td>
                                                <div class="dasboard-team-table-th">TOTAL</div>
                                                {{ if $e.registerEventPaymentData.formatted_total_amount}}
                                                {{if not ( compare $e.registerEventPaymentData.discount "N/A") }}
                                                <a style="margin: 0px;color: #3a4642;"> {{$currencySymbol}} {{$e.registerEventPaymentData.formatted_total_amount}}</a>
                                                {{else}}
                                                <a style="margin: 0px;color: #3a4642;">N/A</a>
                                                {{end}}
                                                {{else}}
                                                <a style="margin: 0px;color: #3a4642;">{{$currencySymbol}} 0.00</a>
                                                {{end}}

                                            </td>
                                            <td>
                                                <div class="dasboard-team-table-th">NET</div>
                                                {{ if $e.registerEventPaymentData.formatted_total_event_receive}}

                                                {{if not ( compare $e.registerEventPaymentData.discount "N/A") }}
                                                {{$currencySymbol}}  <a style="color: #3a4642;" class="inlinedisplay">{{$e.registerEventPaymentData.formatted_total_event_receive}}</a>
                                                <p hidden class="getNetFee">{{$e.registerEventPaymentData.total_event_receive}}</p>
                                                {{else}}
                                                <a style="color: #3a4642;">N/A</a>
                                                {{end}}
                                                {{else}}
                                                {{$currencySymbol}} <a style="color: #3a4642;" class="inlinedisplay">0.00</a>
                                                {{end}}
                                                <p hidden class="getTotalEventFee">{{$e.registerEventPaymentData.total_event_fee}}</p>
                                            </td>
                                            <td>
                                                <div class="dasboard-team-table-th ">BALANCE</div>
                                                {{if $e.registerEventPaymentData.balance_formatted}}
                                                {{if not ( compare $e.registerEventPaymentData.discount "N/A") }}
                                                {{$currencySymbol}} <a style="color: #3a4642;" class="getBalanceAmountformat inlinedisplay">{{$e.registerEventPaymentData.balance_formatted}}</a>
                                                <p hidden class="getBalanceAmount">{{$e.registerEventPaymentData.balance_amount}}</p>
                                                {{else}}
                                                <a style="color: #3a4642;" class="getBalanceAmount">N/A</a>
                                                {{end}}
                                                {{else}}
                                                {{$currencySymbol}} <a style="color: #3a4642;" class="getBalanceAmountformat inlinedisplay">0.00</a>
                                                {{end}}


                                            </td>

                                            <td>
                                                {{ if $e.registerEventPaymentData.total_amount}}
                                                {{if ne $tempregisterEventreg_cancel_status "true"}} 
                                                <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
                                                data-content="<ul class='popover-waiver'><li><a style='color:black;' href=# id='event_track_payments' value='{{$e.registerEventPaymentData.event_reg_pay_id}}' >Payment Log</a></li></ul>   
                                                <p hidden class='getEventIdPay'>{{$e.registerEventPaymentData.pay_event_id}}</p>
                                                <p hidden class='getTeamIdPay'>{{$e.registerEventPaymentData.pay_team_id}}</p>">
                                                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                                </a>	
                                                {{end}}	
                                                {{end}}
                                                														
                                            </td>

                                        </tr>
                                        {{end}}
                                        
                                        {{else if .FilterTeamName| or .FilterPaid |or .FilterUnpaid |or .FilterPartial}}
                                        <tr>
                                            <td colspan="9" >
                                                  
                                                <div style="text-align: center;padding: 30px">
                                                    No teams found
                                                 </div>
                                                      
                                            </td>      
                                        </tr>

                                        {{else}}
                                        <tr>
                                            <td colspan="9" >
                                                  
                                                <div style="text-align: center;padding: 30px">
                                                    No teams have registered yet
                                                 </div>
                                                      
                                            </td>      
                                        </tr>
                                        {{end}}
                                        
                                    </tbody>
                                    <tbody id="eventteamregisterdetail_sortbypaystatus" style="display: none;border-top: none;">
                                        {{if .EventPaymentList_SortByPayStatus}}
                                        {{ range $e := .EventPaymentList_SortByPayStatus }} 
                                        {{$tempregisterEventreg_cancel_status :=$e.registerEventPaymentData.reg_cancel_status}}
                                        <tr class='{{if compare $tempregisterEventreg_cancel_status "true"}} grayout  {{end}}'>
                                            <td>
                                                {{if compare $tempregisterEventreg_cancel_status "false"}}
                                                {{if not ( compare $e.registerEventPaymentData.paymentstatus "paid")}}
                                                {{ if not ( compare $e.registerEventPaymentData.discount "N/A") }}
                                                <div class="md-checkbox">
                                                    <input id="regpay_sortbypaystatus_{{$e.registerEventPaymentData.eventregisterid}}" name="team_members_pay[]" value="{{$e.registerEventPaymentData.eventregisterid}}" class="md-check manage-team-checkbox checkedTeamsPay"
                                                        type="checkbox">
                                                    <label for="regpay_sortbypaystatus_{{$e.registerEventPaymentData.eventregisterid}}">
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                    </label>
                                                    <input type="hidden" id="getEventId" value="{{$e.registerEventPaymentData.fk_event_id}}">
                                                </div>
                                                {{end}}
                                                {{end}}
                                                {{end}}
                                            </td>
                                            <td>
                                                <div class="dasboard-team-table-th">TEAM</div>
                                                
                                                <div class="dasboard-team-member-content">
                                                    <div class="team-member-name teamname_width">
                                                        <a class="event-list-title getTeamName" href="/team-view/{{$e.registerEventPaymentData.teamslug}}">
                                                            {{$e.registerEventPaymentData.team_name}}
                                                        </a>

                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                    <div class="dasboard-team-table-th">ORDER ID</div>
                                                    <a id="fromeventpayment" class="event-list-title" href="/event/team-view/{{$eventViewSlug}}/{{$e.registerEventPaymentData.eventregisterid}}" value="eventpayment">
                                                       {{if $e.registerEventPaymentData.event_reg_pay_id}}
                                                       <u>{{$e.registerEventPaymentData.event_reg_pay_id}}</u>
                                                       {{end}}
                                                    </a>
                                                    <p hidden class="getEventRegPayId" >{{$e.registerEventPaymentData.event_reg_pay_id}}</p>
                                                   
                                                </td>
                                                <td>
                                                    <div class="dasboard-team-table-th">INVOICE</div>  
                                                    {{ if $e.getinvoice_no.invoice_no}}
                                                    <a class="event-list-title" href="/stripe/downloadeventregistrationinvoice/{{$e.getinvoice_no.invoice_no}}" target="_blank">
                                                        {{$e.getinvoice_no.invoice_no}}
                                                    <img src="/static/images/download_icon.png" class="imgdownload">
                                                    </a> 
                                                    {{else}}  
                                                    {{if $e.registerEventPaymentData.event_reg_pay_id}}
                                                    <a class="event-list-title" href="/stripe/downloadorderinvoice/{{$e.registerEventPaymentData.event_reg_pay_id}}" target="_blank">
                                                    <img src="/static/images/download_icon.png" class="imgdownload">
                                                    </a> 
                                                    {{end}}
                                                    {{end}}
                                                    
                                                </td>
                                            <td>
                                               
                                                <div class="dasboard-team-table-th">PAYMENT STATUS</div>
                                               
                                                {{ if $e.registerEventPaymentData.total_amount}} 

                                                 <a class="team-table-side text-capitalize eventpaymentbtn" style="text-transform: capitalize;color: #3a4642;">{{$e.registerEventPaymentData.paymentstatus}}</a>
                                                 {{if not ( compare $e.registerEventPaymentData.paymentstatus "paid")}} 
                                                 <p id="payEvent" class="event_payment_btn"> Pay</p>
                                                 {{else if ( compare $e.registerEventPaymentData.changeefeedetail "true")}}  
                                                 <p id="payEvent" class="event_payment_btn"> Pay</p>
                                                {{end}}
                                                {{end}}

                                            </td>
                                    
                                           
                                            <td>
                                                <div class="dasboard-team-table-th">TOTAL</div>
                                                {{ if $e.registerEventPaymentData.formatted_total_amount}}
                                                {{if not ( compare $e.registerEventPaymentData.discount "N/A") }}
                                                <a style="margin: 0px;color: #3a4642;"> {{$currencySymbol}} {{$e.registerEventPaymentData.formatted_total_amount}}</a>
                                                {{else}}
                                                <a style="margin: 0px;color: #3a4642;">N/A</a>
                                                {{end}}
                                                {{else}}
                                                <a style="margin: 0px;color: #3a4642;">{{$currencySymbol}} 0.00</a>
                                                {{end}}

                                            </td>
                                            <td>
                                                <div class="dasboard-team-table-th">NET</div>
                                                {{ if $e.registerEventPaymentData.formatted_total_event_receive}}

                                                {{if not ( compare $e.registerEventPaymentData.discount "N/A") }}
                                                {{$currencySymbol}}  <a style="color: #3a4642;" class="inlinedisplay">{{$e.registerEventPaymentData.formatted_total_event_receive}}</a>
                                                <p hidden class="getNetFee">{{$e.registerEventPaymentData.total_event_receive}}</p>
                                                {{else}}
                                                <a style="color: #3a4642;">N/A</a>
                                                {{end}}
                                                {{else}}
                                                {{$currencySymbol}} <a style="color: #3a4642;" class="inlinedisplay">0.00</a>
                                                {{end}}
                                                <p hidden class="getTotalEventFee">{{$e.registerEventPaymentData.total_event_fee}}</p>
                                            </td>
                                            <td>
                                                <div class="dasboard-team-table-th ">BALANCE</div>
                                                {{if $e.registerEventPaymentData.balance_formatted}}
                                                {{if not ( compare $e.registerEventPaymentData.discount "N/A") }}
                                                {{$currencySymbol}} <a style="color: #3a4642;" class="getBalanceAmountformat inlinedisplay">{{$e.registerEventPaymentData.balance_formatted}}</a>
                                                <p hidden class="getBalanceAmount">{{$e.registerEventPaymentData.balance_amount}}</p>
                                                {{else}}
                                                <a style="color: #3a4642;" class="getBalanceAmount">N/A</a>
                                                {{end}}
                                                {{else}}
                                                {{$currencySymbol}} <a style="color: #3a4642;" class="getBalanceAmountformat inlinedisplay">0.00</a>
                                                {{end}}


                                            </td>

                                            <td>
                                                {{ if $e.registerEventPaymentData.total_amount}}
                                                {{if ne $tempregisterEventreg_cancel_status "true"}} 
                                                <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
                                                data-content="<ul class='popover-waiver'><li><a style='color:black;' href=# id='event_track_payments' value='{{$e.registerEventPaymentData.event_reg_pay_id}}' >Payment Log</a></li></ul>   
                                                <p hidden class='getEventIdPay'>{{$e.registerEventPaymentData.pay_event_id}}</p>
                                                <p hidden class='getTeamIdPay'>{{$e.registerEventPaymentData.pay_team_id}}</p>">
                                                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                                </a>	
                                                {{end}}	
                                                {{end}}
                                                														
                                            </td>

                                        </tr>
                                        {{end}}
                                        
                                        {{else if .FilterTeamName| or .FilterPaid |or .FilterUnpaid |or .FilterPartial}}
                                        <tr>
                                            <td colspan="9" >
                                                  
                                                <div style="text-align: center;padding: 30px">
                                                    No teams found
                                                 </div>
                                                      
                                            </td>      
                                        </tr>

                                        {{else}}
                                        <tr>
                                            <td colspan="9" >
                                                  
                                                <div style="text-align: center;padding: 30px">
                                                    No teams have registered yet
                                                 </div>
                                                      
                                            </td>      
                                        </tr>
                                        {{end}}
                                        
                                    </tbody>
                                    <tbody id="eventteamregisterdetail_sortbybalanceamt" style="display: none;border-top: none;">
                                        {{if .EventPaymentList_SortByBalanceAmt}}
                                        {{ range $e := .EventPaymentList_SortByBalanceAmt }} 
                                        {{$tempregisterEventreg_cancel_status :=$e.registerEventPaymentData.reg_cancel_status}}
                                        <tr class='{{if compare $tempregisterEventreg_cancel_status "true"}} grayout  {{end}}'>
                                            <td>
                                                {{if compare $tempregisterEventreg_cancel_status "false"}}
                                                {{if not ( compare $e.registerEventPaymentData.paymentstatus "paid")}}
                                                {{ if not ( compare $e.registerEventPaymentData.discount "N/A") }}
                                                <div class="md-checkbox">
                                                    <input id="regpay_sortbybalanceamt_{{$e.registerEventPaymentData.eventregisterid}}" name="team_members_pay[]" value="{{$e.registerEventPaymentData.eventregisterid}}" class="md-check manage-team-checkbox checkedTeamsPay"
                                                        type="checkbox">
                                                    <label for="regpay_sortbybalanceamt_{{$e.registerEventPaymentData.eventregisterid}}">
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                    </label>
                                                    <input type="hidden" id="getEventId" value="{{$e.registerEventPaymentData.fk_event_id}}">
                                                </div>
                                                {{end}}
                                                {{end}}
                                                {{end}}
                                            </td>
                                            <td>
                                                <div class="dasboard-team-table-th">TEAM</div>
                                                
                                                <div class="dasboard-team-member-content">
                                                    <div class="team-member-name teamname_width">
                                                        <a class="event-list-title getTeamName" href="/team-view/{{$e.registerEventPaymentData.teamslug}}">
                                                            {{$e.registerEventPaymentData.team_name}}
                                                        </a>

                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                    <div class="dasboard-team-table-th">ORDER ID</div>
                                                    <a id="fromeventpayment" class="event-list-title" href="/event/team-view/{{$eventViewSlug}}/{{$e.registerEventPaymentData.eventregisterid}}" value="eventpayment">
                                                       {{if $e.registerEventPaymentData.event_reg_pay_id}}
                                                       <u>{{$e.registerEventPaymentData.event_reg_pay_id}}</u>
                                                       {{end}}
                                                    </a>
                                                    <p hidden class="getEventRegPayId" >{{$e.registerEventPaymentData.event_reg_pay_id}}</p>
                                                   
                                                </td>
                                                <td>
                                                    <div class="dasboard-team-table-th">INVOICE</div>  
                                                    {{ if $e.getinvoice_no.invoice_no}}
                                                    <a class="event-list-title" href="/stripe/downloadeventregistrationinvoice/{{$e.getinvoice_no.invoice_no}}" target="_blank">
                                                        {{$e.getinvoice_no.invoice_no}}
                                                    <img src="/static/images/download_icon.png" class="imgdownload">
                                                    </a> 
                                                    {{else}}  
                                                    {{if $e.registerEventPaymentData.event_reg_pay_id}}
                                                    <a class="event-list-title" href="/stripe/downloadorderinvoice/{{$e.registerEventPaymentData.event_reg_pay_id}}" target="_blank">
                                                    <img src="/static/images/download_icon.png" class="imgdownload">
                                                    </a> 
                                                    {{end}}
                                                    {{end}}
                                                    
                                                </td>
                                            <td>
                                               
                                                <div class="dasboard-team-table-th">PAYMENT STATUS</div>
                                               
                                                {{ if $e.registerEventPaymentData.total_amount}} 

                                                 <a class="team-table-side text-capitalize eventpaymentbtn" style="text-transform: capitalize;color: #3a4642;">{{$e.registerEventPaymentData.paymentstatus}}</a>
                                                 {{if not ( compare $e.registerEventPaymentData.paymentstatus "paid")}} 
                                                 <p id="payEvent" class="event_payment_btn"> Pay</p>
                                                 {{else if ( compare $e.registerEventPaymentData.changeefeedetail "true")}}  
                                                 <p id="payEvent" class="event_payment_btn"> Pay</p>
                                                {{end}}
                                                {{end}}

                                            </td>
                                
                                            <td>
                                                <div class="dasboard-team-table-th">TOTAL</div>
                                                {{ if $e.registerEventPaymentData.formatted_total_amount}}
                                                {{if not ( compare $e.registerEventPaymentData.discount "N/A") }}
                                                <a style="margin: 0px;color: #3a4642;"> {{$currencySymbol}} {{$e.registerEventPaymentData.formatted_total_amount}}</a>
                                                {{else}}
                                                <a style="margin: 0px;color: #3a4642;">N/A</a>
                                                {{end}}
                                                {{else}}
                                                <a style="margin: 0px;color: #3a4642;">{{$currencySymbol}} 0.00</a>
                                                {{end}}

                                            </td>
                                            <td>
                                                <div class="dasboard-team-table-th">NET</div>
                                                {{ if $e.registerEventPaymentData.formatted_total_event_receive}}

                                                {{if not ( compare $e.registerEventPaymentData.discount "N/A") }}
                                                {{$currencySymbol}}  <a style="color: #3a4642;" class="inlinedisplay">{{$e.registerEventPaymentData.formatted_total_event_receive}}</a>
                                                <p hidden class="getNetFee">{{$e.registerEventPaymentData.total_event_receive}}</p>
                                                {{else}}
                                                <a style="color: #3a4642;">N/A</a>
                                                {{end}}
                                                {{else}}
                                                {{$currencySymbol}} <a style="color: #3a4642;" class="inlinedisplay">0.00</a>
                                                {{end}}
                                                <p hidden class="getTotalEventFee">{{$e.registerEventPaymentData.total_event_fee}}</p>
                                            </td>

                                            <td>
                                                <div class="dasboard-team-table-th ">BALANCE</div>
                                                {{if $e.registerEventPaymentData.balance_formatted}}
                                                {{if not ( compare $e.registerEventPaymentData.discount "N/A") }}
                                                {{$currencySymbol}} <a style="color: #3a4642;" class="getBalanceAmountformat inlinedisplay">{{$e.registerEventPaymentData.balance_formatted}}</a>
                                                <p hidden class="getBalanceAmount">{{$e.registerEventPaymentData.balance_amount}}</p>
                                                {{else}}
                                                <a style="color: #3a4642;" class="getBalanceAmount">N/A</a>
                                                {{end}}
                                                {{else}}
                                                {{$currencySymbol}} <a style="color: #3a4642;" class="getBalanceAmountformat inlinedisplay">0.00</a>
                                                {{end}}


                                            </td>

                                            <td>
                                                {{ if $e.registerEventPaymentData.total_amount}}
                                                {{if ne $tempregisterEventreg_cancel_status "true"}} 
                                                <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
                                                data-content="<ul class='popover-waiver'><li><a style='color:black;' href=# id='event_track_payments' value='{{$e.registerEventPaymentData.event_reg_pay_id}}' >Payment Log</a></li></ul>   
                                                <p hidden class='getEventIdPay'>{{$e.registerEventPaymentData.pay_event_id}}</p>
                                                <p hidden class='getTeamIdPay'>{{$e.registerEventPaymentData.pay_team_id}}</p>">
                                                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                                </a>	
                                                {{end}}	
                                                {{end}}
                                                														
                                            </td>

                                        </tr>
                                        {{end}}
                                        
                                        {{else if .FilterTeamName| or .FilterPaid |or .FilterUnpaid |or .FilterPartial}}
                                        <tr>
                                            <td colspan="9" >
                                                  
                                                <div style="text-align: center;padding: 30px">
                                                    No teams found
                                                 </div>
                                                      
                                            </td>      
                                        </tr>

                                        {{else}}
                                        <tr>
                                            <td colspan="9" >
                                                  
                                                <div style="text-align: center;padding: 30px">
                                                    No teams have registered yet
                                                 </div>
                                                      
                                            </td>      
                                        </tr>
                                        {{end}}
                                        
                                    </tbody>
                                </table>
                               
                               
                        
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            
        </div>
    </section>
</div>
<div class="row payment_filter bottom_cal" style="text-align: center;margin: 0px">
        {{ range $ed := .EventOverallCalculation}}
    <div class="col-md-12 paybottonfooterstyle">
            
        <div class="col-md-3 col-sm-4 col-xs-4" >
            <p class="bottomamounttitle_online">Paid Online :</p>
            {{if $ed.totalonlineamount.online_pay_amount}}
            <p class="bottomamounttitle_online paidonline">{{$currencySymbol}} {{$ed.totalonlineamount.online_pay_amount}}</p>  
            {{else}}
            <p class="bottomamounttitle_online paidonline">-</p> 
            {{end}} 
        </div>

        <div class="col-md-3 col-sm-4 col-xs-4">
            <p class="bottomamounttitle_offline">Paid Offline :</p>
            {{ if $ed.totalofflineamount.offline_pay_amount}}
            <p class="bottomamounttitle_offline paidoffline">{{$currencySymbol}} {{$ed.totalofflineamount.offline_pay_amount}}</p>  
            {{else}}
            <p class="bottomamounttitle_offline paidoffline">-</p>
            {{end}}  
        </div>

        <div class="col-md-3 col-sm-4 col-xs-4">
            <p class="bottomamounttitle_gushou offlinegushou"><a  data-toggle="tooltip" title="Gushou fees collected offline, owed to Gushou" class="class-tooltip_pay" style="color: #2B4A6B">Gushou Fee (Offline) :</a></p>
            {{ if $ed.eventOverallCalculation.offline_gushou_received}}
            {{if compare $ed.eventOverallCalculation.offline_gushou_received "0.00"}}
            <p class="bottomamounttitle_gushou">-</p> 
            {{else}}
            <p class="bottomamounttitle_gushou">{{$currencySymbol}} {{$ed.eventOverallCalculation.offline_gushou_received}}</p>  
            {{end}}
            {{else}}
            <p class="bottomamounttitle_gushou">-</p> 
            {{end}} 
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12">
            <p class="bottomamounttitle_refund offlinerefund">Refund Amount :</p>
           {{if $ed.totalrefundamount.offline_refund}}
            <p class="bottomamounttitle_refund">{{$currencySymbol}} {{$ed.totalrefundamount.offline_refund}}</p>  
            {{else}}
            <p class="bottomamounttitle_refund">-</p> 
            {{end}} 
        </div>

       
    </div>
  {{end}}
    
</div>
<div class="modal fade" id="eventpaymentpopup">
    <div class="modal-dialog eventpaymentmodal">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="ti-close"></i>
            </span>
          </button>
          <h3>Payment</h3>
          <div class="row">
            <div class="col-md-12">
                <span id="paypopup_err"class="error" ></span>
                <span id="paypopup_succ" class="success" ></span>
                <div id="eventpaymentpopup_Body" style="text-align: left">

                    <div class="payTeamName"><p id="getPayTeamName" class="teamnameamountstyle">Dragon</p> owes {{$currencySymbol}}<p id="getOweAmount"class="teamnameamountstyle"></p> on this fees</div>
                    <input type="hidden" id="eventpayregsid" value="">
                    <input type="hidden" id="getcurrenytype" value="">
                    <input type="hidden" id="geteventfee" value="">
                    <input type="hidden" id="gettotaleventfee" value="">
                    <input type="hidden" id="getOweAmount1" value="">
                    
                    <div class="" >
                            <div class="radio" class="rowheight" >
                                <label class="payPopupLabel">
                                    <input type="radio" name = "payoptions" value="owing"class="radioAlign showowe" checked>Change Balance Owing: {{$currencySymbol}}
                                 </label>
        
                                 <input id="showOwingBalance" min="0" class="payPopupTextBox event-user-input-val" type="number">
                            </div>
                            <div class="radio" class="rowheight">
                                    <label class="payPopupLabel">
                                        <input type="radio" name = "payoptions" value="fee"class="radioAlign"><label class="offlinefeelabel">Fee does not apply</label>
                                     </label>
                            </div>
                            <div class="radio" class="rowheight">
                                    <label class="payPopupLabel offfee">
                                        <input type="radio" name = "payoptions" value="offlinepay"class="radioAlign offlinefee">Apply Offline payment : {{$currencySymbol}}
                                     </label>
                                     <input id="OfflinePay"  min="0" class="payPopupTextBox event-user-input-val hide" type="number">
                            </div>
                            <div class="radio" class="rowheight" >
                                    <label class="payPopupLabel">
                                        <input type="radio" name = "payoptions" value="offlinerefund"class="radioAlign offline refund">Apply Offline Refund : {{$currencySymbol}}
                                     </label>
                                     <input id="OfflineRefund"  min="0" class="payPopupTextBox event-user-input-val hide" type="number">
                            </div>
                            <div class="radio" class="rowheight" >
                                    <label class="payPopupLabel">
                                        <input type="radio" name = "payoptions" value="recordnote" class="radioAlign">Just Record Note
                                     </label>
                            </div>

                            
                    </div>

                    <div class="">
                        <p style="float: left;padding-top: 5px">Transcation Note : </p>
                        <p style="font-size: 11px;float: left;font-weight: bold;padding-top: 5px;padding-left: 5px;">(optional)</p>
                        <textarea id="tran_note" class="tran_note form-control" rows="4" cols="50" maxlength="250" ></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;padding-top: 30px;">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button type="sumbit" class="btn btn-thin btn-phantom-green smallscreenstyle" style="border-radius: 3px;margin-right: 10px" data-dismiss="modal"
                                aria-label="Close">Cancel</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button id="savePayDetails" type="sumbit" class="btn btn-thin smallscreenstyle paybuttonevent">Save</button>

                            </div>
            
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

{{ template "termConditionsEventPayment.html".}}



