<!DOCTYPE html>
<html>
<head>
	<title>Event Edit | Gushou</title>
	{{ template "linksScripts.html" . }}
	{{ template "event/autoCompleteScriptsEvent.html" . }}
</head>
<body>
	{{ if .IsLoggedIn }}
	{{ template "headerAfterLogin.html" . }}
	{{ else }}
	{{ template "headerBeforeLogin.html" . }}
	{{ end }}

	{{ if .UpdateSuccess }}
	<div class="success-message">
		<p><i class="ti-check"></i><span> You have successfully updated your event.</span></p>
		<a href=""><i class="ti-close close-message"></i></a>
	</div>
	{{ end }}

	{{ if .EmptyClass }}
	<div class="error-message">
		<p><i class="ti-alert"></i><span>Please select the class(es) that apply to your event.</span></p>
	</div>
	{{ end }}
	{{$eventPricingDetail := .EventPricingDetail}}
	
	{{$eventSelectedBoatType := .EventSelectedBoatType}}
	{{$eventSelecteddistance := .EventSelecteddistance}}
	{{$eventSelectedDivisions := .EventSelectedDivisions}}
	{{$allowEditStatus := .AllowEditStatus}}
	{{$stripeConnectedStatus := .StripeConnectedStatus}} 
	<div id="events_err" class="error-message hide">
		<p><i class="ti-alert"></i><span></span></p>
	</div>
	<input type="hidden" id="eventBoatTypeWithJosn" value="{{ .EventBoatTypeWithJosn }}">
	<input type="hidden" id="eventPricingDetailWithJosn" value="{{ .EventPricingDetailWithJosn }}">
	<form id="updateClasses" method="POST">
	<input type='hidden' name="currenteventId" value="{{.EventView.event_0.id}}" id="currenteventId">
	<input type='hidden' name="" id='registerClassDivisionDetailWithJosn' value="{{.EventRegisterClassDivisionDetailWithJosn}}">
	
	<div class="modal fade" id="classDivisionsModal" tabindex="-1" data-backdrop="static">
		<div class="modal-dialog modal-lg" style='width: 900px; margin: auto;'>
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close closeClassChanges" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<span id="class_err" class="error-message hide"></span>
					<span id="class_succ" class="success-message hide"></span>
					<h3>Change classes</h3>
					<div class="panel-body" id="eventEditClassDivisionStep1">
					<span id="event_classes_err" class="error-message hide"></span>
					<div class="create-box-section">
							<div class="row">
								<div class="col-md-12">
									<p class="label-bold create-reg-event-heding">Class</p>
								</div>
							</div>
						<p class="label-bold">What classes are represented at your event? <span class="red-star">*</span></p>

						<div class="table-fullwidth" style="max-height: 211px;overflow: auto;">
								<ul class="list-group">
									{{ range $div := .AllDivs }}
                  {{$checkDivisionPresentOrNot := checkListContain $eventSelectedDivisions  $div.value }}
									<li class="list-group-item">
									<div class="md-checkbox" style='left: 13px;'>
											<input {{if $checkDivisionPresentOrNot}}checked {{end}} value="{{$div.value}}" class="md-check all-divisions" data-divname="{{$div.div_name}}"  name="All_divisions[]" id="All_divisions{{$div.value}}" type="checkbox">
											<label for="All_divisions{{$div.value}}" class="create-event-label"><span class="check"></span><span class="box"></span> {{$div.div_name}} </label>
									</div>
									</li>
									{{end}}
								</ul>
						</div>
					</div>
					<div class="create-box-section">
							<p class="label-bold">Which boats are you racing at your event? <span class="red-star">*</span></p>
							<div class="table-fullwidth">
							<div class="row">
							<div class="col-md-12" style='left: 31px;'>
							<div class="col-md-4 md-checkbox" >
									{{$checkDivisionPresentOrNot := checkListContain $eventSelectedBoatType  "10" }}
									<input {{if $checkDivisionPresentOrNot}} checked {{end}} value="10" class="md-check all-divisions" name="All_boattype[]" id="All_boattype10" type="checkbox">
									<label style='padding-left: 11px;' for="All_boattype10" class="create-event-label"><span class="check"></span><span class="box"></span> 10-Person </label>
							</div>
							<div class="col-md-4 md-checkbox">
									{{$checkDivisionPresentOrNot := checkListContain $eventSelectedBoatType  "20" }}
									<input {{if $checkDivisionPresentOrNot}} checked {{end}} value="20" class="md-check all-divisions" name="All_boattype[]" id="All_boattype20" type="checkbox">
									<label style='padding-left: 11px;' for="All_boattype20" class="create-event-label"><span class="check"></span><span class="box"></span> 20-Person </label>
							</div>
							</div>
							</div>
							</div>
						</div>
						<div class="create-box-section">
								<p class="label-bold">Which distances are you racing at your event? <span class="red-star">*</span></p>
								<div class="table-fullwidth">
								<div class="row">
								<div class="col-md-12" style='left: 31px;'>
								<div class="col-md-3 md-checkbox" >
										{{$checkDivisionPresentOrNot := checkListContain $eventSelecteddistance  "200" }}
										<input {{if $checkDivisionPresentOrNot}} checked {{end}} value="200" class="md-check all-divisions" name="All_boatmeter[]" id="All_boatmeter200" type="checkbox">
										<label style='padding-left: 11px;' for="All_boatmeter200" class="create-event-label"><span class="check"></span><span class="box"></span> 200m </label>
								</div>
								<div class="col-md-3 md-checkbox">
										{{$checkDivisionPresentOrNot := checkListContain $eventSelecteddistance  "500" }}
										<input {{if $checkDivisionPresentOrNot}} checked {{end}} value="500" class="md-check all-divisions" name="All_boatmeter[]" id="All_boatmeter500" type="checkbox">
										<label style='padding-left: 11px;' for="All_boatmeter500" class="create-event-label"><span class="check"></span><span class="box"></span> 500m </label>
								</div>
								<div class="col-md-3 md-checkbox">
										{{$checkDivisionPresentOrNot := checkListContain $eventSelecteddistance  "1000" }}
										<input {{if $checkDivisionPresentOrNot}} checked {{end}} value="1000" class="md-check all-divisions" name="All_boatmeter[]" id="All_boatmeter1000" type="checkbox">
										<label style='padding-left: 11px;' for="All_boatmeter1000" class="create-event-label"><span class="check"></span><span class="box"></span> 1km </label>
								</div>
								<div class="col-md-3 md-checkbox">
										{{$checkDivisionPresentOrNot := checkListContain $eventSelecteddistance  "2000" }}
										<input {{if $checkDivisionPresentOrNot}} checked {{end}} value="2000" class="md-check all-divisions" name="All_boatmeter[]" id="All_boatmeter2000" type="checkbox">
										<label style='padding-left: 11px;' for="All_boatmeter2000" class="create-event-label"><span class="check"></span><span class="box"></span> 2km </label>
								</div>
								</div>
								<div class="col-md-12 hide" id="ClassDivisionMaxHideShowContinue" >
								<p class='create-event-distance'><a href="/#" id="EditClassDivisionMaxContinueClick" class="small-size-distance"><i class="ti-arrow-right"></i> Continue</a></p>
								</div>
								</div>
								</div>
							</div>
							<span id="event_matrix_classes_err" class="error-message hide"></span>
							<div id="appendClassDivisionMaxHideShowTable" class="create-box-section hide">
							<div id="appendClassDivisionMaxTable" class="table-fullwidth table-responsive division-class-table">
								
							</div>
							</div>
						<div id='createboxsectionfooterhideshow' class="create-box-section-footer hide">
							<div class="row">
								<div class="col-md-12">
									<input type="button" id="submit_edit_step2" value="Continue" class="btn btn-phantom-green btn-fullwidth">
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body hide" id="eventEditClassDivisionStep2">
							<div class="create-box-section">
								<div class="row">
									<div class="col-md-12">
										<p class="label-bold create-reg-event-heding"  >Pricing</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<p class="label-bold">When are the registration dates?</p>
									</div>
								</div>
								<span id="reg_dates_err" class="error-message hide"></span>
								<div class="row create-event-registration-dates">
									<div class="col-md-4">
										<div class="form-group">
											<label class="label-normal">Super-early bird</label>
											<div class="input-group">

													<!-- <input type="text" class="form-control dtpicker_input " placeholder="mm/dd/yyyy" id="seb_date" value="((if super_early_bird_date)) ((dateFormate3 super_early_bird_date)) ((/if))" > -->
													{{  if compare .EventView.event_0.seb_date "01/01/0001" }} 
													<input type="text" class="form-control dtpicker_input " placeholder="mm/dd/yyyy" id="seb_date" name="seb_date" value="" autocomplete="off">
													{{ else }}
													<input type="text" class="form-control dtpicker_input " placeholder="mm/dd/yyyy" id="seb_date" value="{{ .EventView.event_0.seb_date }}" name="seb_date" autocomplete="off">
													{{ end }}

													<span id="seb_dtpicker" class="input-group-addon gray-icons"><i class="ti-calendar"></i></span>
											</div>
										</div>
									</div> 
									<div class="col-md-4">
										<div class="form-group">
											<label class="label-normal">Early bird</label>
											<div class="input-group">

													{{  if compare .EventView.event_0.eb_date "01/01/0001" }} 
													<input type="text" class="form-control dtpicker_input " placeholder="mm/dd/yyyy" id="eb_date" value="" name="eb_date" autocomplete="off">
													{{ else }}
													<input type="text" class="form-control dtpicker_input " placeholder="mm/dd/yyyy" id="eb_date" value="{{ .EventView.event_0.eb_date }}" name="eb_date" autocomplete="off">
													{{ end }}

													<span id="eb_dtpicker" class="input-group-addon gray-icons"><i class="ti-calendar"></i></span>
											</div>

											<!-- <div class="input-group">
												<span id="eb_dtpicker" class="input-group-addon gray-icons"><i class="ti-calendar"></i></span>
												<input type="text" class="form-control dtpicker_input " placeholder="" 
												name="eb_date" id="eb_date" autocomplete="off">
											</div> -->
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="label-normal">Regular</label>
											<!-- <div class="input-group">
												<span id="reg_dtpicker" class="input-group-addon gray-icons"><i class="ti-calendar"></i></span>
												<input type="text" class="form-control dtpicker_input " placeholder="" 
												name="r_date" id="r_date" autocomplete="off">
											</div> -->
											<div class="input-group">

													{{  if compare .EventView.event_0.r_date "01/01/0001" }} 
													<input type="text" class="form-control dtpicker_input " placeholder="mm/dd/yyyy" id="rb_date" value="" name="r_date" autocomplete="off">
													{{ else }}
													<input type="text" class="form-control dtpicker_input " placeholder="mm/dd/yyyy" id="rb_date" value="{{ .EventView.event_0.r_date }}" name="r_date" autocomplete="off">
													{{ end }}

													<span id="reg_dtpicker" class="input-group-addon gray-icons"><i class="ti-calendar"></i></span>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
										<div class="col-md-12" style='margin-top: 31px;'>
											<p class="label-bold">What will it cost to register for your event?</p>
										</div>
									</div>
									<div class="row vertical-center">
										<div class="col-md-12">
											<p class="no-margin">All prices in
											<select aria-hidden="true" tabindex="-1" class="select-custom form-control select2-hidden-accessible" id="currency" name="currency" style="width: 150px">
											<option {{ if compare .EventView.event_0.currency "CAD" }} selected {{ end }} value="CAD">CAD</option> 													
											<option {{ if compare .EventView.event_0.currency "USD" }} selected {{ end }} value="USD">USD</option> 													
											<option {{ if compare .EventView.event_0.currency "EUR" }} selected {{ end }} value="EUR">EUR</option> 													
											<option {{ if compare .EventView.event_0.currency "AUD" }} selected {{ end }} value="AUD">AUD</option> 													
											<option {{ if compare .EventView.event_0.currency "RMB" }} selected {{ end }} value="RMB">RMB</option> 													
											</select>
											</p>
										</div>
									</div>

							</div>
							<div class="create-box-section" >
								
									<div class="row">
											<div class="col-md-12" style='margin-top: 31px;'>
												<p class="label-bold">What is your pricing is based?</p>
											</div>
										</div>
										<div class="row vertical-center">
											<div class="col-md-12">
												<p class="no-margin">
													<select id="pricing_based_selection" name="pricing_based" class="select-custom  form-control" style='width: 215px;'>
														<option value=''>Please select</option> 
														<option {{ if compare .EventView.event_0.price_based "BRC" }} selected {{ end }} value="BRC">By Racing Category</option> 
														<option {{ if compare .EventView.event_0.price_based "PP" }} selected {{ end }} value="PP">Per Person</option>
														<option {{ if compare .EventView.event_0.price_based "OT" }} selected {{ end }} value="OT">Others</option>
													</select>
												</p>
											</div>
										</div>

							</div>
							<div class="create-box-section hide"  id="bypricepersontablehideshow">
									<span id="reg_price_err" class="error-message hide"></span>
								<div class="row">
									<div class="col-md-12">
										<p class="label-bold">What are the prices?</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="table-fullwidth create-event-pricing-table" id="byracingperpersonhideshow" >
											<table class="table class-listing-list create-event-price-table table-striped responsive-table">
												<thead>
													<tr>
														<th class="col-md-3"></th>
														<th class="col-md-4">Super early bird</th>
														<th class="col-md-4">Early bird</th>
														<th class="col-md-4">Regular</th>
														<th class="col-md-3"></th>
													</tr>
												</thead>
												<tbody id="appendPricingBasedPricingDetail">

												</tbody>
											</table>
										</div>
										<div id="byotherperson"class="form-group hide">
												<label for="pwd">Other</label>
												<textarea id="pricingbasedotherclear" name="pricingbasedother" maxlength="200" class="editable form-control" placeholder="" rows="3" required="" style="resize: vertical;"></textarea>  
										</div>
										</div>
								</div>
							</div>

							<div class="create-box-section-footer">
								<div class="row">
									<div class="col-md-6 text-center" style="margin-bottom: 31px;">
										<input type="button" id="back_event_step1" value="Back" class="btn btn-phantom-green btn-fullwidth">
									</div>
									<div class="col-md-6 text-center">
										<button id="submit_event_step3" type="button" style="margin-top: 0px;" class="btn btn-primary btn-fullwidth">Save</button>
									</div>
									</div>
								</div>
							</div>
						</div>
				</div>
				<div class="modal-footer">
					<!-- <button id="saveClasses" type="button" class="btn btn-primary btn-fullwidth">Save</button> -->
				</div>
			</div>
		</div>
	</div>
	</form>

<div id="main-content">
	<div class="container">
		<form id="editEventForm" method="POST">
			<div class="row">
				<div class="main-content-header">
					<div class="col-md-2 custom-header-col-left">
						<div class="header-profile">
							<div class="team-image">
								{{ if .EventLogo  }}
								<img class="img-circle" src="{{ .EventLogo }}">
								{{ else }}
								<img src="../static/images/Default-Event-Images.png" class="img-circle">
								{{ end }}
								<button type="button" id="uploadLogo">Change</button>
							</div>
						</div>
					</div>
					<div class="col-md-10 custom-header-col-right header-profile-edit">
						<div class="row">
							<div class="col-md-8">
								<!-- <h2>((event_name)) <span class="edit-header-text">EDIT</span></h2> -->
								<h2>{{ .EventView.event_0.event_name }} <span class="edit-header-text">EDIT</span></h2>
							</div>
							<div class="col-md-4 text-right">
								<!-- <a href="/event-view/((slug))" class="cancel-profile-edit">Back</a> -->
								<a href="/event-view/{{ .EventView.event_0.slug }}" class="cancel-profile-edit">Back</a>
								<button type="button" id="edit-form-submit" class="btn btn-phantom-green">Save changes</button>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Event name <span class="red-star">*</span></label>
									<span id="event_name_err" class="error-message hide"></span>
									<!-- <input type="text" class="form-control required" placeholder="Event Name" id="event_name" value="((event_name))"> -->
									<input type="text" class="form-control required" placeholder="Event Name" id="event_name" name="event_name" value="{{ .EventView.event_0.event_name }}">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group team-recruiting no-padding-top">
									<label class="label-bold">Registration 
										<!-- <a class="tooltips" href="#">
											<i class="ti-info-alt"></i>
											<div class="tooltip-1">Empty</div>
										</a> -->
									</label>
									<div class="onoffswitch">
									<input type="hidden" id="getstripeconnectstatus" value="{{$stripeConnectedStatus}}">

										<input type="checkbox" {{if not $allowEditStatus}} readonly {{else}} id="recruitpublic" {{end}} class="onoffswitch-checkbox" name="recruit" {{ if compare .EventView.event_0.recruit "true"}} checked {{ end }}>
										<label class="onoffswitch-label " for="recruitpublic">
											<span class="onoffswitch-inner"></span>
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-9">
								<!-- ((if editEventDate this.slug currentUser._id)) -->
								<div class="md-checkbox">
									<!-- <input ((isSingleEvent _id)) id="single_day_event" class="md-check" type="checkbox"> -->
									<input id="single_day_event" class="md-check" type="checkbox" {{ if not .EventView.event_0.e_date_1 }} checked {{ end }}>
									<label for="single_day_event">
										<span class="check"></span>
										<span class="box"></span>
										Single day event
									</label>
									<span id="date_err" class="error-message hide"></span>
								</div>
								<!-- ((else)) -->
								<div class="md-checkbox hide">
									<!-- <input disabled ((isSingleEvent _id)) id="single_day_event" class="md-check" type="checkbox"> -->
									<input disabled id="single_day_event" class="md-check" type="checkbox" >
									<label for="single_day_event">
										<span class="check"></span>
										<span class="box"></span>
										Single day event
									</label>
								</div>
								<!-- ((/if)) -->

								<!-- ((if currentEvent _id))    -->
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<div class="input-group">
												<!-- <input  type="text" class="form-control required" placeholder="Start date" id="start_date" value="((if dateNotNull start_date))((dateFormate3 start_date))((/if))" > -->
												<input  type="text" class="form-control required" placeholder="Start date" id="start_date" name="start_date" value="{{ .EventView.event_0.s_date_1 }}" autocomplete="off">
												<span id="start_dtpicker" class="input-group-addon gray-icons dtpicker"><i class="ti-calendar"></i></span>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<div class="input-group">
												<!-- <input ((isSingleEvent _id 'disableCheck')) type="text" class="form-control required" placeholder="End date" id="end_date" value="((if dateNotNull end_date))((dateFormate3 end_date))((/if))"  > -->
												<input type="text" class="form-control required" placeholder="End date" id="end_date" value="{{ .EventView.event_0.e_date_1 }}" name="end_date" {{ if not .EventView.event_0.e_date_1 }} disabled {{ end }} autocomplete="off">
												<span id="end_dtpicker" class="input-group-addon gray-icons "><i class="ti-calendar"></i></span>
											</div>
										</div>
									</div>
								</div>
								<!-- ((else)) -->
								<div class="row hide">
									<div class="col-md-4">
										<div class="form-group">
											<div class="input-group">
												<!-- <input disabled type="text" class="form-control required" placeholder="Start date" value="((if dateNotNull start_date)) ((dateFormate3 start_date)) ((/if))"> -->
												<input disabled type="text" class="form-control required" placeholder="Start date" value="">
												<span class="input-group-addon gray-icons dtpicker"><i class="ti-calendar"></i></span>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<div class="input-group">
												<!-- <input disabled type="text" class="form-control required" placeholder="End date" value="((if dateNotNull end_date)) ((dateFormate3 end_date)) ((/if))"> -->
												<input disabled type="text" class="form-control required" placeholder="End date" value="">
												<span class="input-group-addon gray-icons "><i class="ti-calendar"></i></span>
											</div>
										</div>
									</div>
								</div>
								<!-- ((/if)) -->
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 events-edit">
					<section class="row">
						<div class="content-padding">
							<div class="col-md-12">
								<div class="row event-info">
									<div class="col-md-4">
										<div id ='map' class="edit-event-location">
											{{ if .EventView.event_0.latitude | and  .EventView.event_0.longitude }}
											{{ $latitude := convertToFloat .EventView.event_0.latitude }}
											{{ $longitude := convertToFloat .EventView.event_0.longitude }}
											<script type="text/javascript"> initMap( {{ $latitude }}, {{ $longitude }} ) </script>
											{{ else }}
											<img src="../static/images/location-img.jpg" />
											{{ end }}
										</div>
									</div>
									<div class="col-md-8">
										<div class="event-description">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group" id="edit-eventcity">
														<label for="">Location (City)</label>
														<!-- ((> inputAutocomplete settings=cities id="location"  class="form-control" placeholder="Location (city)" value=event_details.location)) -->
														<input placeholder="Location (city)" class="form-control" id="location" type="text" value="{{ .EventView.event_0.location }}"  name="location" >
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6">
													<div class="form-group" id="edit-eventprovince">
														<label for="">Province</label>
														<!-- ((> inputAutocomplete settings=province id="province"  class="form-control" placeholder="Province" value=event_details.province)) -->
														<input placeholder="Province" class="form-control" readonly id="province" type="text" value="{{ .EventView.event_0.province }}" name="province">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group" id="edit-eventcountry">
														<label for="">Country</label>
														<!-- ((> inputAutocomplete settings=country id="country"  class="form-control" placeholder="Country" value=event_details.country)) -->
														<input placeholder="Country" class="form-control" id="country" readonly type="text"
														value="{{ .EventView.event_0.country }}" name="country" >
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label for="">Event Venue </label>
														<!-- <input type="text" id="venue_name" class="form-control" value="((venue_name))" placeholder="Port Credit"> -->
														<input type="text" id="venue_name" class="form-control"  placeholder="Port Credit" value="{{ .EventView.event_0.venue_name }}" name="venue_name">
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label for="">Venue Address</label>
														<!-- <input type="text" id="venue_street_address" class="form-control" value="((venue_street_address))" placeholder="Port Credit, Credit River"> -->
														<input type="text" id="venue_street_address" class="form-control" value="{{ .EventView.event_0.venue_street_address }}" placeholder="Port Credit, Credit River" name="venue_street_address">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="event-description">
											<div class="form-group focus-tooltip">
												<label for="">Event description</label>
												<!-- <textarea id="event_about" rows="3" class="form-control editable" placeholder="">((event_about))</textarea> -->
												<input type="hidden" id="hidden_desc" value="{{ .EventView.event_0.event_about }}">
												<textarea id="event_about" name="event_desc" rows="3" class="form-control editable editable_event_desc" placeholder="" style="resize: vertical;"></textarea>
												<p class="small-format">Formatting options available by selecting text</p>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="row event-organizer-edit-head">
											<div class="col-md-12">
												<label for="">Event Organizers</label>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<input type="hidden" id="total_organizers" value="{{ len .EventOrganisers }}">
										{{ $checkDuplicateOrg := .EventOrganisers.organiser.fk_user_id }}
										{{ if .EventOrganisers.organiser }}
										<div class="event-organizer-edit event-organizer-name">

											{{ if .EventOrganisers.organiser.files }}
											<img src="{{ .EventOrganisers.organiser.files }}" class="img-circle">
											{{ else }}
											<img src="/static/images/user-default.png" class="img-circle">
											{{ end }}
											<div class="class-tooltip">{{ .EventOrganisers.organiser.name}}</div>

											{{ if compare (convertToString .UserId) .EventOrganisers.organiser.fk_user_id | not }}
											<a href="" id="{{ .EventOrganisers.organiser.fk_user_id }}" class="remove-organizer removeMainOrganizer">
												<i class="ti-close removeMainOrganizer"></i>
											</a>
											{{ end }}
										</div>
										{{ end }}

										{{ $currentUserId := convertToString .UserId }}
										{{ range $index, $e := .EventOrganisers }}
										{{ if compare $index "organiser" }}

										{{ else }}

										{{ if compare $checkDuplicateOrg $e.fk_user_id | not }}
										<div class="event-organizer-edit event-organizer-name">
											<!-- <img src="((displayProfile organizer_id))" alt="" class="img-circle"> -->
											<!-- <div class="class-tooltip">((userNameOption organizer_id))</div> -->
											{{ if $e.files }}
											<img src="{{ $e.files }}" class="img-circle">
											{{ else }}
											<img src="/static/images/user-default.png" class="img-circle">
											{{ end }}
											<div class="class-tooltip">{{ $e.name}}</div>

											{{ if compare $currentUserId $e.fk_user_id | not }}
											<a id="{{ $e.fk_user_id }}" href="" class="remove-organizer remove-co-organizer">
												<i class="ti-close"></i>
											</a>
											{{ end }}

										</div>
										{{ end }}

										{{ end }}
										{{ end }}
										<div class="event-organizer-edit event-organizer-name">
											<a id="addOrganizer" href="" class="add-organizer">+</a>
										</div>
									</div>
								</div>

								{{ $Classes := .Classes }}
								{{ $Divisions := .Divisions }}

								<div class="row edit-event-class edit-event-title-responsive">
									<div class="col-md-12">
										<h3>CLASS</h3>
										{{if $allowEditStatus}}
										<a id="changeClassDivs" href="" class="green-text label-bold">Change</a>
										{{end}}
									</div>
								</div>
								<div class="row edit-event-class-list">
									<!-- ((each class_divisions))
									<div class="col-md-4">
										<div class="row">
											<div class="col-md-3">
												<p class="label-bold">((fullClasses class))</p>
											</div>
											<div class="col-md-9">
												((each div))
												<span class="list-class">((this))
													<div class="class-tooltip">((fullDivisionName this))</div>
												</span>
												((/each))
											</div>
										</div>
									</div>
									((/each)) -->

									<!-- ((each class_divisions)) -->
									<!-- Get this data from DB for the particular event -->
									{{ if .MDivisions }}
									<div class="col-md-4 mdivision">
										<div class="row">
											<div class="col-md-4">
												<!-- <p class="label-bold">((fullClasses class))</p> -->
												<p class="label-bold">Men</p>
											</div>
											<div class="col-md-8">
												<!-- ((each div)) -->
												<!-- <span class="list-class">((this)) -->
													<!-- <div class="class-tooltip">((fullDivisionName this))</div> -->
												{{  range $e2 := .MDivisions}}
												<span class="list-class">{{ $e2 }}
													{{ if gt (len $e2) 0  }}
													<div class="class-tooltip">{{ $e2 | GetFullDivName }}</div>
													{{ end }}
												</span>
												{{ end }}
											</div>
										</div>
									</div>
									{{ end }}

									{{ if .WDivisions }}
									<div class="col-md-4 wdivision">
										<div class="row">
											<div class="col-md-4">
												<!-- <p class="label-bold">((fullClasses class))</p> -->
												<p class="label-bold">Women</p>
											</div>
											<div class="col-md-8">
												<!-- ((each div)) -->
												<!-- <span class="list-class">((this)) -->
													<!-- <div class="class-tooltip">((fullDivisionName this))</div> -->
												{{  range $e2 := .WDivisions}}
												<span class="list-class">{{ $e2 }}
													{{ if gt (len $e2) 0  }}
													<div class="class-tooltip">{{ $e2 | GetFullDivName }}</div>
													{{ end }}
												</span>
												{{ end }}
											</div>
										</div>
									</div>
									{{ end }}

									{{ if .MXDivisions }}

									<div class="col-md-4 mxdivision">
										<div class="row">
											<div class="col-md-4">
												<!-- <p class="label-bold">((fullClasses class))</p> -->
												<p class="label-bold">Mixed</p>
											</div>
											<div class="col-md-8">
												<!-- ((each div)) -->
												<!-- <span class="list-class">((this)) -->
													<!-- <div class="class-tooltip">((fullDivisionName this))</div> -->
												{{  range $e2 := .MXDivisions}}
												<span class="list-class">{{ $e2 }}
													{{ if gt (len $e2) 0  }}
													<div class="class-tooltip">{{ $e2 | GetFullDivName }}</div>
													{{ end }}
												</span>
												{{ end }}
											</div>
										</div>
									</div>
									{{ end }}

								</div>
							</div>
						</div>
            {{if .EventBoatType}}
						<div class="row edit-event-class edit-event-title-responsive">
							<div class="content-padding">
							<div class="col-md-12">
								<table class="table dashboard-table edit-event-fee-men-table responsive-table edit_event_fees edit_event-table-padding">
									<thead>
										<tr>
											<!-- <th class="col-md-5"><h4>((fullClasses class))</h4></th> -->
											<th class="col-md-5  gray-th">Class</th>
											<th class="col-md-2  gray-th">Division</th>
											<th class="col-md-4  gray-th">BoatType</th>
											<th class="col-md-2  gray-th"></th>
											<th class="col-md-1"></th>
										</tr>
									</thead>
									<tbody id="appendClassDivisionBoattype">
									  {{ range $mp := .EventBoatType }}
										<tr id='{{if compare $mp.div "M"}}Male{{else if compare $mp.div "W"}}Women{{else if compare $mp.div "MX"}}Mixed{{end}}{{$mp.div}}_{{$mp.class}}' >
											<td style='padding-left:9px !important'>
												{{ $mp.class | GetFullDivName }}
												<input class="hide" name="boat_class_id[]" placeholder="" value="{{$mp.class}}">
											</td>
											<td>
												{{if compare $mp.div "M"}}
											   Male
												{{else if compare $mp.div "W"}}
												 Women
												{{else if compare $mp.div "MX"}}
												 Mixed
												{{end}}
												<input class="hide" name="boat_division_id[]" placeholder="" value="{{$mp.div}}">
											</td>
											<td>
											<select disabled class='select-custom form-control' name="boat_type_id[]">
													<option {{ if compare $mp.boat_type "" }} selected {{ end }} value=''>Select boat type</option>
													<option  {{ if compare $mp.boat_type "10" }} selected {{ end }} value='10'>10 Person</option>
													<option {{ if compare $mp.boat_type "20" }} selected {{ end }} value='20'>20 Person</option>
													<option {{ if compare $mp.boat_type "Both" }} selected {{ end }} value='Both'>Both</option>
											</select>
											</td>
											<td>
											</td>
										</tr>
										{{ end }}
									</tbody>
								</table>
							</div>
							</div>
						</div>
						{{end}}
					</section>

					<section class="row sponsors-event-list-row">
						<div class="content-padding">
							<div class="col-md-12">
								<div class="row edit-event-sponsors">
									<div class="col-md-4">
										<h3>SPONSORS</h3>
									</div>
									<div class="col-md-8 text-right">
										<a id="addSponsor" href="" class="btn btn-phantom-green">Add sponsor</a>
										
									</div>
								</div>
								{{ if .EventSponsor }}
								<div class="row ">
									<div class="col-md-12">
										<div class="row sponsor-select-all-edit">
											<div class="col-xs-2 col-md-1">
												<div class="md-checkbox">
													<input id="select_all_sponsors" class="md-check" type="checkbox">
													<label for="select_all_sponsors">
														<span class="check"></span>
														<span class="box"></span>
													</label>
												</div>
											</div>
											<div class="col-xs-10 col-md-11">
												<p>SELECT ALL</p>
											</div>
										</div>
										<div class="sponsors-list">
											<div class="row sponsor-list-row">
												<!-- ((each src3)) -->
												{{ range $ep := .EventSponsor }}
												<div class="col-md-6">
													<div class="row equal">
														<div class="col-xs-2">
															<div class="md-checkbox">

																<!-- <input id="((_id))" class="md-check" name="sponsors_id[]" value="((_id))" type="checkbox"> -->
																<!-- <label for="((_id))"><span class="check"></span><span class="box"></span></label> -->
																<input id="{{ $ep.fk_event_sponser_id }}" class="md-check" name="sponsors_id[]" value="{{ $ep.fk_event_sponser_id }}" type="checkbox">
																<label for="{{ $ep.fk_event_sponser_id }}"><span class="check"></span><span class="box"></span></label>

															</div>
														</div>
														<div class="col-xs-10">

															<!-- <img src="((sponsors))"> -->
															<img src="{{ $ep.path }}">

														</div>
													</div>
												</div>
												<!-- ((/each)) -->
												{{ end }}
											</div>
										</div>
									</div>
								</div>
								{{ end }}
							</div>
						</div>
					</section>

					<section class="row event-edit-fees">
						<div class="content-padding">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">
										<h3>EVENT FEES</h3>
										<h5>Registration dates</h5>
										<span id="reg_dates_err" class="error-message hide"></span>

										<div class="row">
											<div class="col-md-8">
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label>Super-early bird</label>
															<div class="input-group">

																<!-- <input type="text" class="form-control dtpicker_input " placeholder="mm/dd/yyyy" id="seb_date" value="((if super_early_bird_date)) ((dateFormate3 super_early_bird_date)) ((/if))" > -->
																{{  if compare .EventView.event_0.seb_date "01/01/0001" }} 
																<input type="text" class="form-control dtpicker_input " disabled placeholder="mm/dd/yyyy" id="seb_date"  value="" autocomplete="off">
																{{ else }}
																<input type="text" class="form-control dtpicker_input " disabled  placeholder="mm/dd/yyyy" id="seb_date" value="{{ .EventView.event_0.seb_date }}"  autocomplete="off">
																{{ end }}

																<span id="seb_dtpicker" disabled class="input-group-addon gray-icons"><i class="ti-calendar"></i></span>
															</div>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label>Early bird</label>
															<div class="input-group">

																{{  if compare .EventView.event_0.eb_date "01/01/0001" }} 
																<input type="text" disabled class="form-control dtpicker_input " placeholder="mm/dd/yyyy" id="eb_date" value=""  autocomplete="off">
																{{ else }}
																<input type="text" disabled class="form-control dtpicker_input " placeholder="mm/dd/yyyy" id="eb_date" value="{{ .EventView.event_0.eb_date }}"  autocomplete="off">
																{{ end }}

																<span id="eb_dtpicker" disabled class="input-group-addon gray-icons"><i class="ti-calendar"></i></span>
															</div>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label>Regular</label>
															<div class="input-group">

																{{  if compare .EventView.event_0.r_date "01/01/0001" }} 
																<input type="text" disabled class="form-control dtpicker_input " placeholder="mm/dd/yyyy" id="rb_date" value=""  autocomplete="off">
																{{ else }}
																<input type="text" disabled class="form-control dtpicker_input " placeholder="mm/dd/yyyy" id="rb_date" value="{{ .EventView.event_0.r_date }}"  autocomplete="off">
																{{ end }}

																<span id="reg_dtpicker" disabled class="input-group-addon gray-icons"><i class="ti-calendar"></i></span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row equal edit-event-fees-currency">
											<div class="col-md-2 vertical-center">
												<label class="no-margin">Display all costs in</label>
											</div>
											<div class="col-md-2">
												<!-- <select id="currency" class="select-custom form-control">
													((each currencyTypes))
													<option selected="((selected ../currency value))" value="((value))">((label))</option> 
													((/each))
												</select> -->
												<select aria-hidden="true" tabindex="-1" disabled class="select-custom form-control select2-hidden-accessible" id="currency"  style="width: 150px">
													<option {{ if compare .EventView.event_0.currency "CAD" }} selected {{ end }} value="CAD">CAD</option> 													
													<option {{ if compare .EventView.event_0.currency "USD" }} selected {{ end }} value="USD">USD</option> 													
													<option {{ if compare .EventView.event_0.currency "EUR" }} selected {{ end }} value="EUR">EUR</option> 													
													<option {{ if compare .EventView.event_0.currency "AUD" }} selected {{ end }} value="AUD">AUD</option> 													
													<option {{ if compare .EventView.event_0.currency "RMB" }} selected {{ end }} value="RMB">RMB</option> 													
												</select>
											</div>
										</div>
										{{ if compare .EventView.event_0.price_based "BRC" }}
										{{ if .MenPricing }}
										<div class="row">
											<div class="col-md-12">
												<table class="table dashboard-table edit-event-fee-men-table responsive-table edit_event_fees edit_event-table-padding">
													<thead>
														<tr>
															<!-- <th class="col-md-5"><h4>((fullClasses class))</h4></th> -->
															<th class="col-md-5"><h4>Men</h4></th>

															<th class="col-md-2 text-center gray-th">Super early bird</th>
															<th class="col-md-2 text-center gray-th">Early bird</th>
															<th class="col-md-2 text-center gray-th">Regular</th>
															<th class="col-md-1"></th>
														</tr>
													</thead>
													<tbody>
														{{ range $mp := .MenPricing }}
														<tr>
															<td>
																<span class="list-class" >{{ $mp.pricing_division }}</span> 
															{{ $mp.pricing_division | GetFullDivName }} {{if $mp.boat_type}} {{$mp.boat_type}} Person {{end}}
															</td>
														
															<td>
																<input  type="Number" disabled class="form-control" name=""  placeholder="0" value="{{ if compare "0" $mp.seb_cost | not }}{{ $mp.seb_cost }}{{end}}" autocomplete="off">
															</td>
															<td>
																<input  type="Number" disabled class="form-control " name="" placeholder="0" value="{{ if compare "0" $mp.eb_cost | not }}{{ $mp.eb_cost }}{{end}}" autocomplete="off">
															</td>
															<td>
																<input  type="Number" disabled class="form-control" name="" placeholder="0" value="{{ if compare "0" $mp.r_cost | not }}{{ $mp.r_cost }}{{end}}" autocomplete="off">
															</td>
															<td></td>
														</tr>
														{{ end }}
													</tbody>
												</table>
											</div>
										</div>
										{{ else }}

										{{ if .MDivisions }}
										<!-- <div class="row">
											<div class="col-md-12">
												<table class="table dashboard-table edit-event-fee-men-table responsive-table edit_event_fees edit_event-table-padding">
													<thead>
														<tr>
														
															<th class="col-md-5"><h4>Men</h4></th>

															<th class="col-md-2 text-center gray-th">Super early bird</th>
															<th class="col-md-2 text-center gray-th">Early bird</th>
															<th class="col-md-2 text-center gray-th">Regular</th>
															<th class="col-md-1"></th>
														</tr>
													</thead>
													<tbody>
														
														{{  range $e2 := .MDivisions}}
														<tr>
															<td>
																<span class="list-class" >{{ $e2 }}</span> 
																{{ $e2 | GetFullDivName }}
															</td>
															<input class="hide" name="M_divisions[]" placeholder="" value="{{ $e2 }}">
															<td>
																<input id="{{ $e2 }}" type="Number" class="form-control" name="M_seb_price[]" placeholder="0" value="" autocomplete="off">
															</td>
															<td>
																<input id="{{ $e2 }}" type="Number" class="form-control " name="M_eb_price[]" placeholder="0" value="" autocomplete="off">
															</td>
															<td>
																<input id="{{ $e2 }}" type="Number" class="form-control" name="M_r_price[]" placeholder="0" value="" autocomplete="off">
															</td>
															<td><a href="" id="" class="btn btn-phantom-orange clear_fees"><i id="" class="ti-close"></i></a></td>
														</tr>
														{{ end }}
													</tbody>
												</table>
											</div>
										</div> -->
										{{ end }}

										{{ end }}

										{{ if .WomenPricing }}
										<div class="row">
											<div class="col-md-12">
												<table class="table dashboard-table edit-event-fee-men-table responsive-table edit_event_fees edit_event-table-padding">
													<thead>
														<tr>
															<!-- <th class="col-md-5"><h4>((fullClasses class))</h4></th> -->
															<th class="col-md-5"><h4>Women</h4></th>

															<th class="col-md-2 text-center gray-th">Super early bird</th>
															<th class="col-md-2 text-center gray-th">Early bird</th>
															<th class="col-md-2 text-center gray-th">Regular</th>
															<th class="col-md-1"></th>
														</tr>
													</thead>
													<tbody>
														{{ range $wp := .WomenPricing }}
														<tr>
															<td><span class="list-class" >{{ $wp.pricing_division }}</span> 
																{{ $wp.pricing_division | GetFullDivName }} {{if $wp.boat_type}} {{$wp.boat_type}} Person {{end}}
															</td>
															<td>
																<input  type="Number" disabled class="form-control" name="" placeholder="0" value="{{ if compare "0" $wp.seb_cost | not }}{{ $wp.seb_cost }}{{end}}" autocomplete="off">
															</td>
															<td>
																<input  type="Number" disabled class="form-control " name="" placeholder="0" value="{{ if compare "0" $wp.eb_cost | not }}{{ $wp.eb_cost }}{{end}}" autocomplete="off">
															</td>
															<td>
																<input  type="Number" disabled class="form-control "name=""  placeholder="0" value="{{ if compare "0" $wp.r_cost | not }}{{ $wp.r_cost }}{{end}}" autocomplete="off">
															</td>
															<td></td>
														</tr>
														{{ end }}
													</tbody>
												</table>
											</div>
										</div>
										{{ else }}

										{{ if .WDivisions }}
										<!-- <div class="row">
											<div class="col-md-12">
												<table class="table dashboard-table edit-event-fee-men-table responsive-table edit_event_fees edit_event-table-padding">
													<thead>
														<tr>
															
															<th class="col-md-5"><h4>Women</h4></th>

															<th class="col-md-2 text-center gray-th">Super early bird</th>
															<th class="col-md-2 text-center gray-th">Early bird</th>
															<th class="col-md-2 text-center gray-th">Regular</th>
															<th class="col-md-1"></th>
														</tr>
													</thead>
													<tbody>
														{{  range $e2 := .WDivisions}}
														<tr>
															<td><span class="list-class" >{{ $e2 }}</span> 
																{{ $e2 | GetFullDivName }}
															</td>
															<input class="hide" name="W_divisions[]" placeholder="" value="{{ $e2 }}">
															<td>
																<input id="{{ $e2 }}" type="Number" class="form-control" name="W_seb_price[]" placeholder="0" value="" autocomplete="off">
															</td>
															<td>
																<input id="{{ $e2 }}" type="Number" class="form-control " name="W_eb_price[]" placeholder="0" value="" autocomplete="off">
															</td>
															<td>
																<input id="{{ $e2 }}" type="Number" class="form-control "name="W_r_price[]"  placeholder="0" value="" autocomplete="off">
															</td>
															<td><a href="" id="" class="btn btn-phantom-orange clear_fees"><i id="" class="ti-close"></i></a></td>
														</tr>
														{{ end }}
													</tbody>
												</table>
											</div>
										</div> -->

										{{ end }}
										{{ end }}

										{{ if .MixedPricing }}
										<div class="row">
											<div class="col-md-12">
												<table class="table dashboard-table edit-event-fee-men-table responsive-table edit_event_fees edit_event-table-padding">
													<thead>
														<tr>
															<!-- <th class="col-md-5"><h4>((fullClasses class))</h4></th> -->
															<th class="col-md-5"><h4>Mixed</h4></th>

															<th class="col-md-2 text-center gray-th">Super early bird</th>
															<th class="col-md-2 text-center gray-th">Early bird</th>
															<th class="col-md-2 text-center gray-th">Regular</th>
															<th class="col-md-1"></th>
														</tr>
													</thead>
													<tbody>
														{{ range $mxp := .MixedPricing }}
														<tr>
															<td><span class="list-class" >{{ $mxp.pricing_division }}</span> 
																{{ $mxp.pricing_division | GetFullDivName }} {{if $mxp.boat_type}} {{$mxp.boat_type}} Person {{end}}
															</td>
															<td>
																<input disabled  type="Number" class="form-control " name="" placeholder="0" value="{{ if compare "0" $mxp.seb_cost | not }}{{ $mxp.seb_cost }}{{end}}" autocomplete="off">
															</td>
															<td>
																<input disabled  type="Number" class="form-control " name="" placeholder="0" value="{{ if compare "0" $mxp.eb_cost | not }}{{ $mxp.eb_cost }}{{end}}" autocomplete="off">
															</td>
															<td>
																<input disabled  type="Number" class="form-control" name="" placeholder="0" value="{{ if compare "0" $mxp.r_cost | not }}{{ $mxp.r_cost }}{{end}}" autocomplete="off">
															</td>
															<td></td>
														</tr>
													</tbody>
													{{ end }}
												</table>
											</div>
										</div>
										{{ else }}

										{{ if .MXDivisions }}
										<!-- <div class="row">
											<div class="col-md-12">
												<table class="table dashboard-table edit-event-fee-men-table responsive-table edit_event_fees edit_event-table-padding">
													<thead>
														<tr>
															
															<th class="col-md-5"><h4>Mixed</h4></th>

															<th class="col-md-2 text-center gray-th">Super early bird</th>
															<th class="col-md-2 text-center gray-th">Early bird</th>
															<th class="col-md-2 text-center gray-th">Regular</th>
															<th class="col-md-1"></th>
														</tr>
													</thead>
													<tbody>
														{{ range $e2 := .MXDivisions }}
														<tr>
															<td><span class="list-class" >{{ $e2 }}</span> 
																{{ $e2 | GetFullDivName }}
															</td>
															<input class="hide" name="MX_divisions[]" placeholder="" value="{{ $e2 }}" >
															<td>
																<input id="{{ $e2 }}" type="Number" class="form-control " name="MX_seb_price[]" placeholder="0" value="" autocomplete="off">
															</td>
															<td>
																<input id="{{ $e2 }}" type="Number" class="form-control " name="MX_eb_price[]" placeholder="0" value="" autocomplete="off">
															</td>
															<td>
																<input id="{{ $e2 }}"  type="Number" class="form-control" name="MX_r_price[]" placeholder="0" value="" autocomplete="off">
															</td>
															<td><a href="" id="" class="btn btn-phantom-orange clear_fees"><i id="" class="ti-close"></i></a></td>
														</tr>
													</tbody>
													{{ end }}
												</table>
											</div>
										</div> -->
										{{ end }}

										{{ end }}
										{{else if compare .EventView.event_0.price_based "PP" | and $eventPricingDetail }}
										<div class="row">
												<div class="col-md-12">
													<table class="table dashboard-table edit-event-fee-men-table responsive-table edit_event_fees edit_event-table-padding">
														<thead>
															<tr>
																<!-- <th class="col-md-5"><h4>((fullClasses class))</h4></th> -->
																<th class="col-md-5"><h4>Per Person</h4></th>
	
																<th class="col-md-2 text-center gray-th">Super early bird</th>
																<th class="col-md-2 text-center gray-th">Early bird</th>
																<th class="col-md-2 text-center gray-th">Regular</th>
																<th class="col-md-1"></th>
															</tr>
														</thead>
														<tbody>
															{{ range $mxp := $eventPricingDetail }}
															{{if $mxp.price_fee_role}}
															{{$price_fee_role := chararrayreplace $mxp.price_fee_role}}
															<tr>
																<td><span class="list-class" >PP</span> 
															  {{$price_fee_role}}
																</td>
																<td>
																	<input id="" type="Number" disabled class="form-control " name="" placeholder="0" value="{{ if compare "0" $mxp.seb_cost | not }}{{ $mxp.seb_cost }}{{end}}" autocomplete="off">
																</td>
																<td>
																	<input id="" type="Number" disabled class="form-control " name="" placeholder="0" value="{{ if compare "0" $mxp.eb_cost | not }}{{ $mxp.eb_cost }}{{end}}" autocomplete="off">
																</td>
																<td>
																	<input id=""  type="Number" disabled class="form-control" name="" placeholder="0" value="{{ if compare "0" $mxp.r_cost | not }}{{ $mxp.r_cost }}{{end}}" autocomplete="off">
																</td>
																<td></td>
															</tr>
															{{end}}
														</tbody>
														{{ end }}
													</table>
												</div>
											</div>
										{{else if compare .EventView.event_0.price_based "OT" | and $eventPricingDetail}}
										<div class="row edit-event-cause">
												<div class="content-padding">
													<div class="col-md-12" style='padding-left: 0px;'>
														<h3>Other</h3>
														{{ range $mxp := $eventPricingDetail }}
													  <textarea id="" name="" class="form-control" placeholder="" rows="3" disabled value="" style="resize: vertical;">{{$mxp.other}}</textarea>
													  {{end}}
													</div>
												</div>
											</div>
                    {{ end }}
										<div class="row edit-other-fees edit-event-title-responsive">
											<div class="col-md-12">
												<h3>PRACTICE FEES</h3>
											</div>
										</div>

										<div class="row">
											<div class="col-md-12">
												<table class="table dashboard-table edit-event-other-fee-table responsive-table edit-event-other-fee-table">
													<thead>
														<tr>
															<th class="col-md-6"><h4>ITEM</h4></th>
															<th class="col-md-3 text-center gray-th">Quantity</th>
															<th class="col-md-2 text-center gray-th">Unit Price</th>
															<th class="col-md-1"></th>
														</tr>
													</thead>
													<tbody>
														<!-- ((each pricing_practices))
														<tr>
															<td>((name))</td>
															<td><input id="((renamedId name))_quantity" type="Number" class="form-control type-number" placeholder="0" value="((quantity))"></td>
															<td><input id="((renamedId name))_price" type="Number" class="form-control" placeholder="((../currency))" value="((price))"></td>
															<td><a href="" class="btn btn-phantom-orange clear_pricing"><i class="ti-close"></i></a></td>
														</tr>
														((/each)) -->
														<tr>
															<td>Free Practice</td>
															<td>
																<input id="free_practice_num" type="text" min="1" {{if not $allowEditStatus}} readonly {{end}}   class="form-control event-quality-size-range" placeholder="0" name="free_practice_num" value="{{ if compare "0" .FreePractice.free.quantity | not }}{{ .FreePractice.free.quantity }}{{end}}">
															</td>
															<td>
																<input id="compl_pract_cost" type="Number" {{if not $allowEditStatus}} readonly {{end}} class="form-control event-quality-size" placeholder="{{ .EventView.event_0.currency }}" value="{{ if compare "0" .FreePractice.free.price_1 | not }}{{ .FreePractice.free.price_1 }}{{end}}" name="compl_pract_cost">
															</td>
															<td><a href="" {{if not $allowEditStatus}} disabled {{end}} class="btn btn-phantom-orange clear_free_pricing"><i class="ti-close"></i></a></td>
														</tr>
														<tr>
															<td>Additional Practice</td>
															<td>
																<input id="additonal_pracs" {{if not $allowEditStatus}} readonly {{end}} type="number" name="additonal_pracs" class="form-control event-quality-size-range"  placeholder="0" value="{{ if compare "0" .AdditionalPractice.additional.quantity | not }}{{ .AdditionalPractice.additional.quantity }}{{end}}">
															</td>
															<td>
																<input id="additional_practices_cost" {{if not $allowEditStatus}} readonly {{end}} type="Number" name="additional_practices_cost" class="form-control event-quality-size" placeholder="{{ .EventView.event_0.currency }}" value="{{ if compare "0" .AdditionalPractice.additional.price_1 | not }}{{ .AdditionalPractice.additional.price_1 }}{{end}}">
															</td>
															<td><a href="" {{if not $allowEditStatus}} disabled {{end}} class="btn btn-phantom-orange clear_addn_pricing"><i class="ti-close"></i></a></td>
														</tr>
														<tr>
															<td>Coaching Service (per hour)</td>
															<td></td>
															<!-- <td><input type="Number" id="coaching_service" class="form-control  type-number" placeholder="((../currency))" value="((coach_fee))"></td> -->
															<td>
																<input type="Number" {{if not $allowEditStatus}} readonly {{end}} id="coaching_service" name="coaching_service_cost" class="form-control event-quality-size  type-number" placeholder="{{ .EventView.event_0.currency }}" value="{{ if compare "0" .EventView.event_0.coach_fee_1 | not }}{{ .EventView.event_0.coach_fee_1 }}{{end}}">
															</td>
															<td><a href="" {{if not $allowEditStatus}} disabled {{end}} class="btn btn-phantom-orange clear_coach_pricing"><i class="ti-close"></i></a></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>

										<div class="row edit-other-fees edit-event-title-responsive">
											<div class="col-md-12">
												<h3>OTHER FEES</h3>
												<a id="create-other-pricing-add-row" href="">Add items</a>
											</div>
										</div>

										<div class="row">
											<div class="col-md-12">
												<table class="table dashboard-table edit-event-other-fee-table responsive-table edit-event-other-fee-table" id="other_pract_pricing">
													<thead>
														<tr>
															<th class="col-md-6"><h4>ITEM</h4></th>
															<th class="col-md-2 text-center gray-th">Unit Price</th>
															<th class="col-md-1"></th>
														</tr>
													</thead>
													<tbody>
														{{ if .OtherPricing }}

														{{ range $index , $op := .OtherPricing }}
														<tr id="rowss_{{$index }}">
																<input type='hidden' id="item_id_value_{{  $index }}" name="item_id_value[]" value="{{ $op.id }}">
															<td>
																<input type="text" {{if not $allowEditStatus}} readonly {{end}} id="item_{{  $index }}" class="form-control edit-event-other-item-input" maxlength="200" placeholder="Item Name" name="item_title[]" value="{{ $op.item }}">
															</td>
															<td>
																<input type="Number" {{if not $allowEditStatus}} readonly {{end}} id="item_cost_{{  $index }}" class="form-control type-number event-quality-size" min=0 placeholder="Price" name="item_cost[]" value="{{ $op.cost_1 }}">
															</td>
															<td>
																<a  href="" {{if not $allowEditStatus}} disabled {{else}}id="delete_item_{{  $index }}" {{end}} class="btn btn-phantom-orange delete_item">
																	<i class="ti-close"></i>
																</a>
															</td>
														</tr>
														{{ end }}

														{{ else }}
														
														<tr id="rowss_1 ">
															<td>
																<input type="text" id="item_1"  class="form-control edit-event-other-item-input" maxlength="200" placeholder="Item Name" name="item_title[]" value="">
															</td>
															<td>
																<input type="Number" id="item_cost_1"  class="form-control type-number event-quality-size" min=0 placeholder="Price" name="item_cost[]" value="">
															</td>
															<td>
																<a id="delete_item_1" href=""  class="btn btn-phantom-orange delete_item">
																	<i class="ti-close"></i>
																</a>
															</td>
														</tr>
														
														{{ end }}
													</tbody>
												</table>
											</div>
										</div>

										<div class="row edit-other-fees edit-event-title-responsive">
											<div class="col-md-12">
												<h3>ADDITIONAL INFORMATION</h3>
												<a id="create-questions-add-row" href="" style="font-size: 14px;">Add items</a>
											</div>
										</div>
										<div class="row">
												<div class="col-md-12">
														<div class="error-message error_question_count hide">
																<p><span>No more than 200 words.</span></p>
														</div>
													<table class="table dashboard-table edit-event-other-fee-table responsive-table edit-event-other-fee-table" id="questions_event_table">
														<thead>
															<tr>
																<th class="col-md-11"><h4>ADDITIONAL INFORMATION</h4></th>
																<th class="col-md-1"></th>
															</tr>
														</thead>
														<tbody>
															{{ if .EventQuestionary }}
	
															{{ range $index , $op := .EventQuestionary }}
															<tr id="rowss_question{{ $index }}">
																	<td>
																		<input type="text" {{if not $allowEditStatus}} readonly {{end}} id="question_{{  $index }}"  placeholder="Question" name="event_questions[]" class="form-control edit-event-other-item-input" value="{{ $op.questions }}" />
																	</td>
																	<td>
																		<a {{if not $allowEditStatus}} disabled {{else}} id="delete_question_{{  $index }}" {{end}}  href="" class="btn btn-phantom-orange delete_question_item">
																				<i class="ti-close"></i>
																		</a>
																	</td>
																</tr>
															{{ end }}
	
															{{ else }}
															
															<tr id="rowss_question1">
																	<td>
																		<input type="text"  id="question_1"  placeholder="Question" name="event_questions[]" class="form-control edit-event-other-item-input" />
																	</td>
																	<td>
																		<a id="delete_question_1"  href="" class="btn btn-phantom-orange delete_question_item">
																				<i class="ti-close"></i>
																		</a>
																	</td>
																</tr>
															
															{{ end }}
														</tbody>
													</table>
												</div>
											</div>	
									</div>
								</div>
							</div>
						</div>
					</section>

					{{ if .register_team_details }}
					<section class="row event-registered-teams">
						<div class="col-md-12">
							<div class="content-padding">
								<div class="row">
									<div class="col-md-12">
										<h3>REGISTERED TEAMS</h3>
										<div class="search-registered-teams">
											<div class="input-group">
												<span class="input-group-addon"><i class="ti-search"></i></span>
												<input type="text" id="searchByTName" class="form-control" placeholder="Search registered teams">
											</div>
										</div>

										<!-- ((each register_team_details))-->
										<div class="event-organizer-edit">
											<!-- <img src="((regTeamsLogoUrl team_id))" alt="" class="img-circle"> -->
											<img src="" alt="" class="img-circle">
											<a href="" class="remove-organizer">
												<i class="ti-close"></i>
											</a>
										</div>
										<!-- ((/each)) -->
									</div>
								</div>
							</div>
						</div>
					</section>
					{{ end }}

					<section class="row equal">
						<div class="col-md-6">
							<div class="row edit-event-cause">
								<div class="content-padding">
									<div class="col-md-12">
										<h3>ABOUT THE CAUSE</h3>
										<!-- <textarea id="about_event_cause" class="form-control" placeholder="Tell the community how your event is supporting something greater!" rows="3">((about_cause))</textarea> -->
										<textarea id="about_event_cause" name="about_event_cause" class="form-control" placeholder="Tell the community how your event is supporting something greater!" rows="3" value="" style="resize: vertical;">{{ .EventView.event_0.about_cause }}</textarea>
									</div>
								</div>
							</div>
							<div class="row edit-event-faq">
								<div class="col-md-12">
									<div class="content-padding">

										<div class="row edit-event-title-responsive">
											<div class="col-md-12">
												<h3>FAQ</h3>
												<a id="add_faq" href="">Add new question</a>
											</div>
										</div>
										{{ if .EventFaq }}

										{{ range $index, $faq := .EventFaq }}
										<div id="faq_{{ increment $index }}" class="row faqs">
											<div class="content-padding">
												<div class="faq-group">
													<div class="col-md-12">
														<div class="row equal">
															<div class="col-xs-2 gray-icons">
																<label>Q</label>
															</div>
															<div class="col-xs-10 faq-edit">
																<!-- <input type="text" class="form-control" id="faqQ_((_id))" value="((question))" placeholder="Enter your question"> -->
																<input type="text" class="form-control" name="faqQ[]" id="faqQ_{{ increment $index}}" value="{{ $faq.question }}" placeholder="Enter your question">
																<a id="delete_faq_{{ increment $index }}" class="delete-faq" href="" ><i class="ti-close"></i></a>
															</div>
														</div>
														<div class="row equal">
															<div class="col-xs-2 gray-icons">
																<label>A</label>
															</div>
															<div class="col-xs-10">
																<!-- <input type="text" class="form-control" id="faqA_((_id))" value="((answer))" placeholder="Enter your answer"> -->
																<input type="text" class="form-control" name="faqA[]" id="faqA_{{ increment $index}}" value="{{ $faq.answer }}" placeholder="Enter your answer">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										{{ end }}

										{{ $num := increment ( convertToString (len .EventFaq) )}}
										<div id="faq_{{ $num }}" class="row faqs">
											<div class="content-padding">
												<div class="faq-group">
													<div class="col-md-12">
														<div class="row equal">
															<div class="col-xs-2 gray-icons">
																<label>Q</label>
															</div>
															<div class="col-xs-10 faq-edit">
																<input type="text" class="form-control" id="faqQ_{{ $num }}" name="faqQ[]" value="" placeholder="Enter your question">
																<a id="delete_faq_{{ $num }}" class="delete-faq" href="" ><i class="ti-close"></i></a>
															</div>

														</div>
														<div class="row equal">
															<div class="col-xs-2 gray-icons">
																<label>A</label>
															</div>
															<div class="col-xs-10">
																<input type="text" class="form-control" id="faqA_{{ $num }}" name="faqA[]" value="" placeholder="Enter your answer">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										{{ else }}
										<div id="faq_1" class="row faqs">
											<div class="content-padding">
												<div class="faq-group">
													<div class="col-md-12">
														<div class="row equal">
															<div class="col-xs-2 gray-icons">
																<label>Q</label>
															</div>
															<div class="col-xs-10 faq-edit">
																<input type="text" class="form-control" id="faqQ_1" name="faqQ[]" value="" placeholder="Enter your question">
																<a id="delete_faq_1" class="delete-faq" href="" ><i class="ti-close"></i></a>
															</div>

														</div>
														<div class="row equal">
															<div class="col-xs-2 gray-icons">
																<label>A</label>
															</div>
															<div class="col-xs-10">
																<input type="text" class="form-control" id="faqA_1" name="faqA[]" value="" placeholder="Enter your answer">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										{{  end }}

									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 edit-event-contact">
							<div class="content-padding">
								<div class="row">
									<div class="col-xs-12">
										<h3>Contact</h3>
									</div>
								</div>
								<div class="row equal">
									<div class="col-xs-2 col-md-1 vertical-center">
										<i class="ti-twitter-alt"></i>
									</div>
									<div class="col-xs-10 col-md-11">
										<span id="twitter_err" class="error-message hide"></span>
										<div class="input-group">
											<span class="input-group-addon">@</span>
											<!-- <input type="text" id="twitter_handle" class="form-control" value="((editUrl twitter_handle))" placeholder="username"> -->
									
											<input type="text" id="twitter_handle" name="twitter_handle" class="form-control" value="{{ if .EventView.event_0.twitter_handle }} {{ linkWithoutDomain .EventView.event_0.twitter_handle }} {{ end }}" placeholder="username">
										</div>
									</div>
								</div>
								<div class="row equal">
									<div class="col-xs-2 col-md-1 vertical-center">
										<i class="ti-facebook"></i>
									</div>
									<div class="col-xs-10 col-md-11">
										<span id="fb_err" class="error-message hide"></span>
										<div class="input-group">
											<span class="input-group-addon">facebook.com/</span>
											<!-- <input type="text" id="facebook_page_url" class="form-control"  value="((editUrl facebook_page_url))" placeholder="username"> -->
										
											<input type="text" id="facebook_page_url" name="facebook_page_url" class="form-control"  value="{{ if .EventView.event_0.facebook_page_url }} {{ linkWithoutDomain .EventView.event_0.facebook_page_url }} {{ end }}" placeholder="username">
										</div>
									</div>
								</div>
								<div class="row equal">
									<div class="col-xs-2 col-md-1 vertical-center">
										<i class="ti-youtube"></i>
									</div>
									<div class="col-xs-10 col-md-11">
										<span id="youtube_err" class="error-message hide"></span>
										<div class="input-group">
											<span class="input-group-addon">youtube.com/</span>
											<!-- <input type="text" id="youtube_url" class="form-control" value="((editUrl youtube_url))" placeholder="username"> -->
											<input type="text" id="youtube_url" name="youtube_url" class="form-control" value="{{ if .EventView.event_0.youtube_url }} {{ linkWithoutDomain .EventView.event_0.youtube_url }} {{ end }}" placeholder="username">
										</div>
									</div>
								</div>
								<div class="row equal">
									<div class="col-xs-2 col-md-1 vertical-center">
										<img src="../static/images/phone.png">
									</div>
									<div class="col-xs-10 col-md-11">
										<span id="phone_err" class="error-message hide"></span>
										<!-- <input type="text" id="phone_number" class="form-control" value="((phone_number))" placeholder="123-456-7890"> -->
										<input type="text" id="event_phone_number" name="event_phone_number" class="form-control" value="{{ .EventView.event_0.phone_number }}" placeholder="+1 123-456-7890">
									</div>
								</div>
								<div class="row equal">
									<div class="col-xs-2 col-md-1 vertical-center">
										<i class="ti-email"></i>
									</div>
									<div class="col-xs-10 col-md-11">
										<span id="email_err" class="error-message hide"></span>
										<!-- <input type="text" id="email" class="form-control" value="((email))" placeholder="example@example.com"> -->
										<input type="text" id="event_email" name="event_email" class="form-control" value="{{ .EventView.event_0.email }}" placeholder="example@example.com">
									</div>
								</div>
								<div class="row equal">
									<div class="col-xs-2 col-md-1 vertical-center">
										<img src="../static/images/web.png">
									</div>
									<div class="col-xs-10 col-md-11">
										<span id="website_err" class="error-message hide"></span>
										<!-- <input type="text" id="website_url" class="form-control" value="((website_url))" placeholder="www.example.com"> -->
									
										<input type="text" id="website_url" name="website_url" class="form-control" value="{{ if .EventView.event_0.website_url }} {{.EventView.event_0.website_url }} {{ end }}" placeholder="www.example.com">
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</form>
	</div>
</div>

	<form id="event_image_upload" enctype="multipart/form-data">
	<div class="modal fade" id="uploadLogoModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<h3>Upload a picture</h3>
					<div class="row">
						<div class="col-lg-12">
							<span id="ev_err_msg" ></span>
							<span id="ev_succ_msg" ></span>
							<!-- <p class="image-size">((uploadImageSizeText))</p> -->
							<p class="image-size">Please upload a jpg or jpeg or png image of maximum 10MB, 100x100</p>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
									<span class="sr-only"></span>
								</div>
							</div>
							<div class="fileupload fileupload-new" data-provides="fileupload">
								<!-- <span class="btn btn-primary btn-file">
									<span class="fileupload-new">Select file</span>
									<input id="eventLogoUpload" type="file"/>
								</span>   -->    

								<div>
									<label for="eventLogoUpload" class="btn btn-primary btn-fullwidth btn-file fileupload-new"> Select file </label>
									<input id="eventLogoUpload" style="visibility:hidden;" name="file" type="file" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

	<form id="event_sponsor_upload" enctype="multipart/form-data">
	<div class="modal fade" id="uploadSponsorModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<h3>Add Sponsor Logo</h3>
					<div class="row">
						<div class="col-lg-12">
							<span id="es_err_msg" ></span>
							<span id="es_succ_msg" ></span>
							<div id="prog"></div>
							<!-- <p class="image-size">((uploadImageSizeText))</p>  -->
							<p class="image-size">Please upload a jpg or jpeg or png image of maximum 10MB, 100x100</p> 
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
									<span class="sr-only"></span>
								</div>
							</div>
							<div class="fileupload fileupload-new" data-provides="fileupload">
								<!-- <span class="btn btn-primary btn-file">
									<span class="fileupload-new">Select file</span>
									<input id="eventSponsorUpload" type="file"/>
								</span>   -->

								<div>
									<label for="eventSponsorUpload" class="btn btn-primary btn-fullwidth btn-file fileupload-new"> Select file </label>
									<input id="eventSponsorUpload" style="visibility:hidden;" name="file" type="file" />
								</div>     
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

	<div class="modal fade" id="addEventOrganizer">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<div class="row">
						<div class="col-md-12">
							<h3>Add event organizer</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<span id="existing_err_msg" class=""></span>
							<span id="err_msg" class=""></span>
							<span id="succ_msg" class=""></span>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Email</label>
								<input type="text" class="form-control" placeholder="Enter email address" name="" id="organizerEmail">
							</div>

							<div class="form-group">
								<label>Message</label>
								<textarea class="form-control" placeholder="Enter your message here ..." rows="3" name="" id="organizerMessage"></textarea>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<p>This message will be sent immediately</p> 
							<button id="submitAddOrganizer" type="button" class="btn btn-primary btn-fullwidth">Send invitation</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addOrganizerModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<div class="row">
						<div class="col-md-12">
							<h3>Remove event organizer</h3>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<p>Cannot remove event organizer. Assign co-organizer before removing.</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<button type="reset" class="btn btn-primary btn-fullwidth" data-dismiss="modal" aria-label="Close">Ok</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="confirmDeleteModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<h3 class="modal-title">Remove event organizer</h3>
					<input id="eventOrgId" style="display:none" class="hide" type="hidden"/>
					<span id="rem_err_msgs" class=""></span>
					<span id="rem_succ_msgs" class=""></span>
					<p><span class="get-event-org-name"></span> will no longer be an event organizer of this event. Do you want to proceed?</p>
					<br>
				</div>
				<div class="modal-footer">
					<button id="deleteEventOrganizer" type="button" class="btn btn-primary btn-fullwidth">Remove</button>
				</div>
			</div>
		</div>
	</div>

	{{ template "paymentTermsCondition.html" .}}
	<div class="modal fade" id="paytermsallowsuccesmodal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							<i class="ti-close"></i>
						</span>
					</button>
					<div class="row">
						<div class="col-md-12">
							<h3 id="paytermsallowsuccesmodalText">Payment Set Up Instructions Sent Via Email</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<span id="waiver_removed_err"></span>
									<span id="waiver_removed_succ"></span>
									<p id="paytermsallowsuccesmodal_Body">
	
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button type="reset" class="btn btn-fullwidth payallowOkbtn" data-dismiss="modal" aria-label="Close">OK</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="paydenymodal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
						<div class="row">
							<div class="col-md-12">
							<h3 id="paydenymodalText">Connect To Stripe</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">
										<span id="waiver_removed_err" ></span>
										<span id="waiver_removed_succ" ></span>
										<p id="paydenymodal_Body" >
											
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
								<div class="col-md-12">
	
										<div class="col-md-6 ">
											<button type="reset" class="btn btn-secondary btn-fullwidth" data-dismiss="modal" aria-label="Close">Connect Later</button>
										</div>
										<div class="col-md-6 ">
											<button type="submit"  class="btn btn-secondary btn-fullwidth requesttoconnectaccount" style="background: #bf5523;">Connect Now</button>

										</div>
									
									</div>
						</div>
					 </div>
				</div>
			</div>
		</div>

	{{ template "footer.html" . }}

</body>
</html>