<div class="team-members-section tab-content dashboard-content " style="display: block;margin-bottom: 0px;">
    <section class="row dashboard-members">
        <div class="col-md-12">
            <div class="">
                <div class="active-members">
                    <div id="eventpaymentbody" class="row">
                        <div class="col-md-12" style="top: -10px;">
                            <div class="dasboard-team-table-container" style="border: none">

                                <h6 class="" style="font-size: 20px; font-weight: 700; margin-left: 30px;">Reports</h6>
                              {{ $reportteamList := .ReportTeamNameList}}
                            {{ $reportTeamName := .ReportTeamName}}
                            {{ $raceList := .ReportRaceList}}
                            {{ $reportRacename := .ReportRaceTypeName}}
                            {{ $EventId := .EventId}}
                                <section class="row">
                                    <div class="col-md-12 rpt-col-md-padding" >
                                        <div class="content-padding">
                                            <form id ="EventReportForm" method="POST" action="">
                                            <div class="row report-head-bg-color">
                                                <div class="row col-md-10" style="top: -10px;">
                                                    <div class="row col-md-5" style="margin-left: 20px">
                                                            <div class="" style="float: left">
                                                                    <a style="font-weight:bold;">Roster Lists by Team</a>
                                                                </div>
                                                                <div style= "padding: 0px;" class="team-select team-select-name">
                                                                    <select id="event_report_team" name="event_report_team" multiple="multiple" class="select-custom form-control eventreport teamreport">
                                                                        <!-- <option value="default" disabled>Select Team Name</option> -->
                                                                       
                                                                        {{ range $element := $reportteamList }}
                                                                        
                                                                        <option value="{{$element.event_reg_id}}" {{ if in_array  $element.team_name $reportTeamName }} selected{{end}} >{{$element.team_name}}</option>
                                                                        {{end}}
                
                                                                    </select>
                                                                    <input type="hidden" id="getMulTeamName" name="getMulTeamName" value="">
                                                                </div>
                                                                <div id="emptySelectionreport" class="hide" style="color: #a2481e !important;font-size:  13px;font-weight: 500;padding-left: 7px;padding-top: 5px;">Please select a roster list</div>
                                                    </div>
                                                    <div class="col-md-1" style="margin:0px;color: #297560;font-weight:bold;text-align: center;padding: 25px;margin-left: 10px;margin-right: 10px;">(OR)</div>
                                                    <div class="row col-md-5">
                                                            <div class="" style="float: left">
                                                                    <a style="font-weight:bold;word-wrap: break-word;">Roster Lists by Boat/Division/Class/Distance</a>
                                                                </div>
                                                            <div class="team-select team-select-race">
                                                                <select id="event_report_race" name="event_report_race" multiple="multiple" class="select-custom form-control eventreportrace">
                                                                   
                                                                    {{ range $e2 := $raceList }} 
                                                                    {{ $getSplitString := getSplitString $e2 }} 
                                                                                {{if gt (len $getSplitString) 1}} 
                                                                                <option value="{{$e2}}" {{ if in_array $e2 $reportRacename }} selected{{end}}>{{if index  $getSplitString 0 }} {{index  $getSplitString 0}} Person {{end}} {{index  $getSplitString 1 | GetFullDivName }}
                                                                                    {{if index  $getSplitString 2 }} {{index  $getSplitString 2}}  {{end}} {{if index  $getSplitString 3 }} {{index  $getSplitString 3}}  {{end}}
                                                                                </option>
                                                                                {{else}}
                                                                                <option value="{{$e2}}">{{ $e2 | GetFullDivName }}</option>
                                                                                {{end}}
                                                                                {{ end }} 
                                                                  
                                                                </select>
                                                                <input type="hidden" id="getMulRaceType" name="getMulRaceType" value="">
                                                            </div>
                                                    </div>
                                                   
                                                            
                                                </div>
                                           
                                            <div class="col-md-2" style="padding: 0px;top: 9px;">
                                                <input type="hidden" value="" id="str_from_team">
                                                <input type="hidden" value="" id="str_from_race">
                                                <input type="hidden" value="" id="str_from_ind_mul">
                                                <input type="hidden" value="{{$EventId}}" id="getEventId" name="getEventId">
                                                <input type="hidden" value="" name="getselectedMemForReport" id="getselectedMemForReport">
                                               
                                               <div class="btn btn-thin paybutton" style="">
                                                  
                                                    <a id="eventreportdownloadforteam"  type="sumbit"  style="float: right;color: #fff;padding-right: 10px;">
                                                            <span class="ti-export"></span> <span>Export to PDF</span></a>
                                                        
                                               </div>
                                            </div>
                                            </div>
                                            

                                        </form>
                                        {{if .ReportForIndividualTeam}}
                                        <div class="" style="padding-bottom: 24px;margin:0px;font-weight:bold;">Roster Lists by Team</div>
                                        {{end}}
                                        {{if .ReportForRaceType}}
                                        <div class="" style="padding-bottom: 24px;margin:0px;font-weight:bold;">Roster Lists by Boat/Division/Class/Distance</div>
                                        {{end}}
                                            <div class="row my_teams">        
                                            <div class="col-md-12">
                                                <div id="table_team_member_rosterracing" class="table-responsive">
                                                    <table id="event_team_members_payment" class="table rosterracing-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-md-1 col-sm-1 col-xs-1">
                                                                    <div class="md-checkbox custom-checkbox">

                                                                        <input id="check_all_report" class="md-check" type="checkbox">
                                                                        <label for="check_all_report" class="marginZero">
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>
                                                                        </label>
                                                                    </div>
                                                                </th>
                                                                <th class="col-md-2 col-sm-4 col-xs-4  font14 text-align-left">Team Name</th>
                                                                <th class="col-md-2 col-sm-5 col-xs-5  font14 text-align-left">Boat Type</th>
                                                                <th class="col-md-2 col-sm-3 col-xs-3  font14 text-align-left">Division</th>
                                                                <th class="col-md-2 col-sm-3 col-xs-3  font14 text-align-left">Class</th>
                                                                <th class="col-md-2 col-sm-2 col-xs-2  font14 text-align-left">Distance</th>
                                                                <th class="col-md-3 col-sm-2 col-xs-2  font14 text-align-left">Option</th>
                                                                <!-- <th class="col-md-1 col-sm-2 col-xs-2"></th> -->

                                                            </tr>
                                                        </thead>
                                                        <tbody id="eventteamregisterdetail">
                                                            {{if .ReportForIndividualTeam}}
                                                          
                                                            {{ range $e := .ReportForIndividualTeam }} 
                                                            <tr>
                                                                <td>
                                                                    <div class="md-checkbox">

                                                                        <input id="select_event_report_{{$e.event_reg_id}}_{{$e.boat_type}}_{{$e.division}}_{{$e.class}}_{{$e.distance}}" value="{{$e.event_reg_id}}_{{$e.boat_type}}_{{$e.division}}_{{$e.class}}_{{$e.distance}}"class="md-check check_all_report_teams" name="reports_teams[]" type="checkbox">
                                                                        <label for="select_event_report_{{$e.event_reg_id}}_{{$e.boat_type}}_{{$e.division}}_{{$e.class}}_{{$e.distance}}" class="marginZero">
                                                                            <span class="check margin_checkbox"></span>
                                                                            <span class="box margin_checkbox"></span>
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" value="" id="selectedReportTeam">
                                                                    <div class="rosterracing-table-th">TEAM NAME</div>
                                                                    <div>
                                                                        <p id ="getTeamNameReport" class="color-gray marginZero">{{$e.team_name}}</p>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="rosterracing-table-th">BOAT TYPE</div>
                                                                    <div>
                                                                        <p class="color-gray marginZero">{{$e.boat_type}}</p>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="rosterracing-table-th">DIVISION</div>
                                                                    <div>
                                                                        <p class="color-gray marginZero">{{$e.division  | GetFullDivName}}</p>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                        <div class="rosterracing-table-th">CLASS</div>
                                                                        <div>
                                                                            <p class="color-gray marginZero">{{if compare $e.class "M"}}Men{{else if compare $e.class "MX"}}Mixed{{else if compare $e.class "W"}}Women{{end}}</p>
                                                                        </div>
                                                                    </td>
                                                                <td>
                                                                    <div class="rosterracing-table-th">DISTANCE</div>
                                                                    <div>
                                                                        <p class="color-gray marginZero">{{$e.distance}}</p>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="rosterracing-table-th">Option</div>
                                                                    <div>
                                                                        <div style="padding-right: 68px;">
                                                                            <div class="dashboard-schedule-nav no-margin text-right active-member-option ">
                                                                                <a href="/event_reports/downloadindividualteamreport/{{$e.event_reg_id}}/{{$e.boat_type}}/{{$e.division}}/{{$e.class}}/{{$e.distance}}" id="downloadIndividualTeamPdf" class="btn btn-thin btn-phantom-green">
                                                                                    <span class="ti-export"></span>
                                                                                    <span>Export to PDF</span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            {{end}}

                                                            {{ else if .ReportForRaceType}}
                                                            {{ range $e := .ReportForRaceType }} 
                                                            <tr>
                                                                <td>
                                                                    <div class="md-checkbox">

                                                                        <input id="select_event_report_{{$e.event_reg_id}}_{{$e.boat_type}}_{{$e.division}}_{{$e.class}}_{{$e.distance}}" value="{{$e.event_reg_id}}_{{$e.boat_type}}_{{$e.division}}_{{$e.class}}_{{$e.distance}}"class="md-check check_all_report_teams" name="reports_teams[]" type="checkbox">
                                                                        <label for="select_event_report_{{$e.event_reg_id}}_{{$e.boat_type}}_{{$e.division}}_{{$e.class}}_{{$e.distance}}" class="marginZero">
                                                                            <span class="check margin_checkbox"></span>
                                                                            <span class="box margin_checkbox"></span>
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" value="" id="selectedReportTeam">
                                                                    <div class="rosterracing-table-th">TEAM NAME</div>
                                                                    <div>
                                                                        <p id ="getTeamNameReport" class="color-gray marginZero">{{$e.team_name}}</p>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="rosterracing-table-th">BOAT TYPE</div>
                                                                    <div>
                                                                        <p class="color-gray marginZero">{{$e.boat_type}}</p>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="rosterracing-table-th">DIVISION</div>
                                                                    <div>
                                                                        <p class="color-gray marginZero">{{$e.division | GetFullDivName}}</p>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                        <div class="rosterracing-table-th">CLASS</div>
                                                                        <div>
                                                                            <p class="color-gray marginZero">{{if compare $e.class "M"}}Men{{else if compare $e.class "MX"}}Mixed{{else if compare $e.class "W"}}Women{{end}}</p>
                                                                        </div>
                                                                    </td>
                                                                <td>
                                                                    <div class="rosterracing-table-th">DISTANCE</div>
                                                                    <div>
                                                                        <p class="color-gray marginZero">{{$e.distance}}</p>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="rosterracing-table-th">Option</div>
                                                                    <div>
                                                                        <div style="padding-right: 68px;">
                                                                            <div class="dashboard-schedule-nav no-margin text-right active-member-option ">
                                                                                <a href="/event_reports/downloadindividualteamreport/{{$e.event_reg_id}}/{{$e.boat_type}}/{{$e.division}}/{{$e.class}}/{{$e.distance}}" id="downloadIndividualTeamPdf" class="btn btn-thin btn-phantom-green">
                                                                                    <span class="ti-export"></span>
                                                                                    <span>Export to PDF</span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            {{end}}

                                                            {{else}}
                                                            <tr>
                                                                    <td colspan="9" >
                                                                          
                                                                        <div style="text-align: center;padding: 30px">
                                                                           No Data
                                                                         </div>
                                                                              
                                                                    </td>      
                                                                </tr>
                                                                {{end}}

                                                        </tbody>


                                                    </table>

                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>

                                </section>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
    </section>
    </div>