<!DOCTYPE html>
<html>
<head>
	<title>Events | Gushou</title>
	{{ template "linksScripts.html" . }}

</head>
<body>
	{{ template "headerAfterLogin.html" . }}

	<div id="main-content">
		<div class="container">
			<div class="row">
				<div class="main-content-header">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<h2>Events</h2>
								<!-- <p><a href="((pathFor 'dashboard'))" class="small"><i class="ti-arrow-left"></i> Back to Dashboard</a></p> -->
								<p><a href="/dashboard" class="small"><i class="ti-arrow-left"></i> Back to Dashboard</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row notifications-all">
				<div class="col-md-12 dashboard-content">
					<div class="content-padding">
						<table class="table dashboard-table responsive-table events-all-table ">
							<thead>
								<tr>
									<th class="col-md-1"></th>
									<th class="col-md-4">NAME</th>
									<th class="col-md-2">DATE</th>
									<th class="col-md-2">LOCATION</th>
									<th class="col-md-3">DIVISION</th>
								</tr>
							</thead>
							<tbody>
								<!-- ((if loading)) -->
								{{ if .MyEvent }}
								<!-- ((each myEvents)) -->
								{{ range $index, $element := .MyEvent }}
								<tr>
									<td>
										{{ if $element.logo_url }}
										<img src="{{ $element.logo_url }}" class="img-circle"/>
										{{ else }}
										<img src="../static/images/Default-Event-Images.png" class="img-circle">
										{{ end }}
									</td>
									<!-- <td><a href="/event-view/((slug))">((event_name))</a></td>
									<td>((monthDate start_date)) ((if end_date)) - ((monthDate end_date)) ((/if))</td>
									<td>((province)), ((country))</td> -->
									<td><a href="/event-view/{{ $element.slug }}">{{ $element.event_name }}</a></td>
									<td>
										{{ if $element.e_date }}
										{{ $element.s_date }} - {{ $element.e_date }}
										{{ else }}
										{{ $element.s_date }}
										{{ end }}
									</td>
									<td>{{ $element.province }}, {{ $element.country }}</td>
									<td>
										<ul class="list-classes">
											{{ if $element.divs }}
											{{ range $e2 := $element.divs }}
											<!-- ((each divisions)) -->
											<!-- <li class="list-class">((this)) -->
												<!-- <div class="class-tooltip">((fullDivisionName this))</div> -->
											<li class="list-class">{{ $e2 }}
												<div class="class-tooltip">{{ $e2 | GetFullDivName }}</div>
											</li>
											<!-- ((/each)) -->
											{{ end }}
											{{ end }}
										</ul>
									</td>
								</tr>
								<!-- ((/each)) -->
								{{ end }}
								{{ else }}
								<tr>
									<td></td>
									<td>No events</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								{{ end }}
								<!-- ((else))	 -->
								<!-- <tr>
									<td></td>
									<td>Loading...</td>
									<td></td>
									<td></td>
									<td></td>
								</tr> -->
								<!-- ((/if)) -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- ((if moreResults)) -->
		<div class="container">
			<div class="row load-more-bg">
				<div class="col-md-12">
					<div class="load-more hide">
						<a id="showMoreResults" href="">Load more </a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ((/if)) -->

	{{ template "footer.html" . }}

</body>
</html>