
{{ $isLoggedIn := .IsLoggedIn }}
{{ $superAdmin := .SuperAdmin }}
{{ $eventOrgIds := .EventOrgIds }}
{{ $event_Manage_Admin := .Event_Manage_Admin}} 
{{ $eventViewSlug := .EventView.event_0.slug}}
<div class="team-members-section tab-content dashboard-content " style="display: block;">
  <section class="row dashboard-members">
    <div class="col-md-12">
      <div class="content-padding">
        <div class="active-members">
          {{if .Event_Register_Team_Detail_List}}
          <div class="row">
            <div class="col-md-8">
              <div class="search-members padding-10">
                <div class="input-group search-members-override">
                  <span class="input-group-addon"><i class="ti-search"></i></span>
                  <input type="text" id="searchByTeamCaptainName" class="form-control" placeholder="Search by team name & captain name">
                </div>
              </div>
            </div> <div class="col-md-4">
                <div class="dashboard-schedule-nav no-margin text-right active-member-option message-team padding-10">
                  <a href="" id="emailTeam" class="btn btn-thin btn-phantom-green" value = "">
                    <span class="glyphicon glyphicon-envelope"></span>
                    <span>Email</span>
                  </a>
                </div>
              </div>
              <!--
              <div class="col-md-2">
                <div class="dashboard-schedule-nav no-margin text-right active-member-option padding-10"> 
                  <a href="" id="sendInvite" class="btn btn-thin btn-phantom-green">
                    <span class="ti-plus"></span>
                    <span>Add Members</span>
                  </a>
                </div>
              </div> -->
          </div>
          {{end}}
          <div class="row">
            <div class="col-md-12">
              <div class="dasboard-team-table-container">
                {{if .Event_Register_Team_Detail_List}}
                <table id="event_team_members_team" class="table dashboard-table event-view-table-overwrite dasboard-team-table responsive-table">
                  <thead>
                    <tr>
                        <th class="col-md-1  col-sm-1 col-xs-1">
                        <div class="md-checkbox">
          
                          <input id="select_all_members" class="md-check" type="checkbox">
                          <label for="select_all_members">
                            <span class="check"></span>
                            <span class="box"></span>
                          </label>
                          
                        </div>
                        </th>
                      
                          <th class="col-md-5 col-sm-4 col-xs-4">TEAM <a href="#" id="teamsortacending_eventreg" ><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></a></th>
                          <th class="col-md-8 col-sm-5 col-xs-5">CONTACT</th>
                          <th class="col-md-4 col-sm-3 col-xs-3">REGISTRATION DATE</th>
                          <th class="col-md-3 col-sm-2 col-xs-2">ROSTER STATUS <a href="#" id="rostersortacending_eventreg"><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></a> </th>
                          <th class="col-md-3 col-sm-2 col-xs-2">PAYMENT STATUS</th>
                          <th class="col-md-2 col-sm-2 col-xs-2">NOTES</th>
                          <th class="col-md-1 col-sm-2 col-xs-2"></th>
                          <th class="col-md-1 col-sm-1 col-xs-1"></th>
                    </tr>
                  </thead>
                  <tbody id="eventteamregisterdetail" >
                      {{ range  $e := .Event_Register_Team_Detail_List }} 
                      {{$tempregisterEventreg_cancel_status :=$e.registerEvent.reg_cancel_status}} 
                      <tr class='{{if eq $tempregisterEventreg_cancel_status "true"}} grayout  {{end}}' >
                         <td>
                            {{if eq $tempregisterEventreg_cancel_status "false"}}
                              <div class="md-checkbox">
                                <input id="reg_{{$e.registerEvent.eventregisterid}}" name="team_members[]" value="{{$e.registerEvent.eventregisterid}}" class="md-check manage-team-checkbox checkedTeams" type="checkbox">
                                <label for="reg_{{$e.registerEvent.eventregisterid}}">
                                  <span class="check"></span>
                                  <span class="box"></span>
                                </label>
                                <input type= "hidden" id="getEventId" name="geteventid" value="{{$e.registerEvent.fk_event_id}}">
                              </div>
                              {{end}}
                            </td>
                          <td>
                          <div class="dasboard-team-table-th">TEAM</div>
                          {{if eq $tempregisterEventreg_cancel_status "false"}}
                          <div class="dasboard-team-member-image" style="margin-right: 5px">
                              {{if $e.registerEvent.teamlogo}}
                              <a class="event-list-title" href="/event/team-view/{{$eventViewSlug}}/{{$e.registerEvent.eventregisterid}}"><img src="{{$e.registerEvent.teamlogo}}" class="img-circle event-img-circle"></a>
                              {{else}}
                              <a class="event-list-title" href="/event/team-view/{{$eventViewSlug}}/{{$e.registerEvent.eventregisterid}}"><img src="/static/images/user-default.png" class="img-circle event-img-circle"></a>
                              {{end}}
                          </div>
                          {{else}}
                          <div class="dasboard-team-member-image" style="margin-right: 5px">
                              {{if $e.registerEvent.teamlogo}}
                              <a class="event-list-title" ><img src="{{$e.registerEvent.teamlogo}}" class="img-circle event-img-circle"></a>
                              {{else}}
                              <a class="event-list-title" ><img src="/static/images/user-default.png" class="img-circle event-img-circle"></a>
                              {{end}}
                          </div>
                          {{end}}
                          <div class="dasboard-team-member-content">
                            <div class="team-member-name" style="width: 120px;word-wrap: break-word;">
                                {{if eq $tempregisterEventreg_cancel_status "false"}}
                              <a id = "fromeventteam" class="event-list-title" value="eventTeamName" href="/event/team-view/{{$eventViewSlug}}/{{$e.registerEvent.eventregisterid}}">
                                {{$e.registerEvent.team_name}} 
                              </a> 
                             {{else}}
                             <a id = "fromeventteam" class="event-list-title"  value="eventTeamName" >
                              {{$e.registerEvent.team_name}} 
                            </a> 
                             {{end}}
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="dasboard-team-table-th">CONTACT</div>
                          <div class="dasboard-team-member-image" style="margin-right: 5px">
                              {{if $e.registerEvent.register_user_file}}
                              <img src="{{$e.registerEvent.register_user_file}}" class="img-circle event-img-circle">
                              {{else}}
                              <img src="/static/images/user-default.png" class="img-circle event-img-circle">
                              {{end}}
                          </div>
                          <div class="dasboard-team-member-content">
                            <div class="team-member-name">
                              <a class="event-list-title">
                                {{$e.registerEvent.reg_captain_name}}  
                              </a> 
                            </div>
                            <p>
                              {{if $e.registerEvent.reg_phone_number}}
                              <i class="fa fa-phone"></i> {{$e.registerEvent.reg_phone_number}}
                              {{end}}
                            </p>
                            <p style="font-size: 14px;visibility: visible;">
                              {{if $e.registerEvent.reg_email_id}}
                              <i class="ti-email"></i> {{$e.registerEvent.reg_email_id}}
                              {{end}}
                            </p>
                          </div>
                        </td>
                        <td>
                          <div class="dasboard-team-table-th">REGISTRATION DATE</div>
                          <p class="team-table-side text-capitalize">{{$e.registerEvent.registerdate}}</p>
                        </td>
                        <td>
                          <div class="dasboard-team-table-th">ROSTER STATUS</div>
                          {{if compare $e.roster_partial.case "false"}}
                          <p class="team-table-side text-capitalize ">Incomplete</p>
                          {{else if compare $e.roster_partial.case "true"}}
                          <p class="team-table-side text-capitalize ">Complete</p>
                          {{end}}
                        </td>
                        <td>                   
                          <div class="dasboard-team-table-th">PAYMENT STATUS</div>
                          {{ if $e.registerEvent.paymentstatus}} 
                          {{if eq $tempregisterEventreg_cancel_status "false"}}
                          <p id ="teamtabpaystatus" class="event-list-title  text-capitalize" style="text-transform: capitalize;cursor: pointer;font-weight: 500;color: #297560;">
                              <u>{{$e.registerEvent.paymentstatus}}</u>
                          </p> 
                          {{else}}
                          <p  class="event-list-title  text-capitalize" style="text-transform: capitalize;font-weight: 500;color: #297560;">
                              <u>{{$e.registerEvent.paymentstatus}}</u>
                          </p>
                          {{end}}
                            <input type="hidden" id="getEventSlug" value="{{$eventViewSlug}}">
                          {{end}}
                      </td>
                        <td>
                          <div class="dasboard-team-table-th">NOTES</div>
                          <p>
                          {{if  $e.registerEvent.message }}
                          {{$lenMessageText := len $e.registerEvent.message}}
                          {{if gt $lenMessageText 0}}
                          {{ ( substr $e.registerEvent.message 0 4 ) }}....<i class="fa fa-pencil" data-toggle="tooltip" title="{{$e.registerEvent.message}}" aria-hidden="true"></i>
                          {{end}}
                          {{end}}
                          </p>
                        </td>
                        <td>
                          {{if ne $tempregisterEventreg_cancel_status "true"}} 
                          <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
                          data-content='<ul class="popover-waiver"><li><a href=# id="updateTeamEventRegisterDetail" value="{{$e.registerEvent.eventregisterid}}" >Edit</a></li><li><a href="/event/team-view/{{$eventViewSlug}}/{{$e.registerEvent.eventregisterid}}">View Order</a></li><li><a href=# id="cancelTeamEventRegisterDetail" value="{{$e.registerEvent.eventregisterid}}" >Cancel</a></li></ul>'>
                          <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                          </a>	
                          {{end}}															
                          </td>
                        
                      </tr>
                      {{end}}
                  </tbody>

                  <tbody id="eventteamregisterdetailorderbyTeamname" style="display: none">
                      {{ range  $e := .Event_Register_Team_Detail_List_Order_By_Team }}
                      {{$tempregisterEventreg_cancel_status :=$e.registerEvent.reg_cancel_status}} 
                      <tr class='{{if eq $tempregisterEventreg_cancel_status "true"}} grayout  {{end}}' >
                         <td>
                          {{if eq $tempregisterEventreg_cancel_status "false"}}
                          <div class="md-checkbox">
                            <input id="order_by_name_{{$e.registerEvent.eventregisterid}}" name="team_members[]" value="{{$e.registerEvent.eventregisterid}}" class="md-check manage-team-checkbox checkedTeams" type="checkbox">
                            <label for="order_by_name_{{$e.registerEvent.eventregisterid}}">
                              <span class="check"></span>
                              <span class="box"></span>
                            </label>
                            <input type= "hidden" id="getEventId" value="{{$e.registerEvent.fk_event_id}}">
                          </div>
                          {{end}}
                            </td>
                          <td>
                          <div class="dasboard-team-table-th">TEAM</div>
                          <div class="dasboard-team-member-image" style="margin-right: 5px">
                              {{if eq $tempregisterEventreg_cancel_status "false"}}
                              {{if $e.registerEvent.teamlogo}}
                              <a class="event-list-title" href="/event/team-view/{{$eventViewSlug}}/{{$e.registerEvent.eventregisterid}}"><img src="{{$e.registerEvent.teamlogo}}" class="img-circle event-img-circle"></a>
                              {{else}}
                              <a class="event-list-title" href="/event/team-view/{{$eventViewSlug}}/{{$e.registerEvent.eventregisterid}}"><img src="/static/images/user-default.png" class="img-circle event-img-circle"></a>
                              {{end}}
                              {{else}}
                              {{if $e.registerEvent.teamlogo}}
                              <a class="event-list-title" ><img src="{{$e.registerEvent.teamlogo}}" class="img-circle event-img-circle"></a>
                              {{else}}
                              <a class="event-list-title" ><img src="/static/images/user-default.png" class="img-circle event-img-circle"></a>
                              {{end}}
                              {{end}}
                          </div>
                          <div class="dasboard-team-member-content">
                            <div class="team-member-name" style="width: 120px;word-wrap: break-word;">
                                {{if eq $tempregisterEventreg_cancel_status "false"}}
                                  <a id = "fromeventteam" class="event-list-title" value="eventTeamName" href="/event/team-view/{{$eventViewSlug}}/{{$e.registerEvent.eventregisterid}}">
                                    {{$e.registerEvent.team_name}}
                                  </a> 
                                {{else}}
                                  <a  id = "fromeventteam" class="event-list-title" value="eventTeamName">
                                  {{$e.registerEvent.team_name}}
                                  </a> 
                                {{end}}
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="dasboard-team-table-th">CONTACT</div>
                          <div class="dasboard-team-member-image" style="margin-right: 5px">
                              {{if $e.registerEvent.register_user_file}}
                              <img src="{{$e.registerEvent.register_user_file}}" class="img-circle event-img-circle">
                              {{else}}
                              <img src="/static/images/user-default.png" class="img-circle event-img-circle">
                              {{end}}
                          </div>
                          <div class="dasboard-team-member-content">
                            <div class="team-member-name">
                              <a class="event-list-title">
                                {{$e.registerEvent.reg_captain_name}} 
                              </a> 
                            </div>
                            <p>
                              {{if $e.registerEvent.reg_phone_number}}
                              <i class="fa fa-phone"></i> {{$e.registerEvent.reg_phone_number}}
                              {{end}}
                            </p>
                            <p style="font-size: 14px;visibility: visible;">
                              {{if $e.registerEvent.reg_email_id}}
                              <i class="ti-email"></i> {{$e.registerEvent.reg_email_id}}
                              {{end}}
                            </p>
                          </div>
                        </td>
                        <td>
                          <div class="dasboard-team-table-th">REGISTRATION DATE</div>
                          <p class="team-table-side text-capitalize">{{$e.registerEvent.registerdate}}</p>
                        </td>
                        <td>
                            {{if compare $e.roster_partial.case "false"}}
                            <p class="team-table-side text-capitalize ">Incomplete</p>
                            {{else if compare $e.roster_partial.case "true"}}
                            <p class="team-table-side text-capitalize ">Complete</p>
                            {{end}}
                        </td>
                        <td>                   
                            <div class="dasboard-team-table-th">PAYMENT STATUS</div>
                            {{ if $e.registerEvent.paymentstatus}} 
                            {{if eq $tempregisterEventreg_cancel_status "false"}}
                            <p id ="teamtabpaystatus" class="event-list-title  text-capitalize" style="text-transform: capitalize;cursor: pointer;font-weight: 500;color: #297560;">
                                <u>{{$e.registerEvent.paymentstatus}}</u>
                            </p>
                            {{else}} 
                            <p  class="event-list-title  text-capitalize" style="text-transform: capitalize;cursor: pointer;font-weight: 500;color: #297560;">
                                <u>{{$e.registerEvent.paymentstatus}}</u>
                            </p>
                            {{end}}
                              <input type="hidden" id="getEventSlug" value="{{$eventViewSlug}}">
                            {{end}}
                        </td>
                        <td>
                          <div class="dasboard-team-table-th">NOTES</div>
                          <p>
                          {{if  $e.registerEvent.message }}
                          {{$lenMessageText := len $e.registerEvent.message}}
                          {{if gt $lenMessageText 0}}
                          {{ ( substr $e.registerEvent.message 0 4 ) }}....<i class="fa fa-pencil" data-toggle="tooltip" title="{{$e.registerEvent.message}}" aria-hidden="true"></i>
                          {{end}}
                          {{end}}
                          </p>
                        </td>
                        
                        <td>
                          {{if ne $tempregisterEventreg_cancel_status "true"}} 
                          <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
                          data-content='<ul class="popover-waiver"><li><a href=# id="updateTeamEventRegisterDetail" value="{{$e.registerEvent.eventregisterid}}" >Edit</a></li><li><a href="/event/team-view/{{$eventViewSlug}}/{{$e.registerEvent.eventregisterid}}">View Order</a></li><li><a href=# id="cancelTeamEventRegisterDetail" value="{{$e.registerEvent.eventregisterid}}" >Cancel</a></li></ul>'>
                          <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                          </a>	
                          {{end}}															
                          </td>
                      </tr>
                      {{end}}
                  </tbody>

                  <tbody id="eventteamregisterdetailorderbyTeamRostername" style="display: none; border-top: none;">
                      {{ range  $e := .Event_Register_Team_Detail_List_Order_By_Roster }}
                        {{$tempregisterEventreg_cancel_status :=$e.registerEvent.reg_cancel_status}} 
                        <tr class='{{if eq $tempregisterEventreg_cancel_status "true"}} grayout  {{end}}' >
                         <td>
                          {{if eq $tempregisterEventreg_cancel_status "false"}}
                          <div class="md-checkbox">
                            <input id="order_by_roster_{{$e.registerEvent.eventregisterid}}" name="team_members[]" value="{{$e.registerEvent.eventregisterid}}" class="md-check manage-team-checkbox checkedTeams" type="checkbox">
                            <label for="order_by_roster_{{$e.registerEvent.eventregisterid}}">
                              <span class="check"></span>
                              <span class="box"></span>
                            </label>
                            <input type= "hidden" id="getEventId" value="{{$e.registerEvent.fk_event_id}}">
                          </div>
                          {{end}}
                            </td>
                          <td>
                          <div class="dasboard-team-table-th">TEAM</div>
                          {{if eq $tempregisterEventreg_cancel_status "false"}}
                          <div class="dasboard-team-member-image" style="margin-right: 5px">
                              {{if $e.registerEvent.teamlogo}}
                              <a class="event-list-title" href="/event/team-view/{{$eventViewSlug}}/{{$e.registerEvent.eventregisterid}}"><img src="{{$e.registerEvent.teamlogo}}" class="img-circle event-img-circle"></a>
                              {{else}}
                              <a class="event-list-title" href="/event/team-view/{{$eventViewSlug}}/{{$e.registerEvent.eventregisterid}}"><img src="/static/images/user-default.png" class="img-circle event-img-circle"></a>
                              {{end}}
                          </div>
                          {{else}}
                          <div class="dasboard-team-member-image" style="margin-right: 5px">
                              {{if $e.registerEvent.teamlogo}}
                              <a class="event-list-title" ><img src="{{$e.registerEvent.teamlogo}}" class="img-circle event-img-circle"></a>
                              {{else}}
                              <a class="event-list-title" ><img src="/static/images/user-default.png" class="img-circle event-img-circle"></a>
                              {{end}}
                          </div>
                          {{end}}
                          <div class="dasboard-team-member-content">
                              {{if eq $tempregisterEventreg_cancel_status "false"}}
                            <div class="team-member-name" style="width: 120px;word-wrap: break-word;">
                              <a id = "fromeventteam" class="event-list-title" value="eventTeamName" href="/event/team-view/{{$eventViewSlug}}/{{$e.registerEvent.eventregisterid}}">
                                {{$e.registerEvent.team_name}}
                              </a> 
                            </div>
                            {{else}}
                            <div class="team-member-name" style="width: 120px;word-wrap: break-word;">
                                <a id = "fromeventteam" class="event-list-title" value="eventTeamName" >
                                  {{$e.registerEvent.team_name}}
                                </a> 
                              </div>
                            {{end}}
                          </div>
                        </td>
                        <td>
                          <div class="dasboard-team-table-th">CONTACT</div>
                          <div class="dasboard-team-member-image" style="margin-right: 5px">
                              {{if $e.registerEvent.register_user_file}}
                              <img src="{{$e.registerEvent.register_user_file}}" class="img-circle event-img-circle">
                              {{else}}
                              <img src="/static/images/user-default.png" class="img-circle event-img-circle">
                              {{end}}
                          </div>
                          <div class="dasboard-team-member-content">
                            <div class="team-member-name">
                              <a class="event-list-title">
                                {{$e.registerEvent.reg_captain_name}}
                              </a> 
                            </div>
                            <p>
                              {{if $e.registerEvent.reg_phone_number}}
                              <i class="fa fa-phone"></i> {{$e.registerEvent.reg_phone_number}}
                              {{end}}
                            </p>
                            <p style="font-size: 14px;visibility: visible;">
                              {{if $e.registerEvent.reg_email_id}}
                              <i class="ti-email"></i> {{$e.registerEvent.reg_email_id}}
                              {{end}}
                            </p>
                          </div>
                        </td>
                        <td>
                          <div class="dasboard-team-table-th">REGISTRATION DATE</div>
                          <p class="team-table-side text-capitalize">{{$e.registerEvent.registerdate}}</p>
                        </td>
                        <td>
                          <div class="dasboard-team-table-th">ROSTER STATUS</div>
                          {{if compare $e.roster_partial.case "false"}}
                          <p class="team-table-side text-capitalize ">Incomplete</p>
                          {{else if compare $e.roster_partial.case "true"}}
                          <p class="team-table-side text-capitalize ">Complete</p>
                          {{end}}

                        </td>
                        <td>                   
                            <div class="dasboard-team-table-th">PAYMENT STATUS</div>
                            {{ if $e.registerEvent.paymentstatus}} 
                            {{if eq $tempregisterEventreg_cancel_status "false"}}
                            <p id ="teamtabpaystatus" class="event-list-title  text-capitalize" style="text-transform: capitalize;cursor: pointer;font-weight: 500;color: #297560;">
                                <u>{{$e.registerEvent.paymentstatus}}</u>
                            </p> 
                              {{else}}
                              <p  class="event-list-title  text-capitalize" style="text-transform: capitalize;cursor: pointer;font-weight: 500;color: #297560;">
                                  <u>{{$e.registerEvent.paymentstatus}}</u>
                              </p> 
                              {{end}}
                              <input type="hidden" id="getEventSlug" value="{{$eventViewSlug}}">
                            {{end}}
                        </td>
                        <td>
                          <div class="dasboard-team-table-th">NOTES</div>
                          <p>
                          {{if  $e.registerEvent.message }}
                          {{$lenMessageText := len $e.registerEvent.message}}
                          {{if gt $lenMessageText 0}}
                          {{ ( substr $e.registerEvent.message 0 4 ) }}....<i class="fa fa-pencil" data-toggle="tooltip" title="{{$e.registerEvent.message}}" aria-hidden="true"></i>
                          {{end}}
                          {{end}}
                          </p>
                        </td>
                       
                        <td>
                          {{if ne $tempregisterEventreg_cancel_status "true"}} 
                          <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default buttonpopover" data-container="body" data-html="true" data-toggle="popover" data-placement="left"
                          data-content='<ul class="popover-waiver"><li><a href=# id="updateTeamEventRegisterDetail" value="{{$e.registerEvent.eventregisterid}}" >Edit</a></li><li><a href="/event/team-view/{{$eventViewSlug}}/{{$e.registerEvent.eventregisterid}}">View Order</a></li><li><a href=# id="cancelTeamEventRegisterDetail" value="{{$e.registerEvent.eventregisterid}}" >Cancel</a></li></ul>'>
                          <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                          </a>	
                          {{end}}															
                          </td>
                       
                      </tr>
                      {{end}}
                  </tbody>
                </table>
                {{else}}
                <div  class="members-no-users">
                  <div class="team-member-name">
                      No teams are registered
                   </div>
                </div>
                {{end}}
                <div id="eventregmemberusernotfount" class="members-no-users" style="display: none;">
                    <div class="team-member-name">
                        No user found
                     </div>
                </div>
               
                <div class="modal fade" id="registerTeamEventDeleteModel">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
                          <div class="row">
                            <div class="col-md-12">
                            <h3 id="registerTeamEventDeleteModelText">Option to Upgrade</h3>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-12">
                                  <span id="waiver_removed_err" ></span>
                                  <span id="waiver_removed_succ" ></span>
                                  <p id="registerTeamEventDeleteModel_Body" ></p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                            <button type="button" id="deleteEventRegisterTeam" class="btn btn-primary btn-fullwidth" data-dismiss="modal" value="" aria-label="Close">Confirm</button>
                            </div>
                          </div>
                         </div>
                      </div>
                    </div>
                  </div>
                  
              </div>
            </div>
          </div>
          <div class="modal fade" id="sendEmailFromTeamModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
                  <div class="row">
                    <div class="col-md-12">
      
                      <h3 style="margin-bottom:10px !important">Send an Email</h3>
                    </div>
                  </div>
                  <form id="sendEventTeamEmailForm">
                    <div class="row">
                      <div class="col-md-12">
                        <span id="err_msg" ></span>
                        <span id="new_err_msg" ></span>
                        <span id="team_err_msg" ></span>
                        <span id="succ_msg" ></span>
                        <div class="form-group chooseTo">
                          <label style="float: left;">To</label>
                          <div class="col-md-4">
                              <div class="dashboard-schedule-nav no-margin text-right active-member-option message-team padding-10">
                                <a href="" id="emailTeamMem" class="btn btn-thin btn-phantom-green" name="teammembers" value="team members">
                                 
                                  <span>Team Members</span>
                                </a>
                              </div>
                            </div>
                            <div class="col-md-1">
                              </div>
                           
                            <div class="col-md-4">
                              <div class="dashboard-schedule-nav no-margin text-right active-member-option padding-10"> 
                                <a href="" id="emailCaptains" class="btn btn-thin btn-phantom-green" name="captains" value="captains">
                              
                                  <span>Captains</span>
                                </a>
                              </div>
                            </div> 
                        </div>
                       
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label style="margin-top: 10px;">Message</label>
                          <!-- <textarea class="form-control" id="email_msg" rows="5" placeholder="Enter your message here..."></textarea> -->
                          <textarea id="discussion_msg" name="discussion_msg" class="editable_event_email editable_discussion_msg_for_event_team_email form-control" rows="5" placeholder="" style="resize: vertical;"></textarea>
                          <input type="hidden"  name="plain_discussion_msg" id="plain_discussion_msg" />

                          <span id="" class="error-message hide"></span>
                        </div>
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-md-12">
                          <div class="md-checkbox form-group">
                              <input id="send_announcement" class="md-check form-control" name="announcement" value="no" type="checkbox">
                              <label for="send_announcement">
                                <span class="check"></span>
                                <span class="box"></span>
                                Post Announcement for Event
                              </label>
                            
                              
                            </div>
                        <p>Organizers for this event will be cc'd on this email</p> 
                        <input type="hidden" id="getEventIdEmail" class="form-control" name="eventID" value="">
                      <input type="hidden" id="getSelectedMemForMail"  class="form-control" name="eventregIDs" value="">
                        <input type="hidden" id="getTo" name="sendEmailTo" value="">
                        <button id="sendEmailSubmit" class="btn btn-primary btn-fullwidth">Send an email</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>