<!DOCTYPE html>
<html>
<head>
	<title> Order Event | Gushou</title>
  {{ template "linksScripts.html" . }}
  {{ template "user/userStripeScript.html" . }}
</head>
<body>

  {{ template "headerAfterLogin.html" . }}
</body>
<div id="main-content">
  <div class="container" style="background: #fff;margin-bottom: 70px;">
    {{$registerTeamDetail := .RegisterTeamDetail}}
    {{$eventRegTeamFileDetail := .EventRegTeamFileDetail}}
    {{$eventRegisterTeam_DetailList := .Event_Register_Team_Detail_List}}
    {{$eventView := .EventView}}
    {{$eventRegDetail := .EventRegDetail}}
    {{$eventAdditionalPracticeDetail := .EventAdditionalPracticeDetail}}
    {{$eventPricingOtherDetail := .EventPricingOtherDetail}}
    {{$totalAdtionalPrice := .TotalAdtionalPrice}}
    {{$totalFreePrice := .TotalFreePrice}}
    {{$eventRegisterPricingOther := .EventRegisterPricingOther}}
    {{$teampOrderDetail := .TeampOrderDetail}}
    {{$teampTotalOrderCount := .TeampTotalOrderCount}}
    {{$event_Register_Team_CompleteOrUnComplete := .Event_Register_Team_CompleteOrUnComplete}}
    {{$tempGushouMemberCountPrice := .TempGushouMemberCountPrice}}
    {{$tempTotalMeberCount := .TempTotalMeberCount}}
    {{$getRosterList := .RegisterRostersIdList}}
    {{$eventVieweventid := .EventView.event_0.id}}
    {{$registerEventId := .RegisterEventId}}
    {{$eventSlug := .EventSlug}}
    {{$tempRolePricingDetail := .TempRolePricingDetail}}
    {{$eventViewcurrency := $eventView.event_0.currency}}
    {{$eventId := $eventView.event_0.id}}
    {{$registerTeamId := .RegisterTeamId}}
    {{ $currencySymbol := .currencysymbol}}
    {{$stripeConnectedStatus := .StripeConnectedStatus}}
    {{$selectedTeamPaymentDetails := .SelectedTeamPaymentDetails}}
    {{$eventRolePricingDetail :=  .EventRolePricingDetail}}
    {{$regeventpayid := .regeventpayid}}
    {{$isEventEnd := .isEventEnd}}
    <input type="hidden" value="{{.CurrentTeamId}}" id="current_teamid" >

   
   
    <div class="row">
     
      <div class="main-content-header">
        <div class="col-md-2 custom-header-col-left">
          <div class="header-profile">
            {{if $eventRegTeamFileDetail}}
            <img src="{{$eventRegTeamFileDetail}}" class="img-circle">
            {{else}}
            <img src="/static/images/Default-Team-Images.png" class="img-circle">
            {{end}}
            
          </div>
        </div>
        {{if $registerTeamDetail}}
        {{ range $e2 := $registerTeamDetail}} 
        <div class="col-md-8 custom-header-col-right">
          <div class="row">
            <div class="col-md-12">
              <h2>{{ $e2.team_name}}</h2>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="event-header-details" style='margin-left: 13px;'>
                  <li class="label-bold">
                    <i class="ti-location-pin"></i>
                    {{ $e2.team_country}}, {{ $e2.team_from}}, {{ $e2.team_province}}
                  </li>
                </ul>
              </div>
            </div>
           </div>
        </div>
        {{end}}
        {{end}}
      </div>
      
     {{if $eventRegisterTeam_DetailList}}
      <section class="create-box-section" style=" margin-bottom: 0px;">
          {{ range $e3 := $registerTeamDetail}} 
          <nav class="breadcrumb" style="padding-top:21px;background-color: #fff;margin-bottom: 12px;padding-left: 43px;">
            <input type="hidden" id="team_slug_hidden" value="{{ $e3.slug}}">
            <input type="hidden" id="event_slug_hidden" value="{{ $eventSlug}}">
            <a class="breadcrumb-item" id="teamnameforteamtab"  value="#teamNameForTeamTab" href="#teamNameForTeamTab">Teams</a>

            <a class="breadcrumb-item" id="eventregister" value="#eventRegister"  href="#eventRegister">Event Registrations</a>
            <a class="breadcrumb-item" id="eventname" value="#eventName"  href="#eventName">Event</a>
            <a class="breadcrumb-item " id="eventteamname"  value="#eventTeamName" href="#eventTeamName">Teams</a>
            <a class="breadcrumb-item" id="eventpayment" value="#eventpayment"  href="#eventpayment">Payments</a>
            <a class="breadcrumb-item" id="teampayment" value="#teampayment"  href="#teampayment">Event Registrations</a>


            <span class="breadcrumb-item active">{{ $e3.team_name}}</span>
          </nav>
          {{end}}
          <div class="">
            <div class="col-md-12 dashboard-content heading_style" style="margin-bottom: 0px !important;margin-bottom: 20px; padding-top:0px ">
              <table id="event_team_members" style="width:96%;margin: auto;" class="table dashboard-table event-view-table-overwrite dasboard-team-table responsive-table">
                <thead>
                  <tr>
                    <th class="col-md-1 col-sm-1 col-xs-1"></th>
                    <th class="col-md-4 col-sm-4 col-xs-4">TEAM</th>
                    <th class="col-md-5 col-sm-5 col-xs-5">CONTACT</th>
                    <th class="col-md-4 col-sm-4 col-xs-4">REGISTRATION DATE</th>
                    <th class="col-md-3 col-sm-3 col-xs-3">ROSTER STATUS</th>
                    <th class="col-md-2 col-sm-2 col-xs-2">NOTES</th>
                    <th class="col-md-1 col-sm-1 col-xs-1"></th>
                  </tr>
                </thead>
                <tbody>
                    {{ range  $e := $eventRegisterTeam_DetailList }}
                  <tr class=''>
                    <td></td>
                    <td>
                      <div class="dasboard-team-table-th">TEAM</div>
                      <div class="dasboard-team-member-image event-team-order-page">
                        {{if $e.registerEvent.register_user_file}}
                        <img src="{{$e.registerEvent.register_user_file}}" class="img-circle event-img-circle">
                        {{else}}
                        <img src="/static/images/user-default.png" class="img-circle event-img-circle">
                        {{end}}
                      </div>
                      <div class="dasboard-team-member-content">
                        <div class="team-member-name">
                          <a class="event-list-title">
                              {{$e.registerEvent.team_name}} 
                              <input type="hidden" id ="getTeamSlug" value="/team-view/{{$e.registerEvent.teamslug}}"></p>
                          </a>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="dasboard-team-table-th">CONTACT</div>
                      <div class="dasboard-team-member-image event-team-order-page">
                          {{if $e.registerEvent.register_user_file}}
                          <img src="{{$e.registerEvent.register_user_file}}" class="img-circle event-img-circle">
                          {{else}}
                          <img src="/static/images/user-default.png" class="img-circle event-img-circle">
                          {{end}}
                      </div>
                      <div class="dasboard-team-member-content" style="float: left;">
                        <div class="team-member-name">
                          <a class="event-list-title">
                              {{$e.registerEvent.reg_captain_name}}
                          </a>
                        </div>
                        <p>
                            {{if $e.registerEvent.reg_phone_number}}
                            <i class="fa fa-phone"></i> {{$e.registerEvent.reg_phone_number}}
                            {{end}}
                        </p>
                        <p style="font-size: 14px;visibility: visible;">
                            {{if $e.registerEvent.reg_email_id}}
                            <i class="ti-email"></i> {{$e.registerEvent.reg_email_id}}
                            {{end}}
                        </p>
                      </div>
                    </td>
                    <td>
                      <div class="dasboard-team-table-th">REGISTRATION DATE</div>
                      <p class="team-table-side text-capitalize">{{$e.registerEvent.registerdate}}</p>
                    </td>
                    <td>
                      <div class="dasboard-team-table-th">ROSTER STATUS</div>
                      {{if compare $e.roster_partial.case "false"}}
                      <p class="team-table-side text-capitalize "><a href="" id="submitrosterlatermodel" value="{{$eventVieweventid}},{{$registerEventId}}" > Incomplete </a></p>
                      {{else if compare $e.roster_partial.case "true"}}
                      <p class="team-table-side text-capitalize "><a value="{{$eventVieweventid}},{{$registerEventId}}" >Complete </a></p>
                      {{end}}

                    </td>
                    <td>
                      <div class="dasboard-team-table-th">NOTES</div>
                      <p>
                          {{if  $e.registerEvent.message }}
                          {{$lenMessageText := len $e.registerEvent.message}}
                          {{if gt $lenMessageText 0}}
                          {{ ( substr $e.registerEvent.message 0 4 ) }}....<i class="fa fa-pencil" data-toggle="tooltip" title="{{$e.registerEvent.message}}" aria-hidden="true"></i>
                          {{end}}
                          {{end}}
                      </p>
                    </td>
                  </tr>
                  {{end}}
                </tbody>
              </table>
            </div>
          </div>
      </section>
     {{end}}
      <section class="create-box-section" style=" margin-bottom: 0px;">
          <div class="col-xs-12 col-md-12 dashboard-content heading_style" style="margin-bottom: 20px; ">
            <div class="content-padding">
              <div class="row">
                <div class="col-md-12 ">
                  <div class="col-md-5 " style="padding-left: 0px;">
                  <h3 class="event-team-order-heading" style="text-transform: uppercase;font-weight: bold;font-size: 19px;" >Orders</h3>
                  </div>
                  <div class="col-md-6 " style='text-align: right;'>
                      {{if compare $isEventEnd "true"}}
                      {{if .CaptainCoCaptainStatus |or .EventOranizerStatus |or .CoEventOranizerStatus |or .SuperAdmin}}
                      <span style="float: right;"><a class="" href="" id="ordereditpopup">
                        <i class="ti-pencil"></i>
                        <u>Edit</u>
                      </a></span>
                      {{end}}
                      {{else if .SuperAdmin}}
                      <span style="float: right;"><a class="" href="" id="ordereditpopup">
                        <i class="ti-pencil"></i>
                        <u>Edit</u>
                      </a></span>
                      {{end}}
                      {{$remaningint := convertToFloat .RemainingAmount}}

                      {{if .CaptainCoCaptainStatus |and (gt $remaningint 0.00)}}
                      {{if compare .NetPayStatus "true"}}
                      <span style="float: right;margin-right: 10px;"><p id="teamEventPaymentOptionConformation" value="{{.regeventpayid}}" class="team_payment_btn" style="cursor: pointer;background: #bf5523;"> Pay</p></span>
                      {{else}}
                      <span style="float: right;margin-right: 10px;"><p id="nonteamEventPaymentOption" class="team_payment_btn" style="cursor: pointer; background: #bf5523;"> Pay</p></span>
                      {{end}}
                      <a class=""   href="https://mailchi.mp/2276d3ffdb25/wireinstructions" target="_blank" style="padding-right: 20px"><u>Instructions to Pay Offline</u></a>
                      <a class="" href="/team/GetEachTeamPaymentTrackingDetail/{{$regeventpayid}}" style="padding-right: 20px"><u>Payment Log</u></a>
                      
                      {{else}}
                      {{if .EventOranizerStatus |or .CoEventOranizerStatus |or .SuperAdmin}}

                      {{ range $ep := $selectedTeamPaymentDetails}}
                      
                      <input id="getEventRegPayId_order"  value="{{$ep.eventpayid}}" type="hidden">
                      <p hidden class="getCurrency">{{$eventView.event_0.currency}}</p>
                      <input id="getstripeconnectstatus" value="{{$stripeConnectedStatus}}" type="hidden">
                    <input type="hidden" value="{{$ep.paymentstatus}}">
                     {{if not ( compare $ep.paymentstatus "paid")}} 
                      <span style="float: right;margin-right: 10px;"><p id="payEvent" class="event_payment_btn" style="cursor: pointer;"> Pay</p></span>
                     {{end}}
                     {{end}}
                     {{end}}
                      <a class=""  style="padding-right: 20px"   href="/event-view/event-payment-track/{{$regeventpayid}}/{{$eventId}}/{{$registerTeamId}}"><u>Payment Log</u></a>
                      <a class=""   href="https://mailchi.mp/2276d3ffdb25/wireinstructions" target="_blank" style="padding-right: 20px"><u>Instructions to Pay Offline</u></a>
                      {{end}}
                  </div>
                  <div class="col-md-1">

                  </div>
                  </div>
              </div>
                <div class="table-responsive">
                <table class="table table-bordered dashboard-table tablestyle" style="width:900px;margin: auto; overflow-x:auto;margin-bottom: 20px;" >
                    <thead>
                        <tr>
                          <th colspan="4"></th>
                          <th colspan="5"></th>
                          {{if $eventView.event_0.currency}}
                          <th style='text-align:center;' align ="right" colspan="3" ><span style="color: #2a745f;">PRICE({{$eventView.event_0.currency}})</span></th>
                          {{else}}
                          <th colspan="3" ></th>
                          {{end}}
                          
                        </tr>
                      </thead>
                      
                        {{if $tempRolePricingDetail |or $eventRolePricingDetail}}
                        <thead>
                        <tr>
                          <th colspan="4">Event Fees</th>
                          <th colspan="5"></th>
                          <th style='text-align:center;' align ="right" colspan="3" >  <a href="#" type="button" class="collapseextendclick" data-toggle="collapse" data-target="#demodemo3"  >{{.TempRolePricingTotalCount}} <span class="glyphicon glyphicon-chevron-down down_arrow"></span></a></th>
                        </tr>
                        </thead>
                        <tbody id="demodemo3" class="panel-collapse collapse">
                              <tr class="table-bordered table_bordered_align">
                                <!-- <th colspan="2"> </th> -->
                                <th colspan="4">role</th>
                                <th colspan="3">quantity </th>
                                <th colspan="2"> unit price</th>
                                <th colspan="3"> price</th>
                                <!-- <th colspan="1"> </th> -->
                              </tr> 
                              {{if $tempRolePricingDetail}}
                              {{ range $index, $e2 := $tempRolePricingDetail}} 
                              {{ $role_name :=chararrayreplace $e2.role_name}}
                              <tr class="table-bordered table_bordered_align">
                                  <td colspan="4"><span style="color: #2a745f;">Per Person </span> ({{$role_name}})</td>
                                  <td colspan="3">{{$e2.itemId_Quantity}}</td>
                                  <td colspan="2">{{$e2.iteam_cost}}</td>
                                  <td colspan="3">{{$e2.itemId_Total}}</td>
                              </tr>
                              {{end}}
                              {{else if $eventRolePricingDetail}}
                              {{ range $index, $e2 := $eventRolePricingDetail}} 
                              {{ $role_name :=chararrayreplace $e2.price_fee_role}}
                              <tr class="table-bordered table_bordered_align">
                                  <td colspan="4"><span style="color: #2a745f;">Per Person </span> ({{$role_name}})</td>
                                  <td colspan="3">0</td>
                                  <td colspan="2">{{$e2.regular_cost}}</td>
                                  <td colspan="3">0</td>
                              </tr>
                              {{end}}
                              {{end}}
                        </tbody>
                        {{end}}
                        
                        {{if compare .EventRegAdditionalPracticeBool "true" }}
                        <thead>
                        <tr>
                        <th colspan="4">Practice Fees</th>
                        <th colspan="5"></th>
                        <th style='text-align:center;' align ="right" colspan="3" >  <a href="#" type="button" class="collapseextendclick" data-toggle="collapse" data-target="#demodemo1"  > {{.TotalPracticePrice}} <span class="glyphicon glyphicon-chevron-down down_arrow"></span></a></th>
                        </tr>
                        </thead>
                        {{end}}
                        {{if $eventAdditionalPracticeDetail}}
                        <tbody id="demodemo1" class="panel-collapse collapse">
                              <tr class="table-bordered table_bordered_align">
                                <!-- <th colspan="2"> </th> -->
                                <th colspan="4">item</th>
                                <th colspan="3">quantity </th>
                                <th colspan="2"> unit price</th>
                                <th colspan="3"> price</th>
                                <!-- <th colspan="1"> </th> -->
                              </tr> 
                              {{ range $index, $e2 := $eventAdditionalPracticeDetail}} 
                              <tr class="table-bordered table_bordered_align">
                                  <!-- <td colspan="2"></td> -->
                                  <td colspan="4">{{$e2.name}}</td>
                                  {{if compare $index "0"}}
                                  <td colspan="3">{{$e2.quantity}}</td>
                                  <td colspan="2"></td>
                                  <td colspan="3"></td>
                                  {{else}}
                                  <td colspan="3"> {{$eventRegDetail.event_reg0.additional_practice_quantity}}</td>
                                  <td colspan="2">{{$e2.price}}</td>
                                  <td colspan="3">{{$totalAdtionalPrice}}</td>
                                  {{end}}
                                  <!-- <td colspan="1"></td> -->
                              </tr>
                              {{end}}
                              
                        </tbody>
                        {{end}}
                      <thead>
                      {{if $teampOrderDetail}}
                      <tr>
                      <th colspan="4">Other Fees</th>
                      <th colspan="5"></th>
                      <th style='text-align:center;' align ="right" colspan="3" > {{$teampTotalOrderCount}}<a href="#" type="button" class="collapseextendclick" data-toggle="collapse" data-target="#demodemo2"  ><span class="glyphicon glyphicon-chevron-down down_arrow"></span></a></th>
                     
                      </tr>
                      {{end}}
                      </thead>
                    {{if $teampOrderDetail}}
                    <tbody id="demodemo2" class="panel-collapse collapse">
                        <tr class="table-bordered table_bordered_align">
                        
                          <th colspan="4">item</th>
                          <th colspan="3">quantity </th>
                          <th colspan="2"> unit price</th>
                          <th colspan="3"> price</th>
                         
                        </tr>
                        {{ range $index, $e2 := $teampOrderDetail}}
                        <tr class="table-bordered table_bordered_align">
                            
                            <td colspan="4">{{$e2.iteam_name}}</td>
                            <td colspan="3">{{$e2.itemId_Quantity}}</td>
                            <td colspan="2">{{$e2.iteam_cost}}</td>
                            <td colspan="3">{{$e2.itemId_Total}}</td>
                            
                        </tr>
                        {{end}}
                    </tbody>
                    {{end}}
                    <thead>
                        <tr>
                        <th colspan="4">Gushou Admin Fee (per person)</th>
                                   <th style='text-align:center;' colspan="3"></th>
                        <!-- <th style='text-align:center;' colspan="3">No of Users {{$tempTotalMeberCount}}</th> -->
                        <th style='text-align:center;' colspan="2">$10</th>
                        <th style='text-align:center;' align ="right" colspan="3" ><span style="margin-right: 9px;">{{$tempGushouMemberCountPrice}}</span></th>
                        
                        </tr>
                        <tr class="panel-collapse" style="border: 1px solid #ddd;">
                            <th colspan="4" style="border-left: 1px solid #00000000;
                            border-bottom: 1px solid #00000000 !important; background: #fff"></th>
                            <th colspan="5" style='text-align:center;color: #2a745f!important;' align ="right">TOTAL PRICE ({{$eventView.event_0.currency}})</th>
                            <th style='text-align:center;color: #2a745f!important;' align ="right" colspan="3" ><span style="margin-right: 9px;">{{$currencySymbol}} {{.OverallOrderDetailCount}}</span></th>
                            
                        </tr>
                      </thead>
                </table>
                </div>
            </div>
            {{if .RegEventOrderLog}}
            <div class="content-padding">
              <div class="row">
                <div class="col-md-12 ">
                  <div style="display: inline-block;">
                    <h3 class="event-team-order-heading" style="display: inline;text-transform: uppercase;font-weight: bold;font-size: 19px;">Change Order Log</h3>
                    <a class="" href="" id="toggleOrderLog">

                        <img id="orderarrowicon" style="height: 40px; width: 40px;margin-bottom: 7px;" src="/static/images/arrow_up.png">
                      <!-- <i id="orderarrowicon" class="ti-angle-up" style="font-weight: 600 !important;font-size: 17px;padding-left: 10px"></i> -->
                    </a>
                  </div>
                  <table id="event_team_members" style="width:96%;margin: auto;margin-top: 10px; display: none;" class="table dashboard-table event-view-table-overwrite dasboard-team-table responsive-table changeOrderLog">
                    <thead>
                      <tr>
                        <th class="col-md-5 col-sm-4 col-xs-4"><p class="roster_header">Item Name</p></th>
                        <th class="col-md-3 col-sm-3 col-xs-3"><p class="roster_header">Changes Made</p></th>
                       <th class="col-md-3 col-sm-3 col-xs-3"><p class="roster_header">Change By</p></th>
                        <th class="col-md-3 col-sm-3 col-xs-3"><p class="roster_header">TimeStamp</p></th>
                        <th class="col-md-1 col-sm-1 col-xs-1"><p class="roster_header">Notes</p></th>
                       
                        
                      </tr>
                    </thead>
                    <tbody>
                      {{ range  $e := .RegEventOrderLog}}
                      <tr class='' >
                      <td>
                          <div class="dasboard-team-table-th">Item Name</div>
                          
                          <p class="team-table-side text-capitalize marginZero">{{$e.name}}</p>
                      
                         
                      </td>
                        <td>
                          <div class="dasboard-team-table-th">Change Made</div>
                          <p class="team-table-side text-capitalize marginZero" style="padding-left: 13px">{{if $e.item_old_quantity}} {{$e.item_old_quantity}}                         
                            
                            <img id="orderarrowicon" style="height: 40px; width: 40px" src="/static/images/arrow_right_outline.png">
                            {{$e.item_quantity}} {{else}} {{$e.item_quantity}}{{end}}</p>
                        </td>
                        
    
                         <td>
                            <div class="dasboard-team-table-th">Change By</div>
                            <p class="team-table-side text-capitalize marginZero">{{$e.change_by}}</p>
                          </td> 
                          <td>
                            <div class="dasboard-team-table-th">TimeStamp</div>
                            <p class="team-table-side marginZero"> {{$e.datetimestamp}}</p>
                        </td>
                        <td>
                            <div class="dasboard-team-table-th">Notes</div>
                            <div class='note-tooltip'><i class='ti-notepad'></i><div class='class-tooltip waiver-medicalcondition'>{{$e.notes}}</div></div>
                        </td>
                      </tr>
                      {{end}}
                    </tbody>
                  </table>
                </div>
              </div>
          </div>  
          {{end}}
          </div>
      </section>
      {{if .RegEventQuestionary | or $eventRegDetail.event_reg0.message }}
      <section class="create-box-section" style=" margin-bottom: 0px;">
          <div class="col-xs-12 col-md-12 dashboard-content heading_style" style="margin-bottom: 20px; ">
            <div class="content-padding">
                {{if .RegEventQuestionary}}
              <div class="row">
                <div class="col-md-12 " style="display: inline-block;">
                  <h3 class="event-team-order-heading" style="display: inline-block;text-transform: uppercase;font-weight: bold;font-size: 19px;">Additional Information</h3>
                  <a class="" href="" id="toggleAdditionalQuestion">

                      <img id="orderquestionaryicon" style="height: 40px; width: 40px;margin-bottom: 7px;" src="/static/images/arrow_up.png">

                      <!-- <i id="orderquestionaryicon" class="ti-angle-up" style="font-weight: 600 !important;font-size: 17px;padding-left: 10px"></i> -->
                  </a>
                </div>
              </div>
              
              <ul class="profile-activities-col changeAdditionalQuestionLog" style="margin-top: 30px;padding-left: 0px; display: none;">
                {{ range $index, $e2 := .RegEventQuestionary}}
                <li>
                <label style="display: block;font-weight: bold;" for="Paddling">
                  {{$e2.questions}}
                </label>
                <label style="display: block;font-weight: bold;"  for="Paddling">
                    Answer: <p class="marginZero" style="display: inline;">{{$e2.answer}}</p>
                </label>
                </li>
                {{end}}
              </ul>
              {{end}}
            </div>
            
            {{if .RegEventQuestionary}}
            <div class="content-padding changeAdditionalQuestionLog" style='margin-top: 23px;display: none;'>
                <div class="row">
                  <div class="col-md-12 ">
                    <h3 class="event-team-order-heading" style="text-transform: uppercase;font-weight: bold;font-size: 19px;">Message to Event Organizer</h3>
                    <p style="font-style: oblique;margin-top: 10px; word-break: break-word;word-wrap: break-word;">{{$eventRegDetail.event_reg0.message}}</p>  
                  </div>
                </div>
            </div> 
            {{else}}
            <div class="content-padding" style='margin-top: 23px;'>
              <div class="row">
                <div class="col-md-12 ">
                  <h3 class="event-team-order-heading" style="text-transform: uppercase;font-weight: bold;font-size: 19px;">Message to Event Organizer</h3>
                  <p style="font-style: oblique;margin-top: 10px; word-break: break-word;word-wrap: break-word;">{{$eventRegDetail.event_reg0.message}}</p>  
                </div>
              </div>
          </div> 
            {{end}}   
          </div>
          
      </section>
      {{end}} 
      {{if $getRosterList}}
      <section class="create-box-section">
          <div class="">
            <div class="col-md-12 dashboard-content heading_style" style="margin-bottom: 0px !important; ">
                
                <div class="row">
                    <div class="col-md-12 " style="padding-left: 41px;margin-bottom: 14px;">
                      <h3 class="event-team-order-heading" style="text-transform: uppercase;font-weight: bold;font-size: 19px;">Rosters</h3>
                      <!-- {{if compare $event_Register_Team_CompleteOrUnComplete "false"}}
                      {{if .CaptainCoCaptainStatus |or .EventOranizerStatus |or .CoEventOranizerStatus |or .SuperAdmin}}
                      <a id="submitrosterlatermodel" href="" value="{{.EventView.event_0.id}},{{.RegisterEventId}}" style='margin-right: 30px;margin-bottom: 10px;' class="btn btn-phantom-green upload-waivers pull-right"><span class="ti-plus"></span><span> Submit Roster</span></i></a>
                      {{end}}
                      {{else}}
                      {{if .SuperAdmin}}
                      <a id="submitrosterlatermodel" href="" value="{{.EventView.event_0.id}},{{.RegisterEventId}}" style='margin-right: 30px;margin-bottom: 10px;' class="btn btn-phantom-green upload-waivers pull-right"><span class="ti-plus"></span><span> Submit Roster</span></i></a>
                      {{end}}
                      {{end}} -->
                      {{if compare .EventView.event_0.rostersubmitstatus true | or .SuperAdmin }}
                      <a id="submitrosterlatermodel" href="" value="{{.EventView.event_0.id}},{{.RegisterEventId}}" style='margin-right: 30px;margin-bottom: 10px;' class="btn btn-phantom-green upload-waivers pull-right"><span class="ti-plus"></span><span> Submit Roster</span></i></a>
                      {{end}}
                    </div>
                    
                </div>
                {{if .CaptainCoCaptainStatus |or .EventOranizerStatus |or .CoEventOranizerStatus |or .SuperAdmin}}
                    <div class="col-md-12 roster_head_align">
                      <p class='fnt_wei_500' >No rosters yet? No problem. Create rosters <a id='navigateToRosterTab' href='#'>here</a></p>
                    </div>
                    {{end}}
              <table id="event_team_members" style="width:96%;margin: auto;" class="table dashboard-table event-view-table-overwrite dasboard-team-table responsive-table">
                <thead>
                  <tr>
                    <th class="col-md-1 col-sm-1 col-xs-1"></th>
                   
                    <!-- <th class="col-md-2 col-sm-2 col-xs-2">Class</th> -->
                    <th class="col-md-2 col-sm-2 col-xs-2"><p class="roster_header">Boat type</p></th>
                    <th class="col-md-2 col-sm-2 col-xs-2"><p class="roster_header">Division</p></th>
                   <th class="col-md-2 col-sm-2 col-xs-2"><p class="roster_header">Class</p></th>
                    <th class="col-md-2 col-sm-2 col-xs-2"><p class="roster_header">Distance</p></th>
                    <th class="col-md-2 col-sm-2 col-xs-2"><p class="roster_header">Status</p></th>
                    <th class="col-md-3 col-sm-4 col-xs-3"><p class="roster_header">Roster Name</p></th>
                    <th class="col-md-1 col-sm-1 col-xs-1"></th>
                  </tr>
                </thead>
                <tbody>
                {{ range $e2 := $getRosterList }}
                  <tr class=''>
                    <td></td>
                  
                    <!-- <td>
                        <div class="dasboard-team-table-th">Class</div>
                        <p class="team-table-side text-capitalize">{{if compare $e2.clases "M"}} Men {{else if compare $e2.clases "W"}} Women {{else if compare $e2.clases "MX"}} Mixed {{end}}</p>
                    </td> -->

                    <td>
                      <div class="dasboard-team-table-th">Boat Type</div>
                      
                      <p class="team-table-side text-capitalize">{{if $e2.boat}}  {{$e2.boat}} Person {{end}}</p>
                  
                     
                  </td>
                    <td>
                      <div class="dasboard-team-table-th">Division</div>
                      <p class="team-table-side text-capitalize">{{$e2.div | GetFullDivName}}</p>
                    </td>
                    

                     <td>
                        <div class="dasboard-team-table-th">Class</div>
                        <p class="team-table-side text-capitalize">{{if compare $e2.class "M"}} Men {{else if compare $e2.class "W"}} Women {{else if compare $e2.class "MX"}} Mixed {{end}}</p>
                      </td> 
                      <td>
                        <div class="dasboard-team-table-th">Distance</div>
                        <p class="team-table-side text-capitalize "> {{$e2.distance}} </p>
                    </td>
                    <td>
                        <div class="dasboard-team-table-th">Status</div>
                        {{if $e2.roster}}
                        <p class="team-table-side text-capitalize ">Submitted</p>
                        {{else}}
                        <p class="team-table-side text-capitalize ">Not Submitted</p>
                        {{end}}
                    </td>
                    <td>
                      <div class="dasboard-team-table-th">Roster Name</div>
                      
                      <p class="team-table-side text-capitalize" style="color: #2a745f;">{{$e2.roster}}</p>
                    </td>
                  </tr>
                {{end}}
                </tbody>
              </table>
            </div>
          </div>
      </section>
      {{end}}
    </div>
  </div>
</div>

<div class="modal fade" id="submit_roster_model" tabindex="-1" data-backdrop="static" >
  <div class="modal-dialog" style='width: 740px;'>
    <div class="modal-content">
      <form id="submitlaterrosterform" action ="/event/submit_roster_later_event_page" method="POST">
      <input type="hidden" id="SelectedDivisionArray" value="" name="selectedDivisionArray">
      <input type="hidden" id="SelectedClassArray" value="" name="selectedClassArray">
      <input type="hidden" id="SelectedDistanceArray" value="" name="selectedDistanceArray">
      <input type="hidden" id="SelectedRosterIdArray" value="" name="selectedRosterIdArray">
      <input type="hidden" id="RegisterEventId" value="{{.RegisterEventId}}" name="registerEventId">
      <input type="hidden" id="" value="{{.EventSlug}}" name="eventslug">
                          
      <div class="modal-body">
        <button type="button" class="close cancelSmsPracticeReminder" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
        <h3 id="smsReminderTitle">Submit Rosters</h3>
        
        <div class="row">
          <div class="col-md-12 error-message" id="roster_reg_err_msgs" style="background: #fff"></div>
        </div>
        <div>
          <table class="table" id="">
            <thead id="tblHead">
            <tr>
              <th colspan="2">BoatType</th>
              <th colspan="2">Division</th>
              <th colspan="2">Class</th>
              <th colspan="2">Distance</th>
              <th colspan="4" >Roster</th>
            </tr>
            </thead>
            {{$teamRosterList := .TeamRosterList}}
            <tbody id="table_submit_later_roosterappend">
                {{ range $e22 := .RegisterLaterClassDivisionList}} 
                <tr style="border-bottom: 1px solid #ddd;" class="table_tr_submitlaterrosterDetail">
                  <td colspan="3" data-value="{{$e22.div}}{{if ne $e22.boat_type ""}}_{{$e22.boat_type}}{{end}}" >{{$e22.div | GetFullDivName }} {{if ne $e22.boat_type ""}}/ {{$e22.boat_type}} Person {{end}}</td>
                  <td colspan="2">{{if ne $e22.boat_type ""}} {{$e22.boat_type}} Person {{end}}</td>
                  <td colspan="2" data-value="{{$e22.class}}" >{{if compare $e22.class "M"}} Men {{else if compare $e22.class "W"}} Women {{else if compare $e22.class "MX"}} Mixed {{end}}</td>
                  <td colspan="2" data-value="{{$e22.distanceValue}}" >{{$e22.distance}}</td>
                  <td colspan="4" >
                    <div class="form-group">
                      <select id="selectedrosterid" name="" class="select-custom form-control reset_roster_list" style="width: 100%;">
                      <option value="">- Select Roster -</option>
                      {{ range $e12 := $teamRosterList}} 
                      <option value="{{$e12.id}}">{{$e12.name}}</option>
                      {{end}}
                      </select>
                    </div>	
                  </td>
                </tr>
                {{end}}
            </tbody>
          </table>
        </div>
        <div class="row delete-team-user-row">
         <div class="col-xs-6" id="nonsubscriptionOption">
            <button id="later_roster_submit" type="button" class="btn btn-primary btn-fullwidth">Submit Roster</button>
          </div>
          <div class="col-xs-6">
            <button type="reset" class="btn btn-secondary btn-fullwidth" data-dismiss="modal" aria-label="Close">Cancel</button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="defaulterrormodel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
        <h3 id="defaulterrorTitle" >Remove From Team</h3>
        <!-- <p>Cannot delete ((deleteUsername)). Check if the paddler is a captain or event organizer.</p> -->
        <p id="defaulterrorHeading"></p>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-primary btn-fullwidth" data-dismiss="modal" aria-label="Close">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ordereditmodelpopup" tabindex="-1" data-backdrop="static" >
    <div class="modal-dialog" style='width: 900px;'>
      <div class="modal-content">
        <form id="allordereditemForm" action ="/event/event_order_edit" method="POST">
        <input type="hidden" id="" value="{{$registerEventId}}" name="registerEventId">
        <input type="hidden" id="" value="{{$eventSlug}}" name="eventSlug">
        <input type="hidden" id="" value="{{$eventId}}" name="eventId">
        <input type="hidden" id="" value="{{$registerTeamId}}" name="registerTeamId">
        
        <div class="modal-body">
          <button type="button" class="close closeClassChanges" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
          <h3 id="smsReminderTitle">Edit Order Details</h3>
          
          <div class="row">
            <span class="col-md-12 error-message" id="order_edit_err_msgs"></span>
          </div>
          
          <div>
            <table class="table borderless" id="">
              {{if $tempRolePricingDetail |or $eventRolePricingDetail}}
                <thead id="tblHead">
                <tr>
                <th colspan="4" style='color: #3a4642 !important'>Event Fees</th>
                </tr>
                <tr>
                  <th colspan="8">ITEM</th>
                  <th colspan="3">OLD QUANTITY</th>
                  <th colspan="3">CHANGE QUANTITY</th>
                  <th colspan="3">UNIT PRICE</th>
                  <th colspan="3" >PRICE ({{$eventViewcurrency}})</th>
                </tr>
                </thead>
                <tbody>
                  {{if $tempRolePricingDetail}}
                   {{ range $index, $e2 := $tempRolePricingDetail}} 
                   {{ $role_name :=chararrayreplace $e2.role_name}}
                   <tr>
                   <td colspan="8"><span style="color: #2a745f;">Per Person </span> ({{$role_name}})</td>
                   <input type="hidden" name=per_person_iteam_id[] value="{{$e2.role_iteam_id}}">
                   <td colspan="3" id="oldedit_per_person_quantity{{$index}}" >{{$e2.itemId_Quantity}}</td>
                   <td colspan="3"><input class="form-control event-quality-size edit_order_item_change" min="0" data-index="{{$index}}" name=per_person_quantity[] value="{{$e2.itemId_Quantity}}" id="" type="number"></td>
                   <td colspan="3" id="edit_per_person_cost{{$index}}" >{{$e2.iteam_cost}}</td>
                   <td colspan="3" id="edit_per_person_total_cost{{$index}}" >{{$e2.itemId_Total}}</td>
                   </tr>
                   {{end}}
                   {{else if $eventRolePricingDetail}}
                   {{ range $index, $e2 := $eventRolePricingDetail}} 
                   {{ $role_name :=chararrayreplace $e2.price_fee_role}}
                   <tr>
                   <td colspan="8"><span style="color: #2a745f;">Per Person </span> ({{$role_name}})</td>
                   <input type="hidden" name=per_person_iteam_id[] value="{{$e2.id}}">
                   <td colspan="3" id="oldedit_per_person_quantity{{$index}}" >0</td>
                   <td colspan="3"><input class="form-control event-quality-size edit_order_item_change" min="0" data-index="{{$index}}" name=per_person_quantity[] value="0" id="" type="number"></td>
                   <td colspan="3" id="edit_per_person_cost{{$index}}" >{{$e2.regular_cost}}</td>
                   <td colspan="3" id="edit_per_person_total_cost{{$index}}" >0</td>
                   </tr>
                   {{end}}
                   {{end}}
                </tbody>
              {{end}}
              {{if $eventAdditionalPracticeDetail}}
              {{ range $index, $e2 := $eventAdditionalPracticeDetail}} 
              {{if compare $index "1"}}
              {{if not (compare $e2.price "0.00")}}
              <thead id="tblHead">
              <tr>
              <th colspan="4" style='color: #3a4642 !important;border-top: 0px !important;padding-bottom: 20px;'>Practice Fees</th>
              </tr>
              <tr>
                <th colspan="8">ITEM</th>
                <th colspan="3">OLD QUANTITY</th>
                <th colspan="3">CHANGE QUANTITY</th>
                <th colspan="3">UNIT PRICE</th>
                <th colspan="3" >PRICE ({{$eventViewcurrency}})</th>
              </tr>
              </thead>
              <tbody>
                  {{ range $index, $e2 := $eventAdditionalPracticeDetail}} 
                  {{if compare $index "1"}}
                  <tr>
                  <td colspan="8">{{$e2.name}}</td>
                  <td colspan="3" id="old_edit_additional_quantity" >{{$eventRegDetail.event_reg0.additional_practice_quantity}}</td>
                  <td colspan="3"><input class="form-control event-quality-size edit_order_item_change" min="0" name=additional_quantity value="{{$eventRegDetail.event_reg0.additional_practice_quantity}}" id="additional_quantity" type="number"></td>
                  <td colspan="3" id="additional_quantity_cost">{{$e2.price}}</td>
                  <td colspan="3" id="additional_quantity_cost_total" >{{$totalAdtionalPrice}}</td>
                  </tr> 
                  {{end}}
                  {{end}}
              </tbody>
              {{end}}
              {{end}}
              {{end}}
              {{end}}
              {{if $teampOrderDetail}}
              <thead id="tblHead">
              <tr>
              <th colspan="4" style='color: #3a4642 !important;border-top: 0px !important;padding-bottom: 20px;'>Other Fees</th>
              </tr>
              <tr>
                <th colspan="8">ITEM</th>
                <th colspan="3">OLD QUANTITY</th>
                <th colspan="3">CHANGE QUANTITY</th>
                <th colspan="3">UNIT PRICE</th>
                <th colspan="3" >PRICE ({{$eventViewcurrency}})</th>
              </tr>
              </thead>
              <tbody>
                  {{ range $index, $e2 := $teampOrderDetail}}
                  <tr  class="table_tr_submitlaterrosterDetail">
                    <td colspan="8"> {{$e2.iteam_name}} </td>
                    <input type="hidden" name=iteam_id[] value="{{$e2.iteam_id}}">
                    <td colspan="3" id="old_edit_order_iteam_quantity{{$index}}" >{{$e2.itemId_Quantity}}</td>
                    <td colspan="3"> <input class="form-control event-quality-size edit_order_item_change" data-index ={{$index}} min="0" name=iteam_id_quantity[] value="{{$e2.itemId_Quantity}}"  type="number"></td>
                    <td colspan="3"  id="edit_order_iteam_cost{{$index}}" > {{$e2.iteam_cost}} </td>
                    <td colspan="3"  id="edit_order_iteam_total_cost{{$index}}" > {{$e2.itemId_Total}} </td>
                  </tr>
                  {{end}}
              </tbody>
              
              {{end}} 
              <tbody>
                  <tr class="table_tr_submitlaterrosterDetail">
                      <td colspan="8"></td>
                      <td colspan="2"></td>
                      <td colspan="3"><input id ="getCurrencySymbol" type="hidden" value="{{$currencySymbol}}"></td>
                      <td colspan="3" style='text-align:center;color: #2a745f!important;font-weight: bold;padding-top: 30px !important;'>TOTAL PRICE</td>
                      <td colspan="4" id="overallOrderDetailCount" value='{{.EditOverallOrderDetailCount}}' style="padding-top: 30px !important;text-align: center;" >{{$currencySymbol}} {{.EditOverallOrderDetailCount}}</td>
                  </tr>
                  <tr>
                      <td colspan="17">
                        <textarea class="form-control" rows="3" maxlength="200" id="changeordernotetext" style="margin-top: 10px" name="ordernote" placeholder="Add a note"></textarea>
                      </td>
                  </tr>  
              </tbody>
            </table>
          </div>
          <div class="row delete-team-user-row">
           <div class="col-xs-6" id="nonsubscriptionOption">
              <button id="edit_order_detail_submit" type="button" class="btn btn-primary btn-fullwidth">Update</button>
            </div>
            <div class="col-xs-6">
              <button type="reset" class="btn btn-secondary btn-fullwidth closeClassChanges" data-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
</div>

<div class="modal fade" id="nonteamEventPaymentOptionModel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
          <div class="row">
            <div class="col-md-12">

              <h3> Payment </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>Please contact your event organizer to let them know you are ready to pay through Gushou but are kindly waiting for them to set-up their account information before being able to do this!</p>
            </div>
          </div>		
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="eventpaymentpopup">
  <div class="modal-dialog eventpaymentmodal">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="ti-close"></i>
          </span>
        </button>
        <h3>Payment</h3>
        <div class="row">
          <div class="col-md-12">
              <span id="paypopup_err"class="error" ></span>
              <span id="paypopup_succ" class="success" ></span>
              <div id="eventpaymentpopup_Body" style="text-align: left">

                  <div class="payTeamName"><p id="getPayTeamName" class="teamnameamountstyle"></p> owes {{$currencySymbol}} <p id="getOweAmount"class="teamnameamountstyle"></p> on this fees</div>
                  <input type="hidden" id="eventpayregsid" value="">
                  <input type="hidden" id="getcurrenytype" value="">
                  <input type="hidden" id="geteventfee" value="">
                  <input type="hidden" id="gettotaleventfee" value="">
                
                  <div class="" >
                          <div class="radio" class="rowheight" >
                              <label class="payPopupLabel">
                                  <input type="radio" name = "payoptions" value="owing"class="radioAlign showowe" checked>Apply Discount Amount : {{$currencySymbol}}
                               </label>
      
                               <input id="showOwingBalance" min="0" class="payPopupTextBox event-user-input-val" type="number">
                          </div>
                          <div class="radio" class="rowheight">
                                  <label class="payPopupLabel">
                                      <input type="radio" name = "payoptions" value="fee"class="radioAlign"><label class="offlinefeelabel">Fee does not apply</label>
                                   </label>
                          </div>
                          <div class="radio" class="rowheight">
                                  <label class="payPopupLabel offfee">
                                      <input type="radio" name = "payoptions" value="offlinepay"class="radioAlign offlinefee">Apply Offline payment : {{$currencySymbol}}
                                   </label>
                                   <input id="OfflinePay"  min="0" class="payPopupTextBox event-user-input-val hide" type="number">
                          </div>
                          <div class="radio" class="rowheight" >
                                  <label class="payPopupLabel">
                                      <input type="radio" name = "payoptions" value="offlinerefund"class="radioAlign offline refund">Apply Offline Refund : {{$currencySymbol}}
                                   </label>
                                   <input id="OfflineRefund"  min="0" class="payPopupTextBox event-user-input-val hide" type="number">
                          </div>
                          <div class="radio" class="rowheight" >
                                  <label class="payPopupLabel">
                                      <input type="radio" name = "payoptions" value="recordnote" class="radioAlign">Just Record Note
                                   </label>
                          </div>

                          
                  </div>

                  <div class="">
                      <p style="float: left;padding-top: 5px">Transcation Note : </p>
                      <p style="font-size: 11px;float: left;font-weight: bold;padding-top: 5px;padding-left: 5px;">(optional)</p>
                      <textarea id="tran_note" class="tran_note form-control" rows="4" cols="50" maxlength="250"></textarea>
                  </div>
                  <div class="row">
                      <div class="col-md-12" style="text-align: center;padding-top: 30px;">
                          <div class="col-md-6 col-sm-6 col-xs-6">
                              <button type="sumbit" class="btn btn-thin btn-phantom-green smallscreenstyle" style="border-radius: 3px;margin-right: 10px" data-dismiss="modal"
                              aria-label="Close">Cancel</button>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6">
                              <button id="savePayDetails" type="sumbit" class="btn btn-thin smallscreenstyle paybuttonevent">Save</button>

                          </div>
          
                      </div>
                  </div>

              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="paytermsallowsuccesmodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<i class="ti-close"></i>
					</span>
				</button>
				<div class="row">
					<div class="col-md-12">
						<h3 id="paytermsallowsuccesmodalText">Payment Set Up Instructions Sent Via Email</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<span id="waiver_removed_err"></span>
								<span id="waiver_removed_succ"></span>
								<p id="paytermsallowsuccesmodal_Body">

								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="reset" class="btn btn-fullwidth payallowOkbtn" data-dismiss="modal" aria-label="Close">OK</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</html>