<!DOCTYPE html>
<html>
<head>
	<title>{{.PageTitle}} | Gushou</title>
	{{ template "linksScripts.html" . }}
	{{ template "user/userStripeScript.html" . }}

</head>
<body>

	{{ if .IsLoggedIn }}
	{{ template "headerAfterLogin.html" . }}
	{{ else }}
	{{ template "headerBeforeLogin.html" . }}
  {{ end }}
  
	{{ $currentUserId := .CurrentUserId }}
	{{ $team_Manage_Admin := .Team_Manage_Admin}}
	{{ $event_Manage_Admin := .Event_Manage_Admin}} 
	{{ $paddling_Admin := .Paddling_Admin}} 

	<section class="features-header white-text spacing-lg vertical-center text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Plans & pricing</h1>
					<p>Start free, with affordable upgrades.</p>
				</div>
			</div>
		</div>
	</section>
  <form id="subscriptionPay" action="" method="POST" >
	<section class="white-section pricing-overlay-container">
		<div class="container-fluid subscription_overwrite_maxwidth">


<div class="comparison">

<table>
  <thead>
    <tr>
      <th class="tl tl2"></th>
      <th colspan="2" class="heading-label header-2">Team</th>
    </tr>
    <tr>
      <th class="tl"></th>
      <th class="compare-heading light-orange full-width-1">Basic
      </th>
      <th class="compare-heading light-orange full-width-2">Premium
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td colspan="4">Profile</td>
    </tr>
    <tr class="compare-row">
      <td>Profile</td>
      <td class="column2-style">
        <span class="fa fa-check text-success"></span>
      </td>
      <td class="column3-style">
        <span class="fa fa-check text-success"></span>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="4">Listing</td>
    </tr>
    <tr>
      <td>Listing</td>
      <td class="column2-style">
        <span class="fa fa-check text-success"></span>
      </td>
      <td class="column3-style">
        <span class="fa fa-check text-success"></span>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="4">Recruitment</td>
    </tr>
    <tr class="compare-row">
      <td>Recruitment</td>
      <td class="column2-style">
        <span class="fa fa-check text-success"></span>
      </td>
      <td class="column3-style">
        <span class="fa fa-check text-success"></span>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="4">Team Management</td>
    </tr>
    <tr>
      <td>Team Management</td>
      <td class="column2-style">
        <span class="fa fa-check text-success"></span>
      </td>
      <td class="column3-style">
        <span class="fa fa-check text-success"></span>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="4">Schedule</td>
    </tr>
    <tr class="compare-row">
      <td>Schedule</td>
      <td class="column2-style">
        <span class="fa fa-check text-success"></span>
      </td>
      <td class="column3-style">
        <span class="fa fa-check text-success"></span>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="4">Easy communications</td>
    </tr>
    <tr>
      <td>Easy communications</td>
      <td class="column2-style">
        <span class="fa fa-check text-success"></span>
      </td>
      <td class="column3-style">
        <span class="fa fa-check text-success"></span>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="4">Notifications</td>
    </tr>
    <tr class="compare-row">
      <td>Notifications</td>
      <td class="column2-style">n/a</td>
      <td class="column3-style">n/a</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="4">Online waivers</td>
    </tr>
    <tr>
      <td>Online waivers</td>
      <td class="column2-style">
        <span class="fa fa-check text-success"></span>
      </td>
      <td class="column3-style">
        <span class="fa fa-check text-success"></span>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="4">Attendance</td>
    </tr>
    <tr class="compare-row">
      <td>Attendance</td>
      <td class="column2-style">
        <span class="fa fa-check text-success"></span>
      </td>
      <td class="column3-style">
        <span class="fa fa-check text-success"></span>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="4">Advanced Attendance</td>
    </tr>
    <tr>
      <td>Advanced Attendance</td>
      <td class="column2-style"></td>
      <td class="column3-style">
        <span class="fa fa-check text-success"></span>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="4">Text Messaging</td>
    </tr>
    <tr class="compare-row">
      <td>Text Messaging</td>
      <td class="column2-style"></td>
      <td class="column3-style">400 texts/mnth**</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="4">Line-Up Management</td>
    </tr>
    <tr>
      <td>Line-Up Management</td>
      <td class="column2-style"></td>
      <td class="column3-style">
        <span class="fa fa-check text-success"></span>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="4">Online Payments</td>
    </tr>
    <tr class="compare-row">
      <td>Online Payments</td>
      <td class="column2-style"></td>
      <td class="column3-style">Coming Soon</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="4">Sponsorship Exposure</td>
    </tr>
    <tr>
      <td>Sponsorship Exposure</td>
      <td class="column2-style"></td>
      <td class="column3-style">
        <span class="fa fa-check text-success"></span>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="4">Registration</td>
    </tr>
    <tr class="compare-row">
      <td>Registration</td>
      <td class="column2-style last">
        <span class="fa fa-check text-success"></span>
      </td>
      <td class="column3-style last">
        <span class="fa fa-check text-success"></span>
      </td>
    </tr>
  </tbody>
</table>

<div class="container text-center">
  <br>
  <p>
    <small>* Premium trial initiated when you create a team. 21-days will start from the first day of your first practice.
      <br>** Text message credits are carried forward month to month for one year.
      <br>Option to buy packages of 1,000 text messages for $15.
      <br>Prices in USD.</small>
  </p>
</div>
<div class="row">
    <span id="subscription_err_msg" class="error-message"></span>
</div>
</div>
<div class="text-center">
  <span class="notify-select-margin">
    <span class="disc-option-1">
      <input id="subscriptionplan_Yearly" type="radio" class="circle" name="subscriptionplan" value="{{.Yearly_Subscription_Plan_Id}}" /> Premium Yearly / ${{.Yearly_SubscriptionAmount}}
    </span>
    <span class="disc-option-2">
      <input id="subscriptionplan_Monthly" type="radio" class="circle" name="subscriptionplan" value="{{.Monthly_Subscription_Plan_Id}}" /> Premium Monthly / ${{.Monthly_SubscriptionAmount}}
    </span>
  </span>
</div>
      {{if or (compare .RemoveCaptainStatus "true") |or (compare .FromStettingPage "true") | or ((compare .DefaultTeamPage "true") | and (compare .MoneySubscriptionDetailStatus "false"))}}
      <input type="hidden" name="subscriptionteamid" value="{{.TeamId}}">
      <input type="hidden" name="subscriptionuserid" value="{{.UserId}}">
      <input type="hidden" id ="subscription_Card_Length" value="{{len .Subscription_Card_Detail}}">
      <input type="hidden" id ="subscriptionskipstatus" name="subscriptionskipstatus" value="">
      {{if .Subscription_Card_Detail}}
      {{$default_card_id := checkDefaultCardDetail .Subscription_Card_Detail}}
      <input type="hidden" name="subscriptioncard" value="{{$default_card_id}}"  id="subscriptioncardId">
      {{end}}
      <div class="row delete-team-user-row">
        <div class="text-center">
          {{if compare .RemoveCaptainStatus "true"}}
          <button  id="subscriptionSkipSubmit" type="button" class="btn btn-primary btn-middlewidth">Back</button>
          {{else}}
          <button  id="goBackPreviousPage" type="button" class="btn btn-primary btn-middlewidth">Back</button>
          {{end}}
          <button type="button" class="btn btn-phantom-green btn-middlewidth" id="subscriptionPaySubmit" >Upgrade to Premium</button>
        </div>
      </div>
      {{else}}
      <div class="row delete-team-user-row">
        <div class="col-md-12 nav">
          <!-- <span  class="error-message">Already Subscription Done for this Team.</span> -->
        </div>
      </div>
      {{end}}
		</div>

	</section>
  </form>
	<section  class="white-section">
			<div class="container">
				<div class="row">
					<div class="spacing-sm">
						<div class="col-md-12">
              	<div class="faq-item">
                    <a href='/pricing#faq' style="color: #bf5424;" target='_blank'><u>FAQ</u></a>
                  </div>

							<div class="faq-item">
								<p>
									<strong>Refund Policy:</strong>
								</p>
								<p>Gushou does not issue refunds and customer can cancel at any time. Gushou customers are responsible for any charges
									incurred prior to cancellation.</p>
							</div>
		
							<div class="faq-item">
								<p>
									<strong>Subscription Information: </strong>
								</p>
								<p>Team subscriptions are not billed to individual team members. Team Captains are responsible for paying for their team’s
									subscription. Plans auto-renew after posted end date unless subscription is cancelled in advance. In the event where
									a Team Captain changes within Gushou, payment management responsibilities will be transferred to the new Team Captain.
									The paid period of the subscription will carry forward until expiry, at which point the new Team Captain will be prompted
									to update credit card information for renewal.</p>
							</div>
		
							<div class="faq-item">
								<p>If you have questions about Gushou’s payment policies, please contact us here:
									<a href='mailto:dragonboat@gogushou.com'
									 target='_blank'>dragonboat@gogushou.com</a>.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



	{{ template "footer.html" . }}

  <div class="modal fade" id="subscriptDefaultCardModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="ti-close"></i>
            </span>
          </button>
          <div class="row">
            <div class="col-md-12">
              <span id="submit_roster_event_succ" class="success"></span>
              <span id="submit_roster_event_err" class="error-message"></span>
              <span>
                <h3>Change the Default Card
                  <span id="edit_practice_date_title"></span>
                </h3>
              </span>
            </div>
          </div>
          <form id="submit_roster_eventForm" method="POST">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group repeat-add-practice">
                  <select class="form-control" id="defaultCardSelectChange" name="register_class">
                    <option value="">Select the Card</option>
                    {{ range $index, $element := .Subscription_Card_Detail }} {{if compare $element.default_source "false"}}
                    <option id="subscriptioncardselected" value="{{$element.card_id}}">XXXX-XXXX-XXXX-{{$element.last4}} {{$element.brand}}</option>
                    {{end}} {{end}}
                  </select>
                </div>
                <span class="error-message">Note: Seleted card changes to default card/ if No more than one card list empty please add card </span>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" id="submitDefaultCard" class="btn btn-primary btn-fullwidth edit_practice">Make Default Card</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
<div class="modal fade" id="defaultsubscriptionmodelheading">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
        <div class="row">
          <div class="col-md-12">
          <h3 id="defaulteventmodelwithheadingText" style="margin-bottom: 20px;"></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <span id="waiver_removed_err" ></span>
                <span id="waiver_removed_succ" ></span>
                <p id="defaulteventmodelwithheading_Body" ></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          <button type="reset" class="btn btn-primary btn-fullwidth" data-dismiss="modal" aria-label="Close">Cotinue Using Gushou</button>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
</body>

</html>