<!DOCTYPE html>
<html>
<head>
	<title>{{.PageTitle}} | Gushou</title>
	{{ template "linksScripts.html" . }}
	{{ template "user/userStripeScript.html" . }}
</head>
<body>
	{{ template "headerAfterLogin.html" . }}
	

	{{ $currentUserId := .CurrentUserId }}
	{{ $team_Manage_Admin := .Team_Manage_Admin}}
	{{ $event_Manage_Admin := .Event_Manage_Admin}} 
	{{ $paddling_Admin := .Paddling_Admin}} 
	<div id="main-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12 dashboard-content">
					<section>
						<form id="subscriptionPay" action="" method="POST" >
						  <div class="row">
							<div class="col-md-12">
									<div class="dashboard-schedule-nav no-margin active-member-option">
										<a href="#/" id="goBackPreviousPage" class="text-left small"><i class="ti-arrow-left"></i> Back</a>
									</div>
								</div>
							</div>
							<div class="row" >
									<div class="col-md-12">
										<div class="dasboard-team-table-container">
										     <table id="team_members" class="table dashboard-table dasboard-team-table responsive-table">
													<thead>
														<tr>
															<th class="col-md-1">#</th>
															<th class="col-md-6">Subscription Type</th>
															<th class="col-md-5">Subscription Amount</th>
														</tr>
													</thead>
													<tbody>
															<tr>
																<td>
																<div class="dasboard-team-table-th">#</div>
																<div class="form-check form-check-inline">
																		<input class="form-check-input" type="radio" name="smssubscriptionplan" id="sms1" value="true">
																		<label class="form-check-label" for="sms1"></label>
																</div>
																</td>
																<td>
																<div class="dasboard-team-table-th">Subscription Type</div>
																SMS Package(1000 sms/year)
																</td>
																<td>
																<div class="dasboard-team-table-th">Subscription Amount</div>	
															  $15 USD
																</td>
															</tr>
													</tbody>
												</table>
										</div>
										<div>

										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="dashboard-schedule-nav text-align-center active-member-option">
											 
												<span id="subscription_err_msg" class="error-message"></span>
												<input type="hidden" name="subscriptionteamid" value="{{.TeamId}}">
												<input type="hidden" name="subscriptionuserid" value="{{.UserId}}">
												<input type="hidden" id ="subscription_Card_Length" value="{{len .Subscription_Card_Detail}}">
												<input type="hidden" id ="subscriptionskipstatus" name="subscriptionskipstatus" value="">
												{{if .Subscription_Card_Detail}}
												{{$default_card_id := checkDefaultCardDetail .Subscription_Card_Detail}}
												<input type="hidden" name="subscriptioncard" value="{{$default_card_id}}"  id="subscriptioncardId">
												{{end}}
												<a href="#/" id="subscriptionPaySubmit" class="btn btn-thin btn-primary">
													<span>Subscribe Card</span>
												</a>
										</div>
									</div>
								</div>
							</form>
					</section>
				</div>
			</div><!--/main-content-header-->
		</div><!--/container-->
	</div>
	{{ template "footer.html" . }}
 <div class="modal fade" id="subscriptDefaultCardModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<i class="ti-close"></i>
					</span>
				</button>
				<div class="row">
					<div class="col-md-12">
						<span id="submit_roster_event_succ" class="success"></span>
						<span id="submit_roster_event_err" class="error-message"></span>
						<span>
							<h3>Change the Default Card
								<span id="edit_practice_date_title"></span>
							</h3>
						</span>
					</div>
				</div>
				<form id="submit_roster_eventForm" method="POST">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group repeat-add-practice">
								<select class="form-control" id="defaultCardSelectChange" name="register_class">
									<option value="">Select the Card</option>
									{{ range $index, $element := .Subscription_Card_Detail }} {{if compare $element.default_source "false"}}
									<option id="subscriptioncardselected" value="{{$element.card_id}}">XXXX-XXXX-XXXX-{{$element.last4}} {{$element.brand}}</option>
									{{end}} {{end}}
								</select>
							</div>
							<span class="error-message">Note: Seleted card changes to default card/ if No more than one card list empty please add card </span>
						</div>
						<div class="row">
							<div class="col-md-12">
								<button type="button" id="submitDefaultCard" class="btn btn-primary btn-fullwidth edit_practice">Make Default Card</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
	<div class="modal fade" id="defaultsubscriptionmodelheading">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
					<div class="row">
						<div class="col-md-12">
						<h3 id="defaulteventmodelwithheadingText" style="margin-bottom: 20px;"></h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<span id="waiver_removed_err" ></span>
									<span id="waiver_removed_succ" ></span>
									<p id="defaulteventmodelwithheading_Body" ></p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
						<button type="reset" class="btn btn-primary btn-fullwidth" data-dismiss="modal" aria-label="Close">OK</button>
						</div>
					</div>
				 </div>
			</div>
		</div>
	</div>

</body>
</html>